
        <table class='table table-bordered table-triable'>
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Finess</th>
                        <th>Nom Finess</th>
                        <th>NbEtablissements</th>
                        <th>Etat</th>
                        <th></th>

                    </tr>
                </thead>
                <tbody>
                {% for demandeEtablissement in demandesEtablissement %}

                    {% if demandeEtablissement.Etablissement %}
                        <tr class='alert alert-success'>
                    {% else %}
                        <tr>
                    {% endif %}

                        <td>{{demandeEtablissement.etablissementNom }}</td>
                        <td>{{demandeEtablissement.FinessCode }}</td>
                        <td>{{demandeEtablissement.Etablissement }}</td>
                        <td>{{demandeEtablissement.referentielPublic }}</td>
                        <td><a href='{{ path('demande_etablissement_editancreai', {'id': demandeEtablissement.id}) }}'>{{demandeEtablissement.etat}}</a></td>
                        <td>
                        {% if not demandeEtablissement.Etablissement %}
                            <a class = "btn  btn-warning"  href='{{ path('demande_gestionnaire_create_etablissement_bydemande', {'id_gestionnaire': gestionnaire.id,'demande_etablissement': demandeEtablissement.id}) }}'><i class='glyphicon glyphicon-plus'></i>Créer l'établissement</a>
                        {% endif %}
                        </td>
                    </tr>
                  {% endfor %}
                </tbody>
            </table>