
    <table class='table table-bordered  table-triable'>
        <thead>
            <tr>
                <th class='hidden'>type</th>
                <th>Nom</th>
                <th>Finess</th>
                
                {% if is_granted('ROLE_SUPER_ADMIN_COMPTA_VIEW')  %}
                    <th>Facture</th>
                {% endif %}

                
                <th>Référentiels à jours</th>
                {% if  is_granted('ROLE_MEGA_ADMIN') %}
                    <th>Nouvelles fonctionnalités</th>
                {% endif %}

                <th>Crée le </th>
                <th>Dernier accès</th>
                <th>Adresse</th>
                <th>Suivi Par</th>
                <th><i class="glyphicon glyphicon-user"></i>Utilisateurs</th>
                <th>Etablissements</th>
                <th>DD Utilisé</th>
                <th>DD Dispo</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for gestionnaire in gestionnaires %}
            <tr>

                
                
                <td class='hidden'>{{gestionnaire.reel}}</td>
                
                {% if gestionnaire.reel %}
                    {% if gestionnaire.category.id == 1  %}
                        <td  class='alert alert-info'>
                    {% else %}
                        <td  class='alert alert-danger' title="Le gestionnaire a plusieurs établissement mais n'a pas souscrit au module gestionnaire et ne bénéficie pas de ces fonctionalité">
                    {% endif %}
                {% else %}
                    <td  class='alert alert-warning'>
                {% endif %}
                <a href="{{ path('backoffice_gestionnaire_show', { 'id': gestionnaire.id }) }}">
                          
                {% if occurence is defined %}
                   {{ gestionnaire.nom  | HighlightText(occurence) | raw }} 
                {% else %}
                     {{ gestionnaire.nom }}
                {% endif %}  
                </a></td>
                </td>
                
                {% if gestionnaire.reel and not gestionnaire.finess %}
                    <td  class='alert alert-warning'> 
                {% else %}
                    <td> 
                {% endif %}
                
                {% if occurence is defined %}
                   {{gestionnaire.finess | HighlightText(occurence) | raw }} 
                {% else %}
                     {{ gestionnaire.finess }}
                {% endif %} 
                </td>
                
                {% if is_granted('ROLE_SUPER_ADMIN_COMPTA_VIEW')  %}
                        {% if (gestionnaire.HasFacturePrestas) %}
                            <td class='alert alert-succes'><i class="glyphicon glyphicon-ok greenText"></i></td>
                        {% else  %}
                            <td class='alert alert-danger'></td>
                        {% endif %}
                {% endif %}

                
                {% if  gestionnaire.referentielAJour %}
                    <td class='alert alert-success'>A jour</td>
                {% else  %}
                    <td class='alert alert-danger'>Obsoletes</td>
                {% endif %}
                
                {% if  is_granted('ROLE_MEGA_ADMIN') %}
                    {% if  gestionnaire.getNewFonctionnaliteGestionnaire %}
                        <td class='alert alert-success'> Activé</td>
                    {% else  %}
                        <td class='alert alert-danger'> Désactivé </td>
                    {% endif %}
                {% endif %}
                
                
                <td>{{ gestionnaire.CreatedDate| hiddenDate | raw}} </td>
                
                {% include "Nuts/inc_td_last_connect.html.twig"  with {'dateLastConnect' : gestionnaire.dateLastConnect}  %}
                
                <td>{{ gestionnaire.adresse }} -  {{ gestionnaire.codePostal }}  {{ gestionnaire.ville }}</td>
                
                {% if gestionnaire.Creai is empty %}
                    <td class='danger'></td>
                {% else %}
                    <td>{{ gestionnaire.Creai}}</td>
                {% endif %}
                
                <td>{{ gestionnaire.nbUsers}}</td>
                <td>{{ gestionnaire.nbEtablissements}}</td>
                
                    
                    {% if gestionnaire.sizeMaxUpload  <   gestionnaire | sizeTotalFileUploadGestionnaire %}
                        <td title='{{gestionnaire | sizeTotalFileUploadGestionnaire | formatBytes}} sur  {{gestionnaire.sizeMaxUpload | formatBytes}} autorisés).' class='alert alert-danger'>    
                    {% else %}
                        <td title='{{gestionnaire | sizeTotalFileUploadGestionnaire | formatBytes}} sur  {{gestionnaire.sizeMaxUpload | formatBytes}} autorisés).' class='alert alert-success'>    
                    {% endif %}
                            {{gestionnaire | sizeTotalFileUploadGestionnaire  | sizeFileUpladBar(gestionnaire.sizeMaxUpload ) | raw }}
                            </td> 
                    <td>  {{gestionnaire.sizeMaxUpload | formatBytes}} </td>
                             
                <td>
                            <a href="{{ path('backoffice_gestionnaire_show', { 'id': gestionnaire.id }) }}"><i alt='voir' class='glyphicon glyphicon-eye-open'></i></a>
                        {% if is_granted('ROLE_SUPER_ADMIN_GESTIONNAIRE') %}
                            <a href="{{ path('backoffice_gestionnaire_edit', { 'id': gestionnaire.id }) }}"><i alt='modifier' class='glyphicon glyphicon-pencil'></i></a>
                        {% endif %}
                    </td>
                    
                            
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
