{% extends "BackOffice/layout.html.twig" %}

{% block body %}
    <h1>Gestionnaire</h1>

    {% include "BackOffice/Gestionnaire/inc_show.html.twig" %}
 
    
    <table class='table table-bordered'>
        <thead>
            <tr>
                <td>Etablissement</td>
                <td>Finess</td>
                <td>Gestionnaire</td>
                <td>Code Finess</td>
                <td>Lier</td>
            </tr>
        </thead>
        <tbody>
        {% for etablissement in gestionnaire.etablissements %}
            <tr>
                <td>{{etablissement}}</td>
                <td>{{etablissement.finess}}</td>
                    {% if etablissement.finess %}
                        <td>
                        {{etablissement.finess.gestionnaire.raisonSociale}}
                        </td>
                        <td>
                            {{ etablissement.finess.gestionnaire.codeFiness}} 
                        </td>
                        <td>
                            <span class="btn-block DeleteBoxBefore btn btn-danger  btn-block" 
                                  data-btn_lib="Lier le Finess" 
                                  data-invite="Etes vous sur de vouloir lier le gestionnaire <b>{{ gestionnaire }}</b> avec le finess <b>{{ etablissement.finess.gestionnaire }}</b> ?" 
                                  data-url_delete="{{ path('backoffice_gestionnaire_linkfiness_go', { 'id': gestionnaire.id ,'codeFiness' : etablissement.finess.gestionnaire.codeFiness}) }}"  >
                               
                               <i class='glyphicon glyphicon-resize-horizontal'></i>  
                            </span>
                    {% else  %}
                        <td olspan='3'></td>
                    {% endif  %}
                </td>
            </tr>
        {% endfor  %}
        </tbody>
    </table>
    
        
        
    
{% endblock %}
