{% extends "BackOffice/layout.html.twig" %}

{% block title %}{{ parent() }} - Administration{% endblock %}
{% block out_container  %}

{{ parent() }}
      <h1><a href="{{ path('backoffice_gestionnaire_index') }}"> Gestionnaires</a></h1>

    <h2>Recherche : {{occurence}}</h2>
 
 
             <form action="{{path("pericles3_gestionnaire_search")}}" method="POST"   >
                        <div class="form-group">
                          <input type="text" name='occurence' class="form-control" placeholder="Rechercher dans les gestionnaires ">
                        </div>
                        <button type="submit" class="btn btn-link full-width"><i class='glyphicon glyphicon-search'></i></button>
            </form>
 
                             
            {% if gestionnaires is not empty %}
                {% include 'BackOffice/Gestionnaire/inc_liste.html.twig' %}
            {% endif %}
    
{% endblock %}