{% extends "BackOffice/layout.html.twig" %}

{% block body %}
    <h1>Gestionnaire</h1>

    
    
    {% include "BackOffice/Gestionnaire/inc_show.html.twig" %}

    
    
{% if app.user.roleprincipal != 'ROLE_USER' %}

    {% if not app.user.isAdminPole %}
            

{% if gestionnaire.category.id != 2  %}

    <div class="panel panel-primary">
        <div class="panel-heading"> <h3 class="panel-title"><i class='glyphicon glyphicon-user'></i> Utilisateurs gestionnaire ({{ gestionnaire.nom }})</h3> </div>
      <div class="panel-body">
          {% set deletable = true  %}
          {% if gestionnaire.users | length > 0   %}
                {% set show_affected = false %}
                <div id='liste_user' data-reload_with='{{ path("backoffice_users_from_gestionnaire", {"id":  gestionnaire.id}) }}'>
                    
                        {% include "BackOffice/user/list.html.twig" with {'users': gestionnaire.users} %}
                        
                </div>
              {% set deletable = false %}
          {% else %}
              
              
              <div class="alert alert-warning" role="warning">Il n'y a aucun utilisateurs ! </div>
              <div class="alert alert-danger" role="danger">Chaque gestionnaire doit avoir au moin un utilisateur/administrateur ! </div>
              
                 
              {% if gestionnaire.demande %}
                  <a href="{{ path('backoffice_gestionnaire_add_user_fromdemande', {'id': gestionnaire.demande.id}) }}"  class = "btn  btn-success full-width">Créer l'utilisateur pour <b> {{gestionnaire.demande.demandeurPrenom | lower}}.{{gestionnaire.demande.demandeurNom| lower}} ({{gestionnaire.demande.email}})</b> avec les droits administrateurs  </a>
              {% endif %}
        {% endif %}
              
        </div>
           <div class="panel-footer">
        {% if is_granted('ROLE_SUPER_ADMIN_UTILISATEUR')  %}
                      <a href="{{ path('backoffice_gestionnaire_show_users_etab', {'id': gestionnaire.id}) }}"  class = "btn  btn-link full-width">Voir les utilisateurs établissements</a>
                      <p><br>
        {% endif %}

        {% if is_granted('ROLE_SUPER_ADMIN_UTILISATEUR') or ((is_granted('ROLE_ADMIN') and (app.user.GetParentType == "E" or app.user.GetParentType == "G" )))  %}
                      <a href="{{ path('backoffice_gestionnaire_add_user_choiceprofile', {'id': gestionnaire.id}) }}"  class = "btn  btn-link full-width">Ajouter un utilisateur gestionnaire </a>
        {% endif %}
               </div>
    </div>
    

    
    
    
    
        {% endif %}
        
      {% endif  %}
  
        
      {% if is_granted('ROLE_SUPER_ADMIN_COMPTA_EDIT') and gestionnaire.finContrat and gestionnaire.hasEtablissementNoFinContrat %}
          <p>
          <a class='btn btn-warning btn-lg full-width' href='{{ path('backoffice_gestionnaire_findecontrat_etablissement', {'id': gestionnaire.id}) }}'>Mettre fin au contrat des établissements</a>
          <p>
      {% endif  %}
      
      

    <div class="panel panel-primary">
        <div class="panel-heading"> <h3 class="panel-title"><i class='glyphicon glyphicon-tower'></i> Etablissements ({{ gestionnaire.nom }})</h3> </div>
        
        <div class="panel-body">
                  
                  {% if app.user.isAdminPole %}
                        {% if app.user.etablissements | length > 0 %} 
                                 {% set deletable = false %}
                                 {% include 'BackOffice/Etablissement/list.html.twig' with {etablissements : app.user.etablissements } %}
                          {% else %}
                                <div class="alert alert-danger" role="danger">Vous n'avez aucun établissement affecté ! </div>
                          {% endif %}
                    {% else %}
                          {% if gestionnaire.etablissements | length > 0 %} 
                                 {% set deletable = false %}
                                 {% include 'BackOffice/Etablissement/list.html.twig' with {etablissements : gestionnaire.etablissements} %}
                                 <a class='btn btn-primary full-width' href='{{ path('backoffice_gestionnaire_show_suivi', {'id': gestionnaire.id}) }}'>Suivi des saisies</a>
                                 
                          {% else %}
                                <div class="alert alert-danger" role="danger">Le gestionnaire n'a aucun établissement ! </div>
                          {% endif %}
                
                {% endif %}
                
                
                {% if is_granted('ROLE_SUPER_ADMIN_GESTIONNAIRE') and gestionnaire.demande is not empty %}
                        
                    {% if gestionnaire.demande.getEtatIdEtablissements == 3 %}
                        <div class='alert alert-success'>Tous les établissements de la <a href='{{ path('demande_gestionnaire_show', {'id': gestionnaire.demande.id}) }}'>demande </a>ont été traités</div>

                        {% if gestionnaire.demande.getEtat.Id != 3 %}
                            <div class='alert alert-warning'>La demande n'est pas considéré comme terminée, modifier <a href='{{ path('demande_gestionnaire_editancreai', {'id': gestionnaire.demande.id}) }}'>l'état de la demande </a></div>
                        {% endif %}
                        
                    {% else  %}
                        <h2>Demande Gestionnaire {{gestionnaire.demande.GestionnaireNom}} ({{gestionnaire.demande.creai}}) </h2>

                    <table class='table table-bordered table-triable'>
                            <thead>
                                <tr>
                                    <th>Nom</th>
                                    <th>Finess</th>
                                    <th>Nom Finess</th>
                                    <th>NbEtablissements</th>
                                    <th>Etat</th>
                                    <th></th>

                                </tr>
                            </thead>
                            <tbody>
                            {% for demandeEtablissement in gestionnaire.demande.demandesEtablissement %}
                                
                                {% if demandeEtablissement.Etablissement %}
                                    <tr class='alert alert-success'>
                                {% else %}
                                    <tr>
                                {% endif %}
                                        
                                    <td>{{demandeEtablissement.etablissementNom }}</td>
                                    <td>{{demandeEtablissement.FinessCode }}</td>
                                    <td>{{demandeEtablissement.Etablissement }}</td>
                                    <td>{{demandeEtablissement.referentielPublic }}</td>
                                    <td><a href='{{ path('demande_etablissement_editancreai', {'id': demandeEtablissement.id}) }}'>{{demandeEtablissement.etat}}</a></td>
                                    <td>
                                    {% if not demandeEtablissement.Etablissement %}
                                        <a class = "btn  btn-warning"  href='{{ path('demande_gestionnaire_create_etablissement_bydemande', {'id': demandeEtablissement.id}) }}'><i class='glyphicon glyphicon-plus'></i>Créer l'établissement</a>
                                    {% endif %}
                                    </td>
                                </tr>
                              {% endfor %}
                            </tbody>
                        </table> 
                    {% endif %}
                {% endif %}
               

            </div>
                
            <div class="panel-footer">
            {% if is_granted('ROLE_SUPER_ADMIN_GESTIONNAIRE') %}
                
                <a href="{{ path('backoffice_gestionnaire_add_etablissement', {'id': gestionnaire.id}) }}"  class = "btn  btn-link full-width">Ajouter un établissement</a>
                

            {% endif %}
        </div>
    </div>
            
            
{% if is_granted('ROLE_SUPER_ADMIN_COMPTA_VIEW')  %}
    <div class="panel panel-primary">
        <div class="panel-heading"> <h3 class="panel-title"><i class='glyphicon glyphicon-euro'></i> Facturation </h3> </div>
        
        <div class="panel-body">
            {% if not gestionnaire.EtablissementsModeCotisationRenseigne %}
                <div class='alert alert-danger'>
                        Tous les établissements n'ont pas de mode de cotisation identifié. Il est nécessaire de le renseigner pour effectuer des facturation
                </div>
            {% endif %}
            
            {% if  gestionnaire.factures  | length == 0 %}
                <div class='alert alert-danger'>
                        Aucune facture ! 
                    {% if is_granted('ROLE_SUPER_ADMIN_COMPTA_EDIT') and gestionnaire.EtablissementsModeCotisationRenseigne   %}
                        <br><a class='btn btn-danger full-width' href='{{ path('facture_new_from_gestionnaire', {'id': gestionnaire.id}) }}'>Créer une facture pour le gestionnaire et tous ces établissements</a>
                    {% endif %}
                </div>
                </div>
            {% else %}
                
                 
            {% if gestionnaire.NbEtablissementsSansPrestas >  0 %}
                    <br><a class='btn btn-danger full-width' href='{{ path('facture_new_from_gestionnaire_etab_sans_fact', {'id': gestionnaire.id}) }}'>Créer une facture pour le gestionnaire et les {{gestionnaire.NbEtablissementsSansPrestas}}  établissements sans factures </a>
            {% endif %}
                
                
                
                {% include "BackOffice/facture/small_factures.html.twig" with {'factures': gestionnaire.factures} %}
 
            {% endif %}
        </div>
    </div>

{% endif %}

        {% if is_granted('ROLE_SUPER_ADMIN_GESTIONNAIRE')   %}
            <a href="{{ path('backoffice_gestionnaire_edit', {'id': gestionnaire.id}) }}"  class = "btn  btn-danger full-width">Modifier le gestionnaire </a>
            
            <p>
            <p>
        {% endif %}
        
        
    {% if is_granted("ROLE_SUPER_ADMIN") %}
        <a class='full-width btn btn-link' href="{{ path('backoffice_gestionnaire_index') }}"  class = "btn  btn-link ">Retour à la liste</a> 
    {% endif %}
 

{% endif %}
    

    
    
{% endblock %}
