{% extends "BackOffice/layout.html.twig" %}


{% block body %}
    
    
    
    
    <h1><a href='{{ path('backoffice_user_index')}}'>Utilisateurs</a></h1>
    {{ parent() }}

{% endblock %}
     

{% block out_container  %} 
   {% set show_affected = true %}
   
        <div class="row">
     
                <div class="col-md-4">
                    <div class="panel panel-primary"> 
                        <div class="panel-heading"> <h3 class="panel-title">Derniers Utilisateurs crées</h3></div>
                        {% include "BackOffice/user/list_short_crees.html.twig" with {'users': LastUsers,'show_affected':true,'sortby':'dateCreate'} %}
                        <a class='btn full-width btn-link'  href="{{ path('backoffice_user_all_index', {}) }}">{{'users' | get_icon | raw}} Voir tous les utilisateurs</a>                    
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-primary"> 
                        <div class="panel-heading"> <h3 class="panel-title">Derniers Utilisateurs connectés</h3></div>
                        {% include "BackOffice/user/list_short_crees.html.twig" with {'users': LastConnectedUsers,'show_affected':true,'sortby':'dateLastConnect'} %}
                        <a class='btn full-width btn-link'  href="{{ path('backoffice_user_all_index', {}) }}">{{'users' | get_icon | raw}} Voir tous les utilisateurs</a>                    
                    </div>
                </div>
                
                    
                    
                {% if creai is defined %}
                <div class="col-md-4">
                    <div class="panel panel-primary"> 
                        <div class="panel-heading"> <h3 class="panel-title">CT {{creai}}</h3></div>
                        {% include "BackOffice/user/list_short_crees.html.twig" with {'users': CTs,'show_affected':true,'sortby':'dateLastConnect'} %}
                    </div>
                </div>
                {% endif  %}
                    
        </div>
{% endblock %}
