{% extends "BackOffice/layout.html.twig" %}


{% block body %}
    
    <h1><a href='{{ path('backoffice_user_index')}}'>Liste des utilisateurs</a></h1>
   {% set show_affected = true %}
   
   
    {% if is_granted('ROLE_GESTIONNAIRE') and not app.user.IsAdminPole  %}
        <div class="row">
            <div class="col-md-6">    
           <a class="btn btn-primary active full-width"  href="{{ path('backoffice_user_list_bytype', { 'type': 'gestionnaire'})  }}"><i class='glyphicon glyphicon-filter'></i>Gestionnaires</a>
           </div>
            <div class="col-md-6">    
           <a class="btn btn-primary active full-width"  href="{{ path('backoffice_user_list_bytype', { 'type': 'etablissement'})  }}"><i class='glyphicon glyphicon-filter'></i>Etablissement</a>
           </div>
        </div>
    {% endif %}
    
             
   {% include 'BackOffice/user/list.html.twig' with {'reload_page_user' : true } %}
   
   
   
   
    {% if app.user.IsAnEtablissement   %}
        <a class="btn btn-primary active full-width"  href="{{ path('backoffice_etablissement_add_user_etablissement_choiceprofile') }}"><i class='glyphicon glyphicon-plus'></i>Créer un utilisateur</a>
        
    {% elseif is_granted('ROLE_MEGA_ADMIN')  %}
        <a class="btn btn-primary active full-width"  href="{{ path('backoffice_user_new') }}"><i class='glyphicon glyphicon-plus'></i>Créer un utilisateur</a>
    {% endif %}

    
    

    
  {% if app.user.IsAnEtablissement   %}
      <p>
            {% include 'BackOffice/utilsateur_arsene/inc_delegation_pannel.html.twig'  %}
  {% endif %}
  
  
  {% if app.user.IsAnEtablissement   and app.user.etablissement.Category.id==5 %}
      <p><br>
        <div class="panel panel-warning">
            <div class="panel-heading">Données établissement test</div>
            <div class="panel-body">
                <div class='col-md-6'>
                    <a class="btn btn-danger active full-width"  href="{{ path('backoffice_etablissement_reboot', { 'id': etablissement.id}) }}"><i class='glyphicon glyphicon-trash'></i>Supprimer toutes les saisies de l'établissement</a>
               </div>
                <div class='col-md-6'>
                   <a class="btn btn-danger  full-width" href="{{ path('arsene_genere_note') }}">Générer des notes aléatoires</a>
               </div>
            </div>
        </div>
  {% endif %}
  
  
    
    
    
{% endblock %}
