{% if read_only is not defined %}
    {% set read_only=false %}
{% endif %}
{% if show_affected  is not defined %}
    {% set show_affected =false %}
{% endif %}

{% if list_user_id is not defined %}
    {% set list_user_id = "liste_user" %} 
{% endif %}



{% if reload_page_user is not defined %}
    {% set reload_page_user = false %}
{% endif %}


    
<table  class='table table-bordered table-triable'>
        <thead>
            <tr>
                     
                {% if sortby is defined %}
                    <td class='hidden'></td>
                {% endif %}
                
                
                <th>Nom</th>

                {% if show_affected %}
                    <th>Type</th>
                    <th class='small'>Affecté à </th>
                {% endif %}
                <th>Roles</th>
                <th>Email</th>
                {% if is_granted('ROLE_SUPER_ADMIN') and not app.user.IsCreai  %}
                    <th>Creai</th>
                {% endif %}
                
                
                        
                <th  class='small'>Dernière connection</th>
                <th>Crée</th>
{#                <th><i alt='modifier' class='glyphicon glyphicon-pencil'></i>Biblio</th>
                <th><i alt='modifier' class='glyphicon glyphicon-pencil'></i>Paq</th>
                <th><i alt='modifier' class='glyphicon glyphicon-pencil'></i>Evals</th>
#}
                {% if not read_only  %}
                <th>Actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                
                {% if sortby is defined %}
                    {% if sortby == 'dateCreate' %}
                        <td class='hidden'>{{ user.dateCreate|date('Y-m-d H:i:s') }} </td>
                    {% elseif sortby == 'dateLastConnect' %}
                        <td class='hidden'>{{ user.dateLastConnect|date('Y-m-d H:i:s') }} </td>
                    {% endif %}
                {% endif %}
                
                
                
                <td class='small'>
                {% if user.desactive == 0 %}
                    <span title="L'utilisateur est actif" class='minstate alert-success glyphicon glyphicon-ok'></span>
                {% elseif  user.desactive == 1 %}
                    <span title="L'utilisateur est desactivé, il ne peut plus se connecter" class='minstate alert-warning glyphicon glyphicon-remove'></span>
                {% elseif   user.desactive ==-1 %}
                    <span  title="L'utilisateur est mis a la corbeille" class='minstate alert-danger glyphicon glyphicon-trash'> </span>
                {% else %}
                    {{ user.etat}}
                {% endif %}
                

                {% if not app.user.CanSee(user) %}
                    {% if occurence is defined %}{{user.username  | HighlightText(occurence) | raw }} {% else %}{{ user.username  }}{% endif %} 
                {% else %}
                    <a href="{{ path('backoffice_user_show', { 'id': user.id }) }}">
                    {% if occurence is defined %}{{user.username  | HighlightText(occurence) | raw }} {% else %}{{ user.username  }}{% endif %} 
                    </a>
                {% endif %}
                
                </td>
                
                {% if show_affected %}
                    <td class='small'>
                        {{user.RolePrincipal | role_icon | raw}}
                    </td>
                    <td class='small'>{{user.ParentType}} -: {{user.Parent}}</td>
                {% endif %}
                
                <td>
                {% for role in user.roles %}
                    {% if (role !=user.RolePrincipal) %}
                        {{ role | role_icon | raw  }} 
                    {% endif %}
                {% endfor %}
                </td>
                
                <td class='small tab_email'>
                    {% if occurence is defined %}{{user.email  | HighlightText(occurence) | raw }} {% else %}{{ user.email  }}{% endif %}   
                </td>

                {% if is_granted('ROLE_SUPER_ADMIN') and not app.user.IsCreai  %}
                    {% if user.creaiCascade is empty %}
                        <td class='danger'>{{ user.creaiCascade}}</td>
                    {% else  %}
                        <td class='small'>{{ user.creaiCascade}}</td>
                    {% endif %}
                {% endif %}
                
                {% if user.dateLastConnect %}
                        <td class='small'>{{ user.dateLastConnect|date('Y-m-d H:i:s') }}</td>
                {% else %}
                         <td class='alert-danger text-center'><i class='glyphicon glyphicon-ban-circle'></i></td>
                {% endif %}
                
                <td class='small'>{% if user.dateCreate %}{{ user.dateCreate|date('Y-m-d H:i:s') }}{% endif %}</td>
                {#
                <td>{% if user.bibliowrite %}<i class='glyphicon glyphicon-ok'></i>{% else %}<i class='glyphicon glyphicon-remove'></i>{% endif %}</td>
                <td>{% if user.paqwrite %}<i class='glyphicon glyphicon-ok'></i>{% else %}<i class='glyphicon glyphicon-remove'></i>{% endif %}</td>
                <td>{% if user.evaluationwrite %}<i class='glyphicon glyphicon-ok'></i>{% else %}<i class='glyphicon glyphicon-remove'></i>{% endif %}</td>
                #}
          
                {% if not read_only  %}
       
                <td>

                            {% if app.user.CanSee(user) %}
                               <a href="{{ path('backoffice_user_show', { 'id': user.id }) }}"><i alt='voir' class='glyphicon glyphicon-eye-open'></i></a>
                            {% endif %}

                            {% if app.user.CanModify(user) %}
                               <a href="{{ path('backoffice_user_edit', { 'id': user.id }) }}"><i alt='modifier' class='glyphicon glyphicon-pencil'></i></a>
                            {% endif %}
                            
                            {% if app.user.CanDelete(user) %}
                                {% if user.CantDelete %}
                                       <i data-invite="Voulez ne pouvez pas supprimer cette utilisateur car : {{user.MessageCantDelete | raw }}"
                                                       class='CantDeleteBoxBefore glyphicon glyphicon-trash iconhead  orangeText active '></i> 
                                    {% else %}

                                            {% if reload_page_user %}
                                                <i data-invite="Voulez-vous supprimer définitivement l'utilisateur ?"
                                                       data-url_delete="{{ path('backoffice_user_delete_url', {'id': user.id}) }}" 
                                                      class='DeleteBoxBefore glyphicon glyphicon-trash iconhead redText active full-width'
                                                      ></i>
                                            {% else  %}
                                                <i data-invite="Voulez-vous supprimer définitivement l'utilisateur ?"
                                                       data-url_delete_ajax="{{ path('backoffice_user_delete_url_json', {'id': user.id}) }}" 
                                                      class='DeleteBoxBefore glyphicon glyphicon-trash iconhead redText active full-width'
                                                      data-zone_to_reload_whithid='#{{list_user_id}}'
                                                      ></i>
                                             {%  endif %}
                                        {%  endif %}
                                {%  endif %}
                            {%  endif %}
                            
       

              
                 
                  </td>
                 
                
                 
            </tr>
        {% endfor %}
        </tbody>
    </table>
        
        
        