{% extends "BackOffice/layout.html.twig" %}


{% block body %}
              
            {% if etablissement is defined %}
                <h1>{{etablissement}}</h1>
            {% else %}
                <h1>{{gestionnaire}}</h1>
            {% endif %}
    <h2>{{'user' | get_icon | raw}} Nouvel utilisateur</h2>

    
    
                <div class='alert alert-info tohide'>
                    Veuillez selectionner un profil
                </div>
                   <div class="row">                            	
     
                {% for role in roles %}
                       <div class="col-sm-4">
                        <div class="panel panel-primary">
                            <div class="panel-heading"> <h3 class="panel-title"><i class='icon-user'></i>{{role}}  <i class='{{role.Icon}}'></i></h3> </div>
                                  <div class="panel-body">
                                                  <div class='user_profil_name'> {{role.description}}</div>
                                  </div>
                            
                            {% if etablissement is defined %}
                               <a href="{{ path('backoffice_etablissement_add_user_profil', {'id': etablissement.id, 'id_ProfilesRoles': role.id, }) }}"  class = "btn  btn-link full-width">Créer  </a>
                            {% else %}
                               <a href="{{ path('backoffice_gestionnaire_add_user_profil', {'id': gestionnaire.id, 'id_ProfilesRoles': role.id, }) }}"  class = "btn  btn-link full-width">Créer  </a>
                            {% endif %}
                        </div>
                    </div>
            {% endfor %}
            </div>
                
            {% if etablissement is defined %}
                <a href="{{ path('backoffice_etablissement_add_user', {'id': etablissement.id}) }}"  class = "btn  btn-link full-width">Ajouter un utilisateur avec un profil spécifique</a>
            {% else %}
                <a href="{{ path('backoffice_gestionnaire_add_user', {'id': gestionnaire.id}) }}"  class = "btn  btn-link full-width">Ajouter un utilisateur avec un profil spécifique</a>
            {% endif %}
      
            {% if is_granted('ROLE_ MEGA_ADMIN')  and false %}
                <div class='alert alert-warning'>
                    <li>LE BOSS (ROI ou Reine échecs ? poker ?) : droits ouverts sur tout ce qu’un gestionnaire peut faire (ou pas)
                    <li>BOUQUIN : droit de saisie dans la bibliothèque gestionnaires inter-étab (ou simplement au niveau de l’étab)
                    <li>CLAVIER : droit de saisie dans l’évaluation
                    <li>LOUPE : droit de saisie dans le PAQ
                    <li>JUMELLE : droit de lecture (sur tout ou partie)
                    <li>Symbole à trouver pour valider les sauvegardes annuelles
                    <li>Symbole à trouver pour créer des utilisateurs (avec droits pré définis)
                    <li>Symbole à trouver pour « droit de supprimer » les commentaires des autres.
                </div>  
            {% endif %}

            
            <p> <p> <p> <p> <p> <p><hr>
                
            
    
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $('#radioButtonContainerId label').click(function(){
              alert(($(this).children().attr('id')));
         });
    </script>          
{% endblock %}



