{% extends "BackOffice/layout.html.twig" %}


{% block body %}
    <h1>{{'user' | get_icon | raw}}  Utilisateur</h1>
    
    {% if not app.user.CanSee(user) %}
        
        <div class='alert-danger alert'>
            Vous n'avez pas accès à cet utilisateur
        </div>
    {% else  %}
             <h2>Saisies de {{ user.username }}</h2>
            
             <div class="row">
                 
            {% if user.NbEtablissementsCrees > 0 %}
                <div class="col-md-6">
                   <div class="panel panel-primary">
                           <div class="panel-heading"> <h3 class="panel-title">Etablissements crées</h3> </div>
                           <ul>
                               {% for etab in user.getEtablissementsCree %}
                                   <li>{{etab}}</a>
                               {% endfor %}
                         </ul>
                   </div>
               </div>
             {% endif  %}
               </div>

             
             
             <table class='table table-bordered table-triable'>
                     <thead>
            <tr>
                <th>Type</th>
                <th>Source</th>
                <th>Contenu</th>
            </tr>
            <tbody>
                
            {% for biblio in user.Bibliotheques %}
                <tr>
                    <th>Bibliotheques</th>
                    <td>-</td>
                    
                    <td><a href='{{ path("pericles3_bibliotheque_show", {"id":  biblio.id}) }}'>{{biblio}}</a></td>
                </tr>
            {% endfor %}
                  

            {% for CommentaireDomaine in user.commentaires %}
                <tr>
                    <th>Commentaire Domaine</th>
                    <td><a href='{{ path("pericles3_domaine", {"id":  CommentaireDomaine.domaine.id})}}#synth'>{{CommentaireDomaine.domaine}}</a></td>
                    <td> {{CommentaireDomaine}}</td>
                </tr>
            {% endfor %}
                


            {% for constat in user.constats %}
                <tr>
                    <th>Constats</th>
                    <td><a href='{{ path("pericles3_critere", {"id":  constat.critere.id})}}#0'>{{constat.critere.numero}} </a></td>
                    <td>{{constat}}</td>
                </tr>
            {% endfor %}
            

             
            
        {% for OS in user.ObjectifsSrategiques %}
             <tr>
                 <th>Objectifs Strategiques</th>
                 <td>  <a title="Accèdez à l'évaluation du domaine {{OS.domaine}} " href="{{ path('pericles3_domaine', {'id': OS.domaine.id}) }}"><i class='glyphicon glyphicon-thumbs-up'></i>Dom. {{OS.domaine.numero}}</a> </td>
                 <td><a href='{{ path("paq_osa_show", {"id":  OS.id})}}'> {{OS}}</a></td>
            </tr>
        {% endfor %}
            
 
        {% for OS in user.ObjectifsOperationnel %}
             <tr>
                 <th>Objectifs Operationnel </th>
                 <td>-- </td>
                 <td><a href='{{ path("paq_ooa_show", {"id":  OS.id})}}'> {{OS}}</a></td>
            </tr>
        {% endfor %}
            

                               
                </tbody>
 
                               {% for preuve in user.Preuves %}
                                    <tr>
                 <th>Preuve</th>
                 <td>
                                 
                                       
                                {% if preuve.typePreuve =='pdv' %}
                                    <a title="Accèdez à l'évaluation du domaine {{preuve.domaine}} " href="{{ path('pericles3_domaine', {'id': preuve.domaine.id}) }}"><i class='glyphicon glyphicon-thumbs-up'></i>Dom. {{preuve.domaine.numero}}</a>
                                {% elseif preuve.typePreuve =='objectif_operationnel'  %} 
                                           <a  title="Accèdez à l'objectif opérationnel {{preuve.ObjectifOperationnel}}" href="{{ path('paq_ooa_show', {'id': preuve.ObjectifOperationnel.id}) }}"><i class='glyphicon glyphicon-export'></i></a>
                                {% elseif preuve.typePreuve =='critere'  %} 
                                    <a title="Accèdez à l'évaluation du critère {{preuve.critere}} " href="{{ path('pericles3_critere', {'id': preuve.critere.id}) }}"><i class='glyphicon glyphicon-thumbs-up'>{{preuve.critere.numero}}</i></a>
                                {% endif %} 
                                </td>
                 <td>{{preuve}} </td>
          
                                
                                </tr>
                                
                                       {#<a href='{{ path("paq_ooa_show", {"id":  OS.id})}}'>#}
                               {% endfor %}
                         

               
            
  

             
             
 
                               {% for sauvegarde in user.Sauvegardes %}
                                    <tr>
                                        <th>Sauvegarde </th>
                                        <td>-</td>
                                        <td> <a  href="{{ path('pericles3_backup_synthese', {'id': sauvegarde.id}) }}">{{sauvegarde}} </a></td> 
                                    </tr>
                               {% endfor %}
                        
                               
                </tbody>
             </table>
            
             
             
    {% endif %}
                    
                                  
{% endblock %}
