{% extends "::layout.html.twig" %}

{% block title %}{{ parent() }} - Fiche Etablissement{% endblock %}

{% block body %}
        <h2>FICHE D'ÉTABLISSEMENT</h2><br />
 		
 		{% include "MessageFlash/messageFlash.html.twig" %}
        <div class="row">
            <div class="col-sm-6">
             <div class="panel panel-primary">            
                 <div  id='logo' class="panel-heading"> <h3 class="panel-title">Etablissement</h3></div>
                     <div class="panel-body"> 
                            <p><span class="gras">Nom d'établissement : </span>{{ etablissement.nom }}</p>
                            <p><span class="gras">Adresse : </span>{{ etablissement.adresse }}</p>
                            <p><span class="gras">Code postal : </span>{{ etablissement.codePostal }}</p>
                            <p><span class="gras">Ville : </span>{{ etablissement.ville }}</p>
                            <p><span class="gras">Tel : </span>{{ etablissement.tel }}</p>
                            <p><span class="gras">Fax : </span>{{ etablissement.fax }}</p>
                            <p><span class="gras">Referentiel : </span>{{ etablissement.public }}</p>
                            {% if etablissement.gestionnaire is defined  %}
                            <p><span class="gras">Gestionnaire : </span>{{ etablissement.gestionnaire }}</p>
                            {% endif %}
                            
                            
                                               
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
             <div class="panel panel-primary">            
                 <div id='logo' class="panel-heading"> <h3 class="panel-title">FINESS : {{etablissement.codeFiness}}</h3></div>    
                     <div class="panel-body"> 
                        {% if etablissement.finess is null %}
                            <div class='alert alert-danger'>
                                Pas de FINESS associé dans la base
                            </div>  
                        {% else %}
 
                            <p><span class="gras">Nom d'établissement : </span>{{ etablissement.finess.raisonSociale }}</p>
                            <p><span class="gras">Adresse : </span>{{ etablissement.finess.adresse }}</p>
                            <p><span class="gras">Code postal : </span>{{ etablissement.finess.codePostal }}</p>
                            <p><span class="gras">Ville : </span>{{ etablissement.finess.ville }}</p>
                            <p><span class="gras">Tel : </span>{{ etablissement.finess.tel }}</p>
                            <p><span class="gras">Fax : </span>{{ etablissement.finess.fax }}</p>
                            <p><span class="gras">Catégorie : </span>{{ etablissement.finess.libCategorie }}</p>
                            <p><span class="gras">Capacité d'accueil : </span>{{ etablissement.finess.CapaciteTotale1 }}</p>

                        {% endif %}
                    </div> 
             </div>  
        </div>  
                 	
               
    </div>
                            
                            
                
                
                
    <div class="row">                            	
        <div class="col-sm-6">
             <div class="panel panel-primary">            
                 <div id='logo' class="panel-heading"> <h3 class="panel-title">Infos {{application_name}}</h3></div>    
                     <div class="panel-body"> 
                        <p><span class="gras">Directeur / Directrice : </span> {{ etablissement.directeur }}</p>
                        <p><span class="gras">Capacité d'accueil : </span>{{ etablissement.capaciteAcceuil }}</p>
                        <p><span class="gras">Hébergement complet : </span>{{ etablissement.hebergementComplet }}</p>
                        <p><span class="gras">Accueil du jour : </span>{{ etablissement.acceuilJour }}</p>
                        <p><span class="gras">Accueil temporaire : </span>{{ etablissement.accueilTemporaire }}</p>
                        <p><span class="gras">Nombre ETP : </span>{{ etablissement.nombreEtb }}</p>
                        <p><span class="gras">Date du dernier projet etablissement : </span>{{ etablissement.DateDernierProjet is empty ? "" : etablissement.DateDernierProjet|date("d-m-Y") }}</p>
                        <p><span class="gras">Date de la dernière évaluation interne : </span>{{ etablissement.dateDerniereEvaluationInterne is empty ? "" : etablissement.dateDerniereEvaluationInterne|date("d-m-Y") }}</p>
                        <p><span class="gras">Date de la dernière évaluation externe : </span>{{ etablissement.dateDerniereEvaluationExterne is empty ? "" : etablissement.dateDerniereEvaluationExterne|date("d-m-Y") }}</p>
                {% if  is_granted('ROLE_ADMIN')   %}
                    {% if  is_granted('ROLE_GESTIONNAIRE')   %}
                            <a href=" {{ path("pericles3_update_etablissement_byid", {'id':etablissement.id}) }}"  class = "btn btn-link full-width"><i class='glyphicon glyphicon-pencil'></i>Modifier</a>
                    {% else %}
                            <a href=" {{ path("pericles3_etablissement_update", {}) }}"  class = "btn btn-link full-width"><i class='glyphicon glyphicon-pencil'></i>Modifier</a>
                    {% endif %}
                {% endif %}
                
                </div> 
            </div>  
                
                        </div>  

                
                
        <div class="col-sm-6">
             <div class="panel panel-primary">            
                 <div id='logo' class="panel-heading"> <h3 class="panel-title">Cadre d'action des activités déployées / Population concernée</h3></div>    
                     <div class="panel-body"> 
                         
                        <p><span class="gras">Contractualisations engagées : </span> {{ etablissement.PrincipContractualisations | limitChar(110) }}</p>
                        <p><span class="gras">Principales valeurs de l’organisme : </span> {{ etablissement.PrincipValeurs| limitChar(110)}}</p>
                        <p><span class="gras">Principaux objectifs du projet d'établissement ou de service :  </span> {{ etablissement.PrincipObjectifs| limitChar(110)}}</p>
                        <p><span class="gras">Principales caractéristiques de la population  : </span> {{ etablissement.PrincipCaractéristiques| limitChar(110)}}</p>
                                               
                        
                            {% if  is_granted('ROLE_ADMIN')   %}
                                {% if  is_granted('ROLE_GESTIONNAIRE')   %}
                                        <a href=" {{ path("pericles3_update_etablissement_princip_byid", {'id':etablissement.id}) }}"  class = "btn btn-link full-width"><i class='glyphicon glyphicon-pencil'></i>Modifier</a>
                                {% else %}
                                        <a href=" {{ path("pericles3_etablissement_princip_update", {}) }}"  class = "btn btn-link full-width"><i class='glyphicon glyphicon-pencil'></i>Modifier</a>
                                {% endif %}
                            {% endif %}
                
                </div> 
            </div>  
                
                
                
            
                
                

    </div>  
</div>  
            
            
      
    
    
<div class="row">
    <div class="col-sm-12">
                    <div class="panel panel-primary">            
                        <div  id='logo' class="panel-heading"> <h3 class="panel-title">Logo de l'établissement {{etablissement}}</h3></div>
                            <div class="panel-body"> 
                            {% if etablissement.hasLogo %}
                <img class='logo_etab' src="{{etablissement.LogoPath}}">
                <p>
                    
                <p>
                    
                <p>
                {% if  is_granted('ROLE_ADMIN')   %}
                    
                     <span data-invite="Voulez-vous supprimer définitivement le logo "
                                data-url_delete="{{ path("arsene_etablissement_delete_logo", {'id' : etablissement.id}) }}" 
                               class='btn btn-danger full-width DeleteBoxBefore iconhead redText active full-width'
                               ><i class='glyphicon glyphicon-trash'></i>Supprimer le logo pour {{etablissement}}</span> 
                {% endif %}


                            {% else %}
                                <div class='alert alert-warning'>
                                    L'établissement n'a pas de LOGO
                                </div>
                        
                                    {% if  is_granted('ROLE_ADMIN')   %}
                                           {# include "Nuts/inc_fichiers_autorises.html.twig" #} 
                                           <form  action="{{ path("arsene_etablissement_upload_logo", {'id' : etablissement.id}) }}" method="post" enctype="multipart/form-data" >
                                               <h4>Ajouter</h4>
                                                       <div id='choose_new_file'>
                                                           <h5>Un nouveau fichier </h5>
                                                           <input name="FileInput" id="FileInput" type="file" />
                                                       </div>
                                               <br>
                                               
                                                       <input type="submit" class="btn btn-link full-width" id="submit-btn" value="Ajouter le logo" />
                                           </form>
                                   {% endif %}
                                {% endif %}
       
                            </div>
                        </div>
                    </div>
            </div>
                                
    
{% endblock %}  

