{% extends "::layout.html.twig" %}

{% block title %}{{ parent() }} - Fiche Etablissement{% endblock %}

{% block body %}
        <h1>FICHE D'ÉTABLISSEMENT</h1>
        <h2>{{ etablissement.nom }}</h2>
    
 		<form  class="well"  method="POST" >
		
		{% include "MessageFlash/messageFlash.html.twig" %}
 
		               
                    <div class="row">
                           <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label" for="directeur">Directeur : </label>
                                </div>
                            </div>
                               <div class="col-md-10">
                                        <input type="text" value="{{ etablissement.directeur}}" class="form-control" name="directeur" id="directeur">
                                </div>
                    </div>
                            
                    <div class="row">
                           <div class="col-md-2">
                            
                                <div class="form-group">
                                    <label class="control-label" for="capaciteAcceuil">Capacité<br> d'accueil : </label>
                                        <input type="number" value="{{ etablissement.capaciteAcceuil }}" class="form-control" name="capaciteAcceuil" id="capaciteAcceuil">
                                </div>
                            </div>
                           <div class="col-md-2">
		    
                                <div class="form-group">
                                    <label class="control-label" for="hebergementComplet">Hébergement <br>complet : </label>
                                        <input type="number" value="{{ etablissement.hebergementComplet }}" class="form-control" name="hebergementComplet" id="hebergementComplet">
                                </div>
                            </div>
                           <div class="col-md-2">
		    
                                <div class="form-group">
                                    <label class="control-label" for="hebergementComplet">Accueil <br>du jour : </label>
                                        <input type="number" value="{{ etablissement.acceuilJour }}" class="form-control" name="acceuilJour" id="acceuilJour">
                                </div>
                            </div>
                           <div class="col-md-3">
		    
                                <div class="form-group">
                                    <label class="control-label" for="accueilTemporaire">Accueil <br>temporaire : </label>
                                        <input type="number" value="{{ etablissement.accueilTemporaire }}" class="form-control" name="accueilTemporaire" id="accueilTemporaire">
                                </div>
                            </div>

              
                        <div class="col-md-2">

                                    <div class="form-group">
                                        <label class="control-label" for="nombreEtb">Nombre <br>ETP : </label>
                                            <input  value="{{ etablissement.nombreEtb }}" class="form-control" name="nombreEtb" id="nombreEtb">
                                    </div>
                        </div>
                    </div>

                                    
                                    
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label" for="dateDernierProjet">Date du dernier projet d'établissement : </label>
                                <input class="datepicker form-control" type="text" value="{{ etablissement.dateDernierProjet is empty ? "" : etablissement.dateDernierProjet|date("d-m-Y") }}" id="dateDernierProjet" name="dateDernierProjet">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label" for="dateDerniereEvaluationInterne">Date de la dernière évaluation interne : </label>
                                <input class="datepicker form-control" type="text" value="{{ etablissement.dateDerniereEvaluationInterne is empty ? "" : etablissement.dateDerniereEvaluationInterne|date("d-m-Y") }}" id="dateDerniereEvaluationInterne" name="dateDerniereEvaluationInterne">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                 <label class="control-label" for="dateDerniereEvaluationExterne">Date de la dernière évaluation externe : </label>
                                 <input class="datepicker form-control" type="text" value="{{ etablissement.dateDerniereEvaluationExterne is empty ? "" : etablissement.dateDerniereEvaluationExterne|date("d-m-Y") }}" id="dateDerniereEvaluationExterne" name="dateDerniereEvaluationExterne">
                             </div>
		        </div>
                    </div>
		     

                        {% set retour_page = path("pericles3_etablissement")%}
                      {{ include("Nuts/cancelsave.html.twig") }}
          
	  	</form>

{% endblock %}
