{% extends "::layout.html.twig" %}

{% block title %}{{ parent() }} - Fiche Etablissement{% endblock %}

{% block body %}
        <h1>FICHE D'ÉTABLISSEMENT</h1>
        <h2>{{ etablissement.nom }}</h2>
    
 		<form  class="well"  method="POST" >
		
		{% include "MessageFlash/messageFlash.html.twig" %}
 
                <h4>Contractualisations engagées </h4> 
                    <p>(CPOM, conventions tripartites ou autres) </p>
                <textarea rows="4" cols="50" class="form-control" name="princip_contractualisations" id="princip_contractualisations">{{ etablissement.PrincipContractualisations}}</textarea> 

                <h4>Principales valeurs de l’organisme gestionnaire sur lesquelles s'appuie le projet d'établissement ou de service</h4> 
                <textarea rows="4" cols="50" class="form-control" name="princip_valeurs" id="princip_valeurs">{{ etablissement.PrincipValeurs}}</textarea> 

                <h4>Principaux objectifs du projet d'établissement ou de service </h4> 
                <textarea rows="4" cols="50" class="form-control" name="princip_objectifs" id="princip_objectifs">{{ etablissement.PrincipObjectifs}}</textarea> 

                <h4>Principales caractéristiques de la population accompagnée et, le cas échéant, évolutions significatives constatées dans le temps  </h4> 
                <textarea rows="4" cols="50" class="form-control" name="princip_caracteristiques" id="princip_caracteristiques">{{ etablissement.PrincipCaractéristiques}}</textarea> 

                
                <p>
                {% set retour_page = path("pericles3_etablissement")%}
                      {{ include("Nuts/cancelsave.html.twig") }}
          
	  	</form>

{% endblock %}
