{% set titre_synthese= 'Evaluation ' ~ application_name %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
        "http://www.w3.org/TR/html4/strict.dtd">
<HTML>
<HEAD>
    <meta charset="UTF-8">
    <TITLE>{{titre_synthese}}</TITLE>
    {% include "Synthese/export/inc/export.css.html.twig" %}
    
    <style>
        
        h1
        {
            height: 50px;
        }
        
        
        
        {#
        .note_in
        {
            float:right;
            width: 20%;
            text-align: right;
            border: 1px solid #00d000;
        }
        
        .domaine_title
        {
            border: 1px solid #d00000;
            float:left;
            width: 75%;
            text-align: left;
        }
        #}
    </style>
</HEAD>
<BODY> 

    {{    "/img/header_doc.jpg" | getImageExport(typeExport,"100%") | raw }}
    <div class='main_titre'>{{titre_synthese}}<br></div>
    <h2 class='center'>{{etablissement}}</h2>

    
     
    {% if   parameters | parametersBoolean("domaine_all")  %}
        {% if  parameters | parametersBoolean("etablissement_menu") %}
            {% include "Synthese/export/inc/inc_menu_domaine.html.twig" %}
        {% endif %}
    {% else %}
        {% set domaine = etablissement.getDomaineByOrdre(parameters["domaine_one"]) %}
        <h2 class='center'>{{domaine}}</h2>
    {% endif %}

     
    

    {% if  parameters | parametersBoolean("info_etablissement") %}    
        {% include "Synthese/export/inc/inc_etablissement.html.twig" %}
    {% endif %}
    
        
    {% if  parameters | parametersBoolean("etablissement_graphique") %}    
        {% include "Synthese/export/inc/inc_graph_etablissement.html.twig" %}
    {% endif %}
    

    
    
    {% if  parameters | parametersBoolean("logo") %}    
        {% if etablissement.hasLogo %}
            <div class='logo_etablissement'>
              {{etablissement.LogoPath | getImageExport(typeExport,0,'200px') | raw }}
             </div>
        {% endif %}
    {% endif %}


    <div class='date_eval'>
    export du {{ 'now'|date('d-m-Y  H:i') }}
    </div>
    
    {% if  parameters | parametersBoolean("textes_princips") %}    
        {% include "Synthese/export/inc/inc_textes_princips.html.twig" %}
    {% endif %}
 
    
    

    {% if  parameters | parametersBoolean("domaine_all") %}    
        {% for domaine in etablissement.domaines | order %}
           {%  include 'Synthese/export/generate/synthese_domaine.html.twig' %}
        {% endfor %}
    {% else %}
        {%  include 'Synthese/export/generate/synthese_domaine.html.twig' %}
        
    {% endif %}
    
    

 
    {# dump(parameters) #}
     
             
 </body>
</html>




