{% extends "BackOffice/Demande/layout.html.twig" %}
{% block body %}{{ parent() }}
    <h2>Demande Gestionnaire</h2>
    
    

    {%  if demandeGestionnaire is defined  %}
        {% include 'BackOffice/Demande/inc_show_short_demande.html.twig' with {'demande' : demandeGestionnaire} %}
    {% endif  %}

    
    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        {{ include("Nuts/cancelsave.html.twig") }}
    {{ form_end(edit_form) }}

{% endblock %}
