{# empty Twig template #}
{% if notsearchable is defined %}
    <table class='table table-bordered table-triable_simple_desc'>
{% else  %}
    <table class='table table-bordered table-triable_desc'>
{% endif %}
        <thead>
            <tr>
                <th>Date</th>
                <th>Demandeur</th>
                <th>Gestionnaire</th>
                <th>Gestionnaire<br>{{ application_name }}</th>
                <th>Email</th>
                {% if  targetCreai  is empty %}
                    <th>Creai</th>
                {% endif %}
                    
                <th>NbEtablissements</th>
                <th>Etat</th>
                
            </tr>
        </thead>
        <tbody>

                
                
        {% for demandeGestionnaire in demandesGestionnaire %}
            
            {% if demandeGestionnaire.etat.id != 3 %}
                <tr title="la demande n'est pas terminée mais l'établissement est créer" class='alert-danger'>
            {% else %}
                <tr>
            {% endif  %}
                <td>
                    {{ demandeGestionnaire.dateDemande|hiddenDate("d-m-Y") | raw }}</td>

                <td><a href="{{ path('demande_gestionnaire_show', { 'id': demandeGestionnaire.id }) }}">
                        {{ demandeGestionnaire.demandeurnom }} 
                        {{ demandeGestionnaire.demandeurprenom }}</a>
                </td>
                <td>
                        {{ demandeGestionnaire.GestionnaireNom }} 
                </td>
                    {%  if demandeGestionnaire.Gestionnaire %}
                        <td>
                            <a href="{{ path('backoffice_gestionnaire_show', { 'id': demandeGestionnaire.gestionnaire.id }) }}">   {{ 'gestionnaire' | get_icon | raw  }}   {{ demandeGestionnaire.Gestionnaire}} </a>
                        </td>
                    {% else  %}
                        {% if demandeGestionnaire.etat.id == 3 %}
                            <td title="Demande finie mais pas de gestionnaire" class='alert-danger'></td>  
                        {% else  %}
                            <td title="Pas de gestionnaire, demande en cours..." class='alert-warning'></td>  
                        {% endif %}
                    {% endif %}
                
                <td>{{ demandeGestionnaire.email }}</td>

                {% if  targetCreai  is empty %}
                    <td>{{ demandeGestionnaire.creai  }}</td>
                {% endif %}
                <td>{{ demandeGestionnaire.NbEtablissements}}</td>

                <td>{{ demandeGestionnaire.etat|  afficheDemandeEtat | raw }}</td>
            
            </tr>
        {% endfor %}
        </tbody>
    </table>