{# empty Twig template #}
    <table class='table table-bordered table-triable_simple_desc small'>
        <thead>
            <tr>
                <th>Date</th>
                <th>Gestionnaire</th>

                {% if  is_granted('ROLE_SUPER_ADMIN_TRAITEMENT_DEMANDE') %}                    
                    <th>Creai</th>
                {% endif %}
                <th>Etabs</th>
                <th>Etat</th>
                <th>Action</th>

                
                
            </tr>
        </thead>
        <tbody>
        {% for demandeGestionnaire in demandesGestionnaire %}
            {% if demandeGestionnaire.etat.id != 3 %}
                <tr title="la demande n'est pas terminée mais l'établissement est créer" class='alert-danger'>
            {% else %}
                <tr>
            {% endif  %}
                <td>{{ demandeGestionnaire.dateDemande|hiddenDate("d-m-Y") | raw }}</td>
                <td>

                        {{ demandeGestionnaire.GestionnaireNom }} 
                </td>
                
                {% if  is_granted('ROLE_SUPER_ADMIN_TRAITEMENT_DEMANDE') %}
                    <td>{{ demandeGestionnaire.creai  }}</td>
                {% endif %}
                <td>{{ demandeGestionnaire.nbEtablissements }}</td>
                <td>{{ demandeGestionnaire.etat|  afficheDemandeEtat | raw }}</td>
                <td>
                    <a title='voir la demande' href="{{ path('demande_gestionnaire_show', { 'id': demandeGestionnaire.id }) }}">{{ 'demande' | get_icon | raw  }} </a>
                    {%  if demandeGestionnaire.gestionnaire %}
                    <a title='voir le gestionnaire' href="{{ path('backoffice_gestionnaire_show', { 'id': demandeGestionnaire.gestionnaire .id }) }}">{{ 'gestionnaire' | get_icon | raw  }} </a>
                        {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>