{% extends "BackOffice/Demande/layout.html.twig" %}

{% block message_flash %}
{% endblock %}

{% block body %}{{ parent() }}
    
    <h2> Gestionnaire</h2>

    <table class='table table-bordered'>
        <tbody>
            <tr>
                <th>Gestionnaire</th>
                <td>{{ demandeGestionnaire.GestionnaireNom }}</td>
                <th>Saisi par </th>
                <td>{{ demandeGestionnaire.creai }}</td>
            </tr>
            <tr>
                <th>Nom de famille</th>
                <td>{{ demandeGestionnaire.demandeurNom }}</td>
                <th>Prénom</th>
                <td>{{ demandeGestionnaire.demandeurPrenom }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ demandeGestionnaire.email }}</td>
                <th>Adresse</th>
                <td>{{ demandeGestionnaire.adresse }}</td>
            </tr>
            <tr>
                <th>Code Postal</th>
                <td>{{ demandeGestionnaire.codePostal }}</td>
                <th>Ville</th>
                <td>{{ demandeGestionnaire.ville }}</td>
            </tr>
                <th>Commentaires CREAI</th>
                <td>{{ demandeGestionnaire.commentaireCreai | nl2br}}</td>
                <th>Commentaires ANCREAI</th>
                <td>{{ demandeGestionnaire.commentaireAncreai | nl2br}}</td>
            </tr>
            <tr>
                <th>Finess</th>
                <td>{{ demandeGestionnaire.finess}}</td>
                <th>Etat</th>
                <td>{{ demandeGestionnaire.etat|  afficheDemandeEtat | raw }}</td>
            </tr>
        </tbody>
    </table>

    <p> 
        
    {% if app.user.isCreai %}
        {% set collnb=6 %}
    {% else %}
        {% set collnb=6 %}
    {% endif %}
        
            <div class="row">
                <div class="col-sm-{{collnb}}">
                    <a  class='btn btn-link full-width' href="{{ path('backoffice_demande_index') }}"> Retour au menu des demandes</a>
                </div> 
                
                {% if demandeGestionnaire.hasGestionnaire %}
                    <div class="col-sm-{{collnb}}">
                        <a  class='btn btn-success full-width' href="{{ path('backoffice_gestionnaire_show', { 'id': demandeGestionnaire.Gestionnaire.id }) }}">Voir le gestionnaire</a>
                    </div> 
                {% else %}
                    {% if is_granted('ROLE_SUPER_ADMIN_GESTIONNAIRE') %}
                        <div class="col-sm-{{collnb}}">
                            <a  class='btn btn-danger full-width' href="{{ path('demande_gestionnaire_create_bydemande', { 'id': demandeGestionnaire.id }) }}">Créer le gestionnaire</a>
                        </div> 
                    {% endif  %}
                {% endif  %}

                
                    {% if  not is_granted('ROLE_SUPER_ADMIN_TRAITEMENT_DEMANDE') %}
                        {% if demandeGestionnaire.etat.id < 2  %}
                                <div class="col-sm-{{collnb}}">
                                    <a  class='btn btn-warning full-width' href="{{ path('demande_gestionnaire_edit', { 'id': demandeGestionnaire.id }) }}"> Modifier la demande</a>
                                </div> 
                            {% endif %}
                            
                        {% if demandeGestionnaire.etat.id == 0 and not demandeGestionnaire.NbEtablissements %}
                         <i data-invite="Voulez-vous supprimer définitivement la demande de création gestionnaire ? "
                                data-url_delete="{{ path('demande_gestionnaire_delete_get', {'id':demandeGestionnaire.id}) }}" 
                               class='btn btn-danger full-width DeleteBoxBefore glyphicon glyphicon-trash iconhead redText active full-width'
                               >Supprimer  </i> 
                        {% else %}
                                 
                            
                        {% endif %}
                    {% else %}
                        </div>
                        <p>
                        <div class="row">

                        <div class="col-sm-{{collnb}}">
                            <a  class='btn btn-warning full-width' href="{{ path('demande_gestionnaire_editancreai', { 'id': demandeGestionnaire.id }) }}"> Modifier la demande</a>
                        </div> 
                        <div class="col-sm-{{collnb}}">
                                
                         <i data-invite="Voulez-vous supprimer définitivement la demande de création gestionnaire ? il est conseillé de la passé en traité pour conserver l'historique des demandes."
                                data-url_delete="{{ path('demande_gestionnaire_delete_get', {'id':demandeGestionnaire.id}) }}" 
                               class='btn btn-danger full-width DeleteBoxBefore glyphicon glyphicon-trash iconhead redText active full-width'
                               >Supprimer  </i> 
                        </div> 
                    {% endif %}
                 </div> 
    <p>

    {% include "MessageFlash/messageFlash.html.twig" %}
   
    {% include "BackOffice/Demande/Gestionnaire/inc_liste_etablissement.html.twig" with {'demandeEtablissements' :demandeGestionnaire.demandesEtablissement }%} 

{% if demandeGestionnaire.etat.id == 0  %}

    <p>
                <a  class='btn-with-big-ico btn btn-link full-width' href="{{ path('demande_gestionnaire_devis', { 'id': demandeGestionnaire.id } ) }}"> <i class='glyphicon glyphicon-print '></i>Imprimer un devis</a>
    <p>
{% endif%}


    {% if not is_granted('ROLE_SUPER_ADMIN_TRAITEMENT_DEMANDE') and demandeGestionnaire.etat.id == 0 %}
        
        {%  if demandeGestionnaire.NbEtablissements  %}
    <p>   
        <a  class='btn-with-big-ico btn btn-danger full-width' href="{{ path('demande_gestionnaire_envoimail', { 'id': demandeGestionnaire.id }) }}">
            La demande est terminée ({{ demandeGestionnaire.NbEtablissements }} établissement(s)) ? 
            <b> considerez la comme à traiter et envoyer un mail à l'ANCREAI !!! 
        <i class='glyphicon glyphicon-question-sign'></i>
        <i class='glyphicon glyphicon-ok'></i>
        </a>
    <p>   
    <p>   
        <div class='btn-with-big-ico  alert alert-info'>{{ "etablissement" | get_icon }}<center>Ou continuez a ajouter des établissements...</center><i class='glyphicon glyphicon-arrow-down'></i></div>
            {% endif  %}
                  
        
        {%  set proposition = false %}
        {%  for  etabFiness in demandeGestionnaire.finess.etablissements %}
            {% if (not etabFiness.HasEtablissement) and (not etabFiness.getDemandesEtablissement ) %} 
                {%  set proposition = true %}
                    {{ include("BackOffice/Demande/Gestionnaire/inc_form_fromfiness.html.twig") }}
            {% endif  %}

        {%  endfor %}
        
        {%  if proposition %}
                  <div class='panel panel-primary'>
            <div class='panel-heading'><a data-toggle="collapse" href="#collapse_etab_vierge"><i class='glyphicon glyphicon-plus'></i>Ajouter un établissement qui ne figure pas dans la liste</a></div>        
                <div  id="collapse_etab_vierge" class='panel-body panel-collapse collapse'>
                        <div class='well'>
                            {{ form_start(form) }}
                            {{ form_widget(form) }}
                            {{ include("Nuts/cancelsave.html.twig") }}
                            {{ form_end(form) }}
                        </div>
                </div>
            </div>
        {%  else %}
            <div class='well'>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ include("Nuts/cancelsave.html.twig") }}
                {{ form_end(form) }}
            </div>
        {%  endif %} 
    {% endif  %}

         







                        



{% endblock %}
