{% extends "Evaluation/Referentiel/critere/layout.html.twig" %}


{% block title %}{{ parent() }} - {{ critere_referentiel}}{% endblock %}

{% block body %}
    
      {{ parent() }}
          
      <h2>Objectifs</h2>
        
      
 
            {% for objectifOperationnel in objectifOperationnels %}
                   {% include 'ObjectifsAmelioration/Operationnels/inc_modal_show.html.twig' %}
           {% endfor %}
 
          
          
{% endblock %}

 {% block out_container %}

           {% if objectifOperationnels|length > 0 %}
               <div id='liste_objectifs' data-reload_with='{{ path("pericles3_critere_ref_eval_objectifs_list", {"id":  critere_referentiel.id}) }}'>
                     
                    {% include "ObjectifsAmelioration/Operationnels/inc_liste.html.twig" %} 
                </div>
    {% else %}
        <div class='alert alert-warning'>
            Pas d'objectifs opérationnels
              {% if sous_titre is defined %}
                 - {{sous_titre}}
            {% endif %}
        </div>

    {% endif %}
   
    
     {% if is_granted('ROLE_RW_PAQ') %}
    
         
         <div class="panel panel-danger">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse1">Ajouter un Objectif d'Amélioration Opérationnel</a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse">
        <div class="panel-body">
             <div id='show_new_objectif_form'>
                 {#  class='ajax_form' data-zone_to_reload='#liste_objectifs' #}
                 
                        <form  action="{{ path("pericles3_critere_ref_eval_objectifs_add", {"id": critere_referentiel.id}) }}" method="POST" >
                                    {% include "ObjectifsAmelioration/Operationnels/inc_new.html.twig" %} 
                                    {% include "Etablissement/inc_form_etablissements.html.twig" with {'refPublicCible': critere_referentiel.referentielPublic }  %}
 <div align="center">
                                                               <br>
                                                           <input  type="submit"  class="btn btn-primary btn-valider full-width"  value="Ajouter l'objectif opérationnel" />
                                                           </div>
                              
                        </form>
            </div>
        </div>
       
      </div>
    </div>
          
    {% endif %}
     
       
       
          
{% endblock %}

 
