{% extends "Evaluation/Referentiel/critere/layout.html.twig" %}




{% block body %}
    
      {{ parent() }}

        {% include "Evaluation/Referentiel/critere/corps_list_critere.html.twig" with  {'criteres' : criteres_byref} %}
         
        
        <hr class='separateur'>
     
          
          
          
        <div class="row">
             <div class="col-md-6 ">
                <canvas id="chartCanvas" height="600" width="800"></canvas>
             </div>
             <div class="col-md-6 ">

                 
                 
                 
        <div class="panel panel-primary">            
                <div class="panel-heading"> <h3 class="panel-title"> Eléments d'apréciations</h3></div>
                    
                    <table class="table">
                        {% for question in critere_referentiel.getChildren | order %}
                            <tr>
                                <td>
                            {% if current_question_ref_id is defined  %}
                                {% if question.id == current_question_ref_id  %} 
                                    {% set active_class=" actif " %}
                                {% else %}
                                    {% set active_class=" " %}
                                {% endif %}
                            {% else %}
                                {% set active_class=" " %}
                            {% endif %}
                                    <a class="" href="{{ path('pericles3_question_ref', {'id': question.id}) }}">
                                         {{ question.numero }} - {{ question}}
                                    </a>
                            </td>
                        </tr>

                        {% endfor %}
                    </table>
 
          
             </div>
        </div>
       
          
           
{% endblock %}


{% block javascripts %}
    <script type="text/javascript">
        {% include "Synthese/inc_options_charts.js.twig" %}
 



        {{ criteres_byref | graph('chartCanvas',true,'options_responsive') |raw }}
            
             

  
    </script>

    
{% endblock %}
