 <ul class="nav nav-tabs">
        <li role="presentation"  {% if app.request.get('_route') == 'pericles3_critere_ref' %} class='active' {% endif %}  ><a href="{{ path('pericles3_critere_ref', {'id': critere_referentiel.id})}}#ancre">Acceuil</a></li>
      {% if is_granted('ROLE_RW_EVAL') %}
        <li role="presentation"  {% if app.request.get('_route') == 'pericles3_critere_ref_eval' %} class='active' {% endif %} ><a href="{{ path('pericles3_critere_ref_eval', {'id': critere_referentiel.id}) }}#ancre">Evaluation</a></li>
      {% endif  %}

        <li role="presentation" {% if app.request.get('_route') == 'pericles3_critere_ref_eval_constats' %} class='active' {% endif %}><a href="{{ path('pericles3_critere_ref_eval_constats', {'id': critere_referentiel.id}) }}#ancre">Constats et analyses</a></li>
        <li role="presentation" {% if app.request.get('_route') == 'pericles3_critere_ref_eval_preuves' %} class='active' {% endif %}><a href="{{ path('pericles3_critere_ref_eval_preuves', {'id': critere_referentiel.id}) }}#ancre">Preuves</a></li>
        
        <li role="presentation" {% if app.request.get('_route') == 'pericles3_critere_ref_eval_objectifs' %} class='active' {% endif %} ><a href="{{ path('pericles3_critere_ref_eval_objectifs', {'id': critere_referentiel.id}) }}#ancre">Objectifs opérationnels</a></li>

        <li role="presentation" {% if app.request.get('_route') == 'pericles3_critere_ref_eval_gantt' %} class='active' {% endif %} ><a href="{{ path('pericles3_critere_ref_eval_gantt', {'id': critere_referentiel.id}) }}#ancre">Gantt</a></li>
</ul>
          
 <div id='ancre'></div>
       
       
       