{% extends "Evaluation/layout.html.twig" %}

{% block title %}{{ parent() }} - {{ critere_referentiel}}{% endblock %}



{% block body %}
    
    
      {{ parent() }}

      <h1><a href="{{ path('pericles3_referentiel_ref', {'id': critere_referentiel.referentielPublic.id}) }}">{{ critere_referentiel.referentielPublic.public}}</a></h1>
      <h2><a href="{{ path('pericles3_domaine_ref', {'id': critere_referentiel.parent.parent.id}) }}">{{ critere_referentiel.parent.parent.ordre}} - {{ critere_referentiel.parent.parent}}</a></h2>

      
      <div id="CritereGlobalListContainer">
      {% include "Evaluation/Referentiel/list_dimension.html.twig" with 
            {'dimensions' : critere_referentiel.parent.parent.getChildren | order
                ,'current_dimension_ref_id' : critere_referentiel.parent.id
                } %}

    {% include "Evaluation/Referentiel/list_critere.html.twig" with 
        {'criteres' : critere_referentiel.parent.getChildren | order} %}
        
    {% include "Evaluation/Referentiel/list_questions.html.twig" with 
        {'questions' : critere_referentiel.getChildren | order} %}
          <hr class='separateur'>
      
    </div> 
 
    <h2>{{ critere_referentiel}}</h2>
    
    
    {% include "Evaluation/Referentiel/critere/inc_menu.html.twig" %}
 
    
{% endblock %}

    
    