


<p>
<p>
{% for critere in criteres %}
            {% set currentState = critere.getStatus() %}
    <div class="row">
        <div class="col-md-12 ">
            <div class="panel panel-primary">            
                <div class="panel-heading"> <h3 class="panel-title"> {{critere.numero}} {{ critere.nom }}
                    <span class="critere_state {{ currentState | critereStateCss }}">                
                       {{ currentState | critereStateLib }}
                    </span>
                    </h3> 
                </div>
             
                    
                <div class="panel-body"> 
                    
                    <div class='eval_resume'>
                        <a href="{{ path('pericles3_critere', {'id': critere.id}) }}#CritereNote"> 
                              {{critere.note | formatNoteSimple}} 
                              <img src='{{ critere.note | formatNoteNuage }}'>
                        </a>
                      </div>
                      
                      
                    <div class="questions_pastilles">Eléments d'appréciation :
                    <a  href="{{ path('pericles3_critere', {'id': critere.id}) }}#CritereQuestions">
                  

                        {% for  question in critere.questions %}
                               {% if question.NonConcerne %} 
                                        {% set question_alert='alert alert-info' %}
                                    {% elseif question.reponse %} 
                                        {% set question_alert='alert-success' %}
                                    {% elseif not question.reponse and question.reponse is not null  %} 
                                        {% set question_alert='alert-danger' %}
                                    {% else %} 
                                        {% set question_alert='alert-warning' %}
                                    {% endif %} 
                            <span title="{{question}}" class='alert {{question_alert}}'>   
                             {% if question.repondu %}
                                  <i  class='glyphicon glyphicon-ok'></i>
                             {% else  %}
                                  <i class='glyphicon glyphicon-remove'></i>
                             {% endif%}
                            </span>  
                        {% endfor %}
                        
                        
                        </a>
                        <br>
                        <br>
                        <br>
                        <br>
                        <ul class="critere_elemens">
                            <li> <a href="{{ path('pericles3_critere', {'id': critere.id}) }}#ConstatContainer">{{critere.NbConstats}} constat(s) et analyse(s) </a></li>
                            <li> <a href="{{ path('pericles3_critere', {'id': critere.id}) }}#preuves">{{critere.NbPreuves}} preuve(s) </a></li>
                            <li> <a href="{{ path('pericles3_critere', {'id': critere.id}) }}#ooa">{{critere.NbObjectifsOperationnel}} Objectif(s) Opérationnel d'Amélioration(s) </a></li>
                        <ul>
                        
                </div>   
            </div>
        </div>
    </div>
</div>
{% endfor %}