

<div class="CritereListContainer screen_only">
    <div id="CritereTitle"><h2>CRITÈRES D'ÉVALUATION</h2></div>
    <ul>
        {% for critere in criteres %}
              {% set currentState = critere.getStatus() %}
                            
            {% if critere.id == current_critere_id  %}
                {% set active_class=" actif " %}
            {% else %}
                {% set active_class=" " %}
                                {% endif %}

              <li class=" critere_state {{ currentState | critereStateCss }}">
                  
                            <a class="critere_link {{active_class}}" href="{{ path('pericles3_critere', {'id': critere.id}) }}#0">
                                       <span class="critere_state {{ currentState | critereStateCss }}">
                                   {{ currentState | critereStateLib }}
                                </span>    > {{ critere.numero }} - {{ critere}} 
                            </a>
            </li>
            
             
        {% endfor %}
    </ul>
</div>