
 
 
    <style>
        *
        {
            box-sizing: border-box;
            
        }
        
        
        h1, h2 
        {
            font-size:0.8em;
        }


.main_titre
{
    background-color: #007699;
    font-size: 2em;
    color: white;
    margin-top: 80px;
    padding: 50px;
    text-align: center;
}



        
        .break
        {
            page-break-before:always;
        }
        
        
        .critere_detail
        {
            font-size:0.7em;
            width:49%;
/*            border:2px solid red; */
            padding:5px;
            float:right;
        }
        
        
        .separateur
        {
            clear:both;
        }
        
        .break-after
        {
            page-break-after:always;
        }
        
        .critere_questions
        {
            font-size:0.7em;
            padding:5px;
            width:49%;
            float:left;
        }
        
        .alert-success {
                background-color: #dff0d8;
                border-color: #d6e9c6;
                color: #3c763d;
            }

del {
	font-weight: bold;
	color: #cc0000;
}

ins {
	font-weight: bold;
	color: #00aa00;
}

.alert-danger 
{
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}

.alert-warning 
{
  background-color: #fcf8e3;
  border-color: #faebcc;
  color: #8a6d3b;
}


.hdiff
{
    font-size:0.8em;
    font-style:italic;
}


   

        
    </style>
        
    
    {% set typeExport ='PDF' %}
    

<div class='main_titre'>{{patch}}<br></div>
<h2 class='center'>{{etablissement}}</h2>

<div class='date_eval'>
        évaluation de changement de référentiel du {{ 'now'|date('d-m-Y  H:i') }}
</div>
            <h1> <a href="{{ path('backoffice_etablissement_view', {'id': etablissement.id})}}">{{etablissement}}</a> </h1>
        <h2>{{ReferentielPublicSource}} -> {{ReferentielPublicCible}}</h2>

        
        
    
<hr class='break'>
        <h2>Constats supprimés</h2>

        <table class='table table-bordered'>

{% for constatDesuet in constatsDesuets %}

                    <tr  class='alert-warning'>
                        <td>{{constatDesuet.critere.numero}}</td>
                        <td>{{constatDesuet.critere}}</td>
                        <td>{{constatDesuet}}</td>
                    </tr>
 
{% endfor %}
</table> 


<hr class='break'>
        <h2>Preuves supprimés</h2>
         <table class='table table-bordered'>

{% for preuveDesuet in preuvesDesuets %}

                    <tr  class='alert-warning'>
                        <td>{{preuveDesuet.critere.numero}}</td>
                        <td>{{preuveDesuet.critere}}</td>
                        <td>{{preuveDesuet}}</td>
                        <td>{{preuveDesuet.bibliotheque}}</td>
                    </tr>
 
{% endfor %}
</table> 




<hr class='break'>
 
{% for domaine in ReferentielPublicCible.getReferentielDomaines %}
    <h1><a id="domaine_{{domaine.ordre}}" name="domaine_{{domaine.ordre}}">Domaine {{ domaine.ordre}}. {{ domaine}}</a></h1>
     
    
    
    <div class='sub_menu_doc'>
        {% for dimension in domaine.children | order %} 
            
             <h1 class='dimension'>{{ dimension.numero }} - {{ dimension.nom }}</h1>  
             
            {% set Criteres = dimension.children | order %}
            {% set externe = false %}
 
        {% for critereCible in Criteres %}
            
            
            {% set critere = '' %}
            
            {% set CritereRefSource=patch.getReferentielSourceFromCible(critereCible) %}
            {% if CritereRefSource %}
                  {% set critere=CritereRefSource.getCritereEtablissement(etablissement) %}
                  
                {% if critereCible.nom == CritereRefSource.nom %}
                    <h2 class='alert-success'>
                {% else %}
                    <h2 class='alert-success'>
                {% endif  %}
                
                {% set img_note = critere.note | formatNoteNuage %}
                {{ img_note | getImageExport(typeExport) | raw }}
                {{ critereCible.numero }} -  {{ critereCible.nom }} 
              
           
                   
                   
            
            {% set currentState = critere.getStatus() %}
                    ({{critere.note | formatNoteSimple}}) 
                    {% if currentState==3 %}
                                <span style="color:green">Terminé</span>
                            {% else %}
                                <span style="color:{% if currentState==3 %}green{% elseif currentState==2 %}orange{% elseif currentState==1 %}#777777{% endif %};">{% if currentState==3 %}[Terminé]{% elseif currentState==2 %}[En cours]{% elseif currentState==1 %}[Non démarré]{% endif %}</span>
                            {% endif %}

                     {% if critereCible.nom != CritereRefSource.nom %}
                   <div class='hdiff'>{{renderDiff(CritereRefSource.nom,critereCible.nom,"word")}} </div>
                {% endif  %}
                   
                
                </h2>
                
            {% else %}
                    <h2 class='alert-danger'>{{ critereCible.numero }} -  {{ critereCible.nom }}</h2>
                    <div class='alert alert-info'>Nouveau ! </div>
                    
            {% endif  %}
            
                    
            <hr class='separateur'>
            
            
             <table class='critere_questions table table-bordered'>
                 
            {% set questionsCible = critereCible.children | order %}
            {% for questionCible  in questionsCible %}
               
                    {% set question = '' %}
                    {% set QuestionRefSource=patch.getReferentielSourceFromCible(questionCible) %}
                    
                    {% set deplace = patch.getDeplace(questionCible) %}
                    
                    
                    {% if QuestionRefSource %}
                        {% set question=QuestionRefSource.getQuestionEtablissement(etablissement) %}
                        {% if deplace %}
                             <tr class='alert-warning'>
                        {% elseif questionCible.nom == QuestionRefSource.nom %}
                             <tr class='alert-success'>
                        {% else %}
                            <tr class='alert-success'> 
                        {% endif  %}
                            <td> 
                        {{ questionCible.numero }} </td><td>  {{ questionCible.nom }}
                        {% if questionCible.nom != QuestionRefSource.nom %}
                                    <div class='hdiff'>{{renderDiff(QuestionRefSource.nom,questionCible.nom,"word")}} </div>
                            </td>
                        {% endif  %}
                        
                        <td>{{ question.getReponseLibCourt}}
                        </td>
                    {% else %}
                    <tr class='alert-warning'><td> 
                         {{ questionCible.numero }}  </td><td>  {{ questionCible.nom }}
                        </td>
                        <td>Nouveau ! </td>
                    {% endif  %}
                        {# set critere=CritereRefSource.getCritereEtablissement(etablissement) #}
                        
                        
                        
                </tr>
                {% if deplace %}
                    <tr  class='alert-warning'>
                        <td> -> ORIGINE </td>
                        <td> {{deplace}}</td>
                        <td> {{deplace.numero}}</td>
                    </tr>
                {% endif  %}

                  
                
            {% endfor %}
			
			
            {% if CritereRefSource %}
			 
			 
			 
			 {% set QuestionsDeleted = patch.QuestionsDeletedFromCritereRefSource(CritereRefSource) %}
			 {% set question_moved = patch.QuestionsDeplaceFromCritereRefSource(CritereRefSource) %}
			 
			 
			 {% if QuestionsDeleted | length + question_moved | length > 0 %} 
				<tr class='alert-danger'>
                        <td colspan=3> <h3>Supprimées / déplacées </h3></td>
				</tr>
			 
                {% for question_deleted in QuestionsDeleted %}
                    <tr class='alert-danger'>
                        <td>SUPPRIMME</td>
                        <td> {{question_deleted }}</td>
                         
                            {% set question=question_deleted.getQuestionEtablissement(etablissement) %}
                               <td>{{ question.getReponseLibCourt}} </td>
                            
                    </tr>
                {% endfor %}
                
               
        
                
                {% for question_moved in question_moved %}
                    <tr class='alert-danger'>
                        <td>DEPLACE -> {{question_moved.cible.numero}} </td>
                        <td> {{question_moved.source}}</td>
                            {% set question=question_moved.source.getQuestionEtablissement(etablissement) %}
                        <td>{{ question.getReponseLibCourt}} </td>
                    </tr>
                {% endfor %}
               
    			{% endif %}
            {% endif %}
              </table>
            
            
            
            
            
               
        
        
                  
                    
        {% if critere !=  ''  %}
           
                    
            <div class='critere_detail'>

                {% if critere.constats|length > 0 %}
                    <h4>Constats et analyses</h4>
                    <ul>
                    {% for constat in critere.constats %}
                        <li>{{ constat.commentaire }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
                {% if critere.preuves|length > 0 %}
                    <h4>Portefeuille de preuves</h4>
                    {% for preuve in critere.preuves %}
                        <ul>
                            <li>
                               {{ preuve.commentaire }}  -  <a href="{{ app.request.getSchemeAndHttpHost()~asset('upload') }}/{{ preuve.getRelativPath }}" target="_blank">{{ preuve.fichier }}</a> 
                               {#  {{ preuve.commentaire }}  -  {{ preuve.fichier }}#}
                            </li>
                    </ul>
                    {% endfor %}
                {% endif %}
                {% if critere.NbObjectifsOperationnel > 0 %}
                        <h4>Objectifs Opérationnels d'Amélioration</h4>
                        <ul>
                            {% for objectif in critere.objectifs %}
                            <li>{{ objectif }}</li>          
                            {% endfor %}
                        </ul>
                {% endif %}
               </div> 
            {% endif  %}
            <hr class='separateur break-after'>

                           
              
              
            
               
            {% endfor %}
        
        

            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
             
        {% endfor %}
    </div>
            
{% endfor %}
    
