{% extends "BackOffice/layout.html.twig" %}


{% block body %}
    <h1>Patches </h1>
    
        {% if ReferentielsPasDansPatchSource | length > 0 %}
                <div class='panel panel-danger'>
                    <div class='panel-heading'> ReferentielsPasDansPatchSource</a></div>        
                        <div  class='panel-body'>
                        <table class='table table-bordered'>
                        {% for ReferentielPasDansPatchSource in ReferentielsPasDansPatchSource %}
                            <tr>
                                <td>{{ReferentielPasDansPatchSource.ref_lib}} </td>
                                <td><a href="{{ path('patch_show', { 'id': ReferentielPasDansPatchSource.patch_id }) }}">PATCH {{ReferentielPasDansPatchSource.patch_id}} </a></td>
                            </tr>
                        {% endfor %}
                        </table>
                    </div>
                </div>
        {% endif %}
    
        {% if ReferentielsPasDansPatchCible | length > 0 %}
                <div class='panel panel-danger'>
                    <div class='panel-heading'> ReferentielsPasDansPatchCible</a></div>        
                        <div  class='panel-body'>
                        <table class='table table-bordered'>
                        {% for ReferentielPasDansPatchCible in ReferentielsPasDansPatchCible %}
                            <tr>
                                <td>{{ReferentielPasDansPatchCible.ref_lib}} </td>
                                <td><a href="{{ path('patch_show', { 'id': ReferentielPasDansPatchCible.patch_id }) }}">PATCH {{ReferentielPasDansPatchCible.patch_id}} </a></td>
                            </tr>
                        {% endfor %}
                        </table>
                    </div>
                </div>
        {% endif %}
    
    
{% endblock %}



{% block out_container %}


    <table class='table table-bordered table-triable'>
        <thead>
            <tr>
                <th>Créé le </th>
                <th>Patch</th>
                <th>Liés</th>
                <th>Source sans lien validées</th>
                <th>Source sans lien à valider</th>
                <th>Cible sans lien validées</th>
                <th>Cible sans lien à valider</th>
                <th>Source</th>
                <th>Liason</th>
                <th>cible</th>
            </tr>
        </thead>
        <tbody>
        {% for patch in patches %}
            <tr>
                <td>{{ patch.createdAt  | date('Y-m-d') }}</td>
                {% set stats = patch.stats %}
                {% if stats.source_a_verifie +  stats.cible_a_verifie %}
                {% endif %}
                {% if patch.isVerif %}
                    <td class='alert-success'><a href="{{ path('patch_show', { 'id': patch.id }) }}">{{patch}}</a></td>
                {% else %}
                    <td class='alert-danger'><a href="{{ path('patch_show', { 'id': patch.id }) }}">{{patch}}</a></td>
                {% endif %}
                    
                <td>{{stats.OK}}</td>
                <td class='alert-{% if stats.source_verifie == 0 %}danger{% endif%}'>{{stats.source_verifie}}</td>
                
                <td class='alert-{% if stats.source_a_verifie == 0 %}success{% else%}warning{% endif%}'>{{stats.source_a_verifie}}</td>
                <td class='alert-{% if stats.cible_verifie == 0 %}danger{% endif%}'>{{stats.cible_verifie}}</td>
                <td class='alert-{% if stats.cible_a_verifie == 0 %}success{% else%}warning{% endif%}'>{{stats.cible_a_verifie}}</td>
                
                <td  class='alert-{{patch.source.Class}}'><a href="{{ path('referentielpublic_show', { 'id': patch.source.id }) }}">{{patch.source}}  ({{patch.source.Version}})</a></td>
                {% include "BackOffice/patch/inc_td_liason.html.twig"  %}
                <td class='alert-{{patch.cible.Class}}'><a href="{{ path('referentielpublic_show', { 'id': patch.cible.id }) }}">{{patch.cible}} ({{patch.cible.Version}})</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
 
              
            
{% endblock %}
