{% extends "BackOffice/layout.html.twig" %}

 
{% block body %}
    <h1> <a href="{{ path('patch_index') }}">Patch </a></h1>
    <h2><a href="{{ path('patch_show', { 'id': patch.id }) }}">{{patch}}</a></h2>
    <h2>Creation intermede</h2>

    
        {% include ('BackOffice/patch/show_inc.html.twig') %}

        <ul>
         {%for interPatch in  patch.getPatchsIntermediaresOrder  %}
             <li>{{interPatch}}
         {% endfor %}
         </ul>
         
         
         
        {% if not patch.IntermediareOk %}
        Selectionner la source  :
        
        {% for RefSourcePatch in RefsIntermede %}
            <li>
                <form method='POST'>
                     <input type='hidden' name='ref_inter' value='{{RefSourcePatch.id}}'>
                     <input type='submit' value='Choisir'>
                    {{RefSourcePatch}} <a href="{{ path('patch_show', { 'id': RefSourcePatch.id }) }}">+</a>
                </form>
        {% endfor  %}
            
        
    {% endif  %}
        
        
    
    
{% endblock %}
