{% extends "BackOffice/layout.html.twig" %}

 
{% block body %}
    <h1><a href="{{ path('patch_index') }}">Patch</a></h1>
    
    
    {% include ('BackOffice/patch/show_inc.html.twig') %}
    
      <a class='full-width btn btn-danger' href="{{ path('patch_show_bilan', {'id': patch.id}) }}">Bilan</a>
    
 
{% if PatchReferentiels | length > 0 %}
    {% if ReferentielsPasDansPatchSource is defined  %}
        {% if ReferentielsPasDansPatchSource | length > 0 %}
                <div class='panel panel-danger'>
                    <div class='panel-heading'> ReferentielsPasDansPatchSource</a></div>        
                        <div  class='panel-body'>
                        <ol>
                        {% for ReferentielPasDansPatchSource in ReferentielsPasDansPatchSource %}
                            <li>{{ReferentielPasDansPatchSource}} ({{ReferentielPasDansPatchSource.ReferentielPublic}})
                        {% endfor %}
                        <ol>
                        <a class='full-width btn btn-danger' href="{{ path('patch_add_referentiels_pas_dans_patch_source', {'id': patch.id}) }}">Les rajouter </a>
                    </div>
                </div>
        {% endif %}
    {% endif %}

    {% if ReferentielsPasDansPatchCible is defined  %}
        {% if ReferentielsPasDansPatchCible | length > 0 %}
                <div class='panel panel-danger'>
                    <div class='panel-heading'> ReferentielsPasDansPatchCible</a></div>        
                        <div  class='panel-body'>
                        <ol>
                        {% for ReferentielPasDansPatchCible in ReferentielsPasDansPatchCible %}
                            <li>{{ReferentielPasDansPatchCible}} ({{ReferentielPasDansPatchCible.ReferentielPublic}})
                        {% endfor %}
                        <ol>
                        <a class='full-width btn btn-danger' href="{{ path('patch_add_referentiels_pas_dans_patch_cible', {'id': patch.id}) }}">Les rajouter </a>
                    </div>
                </div>
        {% endif %}
    {% endif %}
{% endif %}




    
        
{% if is_granted('ROLE_MEGA_ADMIN') %}
    
    
            <div class='panel panel-danger'>
                    <div class='panel-heading'><a data-toggle="collapse" href="#collapse_sup">MEGA</a></div>        
                        <div  id="collapse_sup" class='panel-body panel-collapse collapse list-group'>

                            <pre>php bin/console patch:create-liason  --patch_id={{patch.id}}</pre>
                            
                            <pre>php bin/console patch:delete-liason --patch_id={{patch.id}}</pre>
                            <pre>php bin/console patch:liason-valide --patch_id={{patch.id}}</pre>
                            <pre>php bin/console patch:patch!!!-all!!-etab!!!--patch_id={{patch.id}}</pre>
                            <div class='row'>
                                <div class='col-md-4'>
                                    <a class='full-width btn btn-danger' href="{{ path('patch_autopatchdomain', {'id': patch.id}) }}">Link</a>
                                </div>
                                <div class='col-md-4'>
                                    <a class='full-width btn btn-danger' href="{{ path('patch_delete_referentiel', { 'id': patch.id }) }}">Supression des liasons</a>
                                </div>
                                <div class='col-md-4'>
                                    <a class='full-width btn btn-danger' href="{{ path('patch_comparaison_autolink', { 'id': patch.id }) }}">AutoLink</a>
                                </div>
                            </div>
                                
                                
                                
                            {{ patch.NbEtablissements }} Etablissements
                            {% for etablissement in patch.etablissements %}
                                <li><a href="{{ path('backoffice_etablissement_view', { 'id': etablissement.id }) }}">{{ etablissement  }}</a>
                            {% else  %}
                                PAS Etablissements
                            {% endfor  %}
                            <hr>
                            {% for patchToDo in patch.patchToDo %}
                                <li> {{ dump(patchToDo)  }}</a>
                            {% else  %}
                                PAS patchToDo
                            {% endfor  %}
                            
                            
                        {% if PatchReferentiels | length == 0 %}
                            
                            
                                <p>
                                <span  data-invite="Voulez-vous supprimer le patch de manière définitive"    data-url_delete="{{ path('patch_delete', {'id': patch.id }) }}"  class = " DeleteBoxBefore btn  btn-danger full-width">supprmmer le patch : {{patch}}</span>
                        {% endif %}
                            </div>

                </div>
            
        <p><br>
{% endif %}
         
        

<table class='table table-bordered'>
    <tr>
        <th>Tous</th>
        <th>Liés</th>
        <th>Source Sans lien</th>
        <th>Cible  Sans lien</th>
    </tr>
    <tr>
            <th><a class='full-width btn btn-primary' href="{{ path('patch_show', { 'id': patch.id }) }}">Tous</a></th>
            <td><a class='full-width btn btn-primary' href="{{ path('patch_show_source_cible_linked', { 'id': patch.id }) }}">liés</a></td>
            <td><a class='full-width btn btn-primary' href="{{ path('patch_show_source_unlink', { 'id': patch.id }) }}">Source Sans lien</a></td>
            <td><a class='full-width btn btn-primary' href="{{ path('patch_show_cible_unlink', { 'id': patch.id }) }}">Cible  Sans lien</a></td>
    </tr>
    
    
</table>
        
        
        
    
{% endblock %}


{% block out_container  %} 


    <table class='table table-bordered table-triable'>
        <thead>
        <tr>
            <th> num</th>
            <th> Source numero</th>
            <th>Source</th>
            <th>Ref Aieul</th>
            <th>RefCible</th>
            <th>RefCible Num</th>
            <th>Valider</th>
        </tr>    
    </thead>
    <tbody>
    
    <div class='alert alert-info'>{{PatchReferentiels | length }} lignes</div>

        
    {% set nb = 0  %}
        
    {% for patchRef in PatchReferentiels %}
        {% set nb = nb  + 1   %}
                    
        {% if patchRef.CompleteAndValide %}
            <tr class='alert-success'>
        {% elseif patchRef.Valide %}
            <tr class='alert-warning'>
        {% else  %}
            <tr class='alert-danger'>
        {% endif  %}

        
            <td><a href="{{ path('patchreferentiel_show', { 'id': patchRef.id }) }}">{{patchRef.id}}</a></td>
            
            {% if patchRef.PatcheRefSource %}
                <td>{{patchRef.PatcheRefSource.numero}}</td>
                <td>{{patchRef.PatcheRefSource}}</td>
            {% else  %}
                <td></td><td></td>
            {% endif%}
                
        {% if patchRef.PatcheRefAieul %}
            <td><span title='{{patchRef.PatcheRefAieul}}'>??</i>
                - {{patchRef.PatcheRefAieul}}
                - {{patchRef.PatcheRefAieul.ReferentielPublic}}
             - {{patchRef.PatcheRefAieul.numero}}
             - {{patchRef.PatcheRefAieul.id}}</td>
        {% else  %}
            <td></td>
        {% endif%}
    
    
            {% if patchRef.PatcheRefCible %}
                <td>{{patchRef.PatcheRefCible}}</td>
                <td>{{patchRef.PatcheRefCible.numero}}</td>
            {% else  %}
                <td></td><td></td>
            {% endif%}

                <td>
                    {% if patchRef.valide %}  
                        <i class='glyphicon glyphicon-ok greenText'></i>Validé 
                    {%  else  %}
                        <i class='glyphicon glyphicon-warning-sign redText'></i> A Valider
                    {%  endif %}
                </td>

        </tr>    
    {% endfor %}
        </tbody>
    </table>
        
        
        
        
        
    {% if wscriptajout is defined  and    is_granted('ROLE_MEGA_ADMIN') %}


        <table class='table table-bordered table-triable'>
            <thead>
            <tr>
                <th> Ref Cible</th>
                <th> Source id</th>
                <th> Source Critere</th>
                <th> Source </th>

            </tr>    
        </thead>
        <tbody>

        
    {% set nb = 0  %}
        
    {% for patchRef in PatchReferentiels %}
        {% set nb = nb  + 1   %}
            <tr> 
            <td>{{patch.cible.id}}</a></td>
            <td>{{patchRef.PatcheRefSource.id}}</td>
            <td>{{patchRef.PatcheRefSource.parent.numero}} - {{patchRef.PatcheRefSource.parent}}</td>
            <td>{{patchRef.PatcheRefSource}}</td>
        </tr>    
    {% endfor %}
        </tbody>
    </table>
        
        
        
        
    {% endif %}
    
    
{% endblock %}
