<table class='table table-bordered'>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ patch.id }}</td>
                <th>NbRef</th>
            </tr>
            <tr>
                <th>Source</th>
                <td><a href="{{ path('referentielpublic_show', { 'id': patch.source.id }) }}">{{patch.source}}</a></td>
                {% if patch.source.NbReferentiels == patch.NbPatcheRefSource %}
                    <td class='alert-success'>{{patch.source.NbReferentiels}}</td>
                    <td class='alert-success'>{{patch.NbPatcheRefSource}}</td>
                {% else %}
                    <td class='alert-danger'>{{patch.source.NbReferentiels}}</td>
                    <td class='alert-danger'>{{patch.NbPatcheRefSource}}</td>
                    
                {% endif %}
            </tr>
            <tr>
                <th>Liason </th>
                {% include "BackOffice/patch/inc_td_liason.html.twig"  %}
                <td colspan='2'>
                
                </td>
                
            </tr>
            <tr>
                <th>Cible</th>
                <td><a href="{{ path('referentielpublic_show', { 'id': patch.cible.id }) }}">{{patch.cible}}</a></td>

                {% if patch.cible.NbReferentiels == patch.NbPatcheRefCible %}
                    <td class='alert-success'>{{patch.cible.NbReferentiels}}</td>
                    <td class='alert-success'>{{patch.NbPatcheRefCible}}</td>
                {% else %}
                    <td class='alert-danger'>{{patch.cible.NbReferentiels}}</td>
                    <td class='alert-danger'>{{patch.NbPatcheRefCible}}</td>
                    
                {% endif %}
 
            </tr>
            
            {% set stats = patch.stats %}
            <tr>
                 <th>Liés</th>
                <td>{{stats.OK}}</td>
             </tr>
            <tr>
                <th>Source sans lien validées</th>
                <th>Source sans lien à valider</th>
                <th>Cible sans lien validées</th>
                <th>Cible sans lien à valider</th>
             </tr>
            <tr>
                
               
                     
                     
                <td class='alert-{% if stats.source_verifie == 0 %}danger{% endif%}'>{{stats.source_verifie}}</td>
                {% if stats.source_a_verifie == 0 %}
                    <td class='alert-success'>0</td>
                {% else %}
                    <td class='alert-warning'>  <a class='full-width btn' href="{{ path('patch_show_source_unlink', { 'id': patch.id }) }}">{{stats.source_a_verifie}}</a></td>
                {% endif %}
                <td class='alert-{% if stats.cible_verifie == 0 %}danger{% endif%}'>{{stats.cible_verifie}}</td>
                {% if stats.cible_a_verifie == 0 %}
                    <td class='alert-success'>0</td>
                {% else %}
                    <td class='alert-warning'>  <a class='full-width btn' href="{{ path('patch_show_source_unlink', { 'id': patch.id }) }}">{{stats.cible_a_verifie}}</a></td>
                {% endif %}
             </tr>
             
        </tbody>
    </table>
                
                
                
