{% extends "BackOffice/layout.html.twig" %}

{% block body %}
     <h1><a href="{{ path('patch_index') }}">Patch</a></h1>
     <h2><a href='{{ path('backoffice_patch_todo_index') }}'>Patch To Do</a></h2>
      

{% endblock %}
{% block out_container %}
    <table class='table table-bordered table-triable'>
        <thead>
            <tr>
                <th>Crée le </th>   
                <th>id</th>
                <th>Etablissement</th>
                <th>Patch</th>
                <th>Etat</th>
                <th>NbSauvegardes</th>
                <th>Nb Sauvegardes Desuettes</th>
                <th>Début</th>
                <th>Fin</th>
                <th>Duree</th>
                <th>Mémoire</th>
                <th>Created par</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for patchToDo in patchToDos %}
            <tr>
                <td>{{ patchToDo.CreatedAt |date('Y-m-d H:i:s') }}</td>
                <td><a href="{{ path('backoffice_patch_todo_show', { 'id': patchToDo.id }) }}">{{ patchToDo.id }}</a></td>
                <td><a href="{{ path('backoffice_etablissement_view', { 'id': patchToDo.etablissement.id }) }}">{{ patchToDo.etablissement}}</a></td>
                <td><a href="{{ path('patch_show', { 'id': patchToDo.patch.id }) }}">{{ patchToDo.patch}}</a></td>

                <td class='{{patchToDo.EtatClass}}'>{{ patchToDo.Etat}}</td>
                {%  if patchToDo.etablissement.NbSauvegardesReferentielNonDesuet == 0 %}
                    <td class='alert-success'>{{ patchToDo.etablissement.NbSauvegardesReferentielNonDesuet}}</td>
                {%  elseif patchToDo.etablissement.NbSauvegardesReferentielNonDesuet >=2  %}
                    <td class="alert-danger">{{ patchToDo.etablissement.NbSauvegardesReferentielNonDesuet}}</td>
                {% else %}
                    <td class="alert-warning">{{ patchToDo.etablissement.NbSauvegardesReferentielNonDesuet}}</td>
                {% endif %}
                
                {%  if patchToDo.etablissement.NbSauvegardesReferentielDesuet == 0 %}
                    <td class='alert-success'>{{ patchToDo.etablissement.NbSauvegardesReferentielDesuet}}</td>
                {% else %}
                    <td class="alert-danger">{{ patchToDo.etablissement.NbSauvegardesReferentielDesuet}}</td>
                {% endif %}
                 
                
                <td>{% if patchToDo.dateDebutPatch %}{{ patchToDo.dateDebutPatch  |date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if patchToDo.dateFinPatch %}{{ patchToDo.dateFinPatch  |date('Y-m-d H:i:s') }}{% endif %}</td>
                {% if patchToDo.dateFinPatch %}
                    {{ patchToDo.duree | TdDuration | raw }}
                {% else %}
                    <td class="alert-danger"></td>
                {% endif %}
                
                
                {% if patchToDo.getMemoryUsage > 0 %}
                    {% if patchToDo.getMemoryUsage > 200000000  %}
                        <td class='alert-danger'>{{ patchToDo.getMemoryUsage | formatBytes }}</td>
                    {% elseif patchToDo.getMemoryUsage > 60000000  %}
                        <td class='alert-warning'>{{ patchToDo.getMemoryUsage | formatBytes }}</td>
                    {% else  %}
                        <td class='alert-success'>{{ patchToDo.getMemoryUsage | formatBytes }}</td>
                    {% endif  %}
                {% else  %}
                    <td></td>
                {% endif  %}
                <td>{{ patchToDo.createdBy }}</td>
                <td> 
                    
                         <i data-invite="Voulez-vous supprimer le patch automatique."
                                data-url_delete="{{ path('backoffice_patch_todo_delete', {'id':patchToDo.id}) }}" 
                               class='DeleteBoxBefore glyphicon glyphicon-trash iconhead redText'
                               ></i> 
                    <a href="{{ path('backoffice_patch_todo_show', { 'id': patchToDo.id }) }}"><i class='glyphicon glyphicon-eye-open'></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
         <pre>bin/console patch:patch-todo-batch --start
{% for patchToDo in patchToDos %}{% if not patchToDo.dateDebutPatch %}
php bin/console patch:patch-etablissement --etablissement_id={{patchToDo.etablissement.id}} --patch_id={{patchToDo.patch.id}} --no-debug --whitout_backups
{% if patchToDo.etablissement.nbSauvegardes %}
{% for sauvegarde in patchToDo.etablissement.Sauvegardes  %}
php bin/console patch:sauvegarde-do --sauvegarde_id={{ sauvegarde.id }} --patch_id={{ patchToDo.patch.id  }} --no-debug
{% endfor %}
{% endif  %}
{% endif %}{% endfor %}
bin/console patch:patch-todo-batch --stop
    
        </pre>
{% endblock %}
