{% extends "ObjectifsAmelioration/Strategiques/layout.html.twig" %}

{% block title %}{{ parent() }} - Ajouter PAQ{% endblock %}

{% block body %}
 {{ parent() }}
 
    <h2>Ajouter un objectif d'amélioration stratégique :</h2>
   
    {% if domaine is defined %}
       {% include "Nuts/menu_domaine_transversal.html.twig" %} 
    {% endif %}
    
    {# src/OC/PlatformBundle/Resources/views/Advert/form.html.twig #}

<div class="well">
  {{ form_start(form) }}

    {{ form_errors(form) }}
    {{ form_widget(form) }}
    

  
  {#
    <div class="row">
          <div class="col-sm-3">
            {{ form_label(form.statut, "", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
             }
          </div>
          <div class="col-sm-3">
            {{ form_widget(form.statut, {'attr': {'class': 'form-control'}}) }}
          </div>

          <div class="col-sm-3">
          {{ form_label(form.dateEcheance, "", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
          {{ form_errors(form.dateEcheance) }}
          </div>
          <div class="col-sm-3">
            {{ form_widget(form.dateEcheance, {'attr': {'class': 'form-control'}}) }}
          </div>
    </div>
         

                   
                    <div class="row">
                           <div class="col-md-2"></div>
                           <div class="col-md-3">
                                <div class="form-group">
                                    {{ form_label(form.statut, "", {'label_attr': {'class': 'control-label'}}) }}
                                    {{ form_errors(form.statut) }}
                                    {{ form_widget(form.statut, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                           <div class="col-md-2"></div>
                           <div class="col-md-3">
                                <div class="form-group">
                                    {{ form_label(form.dateEcheance, "Date Echéance") }}
                                    {{ form_errors(form.dateEcheance) }}
                                    {{ form_widget(form.dateEcheance) }}
                                </div>
                            </div>
                    </div>
        
      
</div>
     #}

       
      
    {# set retour_page = path("pericles3_paq_liste")#}
    {{ include("Nuts/cancelsave.html.twig") }}
                  

  {# Génération automatique des champs pas encore écrits.
     Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
     et tous les champs cachés (type « hidden »). #}
  {{ form_rest(form) }}
  
  {# Fermeture de la balise <form> du formulaire HTML #}
  {{ form_end(form) }}
</div>

  {#

        {{ form_start(form) }}
          {{ form_errors(form) }}
          
          
        {{ form_widget(form) }}
        
        
            <input type="submit" value="Créer" />
        {{ form_end(form) }}
    
    
    
  
    {% if sous_titre is not empty  %}
        <h3 class='alert alert-success'>{{sous_titre}}</h3>
    {% endif %}
        <div class="well">

    {#
    
        <form action="{{ path("pericles3_paq_create", {}) }}" method="POST" >

            {% include "MessageFlash/messageFlash.html.twig" %}

            <div class="form-group">
                <label class="control-label" for="critere">Critère d'évaluation :</label>
                <select id="critere" name="critere" class="form-control">
                    {% for critere in criteres %}
                        <option value="{{ critere.id }}">{{ critere.dimension.domaine.referentiel.ordre }}.{{ critere.dimension.referentiel.ordre }}.{{ critere.referentiel.ordre }} {{ critere.referentiel.nom }}</option>
                    {% endfor %}
                </select>
            </div>
           
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label" for="statut">Statut :</label>
                    <select id="statut" name="statut" class="form-control">
                        <option value="1">En cours</option>
                        <option value="2">Important</option>
                        <option value="3">Terminé</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label" for="dateEcheance">Date d'échéance : </label>
                            <input class="form-control datepicker" type="text" id="dateEcheance" name="dateEcheance">
                        </div>
                    </div>
                 </div>   
            </div>
        </div>

            <div class="form-group">
                <label class="control-label" for="commentaire">Piste d'amelioration : </label>
                <textarea id="commentaire" name="commentaire" class="form-control" rows="3"></textarea>
            </div>

                
                

                
                
               {% set retour_page = path("pericles3_paq_liste")%}
              {{ include("Nuts/cancelsave.html.twig") }}
                  
                 {#
            <button type="submit" id="Valider" class="btn btn btn-primary">
                Valider
            </button>

            <button type="button" id="Retour" class="btn btn btn-primary retourFicheEtablissement">
                Retour
            </button>
                 #}
        </form>
    </div>
 

{% endblock %}
