{% extends "BackOffice/layout.html.twig" %}


{% block body %}
    <h1><a href="{{ path('backoffice_finess_index', {}) }}">FINESS</a></h1>
    <h2>Finess</h2>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
            {{ include("Nuts/cancelsave.html.twig") }}
    {{ form_end(edit_form) }}

{% endblock %}
