{% extends "BackOffice/layout.html.twig" %}

{% block body %}
    <h1>FINESS</h1>
    
      
    {% if  is_granted('ROLE_MEGA_ADMIN')  %}
        <a class='btn btn-primary' href='{{ path('backoffice_finess_import') }}'>Finess Import</a>
    {% endif %}

    
    
    <form method="post" class="form-horizontal">
        <div id="demande_etablissement">
            <div class="form-group">
                <label class="col-sm-2 control-label" for="etablissement_finess">Etablissement</label>
                <div class="col-sm-8">
                    <input type="text" id="etablissement_finess" name="etablissement_finess" placeholder="Numéro finess (012345678) ou nom de l&#039;établissement (IME DU BERGERACOIS,..) " class="form-control" />
                </div>
                <div class="col-sm-2">  
                    <button type="submit" id="Valider" class=" btn btn-primary"><i class='glyphicon glyphicon-search' ></i> Rechercher</button>
                </div>
            </div>
            
          
        </div>

    </form>
    
    
    
    
    
    <h2>Par département</h2>
    
    <table class='table table-bordered table-triable'>
        <thead>
            <tr>
                <th>Code</th>
                <th>Nom</th>
            </tr>
        </thead>
        
        
        <tbody>
    {% for departement in departements %}
        <tr>
            <td>{{departement.id}}</td>
            <td><a href='{{ path('backoffice_finess_departement',{'id':departement.id}) }}'>{{departement}}</a></td>
        </tr>
        
    {% endfor %}
        </tbody>
    </table>   
         
         
    
    {% if is_granted('ROLE_MEGA_ADMIN') %}
                <a class='btn btn-danger full-width' href="{{ path('backoffice_finess_new') }}">Entrer manuellement un établissement et ses informations FINESS</a>
    {% endif %}
    
    

{% endblock %}



{% block javascripts %}
    
    
    
    <script> 
        $('#etablissement_finess').autocompleter({
    url_list: '{{ path('pericles3_backoffice_formsearch_finess_etablissement') }}',
    url_get: '{{ path('pericles3_backoffice_formsearch_get_finess_etablissement') }}_'
});
    </script>
{% endblock %}


