{% extends "BackOffice/layout.html.twig" %}

{% block body %}
    <h1> <a href="{{ path('qualieval_index') }}"> Quali Eval</a> </h1>
  
    <table class='table table-bordered'>
        <tbody>
            <tr>
                <th>Numéro</th>
                <td>{{ qualiEvalReferentiel.Numero }}</td>
            </tr>
            <tr>
                <th>Niveau</th>
                <td>{{ qualiEvalReferentiel.niveau }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ qualiEvalReferentiel.nom }}</td>
            </tr>

            {% if qualiEvalReferentiel.parent %}
            <tr>
                <th>Parent</th>
                <td><a href="{{ path('qualieval_show', { 'id': qualiEvalReferentiel.parent.id }) }}"><b>{{ qualiEvalReferentiel.parent.numero }} </b>: {{ qualiEvalReferentiel.parent }}</a></td>
            </tr>
            {% endif %}

         
                
                
                
            <tr>
                <th>{{application_name}}</th>
                 {% include "QualiEval/inc_arsene.html.twig" %}
            </tr>
 

            
            
        </tbody>
    </table>
            
            
            {% if (qualiEvalReferentiel.getNbChildren) %}
                    <table class='table table-bordered'>
                        <thead>
                                <th>Numéro</th>
                                <th>Nom</th>
                                <th>Id</th>
                                <th>Niveau</th>
                        </thead>
                        <tbody>
                                   {% for qeref in qualiEvalReferentiel.children %}
                                        <tr>    
                                            <td>{{ qeref.Numero }}</td>
                                            <td><a href="{{ path('qualieval_show', { 'id': qeref.id }) }}">{{ qeref.nom }}</a></td>
                                            <td>{{ qeref.id }}</td>
                                            <td>{{ qeref.niveau }}</td>
                                        </tr>
                                {% endfor%}
                        </tbody>
                    </table>
            {% endif%}
            
 
            {% if  referentielPublic is defined   %}
                <h2>{{referentielPublic}}</h2>
            {% endif%}
            
            {% if  referentiels is defined  %}

                
                
                    <table class='table table-bordered table-triable'>
                        <thead>
                                <th>Numéro</th>
                                <th>Nom</th>
                                <th>Lié</th>
                        </thead>
                        <tbody>
                                   {% for referentiel in referentiels  %}
                                        <tr>    
                                            <td>{{ referentiel.Numero }}</td>
                                            <td>
                                                {# <a href="{{ path('qualieval_show', { 'id': qeref.id }) }}"> #}
                                                    {{ referentiel }}</a></td>
                                            <td>
                                                <a title='Lier' href="{{ path('qualieval_link_go', { 'id': qualiEvalReferentiel.id, 'referentiel':referentiel.id }) }}"> <i class=' glyphicon glyphicon-link '></i></a></td>
                                        </tr>
                                {% endfor%}
                        </tbody>
                    </table>
           
            

            {% endif%}
            
            
{% endblock %}
