   
<ul>
    {% for ref in referentielPublics %}
        
        
        {% if ref.getDeadEnd %}
            <li class='alert-danger'>  <a title="Voir" href="{{ path('referentielpublic_show', { 'id': ref.id }) }}"><i class='glyphicon glyphicon-eye-open'></i></a>
        {% elseif ref.obsolete or ref.getVersionNum2 %}
            <li class='alert-warning'>  <a title="Voir" href="{{ path('referentielpublic_show', { 'id': ref.id }) }}"><i class='glyphicon glyphicon-eye-open'></i></a>
        {% else %}
            <li class='alert-success font-weight-bold'>  <a title="Voir" href="{{ path('referentielpublic_show', { 'id': ref.id }) }}"><i class='glyphicon glyphicon-eye-open'></i></a>
        {% endif  %}


            <a title="Compare avec {{ref.sourceparent}}" href="{{ path('referentielpublic_comparaison', { 'id': ref.id }) }}"><i class='glyphicon glyphicon glyphicon-scale'></i></a>
        
            {{ref}}  ({{ref.Version}}) 
            
            </li>
            {% if ref.VersionningChildren is defined %}
                {% include "BackOffice/referentielpublic/arborescence_versionning_inc.html.twig"  with {'referentielPublics':ref.VersionningChildren} %}
            {% endif %}
    {% endfor %}
    </ul>

    
    
