    
    
    <table class='table table-bordered table-triable'>
           <thead>
            <tr>
                    <th>Numéro</th>
                    <th>Libellé</th>
                    <th></th>
            </tr>
        </thead>
        <tbody>
        {% for ref in refs %}
            <tr>
                    <td class='{{tmp_class}}'>{{ref.numero}}</td>
                    <td class='{{tmp_class}}'>{{ref}}</td>
                    <td>  <a href='{{ path('referentielpublic_show_node', {'id_node': ref.id, 'id': ref.ReferentielPublic.id}) }}'><i class='glyphicon glyphicon-eye-open '></i></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
