{% extends "BackOffice/layout.html.twig" %}

{% block body %}
    <h1>Parent <a href="{{ path('referentielpublic_show', { 'id': referentielPublic.sourceParent.id }) }}">  {{ referentielPublic.sourceParent}} </a></h1>
    <h1>Enfant<a href="{{ path('referentielpublic_show', { 'id': referentielPublic.id }) }}">  {{ referentielPublic }} </a></h1>
   
    <a class='btn btn-primary' href="{{ path('referentielpublic_comparaison_criteres', { 'id': referentielPublic.id }) }}">  Criteres </a>
    <a class='btn btn-primary' href="{{ path('referentielpublic_comparaison_questions', { 'id': referentielPublic.id }) }}">  Questions </a>

    

    
    {% if is_granted('ROLE_MEGA_ADMIN') %}
        <a class='btn btn-primary' href="{{ path('referentielpublic_comparaison_autolink', { 'id': referentielPublic.id }) }}">  AutoLink</a>
    {% endif  %}
   
    <p>
        
    <ul class='alert alert-info'>
        <li><b>Eléménts supprimés : </b>  {{refsParentSansEnfant  | length }}
        <li><b>Eléménts ajoutés : </b> {{refsOrphelins  | length }}
    </ul>
    
    


<div class='bilan_block'>
    {% set tmp_class='alert-danger' %}
    <h3>Eléments supprimés</h3>
    {% include 'BackOffice/referentielpublic/comparaison_enfant_pere_inc_table.html.twig' with { 'refs' : refsParentSansEnfant}  %}
</div>
    
<div class='bilan_block'>
    <h3>Eléments ajoutés : </h3>
    {% set tmp_class='alert-success' %}
    {% include 'BackOffice/referentielpublic/comparaison_enfant_pere_inc_table.html.twig' with { 'refs' : refsOrphelins}  %}
</div>
    
    
 
{% endblock %}


{% block initjs %}
    <script type="text/javascript">
        window.scrollBy(0,500); // horizontal and vertical scroll increments
    </script>
{% endblock %}
