
    <h2>
        <a href='{{ path('referentielpublic_show_node', {'id_node': node.domaine.id, 'id': referentielPublic.id}) }}'>{{ node.domaine.numero}} {{ node.domaine }}
        </a>
    </h2>
        
    {% if node.dimension is not empty   %}
    <h2>
        <a href='{{ path('referentielpublic_show_node', {'id_node': node.dimension.id, 'id': referentielPublic.id}) }}'>{{ node.dimension.numero}} {{ node.dimension }}
        </a>
    </h2>
    {% endif %}
    {% if node.critere is not empty   %}
    <h2>
        <a href='{{ path('referentielpublic_show_node', {'id_node': node.critere.id, 'id': referentielPublic.id}) }}'>{{ node.critere.numero}} {{ node.critere }}
        </a>
    </h2>
    {% endif %}
    {% if node.Element is not empty   %}
    <h2>
       {{ node.Element.numero}} {{ node.Element}}
    </h2>
    {% endif %}

    