{% extends "BackOffice/layout.html.twig" %}

{% block body %}
  <h1><a href="{{ path('referentielpublic_index')}}">  Référentiels</a></h1>
  <h2>Suivi des référentiels</h2>

</div>

</div>
     <div class='fond_white'>
    <table class='table table-bordered table-triable_desc'>
        <thead>
            <tr>
                <th>Nb<br>Etab.</th>
                <th>Public</th>
                <th>Etat</th>
                <th>Suivi</th>
                <th>Domaines</th>
                <th>Dimensions</th>
                <th>Critères</th>
                <th>Questions</th>
                <th>Réponses oui/non<br> manquantes</th>
                <th>Biblio</th>
                <th>Annexe</th>
                <th>Nb Critere sans Annexe</th>
                <th>Rbpp avec critères</th>
                <th>critères sans RBPP</th>
                
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for referentielPublic in referentielPublics %}
            <tr>
                {% if referentielPublic.NbEtablissements  > 10 %}
                    <td class='alert-success text-center'><a href="{{ path('pericles3_backoffice_etablissement_bybublic', { 'id': referentielPublic.id})  }}">{{ referentielPublic.NbEtablissements }}</a></td>
                {% elseif referentielPublic.NbEtablissements > 0 %}
                    <td class='alert-warning text-center'><a href="{{ path('pericles3_backoffice_etablissement_bybublic', { 'id': referentielPublic.id})  }}">{{ referentielPublic.NbEtablissements }}</a></td>
                {% else %}
                    <td class='alert-danger text-center'>0</td>
                {% endif %}

                <td>
                    <a title="{{referentielPublic}}" href="{{ path('referentielpublic_show', { 'id': referentielPublic.id }) }}">{{ referentielPublic.short }}</a>
                </td>
                
                {% if referentielPublic.fini==1 %}
                    <td class='alert-success text-center'>En Prod</td>
                {% elseif referentielPublic.fini==-2 %}
                    <td class='alert-danger text-center'>Obsolete</td>
                {% else  %}
                    <td class='alert-warning text-center'>En dev</td>
                {% endif %}

                <td>
                                
                     {% if not referentielPublic.fini==1 %}
                          
                                    {% for domaine in referentielPublic.ReferentielDomaines %}
                                        **
                                        
                                        {% if domaine.AVerifier == 'done'  %}
                                              <i title=' Vérifié !' class='glyphicon glyphicon-ok-circle alert-success'></i> 
                                          {% elseif domaine.AVerifier =='doing'  %}
                                              <i title="Cet élément est vérifié, mais pas l'ensemble de ses sous éléments" class='alert-warning glyphicon glyphicon-exclamation-sign'></i> 
                                          {% elseif domaine.AVerifier =='todo'  %}
                                              <i title="A Vérifier ! " class='alert-danger glyphicon glyphicon-exclamation-sign'></i> 
                                          {% else %}
                                              --{{domaine.AVerifier}}
                                          {% endif %}
                                    {% endfor %}
                              
                    {% endif %}

                                </td>
                
                
                <td class='text-center'>{{ referentielPublic.NbDomaines}}</td>
                <td class='text-center'>{{ referentielPublic.NbDimensions}}</td>
                <td class='text-center'>
                      <a class="" href="{{ path('referentiel_criteres_show', { 'id': referentielPublic.id }) }}">{{ referentielPublic.NbCriteresCache}}</a>
                </td>
                <td class='text-center'>{{ referentielPublic.NbQuestionsCache}}</td>
                

                {% set NbReponsesOuiNonManquantes = referentielPublic.NbQuestionsCache - referentielPublic.NbReponsesOuiNon  %}
                
                {% if NbReponsesOuiNonManquantes ==  0   %}
                    <td class='alert-success text-center'>
                {% elseif NbReponsesOuiNonManquantes == referentielPublic.NbQuestionsCache %}
                    <td class='alert-danger text-center'>
                {% else %}
                    <td class='alert-warning text-center'>
                  {% endif %}
                    <a  title='{{referentielPublic.NbReponsesOuiNon}} saisies sur {{referentielPublic.NbQuestionsCache }}' href="{{ path('referentiel_ouinon_show', { 'id': referentielPublic.id }) }}">{{ NbReponsesOuiNonManquantes}}</a>
                
                
                </td>
 
                
                
                 
                
                {% if referentielPublic.NbBibliothequesAncreai == 0 %}
                        <td class='text-center alert-danger'>{{ referentielPublic.NbBibliothequesAncreai}}</td>
                {% elseif referentielPublic.NbBibliothequesAncreai < 15 %}
                        <td class='text-center alert-warning'>{{ referentielPublic.NbBibliothequesAncreai}}</td>
                {% else  %}
                        <td class='text-center alert-success'>
                            <a class="" href="{{ path('backoffice_bibliotheque_ancreai_index_public', { 'id': referentielPublic.id }) }}">
                                {{ referentielPublic.NbBibliothequesAncreai}}
                            </a>
                        </td>
                {% endif  %}
                
                <td>
                    {{referentielPublic.ReferentielExterne}}
                </td>
                {% if referentielPublic.ReferentielExterne %}
                    {% if referentielPublic.NbCritereSansRefAnnexe ==  referentielPublic.NbCriteresCache %}
                        <td class='alert-danger text-center'>
                    {% elseif referentielPublic.NbCritereSansRefAnnexe > 0 %}
                        <td class='alert-warning text-center'>
                    {% else %}
                            <td class='alert-success text-center'>
                    {% endif %} 
                    <a href='{{ path('referentiel_externe_show', { 'ref_externe': referentielPublic.referentielExterne.id, 'id': referentielPublic.id}) }}' >{{referentielPublic.NbCritereSansRefAnnexe}}</a>
                </td>
                
                    {% else %}
                            <td></td>
                    {% endif %} 
                
                {% if referentielPublic.NbRBPP ==  referentielPublic.NbCriteresCache %}
                    <td class='alert-success text-center'>
                {% elseif referentielPublic.NbRBPP > 0 %}
                    <td class='alert-warning text-center'>
                {% else %}
                    <td class='alert-danger text-center'>
                  {% endif %}
                    <a href="{{ path('backoffice_bibliotheque_ancreai_rbpp_index_public', { 'id': referentielPublic.id }) }}">{{ referentielPublic.NbRBPP}}</a></td>

                
                {% if referentielPublic.NbRBPPSansCritere  == 0 %}
                    <td class='alert-success text-center'>
                {% elseif referentielPublic.NbRBPPSansCritere < referentielPublic.NbCriteresCache %}
                    <td class='alert-warning text-center'>
                {% else %}
                    <td class='alert-danger text-center'>
                  {% endif %}
                  
                    <a href="{{ path('referentiel_criteres_rbpp_show', { 'id': referentielPublic.id }) }}">{{ referentielPublic.NbRBPPSansCritere}}</a></td>
 
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('referentielpublic_show', { 'id': referentielPublic.id }) }}"><i class='glyphicon glyphicon-eye-open'></i></a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        
           
        

        
</div>        
{% endblock %}
