{% extends "BackOffice/layout.html.twig" %}

{% block body %}
      <h1><a href="{{ path('referentielpublic_show', { 'id': referentielPublic.id }) }}">  {{ referentielPublic.public }} </a></h1>

    
    <h2>Liste Oui / Non</h2>
    
    <br>
    {% if all %}
        <a class='full-width btn btn-primary' href='{{ path('referentiel_ouinon_show', { 'id': referentielPublic.id }) }}'>Voir que ceux sans réponse oui non </a>
    {% else %}
            <a  class='full-width btn btn-primary' href='{{ path('referentiel_ouinon_all_show', { 'id': referentielPublic.id }) }}'>Voir tous </a>
    {% endif  %}
    <br>
    <br>
    <table class='table table-bordered'>
   
                                            
        
        
        <tbody>
                {% for domaine in referentielPublic.ReferentielDomaines | order %}

                        {% for dimension  in domaine.children | order  %}
                                {% for critere  in dimension.children | order %}
                                            {% for question  in critere.children %}
                                                
                                            {% if (not question.getReponseOuiNonSaisi)  or all %}

                                             <tr>
                                                    <th>{{ domaine.ordre }}.{{ dimension.ordre }}.{{ critere.ordre }}.{{ question.ordre }} </th>
                                                    <td>
                                                    <a href='{{ path('referentielpublic_show_node', {'id_node': question.id, 'id': referentielPublic.id}) }}'>{{ question.nom}}</a>
                                                        {% if question.nonconcerne %}
                                                            [NC]
                                                        {% endif %}
                                                    </td>
                                            </tr>
                                            {% if question.getReponseOuiNonSaisi  %}
                                                 <tr>
                                            {% else %}
                                                 <tr class='alert-danger'>
                                            {% endif  %}
                                                    <th>Oui </th>
                                                    <td>{{ question.reponseOui }}</td>
                                            </tr>
                                            {% if question.getReponseOuiNonSaisi  %}
                                                 <tr>
                                            {% else %}
                                                 <tr class='alert-danger'>
                                            {% endif  %}
                                                    <th>Non</th>
                                                    <td>{{ question.reponseNon }}</td>
                                            </tr>
                                            {% endif  %}
                                        {% endfor %}
                            {% endfor %}
                   {% endfor %}
                    {% endfor %}
        </tbody>
    </table>
        
        
        
        

        <a href="{{ path('referentielpublic_index') }}"  class = "btn  btn-link full-width">Retour à la liste</a><ul>

      
            
{% endblock %}
