{% extends "BackOffice/layout.html.twig" %}

{% block body %}
    <h1><a href="{{ path('referentielpublic_show', { 'id': referentielPublic.id }) }}">  {{ referentielPublic.public }} </a></h1>

    <h2>Liste des critères</h2>
    <table class='table table-bordered table-triable small'>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Rbbpp</th>
            </tr>
        </thead>
        
  
        <tbody>
                {% for domaine in referentielPublic.ReferentielDomaines | order %}
            <tr class='dom'>
                <td>{{ domaine.ordre }}</td>
                <td><a href='{{ path('referentielpublic_show_node', {'id_node': domaine.id, 'id': referentielPublic.id}) }}'>{{ domaine.nom}}</a></td>
                <td></td>
            <tr>

                        {% for dimension  in domaine.children | order  %}
                         <tr class='dim'>
                                <td>{{ domaine.ordre }}.{{ dimension.ordre }}</td>
                                <td><a href='{{ path('referentielpublic_show_node', {'id_node': dimension.id, 'id': referentielPublic.id}) }}'>  {{ dimension.nom}}</a></td>
                                <td></td>
                            <tr>
                                {% for critere  in dimension.children | order %}
                                 <tr>
                                        <td>{{ domaine.ordre }}.{{ dimension.ordre }}.{{ critere.ordre }}</td>
                                        <td><a href='{{ path('referentielpublic_show_node', {'id_node': critere.id, 'id': referentielPublic.id}) }}'>   {{ critere.nom}}</a></td>
                                        
                                        {% if critere.nbRBPP==1 %}
                                              <td class='alert-success text-center'><i class='glyphicon glyphicon-ok'></i></td>
                                        {% else  %}
                                              <td class='alert-warning text-center'><i class='glyphicon glyphicon-remove'></i></td>
                                        {% endif %}
                                    </tr>
                                        
                            {% endfor %}

                    
                    {% endfor %}

                       
                    {% endfor %}
        </tbody>
    </table>
        
        
        
        
        

        <a href="{{ path('referentielpublic_index') }}"  class = "btn  btn-link full-width">Retour à la liste</a><ul>
      
            
{% endblock %}
