{% extends "BackOffice/layout.html.twig" %}

{% block body %}
    <h1><a href="{{ path('referentielpublic_show', { 'id': referentielPublic.id }) }}">  {{ referentielPublic.public }} </a></h1>
    <h2>{{ referentielExterne}}</h2>

     
    {% if referentielExterne.ReferentielExterneNiv1 | length < 15 %}
        <h2>Domaines</h2>
        <ul>
            {% for domaine in referentielExterne.ReferentielExterneNiv1 | order %}
                <li>  {{ domaine.numeroOrdre }} - {{ domaine.nom}}</li>
            {% endfor %}
        </ul>
    {% else  %}
        <h2>Domaines Niveau 1</h2>
        <ul>
            {% for domaine in referentielExterne.ReferentielExterneNiv1 %}
                {% if domaine.Niveau==1 %}
                    <li>  {{ domaine.numeroOrdre }} - {{ domaine.nom}}</li>
                {% endif %}
            {% endfor %}
        </ul>
        <a  class='btn  btn-warning full-width'  href='{{ path('referentiel_externe_detail_show', { 'ref_externe': referentielPublic.referentielExterne.id, 'id': referentielPublic.id}) }}'>{{referentielExterne.ReferentielExterneNiv1 | length }} éléments, voir tout</a>
    {% endif %}
    
    

       
    
    <h2>Liste</h2>
    <table class='table table-bordered table-triable'>
        <thead>
            <tr>
                <th>Ordre</th>
                <th>Nom</th>
                <th>{{ referentielExterne}}</th>
            </tr>
        </thead>
        
        
        <tbody>
                {% for domaine in referentielPublic.ReferentielDomaines | order %}

                        {% for dimension  in domaine.children | order  %}
                                {% for critere  in dimension.children | order %}
                                    <tr>
                                        <td>{{  critere.numero }}</td>
                                        <td><a href='{{ path('referentielpublic_show_node', {'id_node': critere.id, 'id': referentielPublic.id}) }}'> {{ critere.nom}}</a></td>
                                        
                                        {% if critere.ReferentielExterneNiv1 is not empty %}    
                                            <td class='alert-success'> {{ critere.ReferentielExterneNiv1 }}</td>
                                        {% else %}    
                                            <td class='alert-danger center'> 
                                            {% if edit  %}
                                                    <a class='btn btn-warning' href="{{ path('referentielpublic_edit_node', { 'id': critere.id })}}"><i class='glyphicon glyphicon-pencil'></i></a>
                                            {% endif %}
                                            </td>
                                        {% endif %}    
                                                            </tr>
                            {% endfor %}
                    {% endfor %}
                    {% endfor %}

                    
        </tbody>
    </table>
        
        
        
        

        <a href="{{ path('referentielpublic_index') }}"  class = "btn  btn-link full-width">Retour à la liste</a><ul>
      
            
{% endblock %}
