{% extends "BackOffice/layout.html.twig" %}

{% block body %}
    <h1><a href="{{ path('referentielpublic_show', { 'id': referentielPublic.id }) }}">  {{ referentielPublic.public }} </a></h1>
    <h2>{{ referentielExterne}}</h2>

   
    <table class='table table-bordered table-triable'>
        <thead>
            <tr>
                <th>id</th>
                <th>Ordre</th>
                <th>Nom</th>
                <th>{{ referentielExterne}}</th>
            </tr>
        </thead>
          <tbody>
            {% for domaine in referentielExterne.ReferentielExterneNiv1 %}
                <tr>
                    <td>{{ domaine.id }}</td>
                    <td>{{ domaine.numeroOrdre }}</td>
                    <td>{{ domaine.nom}}</td>
                    {% set critere = domaine.CritereByPublic(referentielPublic) %}
                    {% if critere %}
                        <td class='alert-success'>{{ critere }}
                            <a href='{{ path('referentielpublic_show_node', {'id_node': critere.id, 'id': referentielPublic.id}) }}'> <i class='glyphicon glyphicon-eye-open'></i></a>
                        </td>
                    {% elseif domaine.niveau == 1 %}
                        <td class='alert-warning'>[AUCUN]</td>
                    {% else  %}
                        <td class='alert-danger'>[AUCUN]</td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
    </table>


       
    
  
           

        <a class='btn  btn-link full-width' href='{{ path('referentiel_externe_show', { 'ref_externe': referentielPublic.referentielExterne.id, 'id': referentielPublic.id}) }}'>Retour au referentiel externe par critere</a>
        <p><br>
            <a href="{{ path('referentielpublic_index') }}"  class = "btn  btn-link full-width">Retour à la liste</a><ul>
      
            
{% endblock %}
