{% extends "BackOffice/layout.html.twig" %}

{% block body %}
    <h1><a href="{{ path('referentielpublic_index')}}">  Référentiels</a></h1>
    <h2><a href="{{ path('referentielpublic_show', { 'id': referentielPublic.id }) }}">  {{ referentielPublic }} </a></h2>
   
    <h3>Déplacement d'un élement d'appréciation</h3>
    
    <div class='alert alert-info'>{{node.numero}} {{node}}</div>
    
    {% include "BackOffice/referentielpublic/inc_node_tree.html.twig" %}

    
    <table class='table table-bordered'>
        <tbody>
            <tr>
   
                <th>{{referentielPublic}}</th>
            </tr>
            <tr>
                <th>Ordre</th>
                <td>{{ node.numero}}</td>
            </tr>
            <tr>
                <th>Question</th>
                <td>{{ node.nom}}</td>
            </tr>
            <tr>
                <th>réponse Oui</th>
                <td>{{ node.reponseOui}}</td>
            </tr>
            <tr>
                <th>réponse Non</th>
                <td>{{ node.reponseNon}}</td>
            </tr>
  
        </tbody>
    </table>

 		<form  class="well"  method="POST" >
		
		{% include "MessageFlash/messageFlash.html.twig" %}
 
                {% if node.EvaluationStarted %}
                    <div class='alert alert-danger'>Attention !!!! <br>
                    Le référentiel est déja affecté à des établissement !!
                    <br>
                    Le déplacement des questions est donc très impactant et risque de corrompre de manière définitives les évaluations en cours ! 
                    </div>
                {% else %}
                    <div class='alert alert-success'>Le référentiel n'est pas utilsé, vous pouvez déplacer les éléments d'apréciation</div>
                {% endif %}
                

                    <div class="row">
                           <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label" for="critere">Déplacer vers le critere: </label>
                                </div>
                            </div>
                    
                               <div class="col-md-10">
                                    <select name="critere">
                                        {% for critere in criteres %}
                                            <option value="{{critere.id}}">{{critere.numero}} - {{critere}}</option>
                                        {% endfor  %}
                                   </select>
                               </div>
                        
                                   <button type="submit" class="btn btn-link full-width">Déplacer </button>

                    </div>
                </form>
                                   
                        
    
                <a href="{{ path('referentielpublic_show', { 'id': referentielPublic.id })}}"  class = "btn  btn-link full-width">Retour à la liste</a>
 
{% endblock %}


{% block initjs %}
    <script type="text/javascript">
        window.scrollBy(0,500); // horizontal and vertical scroll increments
    </script>
{% endblock %}
