{% extends "BackOffice/layout.html.twig" %}
{% block message_flash %}
{% endblock %}
{% block body %}
    <h1><a href="{{ path('referentielpublic_show', { 'id': node.referentielPublic.id }) }}">  {{ referentielPublic }} </a></h1>
  
    {% include "BackOffice/referentielpublic/inc_node_tree.html.twig" %}

{% include "MessageFlash/messageFlash.html.twig" %}


        {% if node.AVerifier == 'done'  %}
            <div class='alert alert-success'><i class='glyphicon glyphicon-ok-circle'></i> Vérifié ! </div>
        {% elseif node.AVerifier =='doing'  %}
            <div class='alert alert-warning'><i class='glyphicon glyphicon-exclamation-sign'></i> Cet élément est vérifié, mais pas l'ensemble de ses sous éléments
            
                <br>
                {% if app.user.hasReferentielPublic(node.referentielPublic)  or  is_granted('ROLE_MEGA_ADMIN') %}
                                <a class='btn btn-warning full-width' href="{{ path('referentielpublic_check_recursif_node', { 'id': node.id })}}"><i class='glyphicon glyphicon-pencil'></i>Considérer l'ensemble de ses sous éléments comme vérifié</a>
                {% endif %}
            </div>
        {% elseif node.AVerifier =='todo'  %}
            <div class='alert alert-danger'><i class='glyphicon glyphicon-warning-sign'></i>  A Vérifier ! 
                <br>
                {% if app.user.hasReferentielPublic(node.referentielPublic)  or  is_granted('ROLE_MEGA_ADMIN') %}
                                <a class='btn btn-warning full-width' href="{{ path('referentielpublic_check_node', { 'id': node.id })}}"><i class='glyphicon glyphicon-pencil'></i>Considérer comme vérifié</a>
                                <a class='btn btn-danger full-width' href="{{ path('referentielpublic_check_recursif_node', { 'id': node.id })}}"><i class='glyphicon glyphicon-pencil'></i>Considérer l'ensemble de ses sous éléments comme vérifié</a>
                {% endif %}
            </div>
        {% endif %}
    
                
                        {% if referentielPublic.sourceParent is not empty %}
                             {% if node.sourceParent is not empty %}
                                 <div class='alert alert-success'>
                                  <b>Reférentiel source : {{referentielPublic.sourceParent}} : </b> <a href="{{ path('referentielpublic_show_node', { 'id': referentielPublic.sourceParent.id ,'id_node' : node.sourceParent.id  })}}" >{{node.sourceParent.numero}} {{node.sourceParent}}</a>
                                 </div>
                                {% else %}
                                 <div class='alert alert-danger'>
                                    <b>Reférentiel source : {{referentielPublic.sourceParent}}  :  Pas de source
                                 </div>
                                {% endif %} 
                        {% endif %}
                        
                         {% include "BackOffice/referentielpublic/show_node_source.html.twig" %}
                        
                        
                        
                        
                {% if node.typeReferentiel.id < 4  %}
                    {% if node.typeReferentiel.id == 1  %}
                        <h3>Domaine</h3>
                            <div class='alert alert-info'>{{node.numero}} {{node}}</div>
                            {% if app.user.hasReferentielPublic(node.referentielPublic)  or  is_granted('ROLE_MEGA_ADMIN') %}
                                <a class='btn btn-warning full-width' href="{{ path('referentielpublic_edit_node', { 'id': node.id })}}"><i class='glyphicon glyphicon-pencil'></i>Modifier le Domaine</a>
                            {% endif %}
                        <h3>Dimensions</h3>
                    {% endif %}
                    {% if node.typeReferentiel.id == 2  %}
                        <h3>Dimension</h3>
                            <div class='alert alert-info'>{{node.numero}} {{node}}</div>
                            {% if app.user.hasReferentielPublic(node.referentielPublic)  or  is_granted('ROLE_MEGA_ADMIN') %}
                                <a class='btn btn-warning full-width' href="{{ path('referentielpublic_edit_node', { 'id': node.id })}}"><i class='glyphicon glyphicon-pencil'></i>Modifier la dimension</a>
                                {% if edit and  node.children | length ==  0  %}
                                    <br><p> <br>
                                        
                                    <a class='btn btn-danger full-width'  href="{{ path('referentielpublic_delete_node', { 'id': referentielPublic.id ,'id_node' : node.id  })}}" ><i alt='voir' class='glyphicon redText glyphicon-trash'></i>Supprimer  la dimension</a>
                                {% endif %}
                            {% endif %}
                        <h3>Critères</h3>
                    {% endif %}
                    {% if node.typeReferentiel.id == 3  %}
                        
                        
                        <h3>Critere</h3>
                        
                            <div class='alert alert-info'>{{node.numero}} {{node}}</div>

                        {% if node.referentielPublic.referentielExterne is not empty %}
                             {% if node.ReferentielExterneNiv1 is not empty %}
                                 <div class='alert alert-success'>
                                  <b>{{node.referentielPublic.referentielExterne}} : </b> {{node.ReferentielExterneNiv1}} 
                                 </div>
                                {% else %}
                                 <div class='alert alert-danger'>
                                    <b>{{node.referentielPublic.referentielExterne}} :  Pas de referentiel externe
                                        {% if is_granted('ROLE_MEGA_ADMIN') and referentielPublic.fini %}
                                            <a class='btn btn-warning full-width' href='{{ path('referentielpublic_edit_node_externe', { 'id': node.id })}}'>Modifier le critere externe !!! Attention ! nécessite des commandes pour mettre à jour les établissements !    </a>
                                        {% endif %}
                                 </div>
                                {% endif %}
                        {% endif %}
                     
    
                              {# include "BackOffice/referentielpublic/show_node_source.html.twig" #}

        
                                   
                            {% if node.RBPP | length > 0 %}
                                <div class='alert alert-info'><strong> Référence : {{node.RBPP.typeSourceBA}} - {{ node.RBPP.datePublication|date('Y-m') }}  </strong>
                                    <a href="{{ path('backoffice_bibliotheque_ancreai_show', { 'id': node.RBPP.id }) }}">
                                         {{node.RBPP }}
                                         
                                    </a>  - <i>{{node.RbpppComment }}</i>
                                         
                                </div>
                                 
                         {% endif %}
                                  
                            
                            
                            {% if app.user.hasReferentielPublic(node.referentielPublic)  or  is_granted('ROLE_MEGA_ADMIN') %}
                                <a class='btn btn-warning full-width' href="{{ path('referentielpublic_edit_node', { 'id': node.id })}}"><i class='glyphicon glyphicon-pencil'></i>Modifier le critère</a>
                                
                                {% if not node.EvaluationStarted %}
                                    <a class='btn btn-warning full-width' href="{{ path('referentielpublic_show_node_move_critere', { 'id': referentielPublic.id, 'id_node': node.id })}}"><i class='glyphicon glyphicon-pencil'></i>Déplacer le critère</a>
                                {% endif %}
                                
                                {% if edit and  node.children | length ==  0  %}
                                    <br><p> <br>
                                        {% if node.EvaluationStarted %}
                                               <i data-invite="Voulez ne pouvez pas supprimer ce critère car l'évaluation à commencé "
                                                   class='CantDeleteBoxBefore glyphicon glyphicon-trash iconhead  redText btn  btn-danger active full-width '>Supprimer défénitivement le critère </i> 
                                        {% else %}

                                            <a class='btn btn-danger full-width'  href="{{ path('referentielpublic_delete_node', { 'id': referentielPublic.id ,'id_node' : node.id  })}}" ><i alt='voir' class='glyphicon redText glyphicon-trash'></i>Supprimer défénitivement le critère </a>
                                        {% endif %}
                                        
                                        
                                {% endif %}
                            {% endif %}
                        <h3>Elements d'appréciations </h3>
                    {% endif %}
              
                
                
                {%if node.children | length >  0 %}
                    
                    <table class='table table-bordered'>
                            <thead>
                                <tr>
                                    <th>Ordre</th>
                    <th>Nom</th>
                     {% if node.typeReferentiel.id == 1  %}
                        <th>Nb critères</th>
                    {% endif %}
                    {% if node.typeReferentiel.id == 2  %}
                        <th>Nb Eléments d'Appréciations</th>
                    {% endif %}
                             
                                </tr>
                            </thead>
                            <tbody>

                                        {% for child in node.children | order%}
                                            <tr>
                                                <td>{{ child.ordre }}</td>
                                                <td><a href="{{ path('referentielpublic_show_node', { 'id': referentielPublic.id ,'id_node' : child.id  })}}" >{{ child.nom}}</a></td>
                                                {% if child.typeReferentiel.id < 4  %}
                                                    <td>{{ child.NbChildren}} </td>
                                                {% endif %}

                                                <td> <a href="{{ path('referentielpublic_show_node', { 'id': referentielPublic.id ,'id_node' : child.id  })}}" ><i alt='voir' class='glyphicon glyphicon-eye-open'></i></a>

                                                {% if edit %}
                                                    {% if child.NbChildren== 0 %}
                                                       <a href="{{ path('referentielpublic_delete_node', { 'id': referentielPublic.id ,'id_node' : child.id  })}}" ><i alt='voir' class='glyphicon redText glyphicon-trash'></i></a>
                                                    {% endif%}
                                                    {% if child.ordre > 1 %}
                                                        <a href="{{ path('referentielpublic_up_node', { 'id': referentielPublic.id ,'id_node' : child.id  })}}" ><i alt='voir' class='glyphicon glyphicon glyphicon-arrow-up'></i></a>
                                                    {% endif%}
                                                    {% if child.ordre < node.nbChildren %}
                                                        <a href="{{ path('referentielpublic_down_node', { 'id': referentielPublic.id ,'id_node' : child.id  })}}" ><i alt='voir' class='glyphicon glyphicon glyphicon-arrow-down'></i></a>
                                                    {% endif%}
                                                {% endif%}


                                                </td>                                

                                                <td>
                                                    
                                                {% if child.AVerifier == 'done'  %}
                                                    <i title=' Vérifié !' class='glyphicon glyphicon-ok-circle alert-success'></i> 
                                                {% elseif child.AVerifier =='doing'  %}
                                                    <i title="Cet élément est vérifié, mais pas l'ensemble de ses sous éléments" class='alert-warning glyphicon glyphicon-exclamation-sign'></i> 
                                                {% elseif child.AVerifier =='todo'  %}
                                                    <i title="A Vérifier ! " class='alert-danger glyphicon glyphicon-exclamation-sign'></i> 
                                                {% endif %}
    
                                            </td>
                                            <tr>
                                         {% endfor %}

                            </tbody>


                        </table> 

                    {% endif %}

                               
                
            
    {% if form is defined  and edit %}
        <div class='well'>
        <h3>Ajout </h3>
            {{ form_start(form) }}
            {{ form_widget(form) }}
                {{ include("Nuts/cancelsave.html.twig") }}
            {{ form_end(form) }}
        </div>
        
    {% endif %}
    
{% else %}
      {% if node.typeReferentiel.id == 4  %}
                        <h3>Element d'appréciation</h3>
                            <div class='alert alert-info'>{{node.numero}} {{node}}</div>
                            {% if app.user.hasReferentielPublic(node.referentielPublic)  or  is_granted('ROLE_MEGA_ADMIN') %}
                                <a class='btn btn-warning full-width' href="{{ path('referentielpublic_edit_node', { 'id': node.id })}}"><i class='glyphicon glyphicon-pencil'></i>Modifier l'élément d'appréciation</a>

                                {% if not node.EvaluationStarted or is_granted('ROLE_MEGA_ADMIN')  %}
                                    <p><b><a class='btn btn-danger full-width' href="{{ path('referentielpublic_show_node_move_question', { 'id': referentielPublic.id, 'id_node': node.id })}}"><i class='glyphicon glyphicon-pencil'></i>Déplacer l'élement d'apréciation</a>
                                {% endif %}
                                
                            {% endif %}
                            {% if is_granted('ROLE_MEGA_ADMIN') %}
                                <p><b><a class='btn btn-danger full-width' href="{{ path('pericles3_question_ref', { 'id': node.id })}}"><i class='glyphicon glyphicon-pencil'></i>Voir l'évaluation de l'élément d'appréciation</a>
                            {% endif %}
                            
                            
                            
                            
                    {% endif %}

                    
                  
    <table class='table table-bordered'>
        <tbody>
            <tr>
        {% if node.sourceParent %}                    
  
                <th></th>
                <th>{{referentielPublic}}</th>
                <th>{{ node.sourceParent.referentielPublic}}</th>
            </tr>
            <tr>
                <th>Ordre</th>
                <td>{{ node.numero}}</td>
                <td>{{ node.sourceParent.numero}}</td>
            </tr>
            <tr>
                <th>Question</th>
                <td>{{ node.nom}}</td>
                <td>{{node.sourceParent}}</td>
            </tr>
            <tr>
                <th>réponse Oui</th>
                <td>{{ node.reponseOui}}</td>
                <td>{{ node.sourceParent.reponseOui}}</td>
            </tr>
            <tr>
                <th>réponse Non</th>
                <td>{{ node.reponseNon}}</td>
                <td>{{ node.sourceParent.reponseNon}}</td>
            </tr>

{% else  %}                
     <th></th>
                <th>{{referentielPublic}}</th>
            </tr>
            <tr>
                <th>Ordre</th>
                <td>{{ node.numero}}</td>
            </tr>
            <tr>
                <th>Question</th>
                <td>{{ node.nom}}</td>
            </tr>
            <tr>
                <th>réponse Oui</th>
                <td>{{ node.reponseOui}}</td>
            </tr>
            <tr>
                <th>réponse Non</th>
                <td>{{ node.reponseNon}}</td>
            </tr>
{% endif %}                
    
            
            
            {#
            <tr>
                <th>Non concerné</th>
                {% if  node.NonConcerne %}
                    <td><i class='glyphicon glyphicon-ok'></i></td>
                {% else  %}
                    <td><i class='glyphicon glyphicon-ban-circle'></i></td>
                {% endif%}
            </tr>
            #}
            
        </tbody>
    </table>

{% endif %}



    
    
                <a href="{{ path('referentielpublic_show', { 'id': referentielPublic.id })}}"  class = "btn  btn-link full-width">Retour à la liste</a>
 
{% endblock %}


{% block initjs %}
    <script type="text/javascript">
        window.scrollBy(0,500); // horizontal and vertical scroll increments
    </script>
{% endblock %}


{% block javascripts %}
    
    <script>
        $('#referentiel_ReferentielExterneNiv1').autocompleter({
    url_list: '{{ path('pericles3_backoffice_formsearch_referentielexterneniv1') }}',
    url_get: '{{ path('pericles3_backoffice_formsearch_get_referentielexterneniv1')}}_'
});
        
    </script>
{% endblock %}

