{% extends "BackOffice/layout.html.twig" %}

{% block body %}
    <h1><a href="{{ path('referentielpublic_show', { 'id': referentielPublic.id }) }}">  {{ referentielPublic }} </a> (issu de {{referentielPublic.sourceParent}}</h1>
  
    <h2>{{node.numero}} : {{node}}</h2>
    <h3>--> {{node.getReferentielPublic}}</h3>
    
    {% if node.sourceParent %}
        <div class='alert alert-success'>
            Parent : {{node.sourceParent.numero}} :  {{node.sourceParent}} ({{node.sourceParent.referentielPublic }}) 
            <a title="{{next_orphan}}" href="{{ path('referentielpublic_show_unlink_source_commit', { 'id': referentielPublic.id , 'id_node': node.id  })}}"  class = "full-width btn  btn-danger ">Supprimer la liason  </a> 
        </div>
    {% else %}
        <div class='alert alert-warning'>Pas de source</div>
    {% endif %}
        
        
        <div class='row'>
           {% if next %}
            <div class="col-sm-8"></div>
            <div class="col-sm-4">
                <a title="{{next}}" href="{{ path('referentielpublic_show_link_source_move', { 'id': referentielPublic.id , 'id_node': next.id  })}}"  class = "full-width btn  btn-warning ">Suivant : {{next.numero}} >>  </a> 
            </div>
            {% endif %}
           {% if next_orphan %}
           {% if next_orphan != next %}
                <div class="col-sm-8"></div>
                <div class="col-sm-4">
                    <a title="{{next_orphan}}" href="{{ path('referentielpublic_show_link_source_move', { 'id': referentielPublic.id , 'id_node': next_orphan.id  })}}"  class = "full-width btn  btn-warning ">Orphelin suivant : {{next_orphan.numero}} >>  </a> 
                </div>
                {% endif %}
            {% endif %}
        </div>
      
    <table class='table table-bordered table-triable_desc'>
           <thead>
            <tr>
                <th>Corespondance</th>
                <th>Chaine</th>
                <th>Numéro</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            
                {% for node_to_source in nodes_without_child %}
                <tr>
                    {{node_to_source | similar_text_td(node) | raw }}
                    <td>
                        {{renderDiff(node,node_to_source,"word")}}</td>
                    
                    {% if ( node.numero == node_to_source.numero )  %}
                        <td class="alert-success">{{node_to_source.numero}}</td>
                    {% else   %}
                        <td class="alert-warning">{{node_to_source.numero}}</td>
                        
                        
                    {% endif  %}
                    <td>

                        {% set trouve = false %}
                        
                        {% set ttt = 'pas trouvé' %}
                        {% set fils = null %}
                        
                        {% for nd in node_to_source.sourceChildren %}
                            {% if  nd.referentielPublic.id == referentielPublic.id  %}
                                {% set trouve = true %}
                                {% set fils = nd %}
                            {% endif  %}
                        {% endfor %}
                            
 
                        
                        {% if trouve  %}
                                    <a href='{{ path('referentielpublic_show_link_source_move', { 'id': fils.referentielPublic.id ,'id_node': fils.id }) }}'>déja lié au {{ fils.numero }}</a>
                       {% else %}
                            {% if not node.sourceParent %}
                                <a href="{{ path('referentielpublic_show_link_source_commit', { 'id': referentielPublic.id , 'id_node': node.id ,'id_node_to_link': node_to_source.id })}}"  class = "btn  btn-danger ">Lier</a> 
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
        

        <div class='row'>
            <div class="col-sm-4">
                    <a href="{{ path('referentielpublic_show', { 'id': referentielPublic.id })}}"  class = "btn  btn-link full-width">Referentiel</a>
            </div>
            <div class="col-sm-4">
                    <a href="{{ path('referentielpublic_comparaison', { 'id': referentielPublic.id })}}"  class = "btn  btn-link full-width">Comparaison</a>
            </div>
            {% if next_orphan %}
            <div class="col-sm-4">
                <a title="{{next_orphan}}" href="{{ path('referentielpublic_show_link_source_move', { 'id': referentielPublic.id , 'id_node': next_orphan.id  })}}"  class = "btn  btn-danger ">Next : {{next_orphan.numero}} : </a> 
            </div>
            {% endif %}
        </div>

            
 
{% endblock %}


{% block initjs %}
    <script type="text/javascript">
        window.scrollBy(0,500); // horizontal and vertical scroll increments
    </script>
{% endblock %}
