 
{% set nordre =0 %}
<ul>
        {% for qualiEvalReferentiel in qualiEvalReferentiels %}
        {% set nordre = nordre + 1 %}
              
        <li> {{ qualiEvalReferentiel.ordre }} : <a href="{{ path('backoffice_qualieval_show', { 'id': qualiEvalReferentiel.id }) }}">{{ qualiEvalReferentiel.nom }} ({{ qualiEvalReferentiel.niveau }})</li> 
{#        <pre>UPDATE quali_eval_referentiel SET ordre={{nordre}} WHERE id={{ qualiEvalReferentiel.id}} ; </pre> #}
        
            {% if (qualiEvalReferentiel.getNbChildren) %}
                {% include ("BackOffice/qualievalreferentiel/inc_children.html.twig") with {'qualiEvalReferentiels' : qualiEvalReferentiel.children} %}
                
            {% endif%}
        {% endfor %}
</ul>
 