{% extends "BackOffice/layout.html.twig" %}

{% block body %}
    <h1><a href="{{ path('backoffice_editorial_clu_index') }}">CLU</a></h1>

    <table class='table table-bordered'>
        <tbody>
            <tr>
                <th>datePublication</th>
                <th>{% if editorialCLU.datePublication %}{{ editorialCLU.datePublication|date('Y-m-d H:i:s') }}{% endif %}</th>
            </tr>
            <tr>
                <th>createdBy</th>
                <td>{{ editorialCLU.createdBy }}</td>
            </tr>
            <tr>
                <th>updatedBy</th>
                <td>{{ editorialCLU.updatedBy }}</td>
            </tr>
            <tr>
                <th>Datecreate</th>
                <td>{% if editorialCLU.dateCreate %}{{ editorialCLU.dateCreate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Dateupdate</th>
                <td>{% if editorialCLU.dateUpdate %}{{ editorialCLU.dateUpdate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

        <a class='btn btn-primary' href="{{ path('backoffice_editorial_clu_edit', { 'id': editorialCLU.id }) }}">Edit</a>
        

    <iframe id="iframepdf" src="/clu/{{ editorialCLU.fichier }}"></iframe>

    
    
{% endblock %}
