 

    {% if dimension.status==3 %}
        <a href='{{ path("pericles3_dimension",{"id": dimension.id}) }}'>
            <i title='{{dimension}} - Terminé' class='icon-circle done'></i>
        </a>
    {% elseif dimension.status==5 %}
        <a href='{{ path("pericles3_dimension",{"id": dimension.id}) }}'>
            <i title='{{dimension}} - Modifiée' class='icon-circle modifie'></i>
        </a>
    {% elseif dimension.status==6 %}
        <a href='{{ path("pericles3_dimension",{"id": dimension.id}) }}'>
            <i title='{{dimension}} - Nouveau !!' class='icon-circle new'></i>
        </a>
    {% elseif dimension.status==1 %}
        <a href='{{ path("pericles3_dimension",{"id": dimension.id}) }}'>
            <i title='{{dimension}} - Non commencé' class='icon-circle todo'></i>
        </a>
    {% elseif dimension.status==4 %}
        <a href='{{ path("pericles3_dimension",{"id": dimension.id}) }}'>
            <i title='{{dimension}} - A revoir' class='icon-circle toedit'></i>
        </a>
    {% else %}
        <a href='{{ path("pericles3_dimension",{"id": dimension.id}) }}'>
            <i title='{{dimension}} - En cours' class='icon-circle doing'></i>
        </a>
        
    {% endif %}
 



