{% for question  in questions | order %}
    <a href="{{ path('pericles3_critere', {'id': question.critere.id})}}#0">
                {% if question.NonConcerne %} 
                    <i title="{{question}} : non concerné"  class='icon-circle todo'></i>                                 
                {% elseif question.reponse %} 
                    <i title="{{question.reponseLib}}"  class='icon-circle done'></i>                                 
                {% elseif not question.reponse and question.reponse is not null  %} 
                    <i title="{{question.reponseLib}}"  class='icon-circle toedit'></i>                                 
                {% else %} 
                    <i title="{{question}} : non répondu"  class='icon-circle doing'></i>                                 
                    {% set question_alert='alert-warning' %}
                {% endif %}
                </a>
{% endfor %} 
