{% set path = app.request.server.get("REQUEST_URI") %}


{% if domaine is defined %}
        <div id='navigation_transversale' class="panel panel-primary screen_only"> 
                    <div class="panel-heading"> <h3 class="panel-title">Navigation transversale / Domaine : {{domaine}} </h3> </div>
                    <div class="panel-body"> 
                      
             <div class="row"> 
                          
                    
                 
                   
                <div class="col-md-3 ">
                {% if not ( path starts with '/eval' ) %}
                        <a title="Aller à l'évaluation du domaine {{domaine}}" class='btn btn-link full-width'  href="{{ path("pericles3_domaine", {'id':domaine.id}) }}"><i class='glyphicon glyphicon-thumbs-up'></i> Evaluation</a>
                {% else  %}
                        <span class='btn-inactif full-width'><i class='glyphicon glyphicon-thumbs-up'></i>  Evaluation</span>
                {% endif %}
                </div>
                
                        
                <div class="col-md-3 ">
                {% if not (path starts with '/paq') %}
                        <a title="Aller au PAQ du domaine {{domaine}}" class='btn btn-link full-width'  href="{{ path("pericles3_paq_organigramme_domaine", {'id':domaine.id}) }}"  ><i class='glyphicon glyphicon-export'></i> PAQ</a>
                {% else  %}
                    <span class='btn-inactif full-width'><i class='glyphicon glyphicon-export'></i> PAQ</span>
                {% endif %}
                </div>
                
                <div class="col-md-3 ">
                {% if not (path starts with '/bibliotheque') %}
                        <a title="Aller à la bibliothèque du domaine {{domaine}}" class='btn btn-link full-width' href="{{ path("pericles3_bibliotheque_preuves_domaine", {'id':domaine.id}) }}" >   <i class='glyphicon glyphicon-book'></i> Bibliothèque</a>
                {% else  %}
                    <span class='btn-inactif full-width'><i class='glyphicon glyphicon-book'></i> Bibliothèque</span>
                {% endif %}
                </div>
                
                <div class="col-md-3 ">
                {% if not (path starts with '/synthese') %}
                          <a title="Aller à la synthèse du domaine {{domaine}}" class='btn btn-link full-width' href="{{ path("pericles3_synthese_domaine", {'id':domaine.id}) }}" > <i class='glyphicon glyphicon-stats'></i> Synthèse</a>
                {% else  %}
                    <span class='btn-inactif full-width'> <i class='glyphicon glyphicon-stats'></i> Synthèse</span>
                {% endif %}
                </div>

            
            </div>
            </div>
        </div>

                    
                    
 
{% endif %}



{% if dimension is defined %}
        <div id='navigation_transversale' class="panel panel-primary screen_only"> 
                    <div class="panel-heading"> <h3 class="panel-title">Navigation transversale / Dimension : {{dimension.numero}} -  {{dimension}} </h3> </div>
                    <div class="panel-body"> 
                      
             <div class="row"> 
                        
                <div class="col-md-6 ">
                {% if not ( path starts with '/eval' ) %}
                        <a title="Aller à l'évaluation de la dimension {{dimension}}" class='btn btn-link full-width'  href="{{ path("pericles3_dimension", {'id':dimension.id}) }}"><i class='glyphicon glyphicon-thumbs-up'></i> Evaluation</a>
                {% else  %}
                        <span class='btn-inactif full-width'><i class='glyphicon glyphicon-thumbs-up'></i>  Evaluation</span>
                {% endif %}
                </div>
                 
                <div class="col-md-6 ">
                {% if not (path starts with '/synthese') %}
                          <a title="Aller à la synthèse de la dimension {{dimension}}" class='btn btn-link full-width' href="{{ path("pericles3_synthese_dimension", {'id':dimension.id}) }}" > <i class='glyphicon glyphicon-stats'></i> Synthèse</a>
                {% else  %}
                    <span class='btn-inactif full-width'><i class='glyphicon glyphicon-stats'></i> Synthèse</span>
                {% endif %}
                </div>
            </div>
            </div>
        </div>
{% endif %}



{% if critere is defined %}
        <div id='navigation_transversale' class="panel panel-primary screen_only"> 
                    <div class="panel-heading"> <h3 class="panel-title">Navigation transversale / Critere : {{critere.numero}} -  {{critere}} </h3> </div>
                    <div class="panel-body"> 
                      
             <div class="row"> 
                        
                <div class="col-md-6 ">
                {% if not ( path starts with '/eval' ) %}
                        <a title="Aller à l'évaluation du critere {{critere}}" class='btn btn-link full-width'  href="{{ path("pericles3_critere", {'id':critere.id}) }}#0" > <i class='glyphicon glyphicon-thumbs-up'></i> Evaluation</a>
                {% else  %}
                        <span class='btn-inactif full-width'><i class='glyphicon glyphicon-thumbs-up'></i>  Evaluation</span>
                {% endif %}
                </div>
                 
                <div class="col-md-6 ">
                {% if not (path starts with '/synthese') %}
                          <a title="Aller à la synthèse  du critere  {{critere}}" class='btn btn-link full-width' href="{{ path("pericles3_synthese_critere", {'id':critere.id}) }}" > <i class='glyphicon glyphicon-stats'></i>Synthèse</a>
                {% else  %}
                    <span class='btn-inactif full-width'> <i class='glyphicon glyphicon-stats'></i>Synthèse</span>
                {% endif %}
                </div>
            </div>
            </div>
        </div>
{% endif %}



