{% set currentDomaine = app.session.flashbag.get('currentDomaine') %}
{% set path = app.request.server.get("REQUEST_URI") %}


{% if etab_titre is defined %}
                        {{etab_titre  | raw }}

{% endif %}

{% if app.user.gestionnaire or app.user.isCreai %}
    {% if etablissement  is defined %}
            <ul class="nav nav-tabs nav-justified screen_only">
                    <li role="presentation" class="{% if path starts with '/eval' %}active{% endif %}" ><a title='intégrez les résultats de vos investigations' href="{{ path("pericles3_eval_etablissement",{ 'id': etablissement.id}) }}" ><i class='glyphicon glyphicon-thumbs-up'></i> Evaluation</a></li> 
                    <li role="presentation" class="{% if path starts with '/paq' %}active{% endif %}"><a title='suivez la réalisation de votre PAQ' href="{{ path('pericles3_paq_organigramme_etablissement', {'id': etablissement.id}) }}"><i class='glyphicon glyphicon-export'></i> Plan d'Amélioration de la Qualité</a></li> 
                    <li role="presentation" class="{% if path starts with '/bibliotheque' %}active{% endif %}"><a title='une gestion automatisée des références qualité' href="{{ path('pericles3_bibliotheque_etablissement_id', {'id': etablissement.id})  }}"> <i class='glyphicon glyphicon-book'></i> Bibliotheque</a></li>
                    <li role="presentation" class="{% if path starts with '/synthese' %}active{% endif %}"><a title='production automatisée de rapports' href="{{ path('pericles3_synthese_etablissement', {'id': etablissement.id}) }}"><i class='glyphicon glyphicon-stats'></i> Synthèse</a></li>
            </ul>
    {% endif %}
{% else %}
     
    <ul class="nav nav-tabs nav-justified screen_only">
            <li role="presentation" class="{% if path starts with '/eval' %}active{% endif %}" ><a title='intégrez les résultats de vos investigations' href="{{ path("pericles3_evaluation", {}) }}" ><i class='glyphicon glyphicon-thumbs-up'></i> Evaluation</a></li> 
            <li role="presentation" class="{% if path starts with '/paq' %}active{% endif %}"><a title='suivez la réalisation de votre PAQ' href="{{ path("pericles3_paq", {}) }}"><i class='glyphicon glyphicon-export'></i> Plan d'Amélioration de la Qualité</a></li> 
            <li role="presentation" class="{% if path starts with '/bibliotheques' %}active{% endif %}"><a title='une gestion automatisée des références qualité' href="{{ path("pericles3_bibliotheque", {}) }}"> <i class='glyphicon glyphicon-book'></i> Bibliotheque</a></li>
            <li role="presentation" class="{% if path starts with '/syntheses' %}active{% endif %}"><a title='production automatisée de rapports' href="{{ path("pericles3_synthese", {}) }}"><i class='glyphicon glyphicon-stats'></i> Synthèse</a></li>
    </ul>
{% endif %}
                     
        
        
<br>  
                    
                    
                   
                    
{% if domaines is defined %}

<div id="MenuPrincipal" class="screen_only">

    
    {% if path starts with '/eval' or path starts with '/etablissement_' or path == '/'    %}
        <nav id="menu_domaine" class='menu_domaine_5'>
            {% for sdomaine in domaines %}
                {% set currentState = sdomaine.status() %}
                    <a title='{{ sdomaine.nom}}' 
                       class='status{{currentState}} outerContainer  {{ (currentDomaineId == sdomaine.id) ? 'menuSelected' : 'menuNotSelected' }} lien_menu_domaine' 
                       href="{{ path('pericles3_domaine', {'id': sdomaine.id}) }}">
                        {{ sdomaine.numero}} - {{ sdomaine.nomCourt}}</a>
                {% endfor %}
        </nav>
     {% else %}
        <nav id="menu_domaine" class='menu_domaine_5'>
            {% for sdomaine in  domaines %}
                <a class='{{ (sdomaine.id== currentDomaineId) ? 'menuSelected' : 'menuNotSelected' }} lien_menu_domaine' {% include 'Nuts/inc_href_domaine.html.twig'  with {'domaine_to_link_id': sdomaine.id} %}>{{ sdomaine.ordre}} - {{ sdomaine.nomCourt}}</a>
            {% endfor %}
        </nav>
     {% endif %}
    
    
    {% if path starts with '/eval' or path == '/' %}
        <div id="menu_domaine_pastilles"  class='menu_domaine_5 menu_domaine_5_pastilles'>
            {{ include("Nuts/inc_pastilles_domaines.html.twig") }}
        </div>
     {% endif %}
     
</div>
{% endif %}

 
  