         <div id="dimension_transversal" class="transversal">
             
             {% if dimension.PreviousDimension %}
                 <a title="{{dimension.PreviousDimension.numero}} : {{dimension.PreviousDimension}}" 
                    {% include 'Nuts/inc_href_dimension.html.twig'  with {'dimension_to_link_id': dimension.PreviousDimension.Id} %}
                    class="dir right actif"> < </a>
             {% else %}
                 <span class="dir left inactif"> < </span>
             {% endif %}
            <span class="transversal_nom">
                 <a 
                   {% include 'Nuts/inc_href_dimension.html.twig'  with {'dimension_to_link_id': dimension.Id} %}
                >
                     {{dimension.numero}} - {{dimension}}
                 </a>
                 
            </span>
             {% if dimension.NextDimension %}
                 <a title="{{dimension.NextDimension.numero}} : {{dimension.NextDimension}}" 
                    {% include 'Nuts/inc_href_dimension.html.twig'  with {'dimension_to_link_id': dimension.NextDimension.Id} %}
                    class="dir right actif"> ></a>
             {% else %}
                 <span class="dir right inactif"> > </span>
             {% endif %} 
        </div>
            