{% extends "BackOffice/layout.html.twig" %}

 

{% block body %}

    <h1><a href="{{ path('trash_index') }}">Trash</a></h1>
   
    <h2><a href="{{ path('trash_biblio') }}">Biblio</a></h2>
    <h3>{{biblio}}</h3>
    
    <li>--------->{{biblio.getRelativPathFolder}}</li>
    
    {% for fichier in fichiers %}
        <li>{{fichier}}  <a href="{{ path('trash_biblio_id_link', {'id':biblio.id, 'filename':fichier}) }}">LINK</a>
            
    {% endfor %}
                
{% endblock %}
 