{% set nb = 0 %}

{% extends "BackOffice/layout.html.twig" %}

 

{% block body %}
    <h1><a href="{{ path('trash_index') }}">Trash</a></h1>
   
    <h2>Etablissements / ref </h2>
    
            <table id='tab1' class='table table-triable'>
                <thead>
                    <th>Id</th>
                    <th>Etab</th>
                    <th colspan='2'>Domaines</th>
                    <th colspan='2'>Criteres</th>
                    <th colspan='2'>Questions</th>
                </thead>
                <tbody>
                      
                    

                        
            {% for etablissement in etablissements %}
                
                {% set etablissement_NbDomaines = etablissement.NbDomaines %}
                {% set etablissement_NbDomaines_ref = etablissement.getReferentielPublic.NbDomaines %}                
                
                {% set etablissement_NbCriteres = etablissement.NbCriteresCount %}
                {% set etablissement_NbCriteres_ref = etablissement.getReferentielPublic.NbCriteres %}                
                
                {% set etablissement_NbQuestions = etablissement.NbQuestionsCount %}
                {% set etablissement_NbQuestions_ref = etablissement.getReferentielPublic.NbQuestions %}                
                
                
                    {% if etablissement_NbDomaines_ref  != etablissement_NbDomaines or  etablissement_NbCriteres  != etablissement_NbCriteres_ref   or  etablissement_NbQuestions  != etablissement_NbQuestions_ref   %}
                        
                    {% set nb = nb + 1 %}
                        
                        <tr class='alert-danger'>
                        <td>{{etablissement.id}}</td> 
                        <td>{{etablissement}}</td> 
                        <td>{{etablissement.referentielPublic}}</td> 
                        <td>{{etablissement_NbDomaines}}</td> 
                        <td>{{etablissement_NbDomaines_ref}}</td> 
                        <td>{{etablissement_NbCriteres}}</td> 
                        <td>{{etablissement_NbCriteres_ref}}</td> 
                        <td>{{etablissement_NbQuestions}}</td> 
                        <td>{{etablissement_NbQuestions_ref}}</td> 
                    </tr>
                    {% endif %}
            {% endfor %}
                </tbody>
            </table>
                

{%  if nb == 0%}               
        <div class='alert alert-success'>Aucuns ref désuets ! </div>
{% endif %}
   
{#            
            <pre>{% for etablissement in etablissements %}{% if etablissement.getReferentielExterne is not empty  %}{% if etablissement.NbDomainesExterne  != etablissement.getReferentielExterne.NbDomaines %}php bin/console patch:etablissement-del-obs-ref-externe --etablissement_id={{etablissement.id}}
{% endif %}{% endif %}{% endfor %}
</pre>
#}
{% endblock %}
 




{% block javascripts %}
 
    
{%  if nb == 0%}               
    

    <script type="text/javascript">
    $(document).ready(function() {
        $('#tab1').hide();
    } ); 
    </script>



    {% endif %}


{% endblock %}
