{% extends "BackOffice/layout.html.twig" %}

{% block message_flash %}
{% endblock %}



{% block body %}

    <h1><a href="{{ path('trash_index') }}">Trash</a></h1>
   
    <h2>Preuves</h2>
                
    <div class='alert alert-warning'>
        {{ preuves | length }} preuves en tout
    </div>
    
    {% include "MessageFlash/messageFlash.html.twig" %}

    
    
        
{% endblock %}

{% block out_container  %}
    {% set nb_preuves = 0 %}
    {% set sql_preuves = 'Select * FROM preuve WHERE false' %}
            <table class='table table-bordered table-triable'>
                <thead>
                            <tr>
                            <th>preuve</th>
                            <th>Critere / </th>
                            <th>Etablissement</th>
                            <th>user</th>
                            <th>Role</th>
                            <th>fichier</th>
                            <th>date</th>
                            <th>Existe</th>
                            <th>-</th>
                            <th>sql</th>
                </thead>
                <tbody>
                    {% for preuve in preuves %}
                            {% set nb_preuves = nb_preuves + 1 %}
                            <tr>
                                <td>{{preuve}}</td>
                                <td>
                                    {% if preuve.critere is not empty %}
                                        <a href="{{path("pericles3_critere", {'id':preuve.critere.id})}}">Critere</a>
                                    {% elseif preuve.ObjectifOperationnel  is not empty %}
                                        <a href="{{path("paq_ooa_show", {'id':preuve.ObjectifOperationnel.id})}}">OO</a>
                                    {% else %}
                                        <a href="{{path("pericles3_domaine", {'id':preuve.domaine.id})}}">Domaine</a>
                                    {% endif  %}
                                                                
                                </td>
                                {% include "BackOffice/Etablissement/inc_td_etablissement.html.twig" with {'etablissement':preuve.etablissement}  %}            
                                <td>{{preuve.user}}</td>
                                <td>{{preuve.user.rolePrincipal}}</td>
                                <td class='alert-danger'>{{preuve.getRelativPath}}</td>
                                <td>{{preuve.dateCreate | date("Y-m-d")}}</td>
                                {% if preuve.getFileExistInBilioEtab %}
                                    <td class='alert-success'>Existe dans B. Etablissement</td>
                                    <td class='alert-success'>{{preuve.getFileExistInBilioEtab}}</td>
                                {% elseif  preuve.getFileExistInBilioGestionnaire %}
                                    <td class='alert-success'>Existe dans B. Gestionnaire</td>
                                    <td class='alert-success'>{{preuve.getFileExistInBilioGestionnaire}}</td>
                                {% else %}
                                    <td class='alert-danger'>Existe pas</td>
                                    <td class='alert-danger'>-</td>
                                {% endif %}
                                <td>Select * FROM preuve WHERE id={{preuve.id}};</td>
                                {% set sql_preuves = sql_preuves ~ ' or id='  ~ preuve.id ~  '' %}

                            </tr>

                    {% endfor %}
                </tbody>
            </table>
                <pre>{{sql_preuves}}</pre>
    <div class='alert-warning'>
        {{ nb_preuves }} preuves sans fichier
    </div>
    <p>

        <a class='btn btn-danger' href="{{ path('trash_preuves_link_biblio') }}">!!!!  LIER les preuves !!!! </a></h1>

     
 
 
{% endblock %}
 