
        

        {% for critere in Criteres %}
            {% set currentState = critere.getStatus() %}
            <table class='critere' width="100%">
                <tr>
                    <td>
                            {% if externe %}
                                {{ loop.index }} - 
                            {% else %}
                                {{ critere.numero }} - 
                            {% endif %}
                            {{ critere.nom }}
                            
                            {% if currentState==3 %}
                                <span style="color:green">Terminé</span>
                            {% else %}
                                <span style="color:{% if currentState==3 %}green{% elseif currentState==2 %}orange{% elseif currentState==1 %}#777777{% endif %};">{% if currentState==3 %}[Terminé]{% elseif currentState==2 %}[En cours]{% elseif currentState==1 %}[Non démarré]{% endif %}</span>
                            {% endif %}
                    </td>                                                            
                            
                            
                    {% if not externe %}
                        <td width='100px' style="font-size:2em;text-align: right;">
                            {{critere.note | formatNoteSimple}} 
                            {% set img_note = critere.note | formatNoteNuage %}
                            {{ img_note | getImageExport(typeExport) | raw }}
                        </td>
                    {% endif %}

                </tr>
    
      
       
            </table>
                
                
            <div class='critere_detail'>
                
                

                
       {% include "Synthese/export/inc/rbpp/rbpp_simple.html.twig"  %}
       
       {% include "Synthese/export/inc/questions/inc_questions_reponses_conserver_ameliorer.html.twig" with { "questions" : critere.questions } %}

       
        {% include "Synthese/export/inc/constats/constats_simple.html.twig" %}
           
           
                
                
                {% if critere.preuves|length > 0 %}
                    <h4>Portefeuille de preuves</h4>
                            {% include "Synthese/export/inc/preuves/inc_preuves_link.html.twig" with {'preuves':critere.preuves }%}
                {% endif %} 
                
                
                
                {% if critere.NbObjectifsOperationnel > 0 %}
          {% include "Synthese/export/inc/objectifs/inc_ooa_simple.html.twig" with { "objectifs" : critere.objectifs } %}
                {% endif %}
                
    
                
               </div> 
               
               
                
                
            {% endfor %}
        
        
