    
    {% if dateMin is defined %}
        {% set NbObjs = domaine.NbObjectifsSince(dateMin) %}
    {% else %}
        {% set NbObjs = domaine.NbObjectifs %}
    {% endif  %}
    
    {% if NbObjs  == 0 %}
        <div class='alert alert-warning'>
            Vous n'avez pas d'objectifs pour ce domaine.
            {% if dateMin is defined %}
            depuis le {{dateMin|date("d/m/Y")}}.
                    {% endif  %}
            </div>
    {% else  %}
        

        {% include "Synthese/export/inc/inc_osa.html.twig" %}

        {% for dimension in domaine.Dimensions  | order %}
            
            
                    {% if (dateMin is defined) %}
                        {% set DimNbObjectifs  = dimension.getNbObjectifsSince(dateMin) %}
                    {% else %}
                        {% set DimNbObjectifs = dimension.NbObjectifsOperationnel %}
                    {% endif  %}
            
            {% if DimNbObjectifs  > 0 %}
                
                <h2 id="dimension_{{dimension.id}}" name="dimension_{{dimension.id}}" >Dimension {{ domaine.ordre }}.{{ dimension.ordre }} <small>{{ dimension.nom }}</small></h2>
                {% for critere in dimension.criteres | order %}
                    
                    
                    {% if (dateMin is defined) %}
                        {% set objectifs = critere.getObjectifsSince(dateMin) %}
                    {% else %}
                        {% set objectifs = critere.objectifs %}
                    {% endif  %}
  
                    {% if objectifs | length > 0 %}
                        <h3>{{ critere.numero }} -  {{ critere.nom }}</h3>
                        {% include "Synthese/export/inc/objectifs/inc_ooa_tabcomplet.html.twig" with {   "affichePreuve" : true }  %}
                        
                        
                        
                        
                    {% endif %}
                {% endfor %}
                <br>
            {% endif %}
        {% endfor %}
    {% endif %}
        