

{{  header | getImageExport(typeExport,"100%") | raw }}



<div class='main_titre'>{{titre_synthese}}<br></div>
<h2 class='center'>{{etablissement}}</h2>

<div class='date_eval'>
export du {{ 'now'|date('d-m-Y  H:i') }}
</div>
{% if etablissement.hasLogo %}
   <div class='logo_etablissement'>
     {{etablissement.LogoPath | getImageExport(typeExport,0,'200px') | raw }}
    </div>
{% endif %}
    
