{% extends "BackOffice/layout.html.twig" %}

{% block out_container  %}

{{ parent() }}    


<h1><a href="{{ path('facture_index') }}">Factures</a></h1>
    <h2><a href="{{ path('facture_show', { 'numFacture': facture.numFacture }) }}">{{facture}}</a></h2>

<div class='row'>
    <div class='col-md-6'>
        
        
        
        {{ form_start(edit_form) }}
        
        
        
        
        {{ form_widget(edit_form) }}
                 {{ include("Nuts/cancelsave.html.twig") }}
    {{ form_end(edit_form) }}
    </div>
    <div class='col-md-6'>
        {% if facture.hasPDF %}
            <iframe height='1000px' width='100%' src="{{ path('facture_get_pdf', { 'numFacture': facture.numFacture }) }}"></iframe>
        {% else %}
            <div class='alert alert-danger'>Pas de fichier pour cette facture</div>
        {% endif %}
    </div>
</div>

{% endblock %}


{% block javascripts %}
    
    <script>
        $('#pericles3bundle_facture_etablissement').autocompleter({
    url_list: '{{ path('pericles3_backoffice_formsearch_etablissement') }}',
    url_get: '{{ path('pericles3_backoffice_formsearch_get_etablissement') }}_'
});
        
        $('#pericles3bundle_facture_gestionnaire').autocompleter({
    url_list: '{{ path('pericles3_backoffice_formsearch_gestionnaire') }}',
    url_get: '{{ path('pericles3_backoffice_formsearch_get_gestionnaire') }}_'
});
        
    </script>
{% endblock %}

