
{% if facture.contact %}
    <div class='alert alert-info'>
        <h4>Contact</h4>
        <ul>
        {% if  facture.contactFacturationNom %}
                <li><b>Nom : </b>{{ facture.contactFacturationNom }}
        {% endif  %}
        {% if  facture.contactFacturationEmail %}
                <li><b>Email : </b> <a href='mailto:{{ facture.contactFacturationEmail }}?subject=Facture {{ application_name }} {{ facture }} impayée&body=Vous n’avez toujours pas reglé la facture {{ facture }} pour l’application {{ application_name }}...'>{{ facture.contactFacturationEmail }}</a>
        {% endif  %}
        {% if  facture.contactFacturationTelephone %}
                <li><b>Téléphone : </b> {{ facture.contactFacturationTelephone }}
        {% endif  %}
        </ul>
    </div>
{% else %}
    <div class='alert alert-warning'>
        Pas de contact facturation
                        

        {% if is_granted('ROLE_SUPER_ADMIN_COMPTA_EDIT') %}
            <a class='btn btn-block btn-warning' href="{{ path('facture_edit_contact', { 'numFacture': facture.numFacture }) }}">Modifier le contact de facturation</a>
        {% endif  %}

                        
    </div>
{% endif %}
    
