            {% set total = 0  %}

            <table class='table table-bordered table-triable'>
                <thead> 
                    <tr>
                        <td>Etabissement</td>
                        <td>Montant</td>
                        <td>DateDebut</td>
                        <td>DateFin</td>
                        <td>Last</td>
                        <td>Action</td>
                    </tr> 
                </thead> 
                <tbody> 
                                
                    {% for presta  in facture.getFacturePrestas %}
                        
                        {% if presta.gestionnaire  %}
                            <tr class='alert-info'>
                        {% else  %}
                            <tr>
                        {% endif  %}
                        
                        {% if presta.etablissement  %}
                            {% if presta.etablissement.finContrat %}
                                <td class='fincontrat' title='Contrat TERMINE :  {{  presta.etablissement.category.commentaire}}'>{{presta}}</td>
                            {% else  %}
                                <td>{{presta}}</td>
                            {% endif  %}
                        {% endif  %}


                            <td>{{presta.montant}} €</td>
                            
                            {% if presta.getDateFiff2 > 100 or presta.getDateFinLointaine %}
                                {% set class_presta='danger' %}
                            {% elseif presta.getDateFiff2 > 5 %}
                                {% set class_presta='warning' %}
                            {% else %}
                                {% set class_presta='success' %}
                            {% endif %}
                            <td class='alert-{{class_presta}}'>{{presta.DateDebut | date('d/m/Y')}} </td>
                            <td class='alert-{{class_presta}}'>{{presta.DateFin | date('d/m/Y')}} </td>
                            {#
                            <td>{{presta.concerne.firstFacturePresta.dateEmission| date('d/m/Y')}} </td>
                            #}
                            
                            <td>
                                {%  if presta.isLastFacturePresta %}
                                    <i class="glyphicon glyphicon-ok greenText"></i>
                                {% endif %}
                            </td>
                            
                            
                            
                            
                            <td> 
                                {% if is_granted('ROLE_SUPER_ADMIN_COMPTA_EDIT') and facture.notFinalized %}
                                    <i  data-invite="Voulez-vous supprimer cette prestation ?" class='DeleteBoxBefore glyphicon glyphicon-trash btn btn-danger'   data-url_delete="{{ path('facture_delete_presta', {'id':presta.id}) }}" >  </i>
                                {% endif %}
                                {% if presta.etablissement %}
                                    <i class=' btn btn-primary show_prestas glyphicon glyphicon-info-sign' data-id_etablissement='{{ presta.etablissement.id }}'></i>
                                {% endif %}
                                {% if presta.gestionnaire  %}
                                     <a  class='icon' href='{{ path('backoffice_gestionnaire_show', {'id': presta.gestionnaire.id}) }}'>{{'gestionnaire' | get_icon | raw }} </i> 
                                {% endif %}
                            </td>
                          
  
                            

                            
                        </tr>
                    {% set total = total  + presta.montant %}
                    {% endfor %}
                    
                     {% if facture.remise %}
                        {% set total = total  - facture.MontantRemise%}
                        <tr class='alert-success'> 
                            <th>Remise {{facture.remise }}
                                {% if facture.remiseLibelle %}
                                    ({{facture.remiseLibelle}})
                                {% endif %}
                            </th>
                            <th>- {{facture.MontantRemise}}€</th>
                            <td colspan='3'> </td>
                        </tr>
                    
                    {% endif %}
                <tbody> 
                <tfooter> 
                        <tr> 
                            <th>Total : </th>
                            <th>{{total}} €</th>
                            <td colspan='3'> </td>
                        </tr>
                </tfooter> 
                    </table>