
        <div class="row">
            
            
        {% if factures_non_finalisees | length >0 %}
            <div class="col-md-3">
                <div class="panel panel-warning">
           
                    <div class="panel-heading"> <h3 class="panel-title"><i class='glyphicon glyphicon-king'></i>Factures non finalisées</h3> </div>
                        <table class='table table-bordered'>
                      <tbody>
                          {% for etablissement_facture_afaire in factures_non_finalisees %}
                              <tr>
                                    <td><a href="{{ path('facture_show', { 'numFacture': etablissement_facture_afaire.numFacture }) }}">{{  etablissement_facture_afaire.numFacture }}</a></td>
                               
                                    <td>{{etablissement_facture_afaire.dateEmission |date('Y-m-d') }}</td>
                                    <td>{{etablissement_facture_afaire.concerne }}</td>
                              </tr>
                          {% endfor%}
                      </tbody>
                  </table>                    
                </div>
                </div>
        {% endif  %}   
                      
            
        <div class="col-md-3">
             {% if gestionnaires_sans_facture | length >0 %}
                <div class="panel panel-danger">
             {% else %}
                <div class="panel panel-success">
            {% endif  %}              <div class="panel-heading"> <h3 class="panel-title"><i class='glyphicon glyphicon-king'></i>Gestionnaires sans factures </h3> </div>
                  <table class='table table-bordered'>
                      <tbody>
                          {% for gestionnaire_sans_facture in gestionnaires_sans_facture %}
                              <tr><td><a href="{{ path('backoffice_gestionnaire_show', { 'id': gestionnaire_sans_facture.id }) }}">{{gestionnaire_sans_facture}}</a></td></tr>
                          {% endfor%}
                      </tbody>
                  </table>
            </div>
        </div>
                      
        <div class="col-md-3">
               {% if etablissements_sans_facture | length >0 %}
                <div class="panel panel-danger">
             {% else %}
                <div class="panel panel-success">
            {% endif  %} 
              <div class="panel-heading"> <h3 class="panel-title"><i class='glyphicon glyphicon-king'></i>Etablissements sans factures </h3> </div>
                  <table class='table table-bordered'>
                      <tbody>
                          {% for etablissement_sans_facture in etablissements_sans_facture%}
                              {% if etablissement_sans_facture.HasGestionnaireSansFacture %} 
                              <tr class='grisee'>
                                {% else  %}
                              <tr>
                                {% endif  %}
                                  <td><a href="{{ path('backoffice_etablissement_view', { 'id': etablissement_sans_facture.id }) }}">{{etablissement_sans_facture}}</a>
                                      <p class='small'>{% if etablissement_sans_facture.HasGestionnaireSansFacture %} ({{etablissement_sans_facture.gestionnaire}})</p> {% endif  %}
                                  </td>
                                </tr>
                          {% endfor%}
                      </tbody>
                  </table>
            </div>
        </div>
             
            
         <div class="col-md-3">
             
             {% if NbFacturesARenouveller>0 %}
                <div class="panel panel-danger">
             {% else %}
                <div class="panel panel-success">
            {% endif  %}
                 
              <div class="panel-heading"> <h3 class="panel-title"><i class='glyphicon glyphicon-king'></i> {{NbFacturesARenouveller}} Factures à renouveller</h3> </div>
                  <table class='table table-bordered'>
                      <tbody>
                          {% for etablissement_facture_afaire in FacturesARenouveller %}
                              <tr>
                                    <td><a href="{{ path('facture_show', { 'numFacture': etablissement_facture_afaire.numFacture }) }}">{{  etablissement_facture_afaire.numFacture }}</a></td>
                               
                                    <td>{{etablissement_facture_afaire.dateEmission |date('Y-m-d') }}</td>
                                    <td>{{etablissement_facture_afaire.concerne }}</td>
                              </tr>
                          {% endfor%}
                      </tbody>
                  </table>
            </div>
       </div>
                 
                
                
        {% set facts = '' %}
        {% set nb_facts = 0 %}
                
        
                                                                                                                                                                                                         
        {% for facture in factures_a_echeances %}
            
                 {% if is_granted('ROLE_SUPER_ADMIN_COMPTA_EDIT') and facture.Finalise and facture.FacturePrestasAllLast%}
                            {% if facture.getPlusdunAn15jours  %}
                                {% set nb_facts = nb_facts + 1 %}
                                    {% if facture.getFinalise %}
                                        {% set facts = facts ~ ' <tr><td class="alert-info"><a href="' ~ path('facture_show', { 'numFacture': facture.numFacture }) ~ '">' ~  facture.numFacture ~ '</a></td>' %}  
                                    {% else %}
                                        {% set facts = facts ~ ' <td class="alert-warning"><a href="' ~ path('facture_show', { 'numFacture': facture.numFacture }) ~ '">' ~  facture.numFacture ~ '</a></td>' %}  
                                    {% endif %}
                                    {% set facts = facts ~ '<td>' ~ facture.concerne ~ '</td>' %}
                                    {% set facts = facts ~ '<td>' ~ facture.dateEmission|date('Y-m-d') ~ '</td> </tr>' %}
                            {% endif %}     
                {% endif %}     
        {% endfor %}
         
        
        
        
         <div class="col-md-3">
             
             {% if nb_facts>0 %}
                <div class="panel panel-warning">
             {% else %}
                <div class="panel panel-success">
            {% endif  %}
                 
              <div class="panel-heading"> <h3 class="panel-title"><i class='glyphicon glyphicon-king'></i>  {{nb_facts}}   Prochaines factures arrivant à échéances </h3> </div>
                          {% if facts is not empty   %}
                          <table class='table table-bordered'>
                                <thead> <tr><th>Numfacture</th><th>Concerne</th><th>Date Emission</th></tr></thead>
                                <tbody>  
                                        {{facts | raw }} 
                              </tbody>
                          </table>
                        {% endif %}     
                </div>
            </div>
        
            </div>
                 
                        
                        
                        
                        
                        
              