 
  <div class="btn-group btn-group-justified" role="group" aria-label="...">
    <div class="btn-group" role="group">
          <a href="{{ path('facture_index') }}" class="btn btn-primary "><i class='glyphicon glyphicon-home'></i></a>
    </div>
    <div class="btn-group" role="group">
          <a href="{{ path('facture_index_all') }}" class="btn btn-default ">Toutes</a>
    </div>
    <div class="btn-group" role="group">
          <a href="{{ path('facture_renew') }}" class="btn btn-default ">A Renouveller</a>
    </div>
    
      {% for year in ActivityYears %}
        <div class="btn-group" role="group">
            <a class="btn btn-default" href="{{ path('facture_index_year', { 'year': year }) }}" class="list-group-item">{{year}}</a>
        </div> 
      {% endfor %}
    <div class="btn-group" role="group">
          <a href="{{ path('facture_apayer') }}" class="btn btn-default ">A payer</a>
    </div>
</div>
     
    <p>
        
