{% extends "BackOffice/layout.html.twig" %}

{% block title %}{{ parent() }} - Factures {% endblock %}

{% block out_container  %}

{{ parent() }}    


<h1><a href="{{ path('facture_index') }}">Factures</a></h1>


        {% include 'BackOffice/facture/inc_menu.html.twig' %}

        
{%  if prestas_a_revoir | length > 0 %}

    
    <div class='panel panel-danger'>
            <div class="panel panel-danger">
              <div class="panel-heading"> <h3 class="panel-title"><i class='glyphicon glyphicon-king'></i>Prestas a revoir !!!! !</h3> </div>
                  {% include "BackOffice/facture/presta_list.html.twig" with {'prestas':prestas_a_revoir} %} 
            </div>
        </div>
    </div>
    
{%  endif %}




        {% include 'BackOffice/facture/inc_main_row.html.twig' %}
 
                        
                        
                        
                        
                        
        
                        
                        
                        
       <div class="row">                   
                        
                      
         <div class="col-md-6">
            <div class="panel panel-danger">
              <div class="panel-heading"> <h3 class="panel-title"><i class='glyphicon glyphicon-king'></i> {{sommeAPayer}}€ de factures en attente de paiments </h3> </div>
                  <table class='table table-bordered'>
                      <tbody>
                        {% include 'BackOffice/facture/small_factures2.html.twig'  with {'factures' :  factures_a_payer_old } %}
                      </tbody>
                  </table>
              <div class="panel-footer">          <a href="{{ path('facture_apayer') }}" class="btn btn-default ">Voir toutes les facture à payer </a>              </div>
            </div>
        </div>
                      
                      
       </div>
           
                      
    
    

{% endblock %}
