
{% if etablissement.category.reel %}
      <h1  title='{{ etablissement.category.commentaire}}'>{{ etablissement.nom }}</h1>
{% elseif etablissement.finContrat %}
     <h1 class='fincontrat' title='Contrat TERMINE :  {{ etablissement.category.commentaire}}'><br> {{ etablissement.nom }}</h1>
{% else %}
     <h1 class='alert-warning' title='{{ etablissement.category.commentaire}}'>{{ etablissement.nom }}</h1>
{% endif %}
 
{%  if  etablissement.gestionnaire %}
<h2>{{ etablissement.gestionnaire}}</h2>

{# dump(etablissement.getPrestasNotAVoir) #}

{%  endif  %}
<table class='table table-striped table-condensed '> 
    <tr>
        <th>Etablissement créer le : </th>
        <td>{{ etablissement.CreatedDate | date('d M Y')}}</td>
    </tr>
</table>
     



{% include "BackOffice/facture/presta_list.html.twig" %} 


</div>

 

