{% extends 'base.html.twig' %}

{% block body %}
    <h1>Facture creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('facture_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}




{% block javascripts %}
    
    <script>
        $('#pericles3bundle_facture_etablissement').autocompleter({
    url_list: '{{ path('pericles3_backoffice_formsearch_etablissement') }}',
    url_get: '{{ path('pericles3_backoffice_formsearch_get_etablissement') }}_'
});
        
        $('#pericles3bundle_facture_gestionnaire').autocompleter({
    url_list: '{{ path('pericles3_backoffice_formsearch_gestionnaire') }}',
    url_get: '{{ path('pericles3_backoffice_formsearch_get_gestionnaire') }}_'
});
        
    </script>
{% endblock %}

