<table class='table table-bordered table-triable'> 
    <thead>
        <tr>
            <td>Facture</td>
            <td>id</td>
            <td>Renouvel</td>
            {%  if etablissement is not defined  %}
            <td>Concerne</td>
            <td>Concerné Date de création</td>
            {%  endif  %}
            <td> Facture DateEmission </td>
            <td> Date Début</td>
            <td> Date de fin </td>
            <td> creaplus </td>
            <td> Diff</td>
            <td> Last</td>
            <td>Montant </td>
            {% if  is_granted('ROLE_MEGA_ADMIN')  %}
                <td></td>
            {% endif %}
        </tr>
    </thead>
    <tbody>
    {% for presta in prestas %}
        
            
            {% if facture is defined %}
                {% if facture == presta.facture %}
                    <tr  class="font-weight-bold text-uppercase">
                {% else %}
                    <tr>
                {% endif %}
            {% else %}
                <tr>
            {% endif %}
            
      
        
                
                {% if presta.facture.Avoir %}
                    <td class='alert-danger facture-annullee'><a href="{{ path('facture_show', { 'numFacture': presta.facture.numFacture }) }}">{{ presta.facture.numFacture }}</a></td>
                {% elseif presta.facture.getFinalise %}
                    <td class='alert-info'><a href="{{ path('facture_show', { 'numFacture': presta.facture.numFacture }) }}">{{ presta.facture.numFacture }}</a></td>
                {% else %}
                    <td class='alert-warning'><a href="{{ path('facture_show', { 'numFacture': presta.facture.numFacture }) }}">{{ presta.facture.numFacture }}</a></td>
                {% endif %}

                <td><a href="{{ path('facture_index_presta_show', { 'id': presta.id }) }}">{{presta.id}}</a></td>
                
                <td title="{{presta.RenouvellementLib}}">{{presta.Renouvellement}}</td>

                
                {%  if etablissement is not defined  %}

                    {% if presta.ConcerneTypeLib =='GESTIONNAIRE' %}
                        <td>{{'gestionnaire' | get_icon | raw}}    <a href="{{ path('backoffice_gestionnaire_show', { 'id': presta.concerne.id }) }}">{{presta.concerne}}</a></td>          
                    {% else %}
                        {% if presta.concerne.GetFinContrat %}
                            <td title="L'établissement à mis fin a son contrat" class='alert-danger'>{{'etablissement' | get_icon | raw}}    <a href="{{ path('backoffice_etablissement_view', { 'id': presta.concerne.id }) }}">{{presta.concerne}}</a></td>
                        {% else %}
                            <td>{{'etablissement' | get_icon | raw}}    <a href="{{ path('backoffice_etablissement_view', { 'id': presta.concerne.id }) }}">{{presta.concerne}}</a></td>
                        {% endif %}
                    {% endif %}
                <td> {{presta.concerne.CreatedDate | date('Y-m-d')  }}</td>
                {% endif %}

                <td>{{presta.Facture.DateEmission | hiddenDate | raw}}</td>
                {% if presta.DateFiff2 > 0 %}
                    {% set tmp_class= 'alert-danger' %}
                {% else %}
                    {% set tmp_class= 'alert-default' %}
                {% endif  %}
                
                <td class='{{tmp_class}}'>{{presta.getDateDebut| hiddenDate | raw}}</td>
                <td class='{{tmp_class}}'>{{presta.DateFin | hiddenDate | raw}}</td>

                {% if  presta.facture.Avoir %}
                    <td class='{{tmp_class}}'>-</td>
                    <td class='{{tmp_class}}'>-</td>
                {% else  %}
                    <td class='{{tmp_class}}'>{{presta.DateFinCalcule | hiddenDate | raw}}</td>
                    <td class='{{tmp_class}}'>{{presta.DateFiff2 }}</td>
                {% endif  %}
                
                            <td>
                                {%  if presta.isLastFacturePresta %}
                                    <i class="glyphicon glyphicon-ok greenText"></i>
                                {% endif %}
                            </td>

                            <td>{{presta.Montant}} €</td>
            {% if  is_granted('ROLE_MEGA_ADMIN')  %}
                 <td> <a href="{{ path('facture_presta_edit', { 'id': presta.id }) }}"><i alt='modifier' class='glyphicon glyphicon-pencil'></i></a> </td>
            {% endif %}
            </tr>
    {% endfor %}
    </tbody>
</table>
    
    
    
    
    