{% extends "BackOffice/layout.html.twig" %}

{% block out_container  %}

{{ parent() }}    


<h1><a href="{{ path('facture_index') }}">Factures</a></h1>
<h2>Prestas </h2>

 
{% include 'BackOffice/facture/inc_menu.html.twig' %}


{% if presta is defined %}
     
<table class='table table-bordered table-triable'>
    <thead>
        <tr>
            <td>Facture</td>
            <td>Concerne</td>
            <td>Concerné Date de création</td>
            <td> Facture DateEmission </td>
            <td> DIFF </td>
            <td> creaplus </td>
            <td>presta.id</td>
            <td>presta.Montant </td>
            <td>MontantLib</td>
            <td>Renouvellement</td>
            <td>Commentaire</td>
        </tr>
    </thead>
    <tbody>
 
    <tr>
        {% if presta.facture.getFinalise %}
            <td class='alert-info'><a href="{{ path('facture_show', { 'numFacture': presta.facture.numFacture }) }}">{{ presta.facture.numFacture }}</a></td>
        {% else %}
            <td class='alert-warning'><a href="{{ path('facture_show', { 'numFacture': presta.facture.numFacture }) }}">{{ presta.facture.numFacture }}</a></td>
        {% endif %}
        
        <td>
            
                  {% if presta.ConcerneTypeLib =='GESTIONNAIRE' %}
                          {{presta.concerne}}
                    {% else %}
                          <a href="{{ path('backoffice_etablissement_view', { 'id': presta.concerne.id }) }}">{{presta.concerne}}</a>
                    {% endif %}
            </td>
        
        <td>{{presta.concerne.CreatedDate | date('Y-m-d H:i:s')   }}</td>
        
        <td>{{presta.Facture.DateEmission | hiddenDate | raw}}</td>
        <td>{{presta.DateFiff }}</td>
        <td>{{presta.DateCreaPlus | hiddenDate | raw}}</td>
        <td>{{presta.id}}</td>
        <td>{{presta.Montant}}</td>
        <td>{{presta.MontantLib}}</td>
        <td>{{presta.RenouvellementLib}}</td>
        <td>{{presta.Commentaire}}</td>
        
       
    </tr>
    
    </tbody>

</table>
           
    
    <h2>{{presta.concerne}}</h2>
    
    
    
          {% include "BackOffice/Etablissement/inc_show.html.twig" with {'etablissement':presta.concerne}%} 
 
    
    
{% else  %}

    {% include "BackOffice/facture/presta_list.html.twig" %} 
    
                      
    
{% endif %}
    

{% endblock %}
