{% extends "BackOffice/layout.html.twig" %}

{% block message_flash %}
{% endblock %}

{% block title %}{{ parent() }} - {{facture}} {% endblock %}

{% block out_container  %}

{{ parent() }}    

    <h1><a href="{{ path('facture_index') }}">Factures</a></h1>

    {% if facture.getAvoir  %}
        <h2 class='fincontrat'><a href="{{ path('facture_show', { 'numFacture': facture.numFacture }) }}">{{facture}}</a></h2>
    {% else %}
        <h2><a href="{{ path('facture_show', { 'numFacture': facture.numFacture }) }}">{{facture}}</a></h2>
    {% endif %}

<div class='row'>
    <div class='col-md-3'>
        {% if facture.getAvoir  %}
            <div class='alert  btn-with-big-ico alert-danger'>
                <center>La facture est annulé !!!
                <i class='glyphicon glyphicon glyphicon-exclamation-sign'></i>
                un avoir a été effectué ! 
            </center>
            </div>
            
            <div class='alert alert-danger'>{% include 'BackOffice/facture/inc_show.html.twig' %}</div>
        {% elseif facture.Finalise %}
            <div class='alert alert-success'>La facture est finalisée</div>
            {% include 'BackOffice/facture/inc_show.html.twig' %}
        {% else  %}
            <div class='alert btn-with-big-ico alert-warning'><center>La facture n'est pas finalisée</center><i class='glyphicon glyphicon glyphicon-exclamation-sign'></i></div>
            
            <a class='btn btn-block btn-primary' target='blank' href='{{ path('facture_show_pdf', { 'numFacture': facture.numFacture }) }}'><i class='glyphicon glyphicon-eye-open'>Prévisualiser la facture </i></a>
            <br>
            {% include 'BackOffice/facture/inc_show.html.twig' %}
        {% endif %}

        
        {% if is_granted('ROLE_SUPER_ADMIN_COMPTA_EDIT') %}
            
            {% if facture.NotFinalized %}
                <a class='btn btn-warning' href="{{ path('facture_edit', { 'numFacture': facture.numFacture }) }}">Modifier la facture</a>
                
                {% if facture.genere and lastFacture.numFacture == facture.numFacture %}
                    <a class='btn btn-danger' href="{{ path('facture_delete', { 'numFacture': facture.numFacture }) }}">Supprimer la facture</a>
                {% endif %}
                
            {% else %}
                <div>
                        <a class='btn btn-block btn-danger' href='{{ path('facture_unfinalise', { 'numFacture': facture.numFacture }) }}'>Considérer la facture <br>comme non finalisée !!!! </a>
                        <br>

                        {% if not facture.getAvoir  %}
                                <span class="btn-block DeleteBoxBefore btn btn-danger  btn-block" data-btn_lib="AVOIR - (avoir, désactivation des établissements)" data-invite="Attention, si la facture n'a pas été envoyé et que c'est la dernière, vous devez la supprimer. dans le cas contraire, il faut aller manuellement mettre le gestionnaire et/ou les établissements en fin de contrat." data-url_delete="{{ path('facture_avoir', { 'numFacture': facture.numFacture }) }}"  ><i class='glyphicon glyphicon-warning-sign'></i> Facture annulée (AVOIR) <i class='glyphicon glyphicon-warning-sign'></i>   </span>
                          <br>
                            {% endif %}
                </div>



            {% endif %}
        {% endif %}
        
        {% if facture.Concerne  %}

            <div class='panel panel-primary'>
            {% if facture.getConcerneTypeLib =='GESTIONNAIRE'  %}
        
                <div class='panel-heading'>Gestionnaire <a href='{{ path('backoffice_gestionnaire_show', { 'id': facture.Concerne.id}) }}'>{{facture.Concerne}}</a></div>        
                <div class='panel-body'>
                
                    {% include 'BackOffice/Gestionnaire/inc_show.html.twig' with {'gestionnaire' : facture.Concerne } %}
                
                   {% include "BackOffice/facture/small_factures.html.twig" with {'factures': facture.Concerne.factures} %}                
                
                </div> 
                {% else  %}
                    <div class='panel-heading'>Etablissement :      <a   href='{{ path('backoffice_etablissement_view', {'id':facture.Concerne.id}) }}'>{{'etablissement' | get_icon | raw }} {{facture.Concerne}}</a></div>        
                    <div class='panel-body'>
                    {% include 'BackOffice/Etablissement/inc_show.html.twig' with {'etablissement' : facture.Concerne } %}
                    {% include "BackOffice/facture/small_factures.html.twig" with {'factures': facture.Concerne.facturesAll} %}                
                    </div>
                     
                {% endif %}
            </div>
            
        
        {% endif %}
        
         
    </div>
    <div class='col-md-5'>
                
            {% include "MessageFlash/messageFlash.html.twig" %}

            {# if is_granted('ROLE_SUPER_ADMIN_COMPTA_EDIT') and facture.Finalise and facture.isLastFacture #}
            {% if is_granted('ROLE_SUPER_ADMIN_COMPTA_EDIT') and facture.Finalise and facture.FacturePrestasHasLast%}
                {% if facture.getPlusdunAn  or facture.getPlusdunAn15jours   %}
                        <div class='alert alert-danger'>
                        {% if facture.getPlusdunAn15jours  %}
                            La facture doit être renouveller très prochainement
                        {% else %}
                            La dernière facture à plus d'un an !!! 
                        {% endif %}
                        <br><a class='btn btn-danger full-width' href='{{ path('facture_new_fromfacture', { 'numFacture': facture.numFacture }) }}'>
                            Créer une nouvelle Facture à partir de celle ci ! </a>
                        </div>
                {% endif %}
            
            {% endif %}
        
            

            {% if facture.notFinalized  %}
                    {% if facture.getConcerneTypeLib =='GESTIONNAIRE'  %}
                        {% if facture.getConcerne %}
                                    {% if not facture.HasPrestaGestionnaire and not facture.getConcerne.HasFacturePrestas and facture.concerne.category.id == 1 %}
                                          {% include 'BackOffice/facture/add/add_gestionnaire_module.html.twig'   %}
                                    {% endif %}
                                    {% include 'BackOffice/facture/add/add_gestionnaire_etablissement.html.twig'   %}
                        {% endif %}
                    {% else  %}
                                {% set next_indice = facture.getConcerne.NewFactureRenouvellementIndice %}
                                
                                    {% if facture.notFinalized and is_granted('ROLE_SUPER_ADMIN_COMPTA_EDIT') %}
                                        {% include 'BackOffice/facture/add/add_etablissement_presta.html.twig'   %}
                                    {% endif %}
                    {% endif %}
            {% endif %}

            
        {% if facture.getConcerne %}
                    <div class='adresse'>
                        <h2>{{facture.getConcerne}}</h2>
                    <br> {{facture.AdresseLigne1}} 
                    <br> {{ facture.AdresseLigne2}}  
                    </div>
        {% endif %}
                        
                        
            <div class='panel panel-primary'>
                <div class='panel-heading'>Facture</div>        
                    {% include 'BackOffice/facture/inc_prestas.html.twig' %}
            </div>
                        
                         
        {% if facture.NotFinalized  %}
            
            {% if is_granted('ROLE_SUPER_ADMIN_COMPTA_EDIT') %}
            <a class='btn btn-block btn-with-big-ico btn-danger' href='{{ path('facture_finalise', { 'numFacture': facture.numFacture }) }}'>Finaliser la facture !! 
                <i class='glyphicon glyphicon-ok'></i></a>
            {% endif %}
                
        {% elseif not facture.payele and not facture.getAvoir %}
            {% include 'BackOffice/facture/add/add_facture_paiement.html.twig' %}
            
            {% if facture.rappels | length > 0 %}
                {% include 'BackOffice/facture/facture_relances.html.twig' with {'rappels': facture.rappels}%}
            {% else  %}
                
                {% include 'BackOffice/facture/add/add_facture_relance.html.twig' %}
            {% endif %}
            
            <p>
            {#path('backoffice_etablissement_patch_todo', {'id': etablissement.id,'patch_id': patch.id }) #}
        {% endif %}
        
 
            
        <p><br>
                {% if facture.getConcerne.demande  %}
                    {%  if facture.getConcerne.demande.isFini  %}
                        <div class='panel panel-success'>
                    {%  else %}
                            {% set first_user = facture.getConcerne.IfOneUserNotConeccted %}
                            {%  if first_user %}
                                {% include 'BackOffice/user/inc_show_password.html.twig' %}
                            {% endif %}
                        <div class='panel panel-warning'>
                    {%  endif %}
                    
                    {% if facture.getConcerneTypeLib =='GESTIONNAIRE'  %}
                        <div class='panel-heading'><a href="{{ path('demande_gestionnaire_show', { 'id': facture.getConcerne.demande.id }) }}">Demande</a></div>        
                        {% include 'BackOffice/Demande/inc_show_short_demande.html.twig' with {'demande':facture.getConcerne.demande} %}

                    {%  else  %}
                        <div class='panel-heading'><a href="{{ path('demande_etablissement_show', { 'id': facture.getConcerne.demande.id }) }}">Demande</a></div>        
                        {% include 'BackOffice/Demande/inc_show_short_demande.html.twig' with {'demande':facture.getConcerne.demande} %}
                    {%  endif %}
                            
                    {% if not facture.getConcerne.demande.fini and editFormDemandeView and facture.finalised %}
                    
                                <div class='panel-body'> 
                                <div class='well'> 
                        {{ form_start(editFormDemandeView) }}
                            {{ form_widget(editFormDemandeView) }}
                            {{ include("Nuts/cancelsave.html.twig") }}
                        {{ form_end(editFormDemandeView) }}
                         </div> </div>
                    
                    {% endif %} 
                             
                 </div>
            {% endif %} 
       

                        
        
        
    </div>
                    
                    
    <div class='col-md-4'>
        {% if facture.hasPDF %}
            <iframe height='1000px' width='100%' src="{{ path('facture_get_pdf', { 'numFacture': facture.numFacture }) }}"></iframe>
        {% else %}
            <div class='alert alert-danger'>Pas de fichier pour cette facture</div>
        {% endif %}
    </div>
</div>
    
    
    
    
    
    
    
    {% include "BackOffice/facture/inc_show_prestas_jquery_modal.html.twig"   %}

    
{% endblock %}



{% block javascripts %}
    <script type="text/javascript">
        $(function() 
        {
            $('.show_prestas').click(function() 
            {
                   $('#info_prestas').html("Chargement des infos");
                   $('#id_info_prestas').modal('show');
                   $('#info_prestas').load(Routing.generate('pericles3_etablissements_infos_prestas', { id: $(this).data('id_etablissement'), facture:'{{facture}}' }));        
            });
        });
    </script>
{% endblock %}