    <table class='table table_small_facture'>
        <thead>
            <tr>
                <th>Numfacture</th>
                <th>PDF</th>
                <th>Date Emission</th>
                <th>Montant</th>
                <th>Payé le</th>
            </tr>
        </thead>
        <tbody>
            
        {%  if facture is defined  %}
            {% set  facture_id =facture.numFacture %}
        {% else  %}                
            {% set  facture_id =0 %}
        {% endif %}                

    {% for facture_i in factures %}                    
                {% if facture_i.getAvoir %}
                    <tr class='facture-annullee'>
                        <td class='alert-danger facture-annullee {% if  facture_i.numFacture==facture_id %} current_facture {% endif %}'><a href="{{ path('facture_show', { 'numFacture': facture_i.numFacture }) }}">{{ facture_i.numFacture }}</a></td>
                {% elseif facture_i.getFinalise %}
                    <tr {% if  facture_i.numFacture==facture_id %} class='current_facture' {% endif %}>
                        <td class='alert-info'><a href="{{ path('facture_show', { 'numFacture': facture_i.numFacture }) }}">{{ facture_i.numFacture }}</a></td>
                {% else %}
                    <tr {% if  facture_i.numFacture==facture_id %} class='current_facture' {% endif %}>
                        <td class='alert-warning'><a href="{{ path('facture_show', { 'numFacture': facture_i.numFacture }) }}">{{ facture_i.numFacture }}</a></td>
                {% endif %}
                    
    
                {% if facture_i.HasPDF  %}
                <td class='alert-success'>
            {% else  %}
                <td class='alert-danger'>
            {% endif %}
                    {% if facture_i.HasPDF  %}
                        <i alt='PDF' class='glyphicon glyphicon-save-file'></i>PDF
                    {% endif %}
                </td>
                
                   
                <td>{% if facture_i.dateEmission %}{{ facture_i.dateEmission|date('Y-m-d') }}{% endif %}</td>
           
                <td class='alert-success'>{{ facture_i.montantTotal }} €</td>
                
                {% if facture_i.payele %}
                    <td class='alert-success'>{{ facture_i.payele|date('Y-m-d') }}</td>
                {% else %}                
                    <td class='alert-danger'></td>
                {% endif %}                
                
                   
            </tr>
        {% endfor %}
        </tbody>
    </table>
