    <table class='table  table-bordered'>
        <thead>
            <tr>
                <th>Numfacture</th>
                <th>Concerne</th>
                <th>Date Emission</th>
            </tr>
        </thead>
        <tbody>
        {% for facture in factures %}
            <tr>
                {% if facture.getFinalise %}
                    <td class='alert-info'><a href="{{ path('facture_show', { 'numFacture': facture.numFacture }) }}">{{ facture.numFacture }}</a></td>
                {% else %}
                    <td class='alert-warning'><a href="{{ path('facture_show', { 'numFacture': facture.numFacture }) }}">{{ facture.numFacture }}</a></td>
                {% endif %}
                <td>{{ facture.concerne }}</td>
                <td>{% if facture.dateEmission %}{{ facture.dateEmission|date('Y-m-d') }}{% endif %}</td>
                
                
            </tr>
        {% endfor %}
        </tbody>
    </table>
