{% extends "::layout.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block legend %}{{ parent() }}
{% endblock %}

{% block body %}
    
    {#
    is_granted("") }}
is_granted('ROLE_ADMIN')     
    #}
    
    
    
{% if not is_granted('ROLE_GESTIONNAIRE')  %}
    {% if etablissement.IsPatched %}
                {# include 'Evaluation/Patch/inc_patch.html.twig' #}
    {% endif %}
    
    
    <div class="row">
            <div class='col-sm-12'>
                {% include 'Nuts/inc_presentation_arsene.html.twig' %}
        </div> 
    </div> 
{% else  %}
   
{% endif %}


<div class="row">
    
         
  <div class="col-sm-6">
            {% if is_granted('ROLE_GESTIONNAIRE')  or app.user.isCreai  %}
                {% set link= path('pericles3_paq_organigramme_etablissement', {'id': etablissement.id}) %} 
            {% else %}
                {% set link= path('pericles3_paq')  %} 
            {% endif %}

      
        <div class="panel panel-primary panel_osa">
            <div class="panel-heading"><h3 class="panel-title"> <a href="{{ link}}">Plan d'Amélioration de la Qualité</a></h3></div>
              
             <div class="panel-body">
                 <br>
                {% if etablissement.objectifsStrategique  | length > 0 %}
                    {% if is_granted('ROLE_GESTIONNAIRE') or app.user.isCreai  %}
                            <a class='btn btn-link oa full-width' href="{{ path("paq_osa_list_etablissement", {'id': etablissement.id}) }}" >Voir les {{etablissement.objectifsStrategique| length}} Objectifs Stratégiques</a>
                    {% else %}
                            <a class='btn btn-link oa full-width' href="{{ path("paq_osa_list") }}" >Voir les {{etablissement.objectifsStrategique| length}} Objectifs Stratégiques</a>
                    {% endif %}
                {% else %}
                    <div class='alert alert-warning'>Aucun objectif stratégique.
                    {% if is_granted('ROLE_RW_PAQ') %}
                        <a  class = "btn  btn-warning full-width" href="{{ path('paq_osa_new', {'id': etablissement.id}) }}" > En créer un ?</a>
                    {% endif %}
                        </div>
                {% endif %}
                 <br> 
                 <br>
                {% if  etablissement.objectifsOperationnel | length > 0 %}
                    {% if is_granted('ROLE_GESTIONNAIRE')  or app.user.isCreai  %}
                        <a class='btn btn-link oa full-width' href="{{ path('paq_ooa_list_etablissement', {'id': etablissement.id}) }}" >Voir les {{etablissement.objectifsOperationnel| length}} Objectifs opérationnels</a>
                    {% else %}
                        <a class='btn btn-link oa full-width' href="{{ path("paq_ooa_list") }}" >Voir les {{etablissement.objectifsOperationnel| length}} Objectifs opérationnels</a>
                    {% endif %}
                {% else %}
                    
                    <div class='alert alert-warning'>Aucun objectif opérationnel.
                    {% if is_granted('ROLE_RW_PAQ')   %}
                        
                        <a  class = "btn  btn-warning full-width" href="{{ path('paq_ooa_new') }}" > En créer un ?</a>
                        
                    {% endif %}
                    </div>
                    
                {% endif %}
                
                 <br>
                 <br>
                 
                 
            </div> 

    </div> 
</div> 
      {% if is_granted('ROLE_GESTIONNAIRE')  or app.user.isCreai  %}
                {% set link= path('pericles3_eval_etablissement', {'id': etablissement.id}) %} 
            {% else %}
                {% set link= path('pericles3_evaluation')  %} 
            {% endif %}
            
            
  <div class="col-sm-6">
        <div class="panel panel-primary">
            <div class="panel-heading"><h3 class="panel-title"> <a href="{{link}}">Evaluation</a></h3></div>
             <div class="panel-body">

        {% for domaine in etablissement.domaines %}
        <div class="row">
                <div class="pastilles col-sm-8">
                  <a href="{{ path("pericles3_domaine",{'id': domaine.id}) }}"> {{domaine.nom}}
                </div>
                
                <div class="pastilles col-sm-4">
                    {{ include("Nuts/inc_pastilles.html.twig") }}
                </div>
        </div>
        {% endfor %} 
            </div> 
        </div> 

            
        {% if etablissement.qualiEval  %}
        <div class="panel panel-primary">
            <div class="panel-heading"><h3 class="panel-title"> <a href="{{ path('qualieval_index') }}">Quali Eval</a></h3></div>
             <div class="panel-body">
                 <a href="{{ path('qualieval_index') }}"> <img src='/img/qualieval.png'></A>
            </div> 
        </div> 
        {% endif %} 
        
    </div> 
</div> 
        
        
  
<div class="row">
        
    {% if is_granted('ROLE_GESTIONNAIRE')  or app.user.isCreai  %}
                {% set link= path('pericles3_synthese_etablissement', {'id': etablissement.id}) %} 
            {% else %}
                {% set link= path('pericles3_synthese')  %} 
            {% endif %}
    
    <div class="col-sm-6">
        <div class="panel panel-primary">
            <div class="panel-heading"><h3 class="panel-title"> <a href="{{ link}}">Synthese</a></h3></div>
             <div class="panel-body">
                 {# //Status de la dimension: 1-Non démarré, 2-En cours, 3:Sais i #}
                 
                 {% if etablissement.getStatus ==1 %}
                     <div class="alert alert-danger" role="alert">
                         <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                         L'évaluation  n'est pas commencée ! La synthèse n'est pas disponible
                    </div>
                    
                     {% if not is_granted('ROLE_GESTIONNAIRE')  or app.user.isCreai  %}
                         <a href="{{ path('pericles3_evaluation') }}"  class = "btn btn-link full-width">Commencer l'évaluation</a>
                    {% endif   %} 
                    
                 {% elseif etablissement.getStatus ==2 %}
                     <div class="alert alert-warning" role="alert">
                         <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                 L'évaluation n'est pas terminée! La synthèse ne sera pas complète.
                        </div>

                        {% if is_granted('ROLE_GESTIONNAIRE')  or app.user.isCreai  %}
                             <a href="{{ path('pericles3_synthese_etablissement', {'id': etablissement.id}) }}"  class = "btn  btn-link full-width">Accédez à la synthèse de {{etablissement}}</a>
                        {% else %}
                             <a href="{{ path('pericles3_synthese') }}"  class = "btn  btn-link full-width">Accédez à la synthèse</a>
                        {% endif %}


                 {% elseif etablissement.getStatus ==3  %}
                    <div class="alert alert-success" role="success">
                         <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                            <span class="sr-only">Error:</span>
                                 L'évaluation est terminée !   
                    </div> 
                        {% if is_granted('ROLE_GESTIONNAIRE')  or app.user.isCreai  %}
                            <a href="{{ path('pericles3_synthese_etablissement', {'id': etablissement.id}) }}"  class = "btn  btn-link full-width">Accédez à la synthèse <br> {{etablissement}}</a>
                        {% else %}
                             <a href="{{ path('pericles3_synthese') }}"  class = "btn  btn-link full-width">Accédez à la synthèse</a>
                        {% endif %}
                 {% endif   %} 
                  
            </div> 
        </div> 
    </div>  

        <div class="col-sm-6">
            {% include "Synthese/Sauvegardes/inc_panel_sauvegarde.html.twig" %}
        </div> 
    </div> 

<div class="row">

            
    {% if is_granted('ROLE_GESTIONNAIRE')  or app.user.isCreai  %}
                {% set link=path('pericles3_bibliotheque_etablissement_id', {'id': etablissement.id}) %} 
            {% else %}
                {% set link= path('pericles3_bibliotheque')  %} 
            {% endif %}
    
    <div class="col-sm-4">
        <div class="panel panel-primary">
            <div class="panel-heading"><h3 class="panel-title"> <a href="{{ link}}">Bibliothèque</a></h3></div>
             <div class="panel-body">
                 
                     <a href="{{ link }}"  class = "btn btn-link full-width">Accédez à la bibliothèque <br> {{etablissement}}</a>
               </div> 
        </div> 
    </div> 

               
            {% if is_granted('ROLE_GESTIONNAIRE')  or app.user.isCreai  %}
                {% set link= path('pericles3_etablissement_byid', {'id': etablissement.id}) %} 
            {% else %}
                {% set link= path('pericles3_etablissement')  %} 
            {% endif %}

    <div class="col-sm-4">
        <div class="panel panel-primary">
            <div class="panel-heading"><h3 class="panel-title"> <a href="{{link}}">Fiche etablissement</a></h3></div>
             <div class="panel-body">
                    <span class="gras">Nom d'établissement : </span>{{ etablissement.nom }}</p>
                    <p><span class="gras">Adresse : </span>{{ etablissement.adresse }}</p>
                    <p><span class="gras">Code postal : </span>{{ etablissement.codePostal }}</p>
                    <p><span class="gras">Ville : </span>{{ etablissement.ville }}</p>
                    <a href="{{link}}"  class = "btn btn-link  full-width">Accédez à la fiche complète</a>
               </div> 
        </div>
    </div>
                 
    <div class="col-sm-4">
        <div class="panel panel-primary">
            <div class="panel-heading"><h3 class="panel-title">  
                    <a href="{{ path('watchdd_index_etablissement', {'id': etablissement.id}) }}">Espace disque</a></h3>
            </div>
             <div class="panel-body">  
                    
                    {% include "Index/inc_watchdd_global.html.twig" %}
               </div> 
        </div>

                    
    </div> 
</div> 
             
             
       
            
             
{% endblock %}