{% extends "::layout.html.twig" %}

{% block title %}{{ parent() }} - surveillance des disques{% endblock %}

{% block legend %}{{ parent() }}
{% endblock %}

{% block body %}
    <h1><a href="{{ path("watchdd_index") }}">Surveillance des disques </a></h1>
    
     {% if  etablissement is defined %}
         <h2>{{etablissement}}</h2>
     {% endif %}

     {% include "Index/inc_watchdd_global.html.twig" %}

 {% if  dossiers | length > 0   %}
    {% for dossier in  dossiers %}
        <h2>{{dossier.name}}</h2>
          {% include "Index/inc_watchdd.html.twig" %}
    {% endfor %}

 {% endif %}
          

     {% if  etablissement is not defined %}
  
    <table class='table table-bordered table-triable'>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Espace disque utilsé</th>
                <th>Espace disponible</th>
                <th>Taux</th>
                <th>Bibliotheque</th>
            </tr>
        </thead>
        
        
        <tbody>
        {% for etablissement in app.user.etablissements  %}
        {% if etablissement.sizeMaxUpload  <   etablissement | sizeTotalFileUpload %}
            <tr title='{{etablissement | sizeTotalFileUpload | formatBytes}} sur  {{etablissement.sizeMaxUpload | formatBytes}} autorisés).' class='alert alert-danger'>    
        {% else %}
            <tr title='{{etablissement | sizeTotalFileUpload | formatBytes}} sur  {{etablissement.sizeMaxUpload | formatBytes}} autorisés).' class='alert alert-success'>    
        {% endif %}
                <td><a href="{{ path('watchdd_index_etablissement', { 'id': etablissement.id }) }}"> {{ etablissement.nom }}</a></td>
                 {{etablissement | sizeTotalFileUpload | TdBytes | raw }}
                 
                <td> {{etablissement.sizeMaxUpload | formatBytes }}</td>
                
                <td>{{etablissement | sizeTotalFileUpload  | sizeFileUpladBar(etablissement.sizeMaxUpload ) | raw }}</td>
                    
                <td>     
                    <a href="{{ path('pericles3_bibliotheque_preuves_etablissement', { 'id': etablissement.id }) }}">{{'biblio' | get_icon | raw }}</a>
                </td>     
                

             
            </tr>
        {% endfor %}
        </tbody>
    </table>
     
     
     
     
      
     
     
     
     
 {% endif %}
          
          

    <a class="btn btn-primary active full-width" href="{{ path('pericles3_bibliotheque_preuves', { }) }}">   Voir la bibliotheque de preuves</a>
 
{% endblock %}