{% extends "Synthese/layout.html.twig" %}



{% block body %}
    {{ parent() }}

<h1> Annexes </h1>
<h2> Au rapport annuel d'activité</h2>

    {% set sauvegardes  = etablissement.sauvegardes %}
    
    {% if etablissement.NbSauvegardes ==  0 %}
        {% include   'Synthese/Sauvegardes/inc_pas_de_sauvegardes.html.twig' %}
    {% else %}
        {% include 'Synthese/Sauvegardes/inc_liste_sauvegardes_annexes.html.twig' %}
        {% set path_sauvegardes_do = path("pericles3_sauvegardes_do") %}
        {% include "Synthese/Sauvegardes/inc_inform_do.html.twig"  %} 
    {% endif  %}
    
        
    <div class='graphs graphs_calculate'> 
        <div class='graph_min_container'>
            {% for sauvegarde in sauvegardes %}
                <canvas class="GraphSynthese" id="chartEvalGeneraleCanvas_{{sauvegarde.id}}" height="500" width="500"></canvas>
              {% for domaine in etablissement.domaines %}
                    <canvas class="GraphSynthese GraphSynthese_{{sauvegarde.id}}" id="chartDomaine_{{sauvegarde.id}}_{{ domaine.id }}" height="500" width="500"></canvas>
                {% endfor %}
        {% endfor %}
        
            </div>
    </div>  
          
{% endblock %}


{% block javascripts %}
<script type="text/javascript">
      {% include "Synthese/inc_options_charts.js.twig" %}

        {% for Sauvegarde in etablissement.sauvegardes  %}
            {{ domaines  | order | graph2(Sauvegarde.domaines,Sauvegarde,'chartEvalGeneraleCanvas_' ~ Sauvegarde.id) |raw }}
            {% for domaine in  Sauvegarde.domaines %}
                {{ domaine.DomaineOriginal.dimensions  | order |  graph2(domaine.dimensions,Sauvegarde, 'chartDomaine_' ~ Sauvegarde.id ~ '_'  ~ domaine.DomaineOriginal.id) |raw }}
            {% endfor %}
            {% set wgraph =true %}
            {% set prefix = Sauvegarde.id %}
            {% include "Synthese/inc_javascritp_export.js.twig"   %}
                
    {% endfor %}
            
      
    </script>
        
{% endblock %}