<td>
            <a  href="javascript:genere_document_sauvegarde('{{synthese}}','doc',{{sauvegarde.id}});" class = "btn  btn-link"><i class=' icon-file-word'></i></a>
            <a  id='{{synthese}}_{{sauvegarde.id}}_doc'  class = "lien_synt btn  btn-danger"  target='blank' 
                href='{{ path("arsene_synthese_sauvegarde_getpath", {'id':sauvegarde.id,'synthese_type':synthese,'synthese_extension':'doc'}) }}'>Télécharger le DOC
            </a>
</td>
<td>
            <a  href="javascript:genere_document_sauvegarde('{{synthese}}','pdf',{{sauvegarde.id}});" class = "btn  btn-link"><i class=' icon-file-pdf'></i></a>
            <a  id='{{synthese}}_{{sauvegarde.id}}_pdf'  class = "lien_synt  btn  btn-danger"  target='blank' 
                href='{{ path("arsene_synthese_sauvegarde_getpath", {'id':sauvegarde.id,'synthese_type':synthese,'synthese_extension':'pdf'}) }}'>Télécharger le PDF</a> 

</td>
            {% if app.environment =='dev'  %}
                    <td>
                        <a target='blank' href='{{ path("pericles3_synthese_sauvegarde_dev", {'synthese_type':synthese, 'id':sauvegarde.id}) }}'  class ="btn  btn-link full-width" >TestDev</a>  
                    </td>
            {% endif %}

            