{% extends "::layout.html.twig" %}

{% if app.user.gestionnaire is not empty %}
    {% if app.user.gestionnaire.NewFonctionnaliteGestionnaire %}
        {% set advanced_gesionnaire = true %} 
    {% else  %}
         {% set advanced_gesionnaire = false %} 
    {% endif%}
{% else  %}
     {% set advanced_gesionnaire = false %} 
{% endif%}



{% block title %}{{ parent() }} - Synthèse{% endblock %}

  {% block message_flash %}
{% endblock %}

      {#
      {% block legend %}{{ parent() }}
&nbsp;&nbsp;&nbsp; <b>PA : </b>Piste d'amélioration - <b>FA : </b>Fiche Action
{% endblock %}
    #}
    
{% block body %}
    <h1><a href='{{ path('pericles3_synthese') }}'>Synthèse</a>
              
        {% if is_granted('ROLE_GESTIONNAIRE') and etablissement is defined %}
             ->  <a title='Etablissement'  href="{{ path('pericles3_synthese_etablissement', {'id': etablissement.id}) }}"> <i class='glyphicon glyphicon-queen'></i> {{etablissement}}</a>
        {% endif %}
  
    </h1>

   
     <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a title='Synthèse' class="navbar-brand" href="{{ path('pericles3_synthese') }}"><i class='glyphicon glyphicon-stats'></i></a>
    </div> 
    
     
        
        
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        
        
        
        
        <ul class="nav navbar-nav">
            
            
                {% if is_granted('ROLE_GESTIONNAIRE')  %}        
                    {% if  appVersion>'1.0.0' and advanced_gesionnaire %}
                        <li class="dropdown">
                             <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                      <i class=' glyphicon glyphicon-knight '></i> Public<span class="caret"></span></a>
                               <ul class="dropdown-menu">
                                   {% for referentielPublic in  app.user.GestionnaireReferentielsPublic  %}
                                       <li><a href=" {{ path("pericles3_synthese_referentiel_menu", {'id' : referentielPublic.id }) }}">
                                        <i class=' glyphicon glyphicon-knight '></i> {{ referentielPublic }} </a> </li>
                                   {% endfor %}
                             </ul>
                           </li>
                    {% endif %}     
                                
                                
                    <li class="dropdown">
                     <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                         <i class='glyphicon glyphicon-queen'></i> Etablissements<span class="caret"></span></a>

                       <ul class="dropdown-menu">

                           {% for etablissement in app.user.etablissements %}
                               <li><a href="{{ path("pericles3_synthese_etablissement",{'id' : etablissement.id}) }}">
                                         <i class='glyphicon glyphicon-queen'></i>    {{etablissement}} </a></li>
                           {% endfor %}
                     </ul>
                   </li>
                    
    
                {% endif %}    
                
                
                   {% if etablissement is defined %}
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                              {{application_name}}<span class="caret"></span></a>
                          <ul class="dropdown-menu">
                                 {% if not is_granted('ROLE_GESTIONNAIRE')  %}  
                            <li><a href="{{ path('pericles3_synthese_pericles') }}"><i class='glyphicon glyphicon-th-list'></i> Tout </a></li>
                                 {% endif  %}  
                                 
                            <li role="separator" class="divider"></li>
                                {% for domaine in etablissement.domaines %}
                                    <li><a href="{{ path('pericles3_synthese_domaine', {'id': domaine.id})}}">
                                        <span class="badge">{{domaine.getMoyenneNotes}}/10</span>{{domaine}} </a></li>
                                {% endfor %}

                          </ul>
                        </li>





                
                        
                       
              {% endif %}  
    

                
                    <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                              <i class="glyphicon glyphicon-floppy-disk" ></i>Sauvegardes<span class="caret"></span></a>
                          <ul class="dropdown-menu">
                              
                        <li><a href="{{ path('pericles3_sauvegardes') }}"><i class='glyphicon glyphicon-th-list'></i> Toutes</a></li>
                        <li role="separator" class="divider"></li>
                        
                   {% if etablissement is defined %}
                     {% if  etablissement.sauvegardes | length %}
                              

                        {% for Sauvegarde in etablissement.sauvegardes  %}
                                <li><a href="{{ path('pericles3_backup_synthese', {'id': Sauvegarde.id}) }}">
                                <span class="badge">{{Sauvegarde.note | formatNoteSimple }}</span>{{Sauvegarde}} </a></li>
                        {% endfor %}
                        <li role="separator" class="divider"></li>
                     {% endif %}
                {% endif %}  
                    
                    {% if is_granted('ROLE_GESTIONNAIRE')  %}  
                        {% for etablissement  in app.user.etablissements %}
                                <li><a href="{{ path('pericles3_sauvegardes_etablissement', {'id': etablissement.id}) }}">
                              {% if etablissement.NbSauvegardes > 0 %} 
                                        <span class="label label-primary">  {{etablissement.NbSauvegardes }} </span> 
                              {% else  %} 
                                        <span class="label label-default">  {{etablissement.NbSauvegardes }} </span> 
                              {% endif  %} 
                                {{etablissement}} </a></li>
                        {% endfor %}

                    {% endif %}  
                          </ul>
                        </li>
               
    

            {% if is_granted('ROLE_GESTIONNAIRE')  %}  
                
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                          Externes<span class="caret"></span></a>
                          
                                                <ul class="dropdown-menu">
                         <li><a href="{{ path('syntheses_alternative_gestionnaire') }}"><i class='glyphicon glyphicon-th-list'></i> Tout  </a></li>
                        <li role="separator" class="divider"></li>
                        {% for etablissement in app.user.etablissements %}
                            <li><a href="{{ path('pericles3_synthese_alternatif_etablissement', {'id': etablissement.id})}}"><i class='glyphicon glyphicon-queen'></i>{{etablissement}} ({{etablissement.ReferentielExterne}}) </a></li>
                            {% endfor %}
                      </ul>
                     </li>
            {% else  %}
                    {% if etablissement.ReferentielExterne is not empty %}

                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                          {{etablissement.ReferentielExterne}} <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                         <li><a href="{{ path('pericles3_synthese_alternatif') }}"><i class='glyphicon glyphicon-th-list'></i> Tout  </a></li>
                        <li role="separator" class="divider"></li>
                        
                        {% if app.user.etablissement is not empty %}
                            {% for domainesExterne in app.user.etablissement.domainesExterne %}
                            <li><a href="{{ path('pericles3_synthese_alternatif_niv1', {'id': domainesExterne.id})}}">
                                <span class="badge">{{domainesExterne.MoyenneNotes}}/10</span>{{domainesExterne}} </a></li>
                            {% endfor %}
                        {% endif %}
                      </ul>
                    </li>
                   {% endif %}
            {% endif %}
             
               
                
               
               
               
        </ul>
   
          
      <ul class="nav navbar-nav navbar-right">
          <li> 
               {% if app.user.hasOneEtablissement or etablissement is not defined %}
                    <a class='glyphicon glyphicon glyphicon-save'  href="{{ path("pericles3_synthese_export_page") }}">
                {% else %}
                    <a class='glyphicon glyphicon glyphicon-save'  href="{{ path("pericles3_synthese_export_page_etablissement",  {"id" : etablissement.id})  }}">
                {% endif  %}  Exportations/Impressions</a></li>
        <li title='Imprimer cette page' class='print_this_page'><a href="#" OnClick="javascript:window.print()"><i class='glyphicon glyphicon-print' ></i></a></li>
        
      </ul>
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
     

{% include "MessageFlash/messageFlash.html.twig" %}
 






{% endblock %}



{% block javascripts %}
 
{% endblock %}


    