<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
        "http://www.w3.org/TR/html4/strict.dtd">

{%  if demandeGestionnaire is defined %}
    {% set nbPrestas  = ( demandeGestionnaire.demandesEtablissement | length ) + 1 %}
    {% set module_gestionnaire = true %}
    {% set demande= demandeGestionnaire %}
    {% set gestionnaire=true%}
{%  else  %}
    {% set nbPrestas  = 1 %}
    {% set module_gestionnaire = false %}
    {% set demande= demandeEtablissement %}
    {% set gestionnaire=false%}
{%  endif  %}


<html>
<head>
    <meta charset="utf-8">
    <title>{{titre}}</title>
    
<style>
    .adresses
    {
        width:50%;
        float:right;
    }
    .left_up
    {
        width:40%;
        float:left;
    }
    
    
{% if nbPrestas < 14 %}

    #piedPagePrint {
        margin-top:12px;
        display: block;
        position: fixed;
        bottom: 0;
        right: 0;
    }
    {% endif  %}


    
    
.info_complementaire_etab
{
    font-size: 0.75em;
}


    

    .separateur
    {
        width:0;
        clear:both;
    }

    .reception
    {
        padding:1em;
    }

    .tabfact , .fact
    {
        width:100%;
        border-collapse: collapse;
         
    }
    .tabfact .entente
    {
        text-align: center;
    }
    
    .tabfact td , .tabfact .th, th
    {
        margin: 0;
        padding:3px;
        border: 2px solid #000000;
    }
    

    .loi1901
    {
        width:50%;
        float:left;
        font-size:0.8em;
    }
    
    .declar
    {
        text-align:right;
        width:50%;
        float:right;
        font-size:0.8em;
    }
    
        
    .remise
    {
        background-color: #D0E4FD;
    }
     .module_gestionnaire
    {
        background-color: #dfdfdf;
    }
    
    .total
    {
        background-color: #dddddd;
    }
    
    
    
    .rib
    {
        padding:10px;
        margin-bottom:3px;
        border: 3px solid #000000;
    }
    
    
    .montant
    {
        text-align:right;
        width: 10%;
    }

    .fact
    {
        text-align:center;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .fact td
    {
        padding: 2px;
    }
    
    .facture_titre
    {
        font-size:2em;
        background-color: #D0E4FD;
    }
      
    
    .facture_num
    {
        font-size:1.7em;
        background-color: #669fac;
    }
    
    .facture_date
    {
        font-size:1.7em;
    }
        
    
   

    
    .adresse_cible
    {
        padding:20px;
        border: 2px solid #000000;
        font-size:1.3em;
        margin-bottom: 15px;
    }
    
    
</style>
    
</head>
<body> 
        
 {% set img_note = '/img/ancreai_logo.png' %}

 <div class='left_up'>
      
 {{ img_note | getImageExport("PDF") | raw }}

  <table class='fact'>
  <tr class='facture_titre'><td>DEVIS</td></tr>
  <tr class='facture_num'><td>{{ demande.getNumDemandeFormate }}</td></tr>
  <tr class='facture_date'><td>Le {{ "now"|date('d/m/Y')}}</td></tr>
  </table> 
</div> 
  
  
<div class='adresses'>
  3/5 rue de Metz
  <br>75010 PARIS  
  <br>Tél : 01 53 59 60 40
  <br>Tél : 01 45 51 64 77
  <br>ancreai@ancreai.org
  
  
  
  
  
  
          <div class='adresse_cible'>
              {{ demande}}
              
              <br>{{demande.adresse }}
              <br>{{demande.codePostal}}   {{demande.ville}}
          </div>
  
  
</div>
  <hr class='separateur'>      
      {% set total = 0  %}
      {% set total_renew = 0  %}
      
      
  <table class='tabfact'>
      <tr class='entente'><td  colspan='3'>PRESTATION</td></tr> 
      <tr class='entente'><td  colspan='3'>{{application_name}} <br>{{application_description}}</td></tr>
      <tr class='entente'><th>Libellé</th><th>1ère <br>année</th><th>années <br>suivantes</th></tr>

 
      {%  if module_gestionnaire %}
        <tr class='module_gestionnaire'> 
            <td>Module gestionnaire
                <div class='info_complementaire_etab'>
                  {%  if nbPrestas > 5 %}
                  {%  endif  %}
                    
                </div>
            </td>
            <td class='montant'>
              {%  if nbPrestas > 5 %}
                  0 €
              {%  else  %}
                  {% set total = total  + 150 %}
                  150 €
              {%  endif  %}
            </td>
            <td class='montant'>0 € </td>
    </tr>
      {%  endif  %}

      
      
      
      
      {%  if gestionnaire   %}
                        {% for demandeEtablissement  in demandeGestionnaire.demandesEtablissement %}
                                <tr class=''> 
                                    <td>
                                        {{demandeEtablissement}}
                                        {#
                                        {{dump(demandeEtablissement)}}
                                  #}
                                        <div class='info_complementaire_etab'>
                                            {{demandeEtablissement.finess}}
                                            {{demandeEtablissement.referentielPublic}}
                                        </div>
                                    </td>

                                <td class='montant'>{{demandeEtablissement.modeCotisation.montantFirst}} €</td>
                                <td class='montant'>  {{demandeEtablissement.modeCotisation.getMontantRenew}}€</td>
                                                                           

                            </tr>
                        {% set total = total  + demandeEtablissement.modeCotisation.montantFirst %}
                        {% set total_renew = total_renew + demandeEtablissement.modeCotisation.getMontantRenew %}
                    {% endfor %}
                    
     {%  else %}
             <tr class=''> 
                                    <td>
                                        {{demandeEtablissement}}
                                        
                                        <div class='info_complementaire_etab'>
                                            {{demandeEtablissement.finess}}
                                            {{demandeEtablissement.referentielPublic}}
                                        </div>
                                    </td>

                                <td class='montant'>{{demandeEtablissement.modeCotisation.montantFirst}} €</td>
                                <td class='montant'>  {{demandeEtablissement.modeCotisation.getMontantRenew}}€</td>
                                                                           

                            </tr>
                        {% set total = total  + demandeEtablissement.modeCotisation.montantFirst %}
                        {% set total_renew = total_renew + demandeEtablissement.modeCotisation.getMontantRenew %}
     {%  endif  %}
     
     
                        <tr class='total'> 
                            <td>Total : </td>
                            <td class='montant'>{{total}} €</td>
                            <th class='montant'>{{total_renew}} €</th>
                         </tr>


  </table>      
 <hr class='separateur'>      
  

 <div class='reception'>  </div>
   
    <div class='rib'>
  
    </div>

 

<div id='piedPagePrint'>
    <div class='loi1901'>
     Association Loi 1901 
     <br>Siret : 398.418.079.00040 
     <br>Code APE : 9499Z
    </div>

    <div class='declar'>
         Déclaration d'activité en tant <br>que prestataire de formation  : <b>11.75.40.117.75<b>
    </div>
</div>
 
 



 
 