
<div id="CritereQuestions"  class="panel panel-primary">            
    <div class="panel-heading"> <h3 class="panel-title">Eléments d'appréciation </h3> </div>
      <div class="panel-body"> 

            <div id="listQuestions">
                {% for question in critere.questions | order %}
                        {% if question.NonConcerne %} 
                            {% set question_alert='alert alert-info italic' %}
                        {% elseif question.reponse %} 
                            {% set question_alert='alert-success' %}
                        {% elseif not question.reponse and question.reponse is not null  %} 
                            {% set question_alert='alert-danger' %}
                        {% else %} 
                            {% set question_alert='alert-warning italic' %}
                        {% endif %} 

                        {% if question.reponse is same as(0) or question.reponse==1  %} 
                             <div class='alert {{question_alert}}'> {{ question.ReponseLib}}</div>
                        {% else  %} 
                            <div class='alert {{question_alert}}'> {{ question}} <br><b>{{ question.ReponseLib}}</b></div>
                        {% endif %} 
                        
                {% endfor %}
            </div>
             
    </div>    
</div>    