  {% for constats in critere.constats %}
    <p class="bubble CommentCore" id="constat_{{ constats.id }}">{{ constats.commentaire }}</p>
    <p class="CommentDetail">{{ constats.user.username }}, {{ constats.dateCreate|date('d-m-Y H:i:s') }}
        {% if is_granted('ROLE_RW_EVAL') and  (is_granted('ROLE_ADMIN') or constats.user.id==app.user.id)  %}
            {#
            <a href="javascript:updateConstat({{ constats.id }});">Modifier</a>
            #}
            <a title='Modifier le constat' href="javascript:updateConstat({{ constats.id }});"><i class='glyphicon glyphicon-pencil'></i></a>
            <span data-url_delete_ajax="{{ path('pericles3_deleteConstat', {'id':constats.id}) }}"
               data-invite="Voulez-vous supprimer définitivement le constat ? " 
               data-zone_to_reload='#commentairesConstat'
               title='Supprimer le constat' class='DeleteBoxBefore glyphicon glyphicon-trash iconhead redText active'></span>
        {% endif %}
    </p>
{% endfor %}
{% if  critere.constats | length ==0 %}
    <div class='alert alert-warning'>
        Aucun constat
    </div>
{% endif %}
