{% extends "Evaluation/layout.html.twig" %}


{% block title %}{{ parent() }} - {{ critere.nom}}{% endblock %}

{% block body %}
      {{ parent() }}
             {% if advanced_gesionnaire and app.user.NbEtablissementsByRefPublic(etablissement.referentielPublic) > 1%} 
        <a class="btn btn-success big full-width" href="{{ path('pericles3_critere_ref', {'id': critere.referentiel.id}) }}">
            Voir pour les {{app.user.NbEtablissementsByRefPublic(etablissement.referentielPublic)}} établissements <b>{{etablissement.referentielPublic}} </b>
         
        </a><p>
          {% endif %}  

          
    {% include "Nuts/menu_domaine_transversal.html.twig"  with {'domaine': critere.dimension.domaine} %} 
    {% include "Nuts/menu_dimension_transversal.html.twig"  with {'dimension': critere.dimension} %} 
    {% include "Nuts/menu_critere_transversal.html.twig"  %} 
 

        
      
    <div id="CritereGlobalListContainer">
        {% include "Nuts/inc_menu_critere_main.html.twig"  %} 
    </div>

        <h1 id='0'>
        {% include "Evaluation/Critere/inc_titre_critere.html.twig"  %} 
       </h1>
    
       {% if critere.Arevoir==1  %}
           <div id='status_4' class='alert alert-warning'>
               Un Objéctif Opérationnel d'Amélioration lié à ce critère a été réalisé. 
               Veuillez <a href='#CritereNote'>sauvegarder la note</a> (après l'avoir modifiée ou non).
           </div>
       {% elseif critere.Arevoir==2  %}
           <div id='status_4' class='alert-warning jumbotron text-center '>
               <i class='glyphicon glyphicon-info-sign'></i>  Dés éléments d'apréciation ont été rajoutés.</i>
               Veuillez vérifier votre <a href='#CritereNote'>note</a> et la sauvegarder (après l'avoir modifiée ou non).
           </div>     
       {% elseif critere.Arevoir==3  %}
           <div id='status_4' class='alert-warning jumbotron text-center '>
               <i class='glyphicon glyphicon-info-sign'></i>  Le critère à été ajouté recement au référentiel. Veuillez vous notez.</i>
           </div>
       {% endif %}
              
       
       {% if critere.rbpp   %}
                        <div class="panel panel-primary">            
                            <div class="panel-heading"> <h3 class="panel-title">{{critere.rbpp.typeSourceBA}} en lien avec ce critère</h3> </div>
                              <div class="panel-body"> 
                                    <a target='blank' href='{{critere.rbpp.href}}'>{{critere.rbpp}}</a>
                                    - <i class='glyphicon glyphicon-info'></i> <i>{{critere.RbpppComment}}</i><a title='Voir le détail dans la bibliotheque {{application_name}}' href="{{ path('pericles3_bibliotheque_ancreai_show', {'id':critere.rbpp.id}) }}">  <i class='glyphicon glyphicon-book'></i></a>
                              </div>
                </div>
       {% endif  %}
      
     
    <div class="row">
        <div class="col-sm-6">
                        {% if is_granted('ROLE_RW_EVAL') %}
                            {% include "Evaluation/Critere/inc_eval_question.html.twig" %}
                        {% else  %}
                            {% include "Evaluation/Critere/inc_eval_question_lecture.html.twig" %}
                        {% endif %}

        </div>
                    
                    
        <div class="col-sm-6">
            <div id="ConstatContainer" class="CommentaireContainer panel panel-primary">            
                <div class="panel-heading"> <h3 class="panel-title">Constats et analyses</h3> </div>
                    <div class="panel-body"> 
                {{'recueil des éléments lors des investigations et analyse des écarts' | popover_help | raw }}<hr class='separateur'>

                        
                        <div id="commentairesConstat" data-reload_with='{{ path("pericles3_critere_constats", {"id": critere.id }) }}'>
                              {% include "Evaluation/Critere/inc_constats.html.twig" %}
                        </div>
    
                        {% if is_granted('ROLE_RW_EVAL') %}
                       
                        <div class="screen_only form-group">
                            <textarea id ="ConstatInput" class="form-control" rows="4"></textarea>
                        </div>
                        <div align="center"><button id="SaveConstat" type="button" class="btn btn-primary btn-valider">Valider</button></div>
                        {% endif %}
                    </div>
            </div>
        </div>
                
                
                 
                
                
        <div class="col-sm-6">
                <div class="panel panel-primary">            
                    <div title="génération automatique de la bibliothèque de preuves de la structure" id='preuves' class="panel-heading"> <h3 class="panel-title">Preuves de qualité</h3> </div>
                      <div class="panel-body"> 
                                  {{'génération automatique de la bibliothèque de preuves de la structure' | popover_help | raw }}<hr class='separateur'>
                          
                                <div id="upload-wrapper" class="divContainer">
                                    <h4>Portefeuille</h4>
                                        {% set preuves = critere.preuves %}
                                        <div id="listePreuveContener" data-reload_with='{{ path("pericles3_preuves_critere_minlist", {"id": critere.id }) }}'>
                                            {% include "Preuve/list_min_preuve.html.twig" %} 
                                        </div>
                                    </div>
                                    <br>
                                    {% if is_granted('ROLE_RW_EVAL') %}
                                        {% set preuve_parent= '<input type="hidden" id="hdnCritereIdUpload" name="hdnCritereIdUpload" value="' ~ critere.id ~ '">' %}
                                        {% include "Preuve/inc_add_preuve.html.twig" %} 
                                        
                                        
                                        {% if critere.NbPreuvesPaq and false %}
                                            
                                        <div class="screen_only panel panel-danger">
         

                                            <div class="panel-heading">
                                              <h4 class="panel-title">
                                                <a data-toggle="collapse" href="#collapse_preuve_paq">Ajouter une preuve du PAQ <i class='glyphicon glyphicon-plus'></i></a>
                                              </h4>
                                            </div>
                                            <div id="collapse_preuve_paq" class="panel-collapse collapse">
                                               <div class='screen_only well'>
                                                  
                                            <table class='table table-bordered'>
                                            {% for preuvePAQ in critere.preuvesPaq %}
                                                <tr>
                                                    <td>{{preuvePAQ.objectifOperationnel}}</td>
                                                    <td>{{preuvePAQ}}</td>
                                                    <td><i class='glyphicon glyphicon-plus btn btn-primary'></i></td>
                                                </tr>
                                            {% endfor  %}
                                            </table> 
                                             </div>
                                        </div>
                                        </div>
                                            
                                        {% endif %}
                                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
        
     {% for objectifOperationnel in critere.objectifs  %}
            {% include 'ObjectifsAmelioration/Operationnels/inc_modal_show.html.twig' %}
    {% endfor %}
    

                <div id='ooa' class="panel panel-primary">            
                    <div class="panel-heading"> <h3 class="panel-title">Objectifs Opérationnels d'Amélioration</h3> </div>
                    
                      <div class="panel-body"> 
                {{'des fiches actions pour améliorer la qualité du critère évalué' | popover_help | raw }}<hr class='separateur'>

                            <div class="row">
                                <div class="col-md-12">
                                    {% set objectifOperationnels = critere.objectifs %}
                                    
                                    <div id='liste_objectifs' data-reload_with='{{ path("pericles3_critere_liste_ooa", {"id":  critere.id}) }}'>
                                        
                                        {% include "ObjectifsAmelioration/Operationnels/inc_liste.html.twig" %} 
                                    </div>
                                </div>
                            </div>

                    {% if is_granted('ROLE_RW_PAQ') %}
                        <div class="screen_only row">
                            <div class="col-md-6">
                                <div class='well'>
                                    <h4>Créer un nouvel objectif opérationnel</h4>
                                    
                                <div class='well'>
                                    <span class="btn btn-primary" id="show_new_objectif">Ajouter un nouvel objectif opérationnel</span>
                                        <div id='show_new_objectif_form'>
                                                <form class='ajax_form' data-zone_to_reload='#liste_objectifs' action="{{ path("paq_ooa_new_from_critere", {"id": critere.id}) }}" method="POST" >
                                                    {% include "ObjectifsAmelioration/Operationnels/inc_new.html.twig" %} 
                                                     <div align="center">
                                                               <br>
                                                           <input  type="submit"  class="btn btn-primary btn-valider"  value="Ajouter l'objectif opérationnel" />
                                                           </div>
                              
                                                           
                                              </form>
                                        </div>
                            </div>
                        </div>                                                    
                                                    
                    </div>
                                                        
                            <div class="col-md-6">
                                <div class='well'>
                                    <h4>Rattacher ce critère à un objectif opérationnel existant</h4>

                                    <form class='ajax_form' data-zone_to_reload='#liste_objectifs'  action="{{ path("pericles3_critere_link_ooa", {"id": critere.id}) }}" method="POST" >
                                          <select name='add_oo' class='form-control'>
                                                {% for oo in etablissement.objectifsOperationnel | order_alpha   %}
                                                    <option value={{oo.id}}>{{ oo}}</option>
                                                {% endfor %}
                                          </select>
                                               <div align="center">
                                               <br>
                                           <input  type="submit"  class="btn btn-primary btn-valider" id="submit-btn" value="Rattacher" />
                                           </div>
                                    </form>
                                </div>
                            </div>
                            
                </div>
                {% endif %}
                </div>
        </div>      
                    
           
                                     
          

        {% if etablissement.qualiEval  %}
        <div class="panel panel-primary">
            <div class="panel-heading"><h3 class="panel-title"> <a href="{{ path('qualieval_index') }}">Quali Eval</a></h3></div>
             <div class="panel-body">
                 {% if critere.referentiel.getQEReferentiels | length > 0%}
                 <table class='table'>
                     
                 {% for QEReferentiel in critere.referentiel.getQEReferentiels %}
                     <tr>
                         <td>{{QEReferentiel.numero}}</td>
                         <td><a href="{{ path('qualieval_show', { 'id': QEReferentiel.id }) }}">{{QEReferentiel}}</a></td>
                     </tr>
                 {% endfor %}
                 </table>
                 {% else  %}
                     <div class='alert alert-warning'>Pas de liason avec Quali Eval</div>
                 {% endif  %}
                 
            </div> 
        </div> 
        {% endif %} 

    
    
    <div id="CritereCorps">


        <div style="clear:both;"></div>
     
         
      
     

            <div id='CritereNote' class="panel panel-primary">            
                    <div class="panel-heading"> <h3 class="panel-title">Notation</h3> </div>
                        <div class="panel-body">
                            {{'La note représente l’état actuel de la qualité du critère' | popover_help | raw }}<hr class='separateur'>

                        <h4>Comment évaluez-vous la réalisation de ce critère dans votre établissement  ?</h4>

                                <div id='result_eval_form'>
                                    {% include 'Evaluation/Critere/eval_critere.html.twig' %}
                                </div>
                            
                                    

                        <form method='POST' class='ajax_form' data-zone_to_reload="#result_eval_form" action="{{ path("pericles3_critere_savenote_get", {"id": critere.id}) }}"  >
                        <div id="InfoSaveNote"></div>
                        <table id="tableNote" >
                            <tr>
                                <td id='note-1' class="tdNoteBorder na">      <label id='note-1' class="note_note radio-inline"><i class='glyphicon glyphicon-ban-circle'></i></label></td>
                                <td id='note0' class="note_note tdNoteBorder ne">      <label  class="note_note_label radio-inline">0</label></td>
                                <td id='note1' class="note_note pfaible">              <label  class="note_note_label radio-inline">1</label></td>
                                <td id='note2' class="note_note pfaible">              <label class="note_note_label radio-inline">2</label></td>
                                <td id='note3'   class="note_note pfaible tdNoteBorder"> <label  class="note_note_label radio-inline">3</label></td>
                                <td id='note4' class="note_note par" >                 <label class="note_note_label radio-inline">4</label></td>
                                <td id='note5'  class="note_note par tdNoteBorder">     <label class="note_note_label radio-inline">5</label></td>
                                <td id='note6' class="note_note pq">                   <label class="note_note_label radio-inline">6</label></td>
                                <td id='note7' class="note_note pq">                   <label class="note_note_label radio-inline">7</label></td>
                                <td id='note8'  class="note_note pq tdNoteBorder">      <label class="note_note_label radio-inline">8</label></td>
                                <td id='note9' class="note_note pfort">                <label class="note_note_label radio-inline">9</label></td>
                                <td id='note10' class="note_note pfort">               <label class="note_note_label radio-inline">10</label></td>
                            </tr>
                            <tr>
                                <td colspan="12">
                                     <div id="group_complete" class="form-group">

                                         <div id="slider_note"></div>
                                    <input id="note_hidden" name="radNote" type='hidden'/>
                                          
                               

                                </div>    
                                </td>
                            </tr>
                            <tr id="trNoteMiddle">
                             
                                <td class="note_description na tdNoteBorder">Non applicable</td>
                                <td class="note_description ne tdNoteBorder">Non évalu&eacute;</td>
                                <td colspan="3" class="note_description pfaible tdNoteBorder">Point faible à traiter en priorité</td>
                                <td colspan="2" class="note_description par tdNoteBorder">Point à revoir avec engagement d’amélioration</td>
                                <td colspan="3" class="note_description pq tdNoteBorder">Point qualité à conserver/améliorer</td>
                                <td colspan="2" class="note_description pfort tdNoteBorder">Point fort. Elément qualité remarquable</td>
                            </tr>
                            <tr>
                                <td class="tdNoteBorder"></td>
                                <td  class="tdNoteBorder"></td>
                                <td colspan="3" class="tdNoteBorder"><img src="{{ asset('img/orage.png') }}"/></td>
                                <td colspan="2" class="tdNoteBorder"><img src="{{ asset('img/pluie.png') }}"/></td>
                                <td colspan="3" class="tdNoteBorder"><img src="{{ asset('img/eclaircie.png') }}"/></td>
                                <td colspan="2" class="tdNoteBorder"><img src="{{ asset('img/soleil.png') }}"/></td>
                            </tr>
                        </table>
                        {% if is_granted('ROLE_RW_EVAL') %}
                            <div align="center"><button title="L’évaluation du critère sera terminée" id='btnsubmit_note' type="submit" class="btn btn-primary btn-valider">Enregistrer la note</button></div>
                         {% else %}
                                <div class='alert alert-danger'>Vous n'avez pas les droits de modifier la note</div>
                         {% endif %}
                            
                        <br><br>    
                    </form>
                        
                        
            </div>
            </div>
   {% include "Nuts/menu_critere_transversal.html.twig"  %} 
    </div>

<!-- Modals -->

  {% include "Nuts/inc_modal_delete_preuve.html.twig" %} 
  
  {% include "Evaluation/Critere/inc_constats_modal.html.twig" %} 

  
    

{% endblock %}

{% block javascripts %}

     	<script type="text/javascript">

 
 
        //################ ZONE CONSTATS ##########################
        function majmenus()
        {
            $('#CritereGlobalListContainer').load("{{ path("pericles3_critere_menu_main", {"id": critere.id }) }}");
            $('#menu_domaine_pastilles').load("{{ path("pericles3_evaluation_etablissement_get_pastilles_menu", {"id": etablissement.id })}}");
            $('#0').load("{{ path("pericles3_critere_titre", {"id": critere.id })}}");
        }
        
        $(".oui").click(function(){
            $(this).parent().removeClass( "alert-warning alert-danger alert-info" ).addClass("alert-success" );
            $("#SaveQuestions").switchClass("btn-valider","btn-avalider");
        });
        
        
        $(".non").click(function(){
            $(this).parent().removeClass( "alert-warning alert-success alert-info").addClass("alert-danger" );
            $("#SaveQuestions").switchClass("btn-valider","btn-avalider");
        });
        
        $(".nc").click(function(){
            $(this).parent().removeClass( "alert-warning alert-succes alert-danger").addClass("alert-info" );
            $("#SaveQuestions").switchClass("btn-valider","btn-avalider");
        });
        
        
        $("#SaveConstat").click(function(){

            if($('#ConstatInput').val()!="")
            {
                $('#CritereCommentaires').loader('show');
                var data = {constat : $('#ConstatInput').val()};
                $.ajax({
                    type: "POST",
                    url: '{{ path("pericles3_critere_addConstat", {"id": critere.id}) }}',
                    data: data,
                    dataType: "html",
                    success: function(response) {
                        $('#commentairesConstat').html(response);
                        $('#ConstatInput').val("");
                    },
                    error: function(XMLHttpRequest, textStatus, errorThrown)
                    {
                        $('#CritereCommentaires').loader('hide');
                        alert('Error: ' +  errorThrown);
                    }
                });
            }
        });


        function updateConstat(id){
            $('#hdnConstatToModify').val(id);
            $('#UpdateConstatInput').val($('#constat_'+id).html());
            $('#ModalConstat').modal('show');
        }


        $("#ValidUpdateConstat").click(function(){
            $('#CritereCommentaires').loader('show');
            var data = {idConstat : $('#hdnConstatToModify').val(),constat : $('#UpdateConstatInput').val()};
            $.ajax({
                type: "POST",
                url: '{{ path("pericles3_critere_updateConstat", {"id": critere.id}) }}',
                data: data,
                dataType: "html",
                success: function(response) {
                    $('#commentairesConstat').html(response);
                    $('#hdnConstatToModify').val("");
                    $('#UpdateConstatInput').val("");
                    $('#ModalConstat').modal('hide');
                },
                error: function(XMLHttpRequest, textStatus, errorThrown)
                {
                    $('#CritereCommentaires').loader('hide');
                    alert('Error: ' +  errorThrown);
                }
            });
        });

        //################ FIN ZONE CONSTATS ##########################
 
  

        $("#SaveQuestions").click(function(){

            $('#CritereQuestions').loader('show');
            var listQuestionsChecked = [];
            $('#listQuestions input[type=radio]').each(function () {
                if (this.checked) {
                    listQuestionsChecked.push({idQuestion : this.name.substring(12),reponse : this.value});
                }
            });
            var data = {idCritere : $('#hdnCritereId').val(),listQuestionsChecked : listQuestionsChecked};

            $.ajax({
                type: "POST",
                url: '{{ path("pericles3_critere_savequestions", {"id": critere.id })}}',
                data: data,
                dataType: "json",
                success: function(response) {
                    $('#CritereQuestions').loader('hide');
                    if(response)
                        $("#InfoSaveQuestion").html(getBootstrapAlert("Succès!","Les éléments d'appréciation ont bien été enregistrés!","alert-success"));
                    else
                        $("#InfoSaveQuestion").html(getBootstrapAlert("Erreur!","une erreur est survenue lors de l'enregistrement des es éléments d'appréciation...","alert-danger"));
                    
                    majmenus();
                },
                error: function(XMLHttpRequest, textStatus, errorThrown)
                {
                    $('#CritereQuestions').loader('hide');
                    $("#InfoSaveQuestion").html(getBootstrapAlert("Erreur Ajax!","une erreur est survenue lors de l'enregistrement des es éléments d'appréciation...","alert-danger"));
                }
            });

        });
         
         $( "#slider_note" ).slider({
                       max: 10,
                       min : -1,
                       value: {{critere.note}},
                       step: 1,
                    slide: changeNote,
                    change: changeNote
                });
                
                                        

                
            changeNote(false)
                
            function changeNote(notfirst)
            {
                if(notfirst) { $("#btnsubmit_note").switchClass("btn-valider","btn-avalider"); } 

            val_note=$( "#slider_note" ).slider( "value" );
            switch(val_note) 
            {
                    case -1:
                            class_c="alert-info";
                            note_label="Non applicable";
                            class_active="na";
                       break;
                    case 0:
                            class_c="alert-danger";
                            note_label="Non évalué";
                            class_active="ne";
                       break;
                    case 1:
                    case 2:
                    case 3:
                            class_c="alert-danger";
                            note_label="Point faible à traiter en priorité";
                            class_active="pfaible";
                       break;
                    case 4:
                    case 5:
                             class_c="alert-warning";
                             note_label="Point à revoir avec engagement d’amélioration";
                             class_active="par";
                        break;
                    case 6:
                    case 7:
                    case 8:
                             class_c="alert-warning";
                             note_label="Point qualité à conserver/améliorer";
                             class_active="pq";
                        break;
                    case 9:
                    case 10:
                         class_c="alert-success";
                         note_label="Point fort. Elément qualité remarquable";
                         class_active="pfort";
                    break;
            } 

            $(".note_note").removeClass("note_active");
            $(".note_note_label").removeClass("note_active");
            
            $(".note_description").removeClass("note_active");
            $("#note"+val_note).addClass("note_active");
            $(".note_description."+class_active).addClass("note_active");
            //na ne pfaible par  pq  pfort
            $("#note_hidden").val(val_note);
        }
                

        $("#show_new_objectif").click(function(){
            $('#show_new_objectif_form').show();
            $("#show_new_objectif").hide();
        });
        
        $('#show_new_objectif_form').hide();
        
    </script>



    <script src="{{ asset('js/jquery.form.min.js') }}"></script>
    <script src="{{ asset('js/upload.js') }}"></script>




{% endblock %}