
           <div class="row">
                <div class="col-md-4 ">
                    <div class="panel panel-primary"> 
                        <div class="panel-heading"> <h3 class="panel-title">Derniers établissements crées</h3></div>
                        {% include "BackOffice/Etablissement/list_short_crees.html.twig" with {'etablissements': LastCreatedEtablissements} %}
                        <a class='btn full-width btn-link'  href="{{ path('pericles3_backoffice_etablissement', {}) }}">{{'etablissement' | get_icon | raw}} Voir tous les établissements</a>                    
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-primary"> 
                        <div class="panel-heading"> <h3 class="panel-title">Derniers Utilisateurs crées</h3></div>
                        {% include "BackOffice/user/list_short_crees.html.twig" with {'users': LastUsers,'show_affected':true,'sortby':'dateCreate'} %}
                        <a class='btn full-width btn-link'  href="{{ path('backoffice_user_all_index', {}) }}">{{'users' | get_icon | raw}} Voir tous les utilisateurs</a>                    
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-primary"> 
                        <div class="panel-heading"> <h3 class="panel-title">Derniers Utilisateurs connectés</h3></div>
                        {% include "BackOffice/user/list_short_crees.html.twig" with {'users': LastConnectedUsers,'show_affected':true,'sortby':'dateLastConnect'} %}
                        <a class='btn full-width btn-link'  href="{{ path('backoffice_user_all_index', {}) }}">{{'users' | get_icon | raw}} Voir tous les utilisateurs</a>                    
                    </div>
                </div>
            </div>
