{% set path = app.request.server.get("REQUEST_URI") %}


{% if app.user.Creai %}
     {% set deps= app.user.Creai.departements %}
 {% else %}
     {% set deps= Departements %}
{% endif %}

<nav class="navbar navbar-default">
         <div class="container-fluid">
           <!-- Brand and toggle get grouped for better mobile display -->
           <div class="navbar-header">
             <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
               <span class="sr-only">Toggle navigation</span>
              
               {# img/header_doc.jpg #}
               <a class="navbar-brand" href="{{ path('pericles3_backoffice') }}"><img width='20px' src='/favicon.ico'></a>
           </div>

           <!-- Collect the nav links, forms, and other content for toggling -->
           
           <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
             <ul class="nav navbar-nav">
          
                <li>   <a href="{{ path('pericles3_backoffice') }}"><i class='glyphicon glyphicon-home'></i></a> </li>                
                
                
                   {% if app.user.getCreaiOrAncreai  %}
                       
                       
               <li class="{% if path starts with '/backoffice/gestionnaire' %}active{% endif %} dropdown">
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{'gestionnaire' | get_icon | raw}}  Gestionnaire <span class="caret"></span></a>
                 <ul class="dropdown-menu">
                <li><a  href="{{ path('backoffice_gestionnaire_index', {}) }}">{{'gestionnaire' | get_icon | raw}} Gestionnaire</a></li>
                
                {% if is_granted('ROLE_ADMIN_SUPERVISOR')  %}  
                    <li role="separator" class="divider"></li>
                    <li><a  href="{{ path('backoffice_gestionnaire_index_test', {}) }}">{{'gestionnaire' | get_icon | raw}} Tests</a></li>
                    <li><a  href="{{ path('backoffice_gestionnaire_index_disabled', {}) }}">{{'gestionnaire' | get_icon | raw}} Module non activé</a></li>
                    <li><a  href="{{ path('backoffice_gestionnaire_index_all', {}) }}">{{'gestionnaire' | get_icon | raw}} Tous</a></li>
                {% endif %}
                
                
                <li role="separator" class="divider"></li>
                <li><a   href="{{ path('backoffice_finess_gestionnaire_index', {}) }}">   {{ 'finess' | get_icon | raw }} Finess</a></li>
                

                {% if is_granted('ROLE_SUPER_ADMIN_COMPTA_VIEW')  %}
                    <li role="separator" class="divider"></li>
                    <li> <a href="{{ path('backoffice_gestionnaire_sans_factures') }}"><i class='glyphicon glyphicon-euro'></i> Gestionnaires sans factures</a></li>
                {% endif %}
                
                

                    {% if is_granted('ROLE_ADMIN_SUPERVISOR')  %} 
                   <li> <a href="{{ path('backoffice_gestionnaire_sans_finess') }}"><i class='glyphicon glyphicon-warning'></i>   {{ 'finess' | get_icon | raw }} Gestionnaires sans finess</a></li>
                    
                    <li class="dropdown-submenu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> {{'gestionnaire' | get_icon | raw}}  Liste </a>
                            <ul class="dropdown-menu">
                                {% for gestionnaire in GestionnaireReels %}
                                       <li> <a href="{{ path('backoffice_gestionnaire_show', {'id':gestionnaire.id}) }}">{{gestionnaire}}</a></li>
                                {% endfor  %}
                            </ul>
                    </li>
                {% endif %}
                                    
                
                {% if is_granted('ROLE_SUPER_ADMIN_GESTIONNAIRE') %}
                    <li role="separator" class="divider"></li>
                        <a class="btn btn-primary active full-width"  href="{{ path('backoffice_gestionnaire_new') }}"><i class='glyphicon glyphicon-plus'></i>Ajouter un gestionnaire</a>
                {% endif %}
                    
                {% if is_granted('ROLE_MEGA_ADMIN') %}
                    <li role="separator" class="divider"></li>
                    <a class="btn btn-danger active full-width"  href="{{ path('backoffice_gestionnaire_active_nf') }}"><i class='glyphicon glyphicon-plus'></i>Activer les nouvelles fonctionnalités</a>
                {% endif %}



                
                 </ul> 
               </li>
                               <li class="{% if path starts with '/backoffice/etablissement' %}active{% endif %} dropdown">
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{'etablissement' | get_icon | raw}}  Etablissements <span class="caret"></span></a>
                 <ul class="dropdown-menu">
                   <li><a  href="{{ path('pericles3_backoffice_etablissement', {}) }}"><i class='glyphicon glyphicon-home'></i> Etablissements</a></li>
                    {% if is_granted('ROLE_ADMIN_SUPERVISOR')  %}  
                        <li role="separator" class="divider"></li>
                   <li><a  href="{{ path('pericles3_backoffice_etablissement_all', {}) }}">Voir tous les établissements</a></li>
                    {% endif %}
                   
                   
                   
                   <li role="separator" class="divider"></li>
                   <li><a  href="{{ path('pericles3_backoffice_suivi_etablissement') }}"> {{'evaluation' | get_icon | raw}} Suivi des saises des établissements</a></li>
                   <li role="separator" class="divider"></li>
                   
                   
                    <li class="dropdown-submenu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Par département</a>
                            <ul class="dropdown-menu">
                                {% for Departement in deps %}
                                    {% if Departement.NbEtablissements>0 %}
                                          <li><a href="{{ path('pericles3_backoffice_etablissement_bydep', { 'id': Departement.id})  }}">{{Departement.Id}} - {{Departement}} ({{Departement.NbEtablissements}} )</a></li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                    </li>
                    {% if is_granted('ROLE_SUPER_ADMIN_ETABLISSEMENT') %}
                            <li class="dropdown-submenu">
                                     <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Par Public</a>
                                     <ul class="dropdown-menu">
                                     {% for ReferentielPublic in ReferentielsPublic %}
                                           <li><a href="{{ path('pericles3_backoffice_etablissement_bybublic', { 'id': ReferentielPublic.id})  }}">{{ReferentielPublic}}</a></li>
                                     {% endfor %}
                                     
                                       
                                    {% if is_granted('ROLE_MEGA_ADMIN') %}
                                          <li class="dropdown-submenu">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Autre</a>
                                                <ul class="dropdown-menu">
                                                    {% for ReferentielPublic in ReferentielsPublicNonfini %}
                                                        {% if ReferentielPublic.NbEtablissements>0 %}
                                                              <li><a href="{{ path('pericles3_backoffice_etablissement_bybublic', { 'id': ReferentielPublic.id})  }}">{{ReferentielPublic}}</a></li>
                                                        {% endif %}
                                                    {% endfor %}
                                                </ul>
                                              </li>
                                    {% endif %}                                              
                                     </ul>
                             </li>
                             <li class="dropdown-submenu">
                                      <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Par CREAI</a>
                                      <ul class="dropdown-menu">
                                          {% for Creai in Creais%}
                                              {% if Creai.NbEtablissements>0 %}
                                                 <li><a href="{{ path('pericles3_backoffice_etablissement_bycreai', { 'id': Creai .id})  }}">{{Creai }} ({{Creai.NbEtablissements}} )</a></li>
                                              {% endif %}
                                          {% endfor %}
                                        
                                      </ul>
                              </li>
                            <li class="dropdown-submenu">
                                     <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Réels / Tests</a>
                                     <ul class="dropdown-menu">
                                         <li><a href="{{ path('pericles3_backoffice_etablissement_reels')  }}">Réels</a></li>
                                         <li><a href="{{ path('pericles3_backoffice_etablissement_notreels')  }}">Tests</a></li>
                                     </ul>
                             </li>
                            <li class="dropdown-submenu">
                                     <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Par mode de cotisation</a>
                                     <ul class="dropdown-menu">
                                         {% for EtabModeCotisation in EtabModesCotisation %} 
                                             <li><a href="{{ path('pericles3_backoffice_etablissement_bycotisation', { 'id': EtabModeCotisation.id})  }}">{{EtabModeCotisation}}</a></li>
                                          {% endfor %}
                                     </ul>
                             </li>
                             
                             
                            <li role="separator" class="divider"></li>

                            <li><a href="{{ path('pericles3_backoffice_etablissement_reelssansfiness')  }}">   {{ 'finess' | get_icon | raw }} Etablissements Réels Sans Finess</a></li>
                            <li><a href="{{ path('backoffice_etablissement_sansdepartements')  }}">Etablissements Réels Sans département</a></li>
                            
                            <li role="separator" class="divider"></li>

                            
                    {% endif %}
                    {% if is_granted('ROLE_SUPER_ADMIN_COMPTA_VIEW')  %}
                            <li><a href="{{ path('pericles3_backoffice_etablissement_reelssansfacture')  }}"> <i class='glyphicon glyphicon-euro'></i> Etablissements Réels Sans Factures</a></li>
                            <li><a href="{{ path('pericles3_backoffice_etablissement_factures_impayees')  }}"> <i class='glyphicon glyphicon-euro'></i> Etablissements avec impayés</a></li>
                            <li role="separator" class="divider"></li>
                    {% endif %}
                    {% if is_granted('ROLE_SUPER_ADMIN_ETABLISSEMENT')  %}                            
                            <li><a href="{{ path('pericles3_backoffice_etablissement_tests_with_facture')  }}"><i class='glyphicon glyphicon-euro'></i> Etablissements Tests avec factures </a></li>
                    {% endif %}
                    
                    
                    
                    
                                                
                    {% if is_granted('ROLE_ADMIN_SUPERVISOR')  %}  
                        <li role="separator" class="divider"></li>
                           <li class="dropdown-submenu">
                                     <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Pericles</a>
                                     <ul class="dropdown-menu">
                                       <li><a  href="{{ path('backoffice_pericles_index', {}) }}">Pericles</a></li>
                                            <li><a  href="{{ path('backoffice_pericles_comparaison', {}) }}">Etab pericles pas dans le fichier</a></li>
                                            <li><a  href="{{ path('backoffice_pericles_prospects', {}) }}">Pericles sans établissements (prospects)</a></li>
                                     </ul>
                             </li>
                        <li role="separator" class="divider"></li>
                        <li><a  href="{{ path('backoffice_prospection_index', {}) }}">Prospection</a></li>
                    {% else  %}
                        {% if app.user.isCreai %}
                        <li role="separator" class="divider"></li>
                            <li><a  href="{{ path('backoffice_prospection_index', {}) }}">Prospection</a></li>
                            <li><a  href="{{ path('backoffice_pericles_prospects', {}) }}">Pericles sans établissements (prospects)</a></li>
                        {% endif %}
                    {% endif %}
                    
                    
                    
                    
                        {% if is_granted('ROLE_MEGA_ADMIN') %}
                            <li role="separator" class="divider"></li>
                            <li><a  href="{{ path('etablissement_genere_cache') }}">Regenere le cache</a></li>
                            <li><a  href="{{ path('backoffice_sauvegarde_index') }}">Sauvegardes</a></li>
                        {% endif %}

                    {% if is_granted('ROLE_SUPER_ADMIN') and app.user.CreaiOrAncreai  %}   
                        
              
                    <li class="dropdown-submenu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class='glyphicon glyphicon-stats'></i> Stats</a>
                            <ul class="dropdown-menu">
                                    <li><a href="{{ path('arsene_stats') }}"><i class='icon-chart-pie'></i> Referentiels Publics</a></li>
                                    <li><a href="{{ path('ventes_par_mois') }}"><i class='glyphicon glyphicon-stats'></i>Ventes </a></li>
                            </ul>
                    </li>
                
                    {% endif %}
                         
                         

                        
                   
                   
                   {#
                   <ul class="dropdown">
                        <button class="btn btn-default dropdown-toggle full-width " type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                          Public
                          <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            {% for ReferentielPublic in ReferentielsPublic %}
                                  <li><a href="{{ path('pericles3_backoffice_etablissement_bybublic', { 'id': ReferentielPublic.id})  }}">{{ReferentielPublic}}</a></li>
                            {% endfor %}
                        </ul>
                    </ul>
                   #}
                   
                   
                    {% if is_granted('ROLE_SUPER_ADMIN_ETABLISSEMENT') %}
                        <li> <a   href="{{ path('backoffice_etablissement_new_byfiness') }}"><i class='glyphicon glyphicon-plus'></i>Ajouter un établissement</a></li>
                    {% endif %}      
                    
                    

                   <li role="separator" class="divider"></li>
                   <li><a   href="{{ path('backoffice_finess_index', {}) }}">  {{ 'finess' | get_icon | raw }}  Finess</a></li>
                   
                    {% if is_granted('ROLE_ADMIN_SUPERVISOR')  %}  
                        <li><a  href="{{ path('backoffice_finess_categorie_index', {}) }}">{{ 'finess' | get_icon | raw }} Categories Finess</a></li>
                        <li><a  href="{{ path('pericles3_backoffice_etablissement_a_migrer', {}) }}">{{ 'finess' | get_icon | raw }} etablissements à migrer </a></li>
                    {% endif %}      
                             
                   
                 </ul> 
               </li>
                
               
                {% if is_granted('ROLE_ADMIN_SUPERVISOR')  %}   
                             <li class="dropdown">
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> {{'creai' | get_icon | raw}} CREAI<span class="caret"></span></a>
                 <ul class="dropdown-menu">
                    <li role="separator" class="divider"></li>
                     <li><a  href="{{ path('backoffice_creai_index') }}"><i class='glyphicon glyphicon-list'></i>Voir les CREAI</a></li>
                     <li role="separator" class="divider"></li>
                        {% for creai in Creais %}
                            <li><a  href="{{ path('backoffice_creai_show', { 'id': creai.id}) }}"> {{'creai' | get_icon | raw}} {{creai}}</a></li>
                        {% endfor %}
                         <li role="separator" class="divider"></li>
                            <li><a  href="{{ path('backoffice_user_list_bytype', { 'type': 'admin'})  }}">{{'user' | get_icon | raw}} Utilisateurs CT / Admins </a></li>
                     <li role="separator" class="divider"></li>
                            <li><a  href="{{ path('backoffice_creai_list_ct')  }}"><i class='glyphicon glyphicon-filter'></i> Conseillers Techniques Liste  </a></li>
                            <li><a  href="{{ path('backoffice_creai_list_refer')  }}"><i class='glyphicon glyphicon-filter'></i> Redacteurs de référentiels </a></li>
                 
                        <li role="separator" class="divider"></li>
                           <li><a href="{{ path('backoffice_user_new') }}"><i class='glyphicon glyphicon-plus'></i>Créer un CT</a>
                        </li>
                        </ul> 
                
                {% endif %}   
                            
                <li class="dropdown">
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{'users' | get_icon | raw}} Utilisateurs<span class="caret"></span></a>
                 <ul class="dropdown-menu">
                
                     <li>   <a href="{{ path('backoffice_user_index') }}"><i class='glyphicon glyphicon-home'></i> Utilisateurs</a> </li>                

                    {% if is_granted('ROLE_ADMIN_SUPERVISOR')  %} 
                         <li role="separator" class="divider"></li>
                         
                        <li><a  href="{{ path('backoffice_user_all_index') }}">Voir TOUS les utilisateurs</a></li>
                    {% endif  %}
                    
                       <li role="separator" class="divider"></li>
                            <li><a  href="{{ path('backoffice_user_list_bytype', { 'type': 'admin'})  }}"><i class='glyphicon glyphicon-filter'></i>Administrateurs</a></li>
                            <li><a  href="{{ path('backoffice_user_list_bytype', { 'type': 'gestionnaire'})  }}"><i class='glyphicon glyphicon-filter'></i>Gestionnaires</a></li>
                            <li><a  href="{{ path('backoffice_user_list_bytype', { 'type': 'etablissement'})  }}"><i class='glyphicon glyphicon-filter'></i>Etablissement</a></li>
                       <li role="separator" class="divider"></li>

                   
                   
                    {% if is_granted('ROLE_MEGA_ADMIN') %}
                       <li role="separator" class="divider"></li>
                       <li><a href="{{ path('pericles3_backoffice_roles') }}">{{'users' | get_icon | raw}} Roles </a></li>
                       <li><a  href="{{ path('backoffice_profilesroles_index') }}"> {{'users' | get_icon | raw}}  Voir les profils</a></li>
                    {% endif  %}
                     
                 </ul>
                </li>

                
             
                    <li>
                        <a  href="{{ path('backoffice_demande_index', {}) }}">Demandes
                                {% include "BackOffice/Demande/inc_notif_demande_main_creation.html.twig" %}
                                {% include "BackOffice/Demande/inc_notif_demande_main_info.html.twig" %}        
                        </a>
                    </li>
                    
           
        

                        <li><a   href="{{ path('backoffice_editorial_index', {}) }}">{{'biblio' | get_icon | raw}} Editorial</a></li>
                
                {% endif  %} {#ancreai or creai#}
                
                
                <li class="dropdown">
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">  <i class=" glyphicon glyphicon-tree-conifer"></i> Référentiels<span class="caret"></span></a>
                 <ul class="dropdown-menu">
                   
                     {% if app.user.getCreaiOrAncreai  %}
                         <li><a  href="{{ path('referentielpublic_index') }}"><i class='glyphicon glyphicon-home'></i>Accueil </a></li>
                    {% endif %}
                   
                     {% if is_granted('ROLE_REFERENTIEL_WATCH')  %}
                            <li><a href="{{ path('referentielpublic_suivi_index') }}"><i class='glyphicon glyphicon-warning-sign'></i> Suivi des référentiel !</a></li>
                            <li><a href="{{ path('referentielpublic_suivi_arborescence') }}"><i class="demo-icon icon-flow-tree"></i> Arborescence </a></li>
                            <li><a href="{{ path('referentielpublic_suivi_arborescence_versionning') }}"><i class="demo-icon icon-flow-tree"></i> Arborescence Versionning </a></li>
                           <li role="separator" class="divider"></li>
                            <li><a href="{{ path('referentiel_externe_list') }}"><i class="demo-icon icon-flow-tree"></i>Referentiel Externe</a></li>
                            
                            
                    {% endif %}
                     
                     
                     {%if app.user.getNbReferentielsPublic  >0  %}
                           <li role="separator" class="divider"></li>
                            {%if  app.user.getNbReferentielsPublic > 5 %}
                                 <li class="dropdown-submenu">
                                         <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class=" glyphicon glyphicon-tree-conifer"></i>  Référentiels </a>
                                         <ul class="dropdown-menu">
                            {% endif %}      
                              {% for refPublic in app.user.getReferentielsPublic %}
                                                   
                                    {%if refPublic.getEnDev  %}
                                        <li class='alert-danger'>   <a href="{{ path('referentielpublic_show', {'id':refPublic.id}) }}"> <i class='glyphicon glyphicon-warning-sign'></i> {{refPublic}} </a></li>
                                    {% else  %}
                                        {%if refPublic.obsolete %}
                                            <li class='alert-warning'>   <a href="{{ path('referentielpublic_show', {'id':refPublic.id}) }}"> <i class=" glyphicon glyphicon-tree-conifer"></i>{{refPublic}}</a></li>
                                        {% else  %}
                                            <li class='alert-success'>   <a href="{{ path('referentielpublic_show', {'id':refPublic.id}) }}"> <i class=" glyphicon glyphicon-tree-conifer"></i>{{refPublic}}</a></li>
                                        {% endif %}
                                    {% endif %}
                            {% endfor   %}
                              
                            {%if  app.user.getNbReferentielsPublic > 5 %}
                                         </ul>
                                 </li>
                            {% endif %}      
                                             
                       

                         
                       
                        
                    {% endif %}
                     
                     

                    {% if is_granted('ROLE_MEGA_ADMIN') %}
                        <li role="separator" class="divider"></li>
                        <li><a href="{{ path('referentielpublic_new') }}"><i title="Seulement pour mega" class=" glyphicon glyphicon-plus"></i>Nouveau Référentiel </a></li>
                        <li><a  href="{{ path('referentielpublic_genere_cache') }}"><i title="Seulement pour mega" class="role_resume glyphicon glyphicon-cloud"></i>Regenere le cache</a></li>
                        <li><a  href="{{ path('referentielpublic_show_control') }}"><i title="Seulement pour mega" class="role_resume glyphicon glyphicon-cloud"></i>Controle des numéros d'ordre</a></li>

                    {% endif %} 
                    
                    {% if is_granted('ROLE_REFERENTIEL_WATCH')  %}  
                        <li role="separator" class="divider"></li>
                        <li><a  href="{{ path('patch_index') }}"><i title="" class="role_resume glyphicon glyphicon-cloud"></i>Patch</a></li>
                        <li><a  href="{{ path('patch_new') }}"><i title="" class="glyphicon glyphicon-plus"></i> Nouveau Patch</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a  href="{{ path('backoffice_patch_todo_index') }}"><i title=" " class="role_resume glyphicon glyphicon-cloud"></i>Patch Automatiques</a></li>
                        <li><a  href="{{ path('backoffice_patch_todo_done') }}"><i title=" " class="role_resume glyphicon glyphicon-cloud"></i>Patch Automatiques (effectués)</a></li>
                        <li><a  href="{{ path('backoffice_patch_todo_afaire') }}"><i title=" " class="role_resume glyphicon glyphicon-cloud"></i>Patch Automatiques (A faire)</a></li>
                    {% endif %}
                    </ul>
                </li>
                
                

                <li class="dropdown">
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{'biblio' | get_icon | raw}} Bibliothèques <span class="caret"></span></a>
                 <ul class="dropdown-menu">
                   <li><a  href="{{ path('backoffice_bibliotheque_ancreai_index') }}">Accueil</a></li>

                        <li role="separator" class="divider"></li>
                        {% for ReferentielPublic in ReferentielsPublic | sort  %}
                                   <li><a href="{{ path('backoffice_bibliotheque_ancreai_index_public', { 'id': ReferentielPublic.id})  }}">{{ReferentielPublic}})</a></li>
                        {% endfor %}
                        
                        {% if is_granted("ROLE_ADMIN_SUPERVISOR") %}
                            <li role="separator" class="divider"></li>
                            <li><a class="btn-primary"  href="{{ path('backoffice_bibliotheque_pdf') }}"><i alt='modifier' class='glyphicon glyphicon'></i>PDFs</a></li>
                            <li><a class="btn-primary"  href="{{ path('backoffice_bibliotheque_pdf_cache') }}"><i alt='modifier' class='glyphicon glyphicon'></i>cache PDFs</a></li>
                        {% endif  %}
                        
                        {% if is_granted("ROLE_RW_BIBLIO_ARSENE") %}
                           <li><a class="btn-primary"  href="{{ path('backoffice_bibliotheque_ancreai_new') }}"><i alt='modifier' class='glyphicon glyphicon-plus'></i>Nouvelle entrée dans la bibliothèque {{application_name}}</a></li>
                        {% endif  %}
                        
                        <li role="separator" class="divider"></li>
                       <li><a  href="{{ path('backoffice_bibliotheque_ancreai_index_anesm') }}">ANESM</a></li>
                        <li role="separator" class="divider"></li>
                       <li><a  href="{{ path('backoffice_bibliotheque_ancreai_liensmorts') }}">Liens Morts</a></li>
                           
                    </ul>
                </li>

                 
      
                
                {% if is_granted('ROLE_SUPER_ADMIN_COMPTA_VIEW')  %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class='glyphicon glyphicon-euro'></i> Factures <span class="caret"></span></a>
                           <ul class="dropdown-menu">
                             <li><a  href="{{ path('facture_index') }}"><i class='glyphicon glyphicon-home'></i> Accueil</a></li>
                            <li role="separator" class="divider"></li>
                             <li><a href="{{ path('facture_index_all') }}" >Toutes</a></li>
                             
                             
                           <li role="separator" class="divider"></li>
                            {% for year in ActivityYears %}
                                  <li><a href="{{ path('facture_index_year', { 'year': year }) }}">{{year}}</a></li>
                            {% endfor %}
                            <li role="separator" class="divider"></li>
                             <li><a  href="{{ path('facture_index_afaire') }}"> Facture à faire </a></li>
                             <li><a  href="{{ path('facture_nonfinalisee') }}"> Facture non finalisee</a></li>
                             <li><a  href="{{ path('facture_apayer') }}"> Facture à payer</a></li>

                             
                       <li role="separator" class="divider"></li>
                                 <li><a  href="{{ path('facture_index_prestas') }}">Prestations</a></li>
                              {% if is_granted('ROLE_MEGA_ADMIN') %}
                                 <li><a  href="{{ path('facture_new') }}"> !!! facture_new</a></li>
                              {% endif %}
                          </ul>
                    </li>
                {% endif %}
                
                    {% if is_granted('ROLE_MEGA_ADMIN') %}
                            <li><a  href="{{ path('trash_index') }}"> <i class='glyphicon glyphicon-trash'></i>TRASH</a></li>
                    {% endif %}

                                    
                                    
   
                
                     </ul>
                
            {% if is_granted('ROLE_ADMIN_SUPERVISOR')  %}
                <div class="form-group">
                    
                     {% if path starts with '/backoffice/gestionnaire' %}
                         {% set search_placeholder='Rechercher un gestionnaire' %}
                         {% set search_path=path("pericles3_gestionnaire_search")  %}
                     {% elseif path starts with '/backoffice/user' %}
                         {% set search_placeholder='Rechercher un utilisateur' %}
                         {% set search_path=path("pericles3_user_search")  %}
                     {% elseif path starts with '/backoffice/etablissement' %}
                         {% set search_placeholder='Rechercher un etablissement' %}
                         {% set search_path=path("pericles3_etablissement_search")  %}
                     {% endif %} 
                     {% if search_path is defined %}
                            <form action="{{search_path}}"  method="POST"  class="navbar-form navbar-right">
                            <div class="form-group">    
                            <input type="text" name='occurence' c class="form-control" placeholder="{{search_placeholder}}">
                            </div>
                                <button type="submit" class="btn btn-default">Rechercher</button>
                            </form>
                     {% endif %} 
                          
{#                     <form action="{{path("pericles3_etablissement_search")}}"  method="POST"  class="navbar-form navbar-right"> #}
{#                     <form action="{{path("pericles3_gestionnaire_search")}}"  method="POST"  class="navbar-form navbar-right"> #}
{#                     <form action="{{path("pericles3_user_search")}}"  method="POST"  class="navbar-form navbar-right"> #}
            {% endif %}           
           
             <ul class="nav navbar-nav navbar-right">
               <li title='Profil: {{app.user}}'><a href="{{ path("backoffice_arsene_user_profile", {}) }}"> {{'user' | get_icon | raw}}<span class='btn_txt'></span></a></li>
               <li title='D&eacute;connexion : {{app.user}}'><a href="{{ path("login_logout", {}) }}"><i class="icon-power unlog"></i><span class='btn_txt'></span></a></li>
             </ul>
           </div><!-- /.navbar-collapse -->
         </div><!-- /.container-fluid -->
       </nav>
