{% extends "BackOffice/layout.html.twig" %}

{% block title %}{{ parent() }} - Administration{% endblock %}
{% block out_container  %}

{{ parent() }}


    <h1>Administration </h1>

        
    
   {% if app.user.getCreaiOrAncreai  %}

        

        
    <div class='row'>
        <div class='col-md-5'>
            <div class='panel panel-primary'>
                <div class='panel-heading '>Editorial</div>
                        <table class='table table-bordered'>
                       <tbody>
                           {% for editorial in editos %}
                                <tr>
                                    <th><a href="{{ path('backoffice_editorial_show', { 'id': editorial.id }) }}">{{ editorial.titre }}</a></th>
                                    <td>{{editorial.commentaire  | limitChar(30) | raw  }}</td>
                                    <td>
                                        {{editorial.datePublication |hiddenDate('d-m-Y') | raw  }}
                                    </td>
                                        {% include 'BackOffice/editorial/inc_td_cible.html.twig' %}
                                    </tr>
                           {% endfor  %}
                       </tbody>
                   </table>
            </div>
        </div>
                       

        {% if is_granted('ROLE_SUPER_ADMIN_COMPTA_VIEW') %}
            <div class='col-md-4'>
                <div class='panel panel-primary'>
                    <div class='panel-heading '><a href="{{ path('ventes_par_mois') }}"><i class='glyphicon glyphicon-stats'></i>  Ventes </a></div>
                    <div class='panel-table'>
                        {% include("BackOffice/Stats/inc_paiements.html.twig") %}
                    </div>
                </div>
            </div>
        {% endif %}

                       
        <div class='col-md-3'>

                <div class='panel panel-primary'>
                    <div class='panel-heading '>Recherche</div>
                    <div class='panel-body'>
                        {% include "BackOffice/Etablissement/inc_search.html.twig" %}
                        <p>{% include "BackOffice/Gestionnaire/inc_search.html.twig" %}
                        <p>{% include "BackOffice/user/inc_search.html.twig" %} 
                    </div>
                </div>
            </div>
        </div>
     
        
                            
                            
        
        
        
        {% if  BiblioLiensMorts | length > 0 %}
            <div class='alert alert-danger'>
                Liens morts !!! :
                {% include "BackOffice/bibliothequeancreai/inc_list.html.twig" with {'bibliothequeAncreais' : BiblioLiensMorts} %}
            </div>
        {% endif %}
 
        
        
        {% if is_granted('ROLE_SUPER_ADMIN_COMPTA_EDIT') %}
            <h1>Factures</h1>
            {% include 'BackOffice/facture/inc_main_row.html.twig' %}
         {% endif %} 
        
        
                   
        
        {% if is_granted('ROLE_SUPER_ADMIN_TRAITEMENT_DEMANDE') %}
            <h1>Demandes de créations / Infos ANCREAI</h1>
            {% include "BackOffice/Demande/inc_index.html.twig"  %}
        {% endif %} 
        
        
        
        {% if app.user.isCreai %}
               

                
            
                <h1>Demandes de créations / Infos {{app.user.creai}}</h1>
                {% include "BackOffice/Demande/inc_index_creai.html.twig"  %}
        {% endif %} 
    

        
        
        
        <h1>Etablissements / Utilisateurs </h1>
        
        {% include "BackOffice/inc_index_admin.html.twig"  %}




    {% endif %}
    
  
  
    {% if app.user.ReferentielsPublic | length > 0  %}
         <div class='alert alert-danger'>
            <h1>Référentiel en developpement</h1>
            {% include "BackOffice/referentielpublic/list_endev.html.twig" with {'referentielPublics' : app.user.ReferentielsPublic   }  %}
                    
        </div>
  
    {% endif %}

    
    
  
  
    
 
    
{% endblock %}