{% extends "::layout.html.twig" %}

         
        {% block chartjsversion %}
            <script src="{{ asset('bundles/chartjs/js/Chart.min.js') }}"></script> 
            
        {% endblock %}
        
        
             

        
        
        {% block large_header %}
             {% if is_granted('ROLE_SUPER_ADMIN') %}
                    {% include "BackOffice/inc_menu.html.twig" %}
             {% else %} 
                {{parent()}}
             {% endif %} 
        {% endblock %}
        
{# block title %}{{ parent() }} - Administration{% endblock #}
 

{% block legend %}
{% endblock %}
        
{% block menu %}
            
 {% if is_granted('ROLE_SUPER_ADMIN') %}
 	{% set size_menu_backoffice_item = 3 %}
 {% elseif is_granted('ROLE_GESTIONNAIRE') %}
 	{% set size_menu_backoffice_item = 4 %}
 {% else  %} 
 	{% set size_menu_backoffice_item = 12 %}
 {% endif %} 
  

 
 
 
	<nav> 
	    <div class="row MenuBackOffice screen_only">
                    {% if  is_granted('ROLE_GESTIONNAIRE')  %}
                                        <a class="col-sm-{{size_menu_backoffice_item}}" href="{{ path('backoffice_gestionnaire_index', {}) }}">{{'gestionnaire' | get_icon | raw}} Gestionnaire</a>
                                        <a class="col-sm-{{size_menu_backoffice_item}}" href="{{ path('pericles3_backoffice_etablissement', {}) }}">{{'etablissement' | get_icon | raw}} Etablissements</a>
                                        <a class="col-sm-{{size_menu_backoffice_item}}" href="{{ path('backoffice_user_index') }}">{{'users' | get_icon | raw}}Utilisateurs</a>
                    {% endif %} 
            </div>
	</nav>
    {#
                                {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <div class="row subrow  MenuBackOffice screen_only">
                            <a class="col-sm-{{size_menu_backoffice_item}}" href="{{ path('backoffice_demande_index', {}) }}">Demandes 
                                {% include "BackOffice/Demande/inc_notif_demande_main_creation.html.twig" %}        
                                {% include "BackOffice/Demande/inc_notif_demande_main_info.html.twig" %}        
                            </a>
                        </div>
                        {% endif %} 
    #}
    
    
                       
<div style="clear:both;"></div>
{% endblock %}

{% block body %}
   {# parent() #} 
{% endblock %}

{% block javascripts %}
    
{% endblock %}

{% block initjs %}

{% endblock %}
