{% extends "BackOffice/layout.html.twig" %}




{% block body %}
    <h1><a href="{{ path('arsene_stats') }}">Stats</a></h1>
   
   
    
    <h2>CREAIs</h2>
        
    <div class='row'>
        <div class='col-md-6'>
    <table class='table table-triable_simple_desc table-bordered'>
        <thead class='color'>
            <tr>
                <td class='hidden'></td>
                <td>CREAI</td>
                <td>Nb Etab.</td>
                <td>Nb Gest.</td>
            {# 
                <td>Montant</td> 
            #}
            </tr>
        </thead>
    {% set total = 0 %}
    {% set total_gestionnaire = 0 %}
    {% set montant_total = 0 %}
    {% for creai in creais %}
        
        {% if creai.NbEtablissementsReels >1 %}
            <tr>
        {% else %}
            <tr class='alert-danger'>
        {% endif  %}
            
            
            <td class='hidden'>{{creai.NbEtablissementsReels}}</td>
            {#<td><a href='{{ path('arsene_stats_creai',{'id' : creai.id}) }}'>{{creai}}</a></td>#}
            <td>{{creai}}</td>
            
            <td class="text-right">{{creai.NbEtablissementsReels}}</td>
            <td class="text-right" >{{creai.NbGestionnairesReels}}</td>
            
                        {# 
             {{creai.FacturesMontant | TdCurrency | raw}} 
            #}

        </tr>
        {% set total = total + creai.NbEtablissementsReels %}
        {% set total_gestionnaire = total_gestionnaire + creai.NbGestionnairesReels %}
        {% set montant_total = montant_total + creai.FacturesMontant %}
    {% endfor  %}
        <tr class='alert-warning'>
            <td class='hidden'>{{NbSansCreai}}</td>
            <td>ANCREAI</td>
            <td class="text-right">{{NbSansCreai}}</td>
            <td class="text-right">{{NbGestionnaireSansCreai}}</td>
                        {# 
            {{(SommeFacturee-montant_total) | TdCurrency  | raw }}
            #}

        </tr>
        {% set total = total + NbSansCreai%}
        {% set total_gestionnaire = total_gestionnaire + NbGestionnaireSansCreai%}
    
    
    
        <tfoot class='total'>
            <tr>
                <td class='hidden'></td>
                <td>Total</td>
                <td class="text-right">{{total}}</td>
                <td class="text-right">{{total_gestionnaire}}</td>
                {# 
                     {{SommeFacturee | TdCurrency | raw}}  
                #}
            </tr>
        </tfoot>
    </table>
     </div>
        <div class='col-md-6'>
                {{ chartjs_canvas('grafic_bycreai',grafic_bycreai.width,grafic_bycreai.height,grafic_bycreai) }}
        </div>
     </div>
    
     
    <h2>Referentiels Publics</h2>
             
    <div class='row'>
        <div class='col-md-6'>
            {% set total = 0 %}
            <table class='table table-triable_simple_desc table-bordered '>
                <thead class='color'>
                    <tr>
                        <td class='hidden'></td>
                        <td>Referentiels Publics</td>
                        <td>Nb</td>
                    </tr>
                </thead>
            {% for referentielPublic in referentielsPublics %}
                <tr>
                    <td class='hidden'>{{referentielPublic.NbEtablissementsReelsCascade}}</td>
                    <td>{{referentielPublic.public}}</td>
                    <td>{{referentielPublic.NbEtablissementsReelsCascade}}</td>
                </tr>
                {% set total = total + referentielPublic.NbEtablissementsReelsCascade %}
            {% endfor  %}
                <tfoot class='total'>
                    <tr>
                        <td class='hidden'></td>
                        <td>Total</td>
                        <td>{{total}}</td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class='col-md-6'>
              {{ chartjs_canvas('grafic_bypublic',grafic_bypublic.width,grafic_bypublic.height,grafic_bypublic) }}
       </div>
    </div>

            
            
 
       <p>                
     <a class='btn btn-block btn-primary' href="{{ path('arsene_stats_connections') }}">Stats User</a>
 
    
{% endblock %}
 