{% extends "BackOffice/layout.html.twig" %}


{% block body %}
    <h1>{{'user' | get_icon | raw}}  Utilisateur</h1>
    <h2>{{ user.username }}</h2>

    
    <table class='table table-bordered'> 
        <tbody>
            {% if user.etablissement is not empty %}
            <tr>
                <td>Etablissement</td>
                <td>{{ user.etablissement}}</td>
            </tr>
            {% endif %}
            
            {% if user.gestionnaire is not empty %}
            <tr>
                <td>Gestionnaire</a></td>
                <td>{{ user.gestionnaire.nom }}</a></td>
            </tr>
            {% endif %}            
            <tr>
                <th>Login</th>
                <td>{{ user.username }}</td>
            </tr>

         
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Dernière connection</th>
                <td>{% if user.dateLastConnect %}{{ user.dateLastConnect|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Date de création</th>
                <td>{% if user.dateCreate %}{{ user.dateCreate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Role principale</th>
                <td>
                    {{user.RolePrincipal | role_principal_lib | raw}}
                    
                        {% for role in user.roles %}
                            {% if (role !=user.RolePrincipal) %}
                                {{ role | role_icon | raw  }} 
                            {% endif %}
                        {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

    
                
                 
                
   <div class="row">
        <div class='col-md-6'>
           <a class="btn btn-link back_to_list full-width" href="{{ path('pericles3_homepage') }}">Retour à {{application_name}}</a>
       </div>
        <div class='col-md-6'>
               <a class="btn btn-warning full-width" href="{{ path('front_office_user_edit_password') }}"><i class="glyphicon glyphicon-pencil "></i>Modifier le mot de passe</a>
       </div>
    </div>

  
  
  
  
       

    



            
            
                                  
{% endblock %}
