{% extends "BackOffice/layout.html.twig" %}
{% block body %}
    <h1>Finess Categories </h1>

     <table class='table table-bordered table-triable'>
        <thead>
            <tr>
                <th>Id</th>
                <th>Categorie </th>
                <th>Nb Etablissements</th>
                <th>Référentiel Public par défaut</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for finessCategorie in finessCategories %}
            <tr>
                <td><a href="{{ path('backoffice_finess_categorie_show', { 'id': finessCategorie.id }) }}">{{ finessCategorie.id }}</a></td>
                <td><a href="{{ path('backoffice_finess_categorie_show', { 'id': finessCategorie.id }) }}">{{ finessCategorie.categorielib }}</a></td>
                <td>
                    {{ finessCategorie.NbEtablissements }}
                </td>
               
                 {% if finessCategorie.referentielPublicDefault is not empty  %}
                        {% include "BackOffice/referentielpublic/inc_td.html.twig" with {'referentielPublic' : finessCategorie.referentielPublicDefault }  %}</td>
                 {% else %}
                     <td></td>
                {% endif %}
    
                
                <td>
                    
                        <a href="{{ path('backoffice_finess_categorie_show', { 'id': finessCategorie.id }) }}">show</a>
                        {% if  is_granted('ROLE_MEGA_ADMIN') %}
                            <a href="{{ path('backoffice_finess_categorie_edit', { 'id': finessCategorie.id }) }}">edit</a>
                        {% endif %}
                        
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{#
    <ul>
        <li>
            <a href="{{ path('backoffice_finess_categorie_new') }}">Create a new finessCategorie</a>
        </li>
    </ul>
#}

{% endblock %}
