{% extends "BackOffice/layout.html.twig" %}

{% block body %}
    <h1><a href="{{ path('backoffice_finess_categorie_index') }}">Finess Categories </a>
    <h2>{{ finessCategorie.id }} :  {{ finessCategorie.categorielib }}</h2>
 
    {% if finessCategorie.referentielPublicDefault is not empty  %}
        {% if finessCategorie.referentielPublicDefault.obsolete %}
                <div title='! Le référentiel est obsolete' class='alert alert-danger' >{{finessCategorie.referentielPublicDefault.short}} ({{finessCategorie.referentielPublicDefault.year}})</div>
        {% elseif finessCategorie.referentielPublicDefault.EnDev %}
                <div title='! Le référentiel est en cours de développement' class='alert alert-warning'  >{{finessCategorie.referentielPublicDefault.short}} ({{finessCategorie.referentielPublicDefault.year}})</div>
        {% else %}
                    <div title='Le référentiel est fini et en production' class='alert alert-success'>{{finessCategorie.referentielPublicDefault.short}} ({{finessCategorie.referentielPublicDefault.year}})</div>
        {% endif %}
    {% else %}
            <div class='alert alert-danger' title=''>Pas de référentiel public par défaut</div>
    {% endif %}
    
     
 
{% endblock %}
 
{% block out_container  %}

      {% if is_granted('ROLE_SUPER_ADMIN') %}
            {% include 'BackOffice/Etablissement/inc_titre.html.twig' %}
            {% include 'BackOffice/Etablissement/list.html.twig' %}
      {% endif %}
      
      

    
{% endblock %}
