{% extends "BackOffice/layout.html.twig" %}

{% block body %}
    <h1> <a href="{{  path('backoffice_profilesroles_index') }}"> Profiles Roles</a></h1>

    <table class='table table-bordered'>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nameprofil</th>
                <th>Description</th>
{#                <th>Roles</th> #}
                <th>Typeuser</th>
                <th>Icon</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for profilesRole in profilesRoles %}
            <tr>
                <td><a href="{{ path('backoffice_profilesroles_show', { 'id': profilesRole.id }) }}">{{ profilesRole.id }}</a></td>
                <td><a href="{{ path('backoffice_profilesroles_show', { 'id': profilesRole.id }) }}">{{ profilesRole.NameProfil }}</a></td>
                <td>{{ profilesRole.Description }}</td>
      {#          <td>{% if profilesRole.Roles %}{{ profilesRole.Roles|join(', ') }}{% endif %}</td>#} 
                <td>{{ profilesRole.TypeUser }}</td>
                <td><i class='{{ profilesRole.Icon }}'></i</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('backoffice_profilesroles_show', { 'id': profilesRole.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('backoffice_profilesroles_edit', { 'id': profilesRole.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        
        
    {% if is_granted('ROLE_MEGA_ADMIN') %}
        
            
    <div class='row'>
        <div class="col-md-6">    
        <a class='btn  btn-warning full-width'  href="{{  path('backoffice_profilesroles_new',{'type' : "gestionnaire"}) }}"> <i class="glyphicon glyphicon-king"></i>Nouveau Profil Gestionnaire</a>
        </div>
        <div class="col-md-6">    
        <a class='btn  btn-warning full-width'  href="{{  path('backoffice_profilesroles_new',{'type' : "etablissement"}) }}"> <i class="glyphicon glyphicon-queen"></i> Nouveau Profil Etablissement</a>
        <a class='btn  btn-warning full-width'  href="{{  path('backoffice_profilesroles_new',{'type' : "pato"}) }}"> <i class="glyphicon glyphicon-queen"></i> Nouveau Profil Etablissement</a>
        </div>
    </div>
    {% endif %}
{% endblock %}
