{% extends "BackOffice/layout.html.twig" %}


{% block body %}
    <h1> <a href="{{  path('backoffice_profilesroles_index') }}"> Profiles Roles</a></h1>

    <table class='table table-bordered'>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ profilesRole.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ profilesRole.TypeUser }}</td>
            </tr>
            <tr>
                <th>Nameprofil</th>
                <td>{{ profilesRole.NameProfil }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ profilesRole.Description }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{% if profilesRole.Roles %}{{ profilesRole.Roles|join(' -  ') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Icon</th>
                <td><big><big><big><i class='{{ profilesRole.Icon }}'></i></big></big></big></td>
            </tr>
        </tbody>
    </table>

            
    <div class='row'>
        <div class="col-md-4">    
            <a class='btn  btn-primary full-width'  href="{{ path('backoffice_profilesroles_index') }}">Back to the list</a>
        </div>
        <div class="col-md-4">    
            <a class='btn  btn-warning full-width'  href="{{ path('backoffice_profilesroles_edit', { 'id': profilesRole.id }) }}">Edit</a>
        </div>
        <div class="col-md-4">    
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </div>
    </div>
{% endblock %}
