    <table class='table table-bordered table-triable'>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Date de <br>Création</th>
                <th>referentiel Public</th>
                <th>referentiel Cible</th>
                <th>Branche</th>
                <th>Patch</th>
                
                <th>gestionnaire</th>
                <th>Questions <br>Répondues</th>
                <th>Critères<br> notés</th>
                <th>Objectifs<br> Opérationnels</th>
                <th>constats</th>
                <th>Preuves</th>
                <th>Sauvegades</th>
                
                <th>Usage disque </th>
                <th>Creai</th>
                <th>Switchable !</th>
                <th>Patch Automatique <br> programmé</th>
            </tr>
        </thead>
        
       

        <tbody>
        {% for etablissement in etablissements  %}
            
            {% if etablissement.AMigrer %}
           
            <tr>
                <td  class='alert alert-info' > <a href="{{ path('backoffice_etablissement_view', { 'id': etablissement.id }) }}">{{ etablissement.nom }}</td>           
                <td>{{ etablissement.CreatedDate  | hiddenDate | raw }}</td>

                {% include "BackOffice/referentielpublic/inc_td.html.twig" with {'referentielPublic' : etablissement.referentielPublic }  %}
                
                
                 {% if etablissement.referentielPublicCible is not empty  %}
                        {% include "BackOffice/referentielpublic/inc_td.html.twig" with {'referentielPublic' : etablissement.referentielPublicCible }  %}</td>
                 {% else %}
                     <td></td>
                {% endif %}
                

                 {% if etablissement.DefautPatch  %}
                    <td class='alert-success'>{{etablissement.DefautPatch}}</td>
                 {% else %}
                    <td class='alert-danger'>Patch manquant</td>
                 {% endif %}
                 
                 {% if etablissement.getReferentielPublicCibleMemeBranche  %}
                    <td class='alert-success'>Même branche</td>
                 {% else %}
                    <td class='alert-warning'>Migration branche</td>
                 {% endif %}
                 
                 
                 
                 
                
                 
                
                 
                
                
                    {% if etablissement.gestionnaire is not null %}
                        <td><a href="{{ path('backoffice_gestionnaire_show', { 'id': etablissement.gestionnaire.id }) }}">{{ etablissement.gestionnaire }}</a></td>
                    {% else %}
                        <td></td>
                    {% endif %}
                
                     
                 
                    <td>{{ etablissement.NbQuestionsReponduesCache | progressBarNotCent(etablissement.NbQuestions)  | raw}} </td>
                    <td>{{ etablissement.NbCriteresNotesCache | progressBarNotCent( etablissement.getNbCriteres)  | raw}}  </td>
                    
                    {% include "Nuts/inc_td_green_zero.html.twig" with {'value' : etablissement.getNbObjectifsOperationnel }  %}
                    {% include "Nuts/inc_td_green_zero.html.twig" with {'value' : etablissement.nbConstats }  %}
                    {% include "Nuts/inc_td_green_zero.html.twig" with {'value' : etablissement.getNbPreuves }  %}
                    {% include "Nuts/inc_td_green_zero.html.twig" with {'value' : etablissement.getNbSauvegardes }  %}
 
                    
                    {% set SizeTotalFileUploadCache = etablissement.SizeTotalFileUploadCache %}
                    {% if etablissement.sizeMaxUpload  <   SizeTotalFileUploadCache %}
                        <td title='{{SizeTotalFileUploadCache | formatBytes}} sur  {{etablissement.sizeMaxUpload | formatBytes}} autorisés).' class='alert alert-danger'>    
                    {% else %}
                        <td title='{{SizeTotalFileUploadCache | formatBytes}} sur  {{etablissement.sizeMaxUpload | formatBytes}} autorisés).' class='alert alert-success'>    
                    {% endif %}
                        
                        {{SizeTotalFileUploadCache | sizeFileUpladBar(etablissement.sizeMaxUpload ) | raw }}
                    </td> 

                
                
                
                
                    {% if etablissement.creaiCascade is empty %}
                        <td class='danger small'>{{ etablissement.creaiCascade}}</td>
                    {% else  %}
                        <td class='small small'>{{ etablissement.creaiCascade}}</td>
                    {% endif %}  
                    
                    <td class='small small'>
                        {% if etablissement.getSwitchableRef %} Switchable ! {% endif %}
                    </td>
                     

                
                    {% if etablissement.getPatchToDoAFaire is empty %}
                        <td class='alert-success'>
                             {% if  is_granted('ROLE_MEGA_ADMIN') and etablissement.DefautPatch is not empty  %}
                                 <a target='blank' href='{{ path('backoffice_etablissement_patch_todo', {'id': etablissement.id,'patch_id': etablissement.DefautPatch.id }) }}'> Patch Auto ! </a>
                             {% endif %}
                        </td>
                    {% else  %}
                        <td class='alert-danger'>
                            {% if  is_granted('ROLE_MEGA_ADMIN')  %}
                                <a href='{{ path('backoffice_patch_todo_show', { 'id': etablissement.getPatchToDoAFaire.id }) }}'>-- {{ etablissement.getPatchToDoAFaire}}</a>
                             {% else  %}
                                 {{ etablissement.getPatchToDoAFaire}}
                             {% endif %}
                        </td>
                    {% endif %}                

                 
               
            </tr>
            {% endif%}

        {% endfor %}
        </tbody>
    </table>
        
        <div class='alert alert-success'>
            {{etablissements | length }} établissements affichés
        </div>
    