{# empty Twig template #}

            {% if etablissement.PatchToDoAfaire %}
                    <div class='alert alert-warning'><b>Attention !</b> L'établissement va être patché de manier automatique vers <b>{{etablissement.PatchToDoAfaire.getCible}}</b> </div>
            {%  endif %}
            
                 
             {% if  is_granted('ROLE_SUPER_ADMIN') and  etablissement.patchable  %}
                 <div class='panel panel-danger'>
                                <div class='panel-heading'><a data-toggle="collapse" href="#collapse_ref_patch_eval_{{etablissement.id}}">Patchs !!! </a></div>        
                                <div  id="collapse_ref_patch_eval_{{etablissement.id}}" class='panel-body panel-collapse collapse list-group'>

                                    <table class='table table-bordered'>
                            {% for patch in etablissement.referentielPublic.patchSources %}
                                <tr>
                                    
                                    {% if patch == etablissement.DefautPatch %}
                                            <td class='success'>{{patch.cible }}</td>
                                    {% else  %}
                                            <td class='danger'>{{patch.cible }}</td>
                                    {% endif %}
                                    
                                                                        

                                    {% if  is_granted('ROLE_MEGA_ADMIN') and not etablissement.getPatchToDoAFaire  %}
                                        {#
                                    <td>                                    
                                        <span  data-btn_lib="Patcher" data-invite="Voulez-vous patcher le referentiel ?  des risques importants de pertes de données peuvent découlet de l'opération ?"    data-url_delete="{{ path('backoffice_etablissement_patch', {'id': etablissement.id,'patch_id': patch.id }) }}"  class = " DeleteBoxBefore btn  btn-danger full-width">Utiliser le patch !!! </span>
                                    </td>
                                        #}
                                    <td>                                    
                                        <span  data-btn_lib="Patcher" data-invite="Voulez-vous patcher le referentiel ?  des risques importants de pertes de données peuvent découlet de l'opération, le patch s'executeras dans la nuit... ?"    data-url_delete="{{ path('backoffice_etablissement_patch_todo', {'id': etablissement.id,'patch_id': patch.id }) }}"  class = " DeleteBoxBefore btn  btn-danger full-width">Patch Todo!!! </span>
                                    </td>
                                    {% endif %}
                                        
                                    {#
                                    #}
                                    <td><a href="{{ path('backoffice_eval_patch_etablissement', {'id': etablissement.id,'patch_id': patch.id }) }}"  class = "btn  btn-warning full-width">Evalue la transition </a></td>
                                    
                                    
                                    <td><a href="{{ path('backoffice_eval_patch_etablissement_pdf', {'id': etablissement.id,'patch_id': patch.id }) }}"  class = "btn  btn-warning full-width">PDF </a></td
                                </tr>
                            {% endfor%}
                                </table>
                            
                                    </div>
                        </div>

              {% endif %}