 

      
      <table class='table table-bordered'>
            <tr>
                <th>Nom</th><td>{{ etablissement.nom }}</td>
            </tr>
            
            {% if etablissement.gestionnaire.id  is defined and  is_granted('ROLE_SUPER_ADMIN')  %}
                  <tr><th>Gestionnaire</th><td> <a href="{{ path('backoffice_gestionnaire_show', { 'id': etablissement.gestionnaire.id }) }}"> {{'gestionnaire' | get_icon | raw}} {{etablissement.gestionnaire}} </a></dt>
              {% endif %}

                
            {% if is_granted('ROLE_SUPER_ADMIN')   %}
                <tr>
                <th>Categorie </th>
                    {% if etablissement.category.reel %}
                      <td class='alert alert-info' title='{{ etablissement.category.commentaire}}'> {{ etablissement.category }}  </td>
                    {% else %}
                      <td class='alert alert-warning' title='{{ etablissement.category.commentaire}}'> {{ etablissement.category }}  </td>
                    {% endif %}
                   </tr> 
                    <tr>  
                <th> Type Facture </th>
                 
                    {% include "BackOffice/Etablissement/inc_td_mode_cotisation.html.twig"    %}
                </tr>  
            {% endif %}

                <tr>  
                    <th>Adresse </th> <td>{{ etablissement.adresse }} - {{ etablissement.codepostal }} - {{ etablissement.ville }}</td>
                </tr>
                <tr>
                    <th>Tel</th>
                    <td>{{ etablissement.tel | telFormat }}</td>
                </tr>
                
                <tr>
                <th>Referentiel</th>  {% include "BackOffice/referentielpublic/inc_td.html.twig" with {'referentielPublic' : etablissement.referentielPublic }  %}</td>
            </tr><tr>
                <th>FINESS</th>
                
                {% if  etablissement.codeFiness %}
                    <td class='alert-success'>
                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                                <a href='{{ path("backoffice_finess_show", {"id":  etablissement.codeFiness}) }}'>{{ etablissement.codeFiness}}</a>
                            {% else %}
                                {{ etablissement.codeFiness}}
                            {% endif %}
                    </td>
                {% else %}
                    <td class='alert-danger'>
                        
                    {% if is_granted('ROLE_SUPER_ADMIN_ETABLISSEMENT') %}
                        <a href='{{ path("backoffice_etablissement_linkfiness", {"id":  etablissement.id}) }}'>Lier à un finess</a>
                    {% endif %}
                        
                    </td>
    
                {% endif %}
                {#
                {% if  etablissement.codeFiness %}
                    <td class='alert-success'>
                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                                <a href='{{ path("backoffice_finess_show", {"id":  etablissement.codeFiness}) }}'>{{ etablissement.codeFiness}}</a>
                            {% else %}
                                {{ etablissement.codeFiness}}
                            {% endif %}
                    </td>
                {% endif %}
                #}
            </tr><tr>
 
            {% if is_granted('ROLE_SUPER_ADMIN')   %}
            <tr>
                <th>Crée par</th>
                <td><b>{{ etablissement.CreatedBy }}</b> le <b>{{ etablissement.CreatedDate  | date('Y-m-d H:i:s') }}</b></td>
            </tr>
            <tr>
                <th>Dernier accès</th>
                {% include "Nuts/inc_td_last_connect.html.twig"  with {'dateLastConnect' : etablissement.dateLastConnect}  %}
            </tr>
            
            {% endif %}
            <tr>
                <th>Departement</th>
                <td>{{ etablissement.departement}}</td>
            </tr>
            <tr>
                <th>CREAI</th>
                <td>{{ etablissement.creai}} 
                    <span title='délégation CREAI'>{{ etablissement.delegationCreai | reponseGlyphIcone | raw }} 
                        {% if is_granted('ROLE_ADMIN') and  is_granted('ROLE_GESTIONNAIRE')   %}
                           {% if etablissement.delegationCreai %}
                               {% include 'BackOffice/utilsateur_arsene/inc_delegation_on_message.html.twig'  %}
                               <a class="btn btn-warning" href="{{ path('backoffice_etab_gest_undeleg', {"id":  etablissement.id}) }}">Désactiver la délégation CREAI</a>
                           {% else %}
                               {% include 'BackOffice/utilsateur_arsene/inc_delegation_off_message.html.twig'  %}
                               <a class="btn btn-warning" href="{{ path('backoffice_etab_gest_deleg' , {"id":  etablissement.id}) }}">Activer la délégation CREAI</a>
                           {% endif  %}
                       {% endif  %}
                    </td>
            </tr>
            
            {% if etablissement.delegationCreai and (etablissement.creai == app.user.creai or  is_granted('ROLE_ADMIN_SUPERVISOR')) %}
            <tr>
                <th>Evaluation</th>
                <td class='btn-warning'><span title='délégation CREAI'>  <a href='{{ path("pericles3_homepage_etablissement", {"id":  etablissement.id}) }}'>Voir les saisies / PAQ / biblio</a></td>
            </tr>
            {% endif  %}
                
</table>            
        