{% extends "BackOffice/layout.html.twig" %}

{% block body %}
    {% if gestionnaire.nom  is defined %}
            <h1>  {{gestionnaire.nom}} </h1>
            <h2>Etablissement - Création</h2>
         {% else %}
            <h1>Etablissement - Création</h1>
         {% endif %}
{% endblock %}

{% block out_container  %} 
  
<div class='row'>
    <div class='col-md-6 white'>
        
            <div class='panel panel-primary'><div class='panel-heading '>Formulaire</div>
                        {{ form_start(form) }}
                        {{ form_widget(form) }}
                            {{ include("Nuts/cancelsave.html.twig") }}
                        {{ form_end(form) }}
                </div>
    </div>
                
                 
                {% if demandeEtablissement is defined %}
			{% if demandeEtablissement is not empty %}
				<div class='col-md-6 white'>
						<div class='panel panel-primary'><div class='panel-heading '>Demande </div>
						{% include "BackOffice/Demande/Etablissement/inc_show.html.twig"     %} 
						</div>
					</div>
			{% endif %}
		{% endif %}


        {% if finess  is defined %}
                <div class='col-md-6 white'>
                    <div class='panel panel-primary'><div class='panel-heading '>FINESS </div>
                        {% include "BackOffice/finess/inc_show.html.twig"  %} 
                </div>
                </div>
        {% endif %}
        
        
        
        
</div>

{% endblock %}
