{% extends "BackOffice/layout.html.twig" %}

{% block title %}{{ parent() }} - Etablissement{% endblock %}
{% block message_flash %}
{% endblock %}




{% block body %}
    {% set etablissement = cur_etablissement %}
        <h1> <a href="{{ path('backoffice_etablissement_view', {'id': etablissement.id})}}">{{etablissement}}</a> </h1>
        {% if  is_granted('ROLE_MEGA_ADMIN') %}
            
              {% if etape == 1 %}
                        {% include "BackOffice/Etablissement/suivi_eval.html.twig"   %}
                {% endif %}
 
                                                
            <div class='alert alert-danger'>
                Vous voulez changer le public de  <b><a href="{{ path('referentielpublic_show', { 'id': ReferentielPublicSource.id })}}" >{{ReferentielPublicSource}}</b></a> à  <b><a href="{{ path('referentielpublic_show', { 'id': ReferentielPublicCible.id })}}" >{{ReferentielPublicCible}}</a></b> 
            </div>
            
                {% include "MessageFlash/messageFlash.html.twig" %}

                
                
                {% if etape == 1 %}
                   <a target='blank' href="{{ path('backoffice_eval_patch_etablissement', {'id': etablissement.id,'patch_id': patch.id }) }}"  class = "back_to back_to_list btn  btn-warning full-width">Evalue la transition avec {{patch}}</a>
                {% endif  %}

                    <a class='btn  btn-danger full-width'  href="{{ path('backoffice_etablissement_patch_go', { 'id': etablissement.id, 'patch_id': patch.id, 'etape': etape })}}" >
                        {% if etape == 0 %}!!! Lancer le patch !! {% else %}Prochaine étape : {{etape}}{% endif %}
                    </a>

        {% endif  %}
         
{% endblock %}

    
