{% extends "BackOffice/layout.html.twig" %}

{% block title %}{{ parent() }} - Etablissement{% endblock %}

{% block body %}
    {% set etablissement = cur_etablissement %}
                {% if etablissement.Impaye %}
                     <h1 class='fincontrat' title='{{ etablissement.category.commentaire}}'>Evaluation bloquée !: <br>Etablissement {{ etablissement.nom }}</h1>
                {% elseif etablissement.category.reel %}
                      <h1  title='{{ etablissement.category.commentaire}}'>Etablissement {{ etablissement.nom }}</h1>
                {% elseif etablissement.finContrat %}
                     <h1 class='fincontrat' title='{{ etablissement.category.commentaire}}'>Contrat TERMINE : <br>Etablissement {{ etablissement.nom }}</h1>
                {% else %}
                     <h1 class='alert-warning' title='{{ etablissement.category.commentaire}}'>Etablissement {{ etablissement.nom }}</h1>
                {% endif %}

      {% include "BackOffice/Etablissement/inc_show.html.twig" %} 
            {% include "BackOffice/Etablissement/suivi_eval.html.twig" %}

               <br>
                
    <div class="panel panel-primary">
        <div class="panel-heading"> <h3 class="panel-title"><i class='icon-user'></i>{{etablissement.users | length}} Utilisateurs ({{ etablissement.nom }})</h3> </div>
        
        
      <div class="panel-body">
         
                  
          
          {% if etablissement.users | length > 0   %}
                              {% set show_affected = false %}

                <div id='liste_user' data-reload_with='{{ path("backoffice_users_from_etablissent", {"id":  etablissement.id}) }}'>
                    {% include "BackOffice/user/list.html.twig" with {'users': etablissement.users} %}
                </div>

            {% else %}
              
              {% if etablissement.gestionnaire %}
                    <div class="alert alert-warning" role="warning">Il n'y a aucun utilisateurs établissement ! </div>
                    {% if etablissement.gestionnaire.nbUsers %}
                          <div class="alert alert-success" role="success">Le gestionnaire à {{ etablissement.gestionnaire.nbUsers }}</div>
                    {% else %}
                          <div class="alert alert-danger" role="danger">Le gestionnaire n'a pas d'utilisateurs non plus ! </div>
                    {% endif %}
                        
              {% else %}
                    <div class="alert alert-danger" role="danger">Chaque établissement doit avoir au moin un utilisateur/administrateur ! </div>
              {% endif %}
              
              {% if etablissement.demande %}
                    {% if etablissement.demande.email  and etablissement.demande.demandeurNom and etablissement.demande.demandeurPrenom %}
                        <a href="{{ path('backoffice_etablissement_add_user_fromdemande', {'id': etablissement.id}) }}"  class = "btn   btn-with-big-ico  btn-success full-width">Créer l'utilisateur pour <b>{{etablissement.demande.demandeurPrenom}}.{{etablissement.demande.demandeurNom}} ({{etablissement.demande.email}})</b> avec les droits administrateurs <i class='glyphicon glyphicon-plus'></i><i class='glyphicon glyphicon-user'></i> </a>
                    {% endif %}
                {% endif %}
        {% endif %}
              
        </div>
        
        <div class="panel-footer">
            
            
    {% if is_granted('ROLE_SUPER_ADMIN_UTILISATEUR') or ((is_granted('ROLE_ADMIN') and (app.user.GetParentType == "E" or app.user.GetParentType == "G" )))  %}
         
                 <a href="{{ path('backoffice_etablissement_add_user_choiceprofile', {'id': etablissement.id}) }}"  class = "btn  btn-link full-width">Ajouter un utilisateur</a>
    {% endif %}
    
    
    
        </div>
    </div>
    
    
    
    
    
    
     
    
          {% if etablissement.userPole | length > 0   %}
               
    <div class="panel panel-primary">
        <div class="panel-heading"> <h3 class="panel-title"><i class='icon-user'></i>{{etablissement.userPole | length}} Gestionnaires Poles ({{ etablissement.gestionnaire }})</h3> </div>
      <div class="panel-body">
          {% if etablissement.userPole | length > 0   %}
                {% set show_affected = false %}

                <div id='liste_user_pole' data-reload_with='{{ path("backoffice_users_from_etablissent_pole", {"id":  etablissement.id}) }}'>
                    {% include "BackOffice/user/list.html.twig" with {'users': etablissement.userPole, 'list_user_id' : 'liste_user_pole'  } %}
                </div>
        {% endif %}
        </div>
    </div>
        {% endif %}
    
        
    
        {% if etablissement.nbDomaines == 0 %}
             <p>&nbsp; <p>
                     <div class='panel panel-danger'>
                        <div class='panel-heading'>Pas de référentiel pour l'établissement!!!! </div>        
                        <div   class='panel-body list-group'>
                            <div class='alert alert-danger btn-with-big-ico  '>Une erreur est survenue lors de la création du référentiel !! L'évaluation est donc impossible !!!
                                <i class='glyphicon glyphicon-warning-sign'></i>
                            </div>
                                    {% if is_granted('ROLE_SUPER_ADMIN_ETABLISSEMENT')  %}
                                        <a class='btn btn-danger btn-block btn-with-big-ico' href="{{ path('backoffice_etablissement_change_ref', { 'id': etablissement.id, 'ref_id': etablissement.ReferentielPublic.id })  }}">Essayer de regénérer le réferentiel   {{etablissement.ReferentielPublic}}<i class='glyphicon glyphicon-warning-sign'></i></a>
                                    {% endif %}  
                        </div>
                    </div>
        {% endif  %}
         
    
    
    
                {% if is_granted('ROLE_SUPER_ADMIN_TRAITEMENT_DEMANDE')  and etablissement.demande is not empty %}
                        {% if etablissement.demande.getEtat.Id != 3 %}
                            <div class='alert alert-danger btn-with-big-ico  '>La demande n'est pas considéré comme terminée, modifier <a href='{{ path('demande_etablissement_editancreai', {'id': etablissement.demande.id}) }}'>l'état de la demande </a>
                                <i class='glyphicon glyphicon-warning-sign'></i>
                            </div>
                        {% endif %}
                {% endif %}

            
{% if is_granted('ROLE_SUPER_ADMIN_COMPTA_VIEW') and activate_facturation %}
    <div class="panel panel-primary">
        <div class="panel-heading"> <h3 class="panel-title"><i class='glyphicon glyphicon-euro'></i> Facturation </h3> </div>
        
        <div class="panel-body">
            {% if etablissement.ModeCotisation.Id == 0 %}
                <div class='alert alert-danger'>
                        L'établissement n'a pas de mode de cotisation identifié. Il est nécessaire de le renseigner pour effectuer des facturation !
                </div>
            {% endif %}
                
            {% if  etablissement.getFacturesAll | length > 0 %}
                {% include "BackOffice/facture/small_factures.html.twig" with {'factures': etablissement.facturesAll} %}
                
            <div class=' btn btn-primary full-width show_prestas' data-id_etablissement='{{ etablissement.id }}'><i class='glyphicon glyphicon-info-sign'>détail des prestas</i></div>

                                                                    
            {% endif %}
            {% if  etablissement.getFacturesNotAVoir  | length == 0 and etablissement.Facturable %}
                
                <div class='alert alert-danger'>
                        Aucune facture ! 
                        {% if is_granted('ROLE_SUPER_ADMIN_COMPTA_EDIT') and etablissement.ModeCotisation.Id > 0 %}  
                            <br><a class='btn btn-danger full-width' href='{{ path('facture_new_from_etab', {'id': etablissement.id}) }}'>Créer une facture pour l'établissement</a>
                        {% endif %}
                </div>
            {% endif %}
        </div>
    </div>

{% endif %}
    
  
    {% if is_granted('ROLE_SUPER_ADMIN_ETABLISSEMENT')  %}
        
        
        
        
        <div class='panel panel-danger'>
                        <div class='panel-heading'><a data-toggle="collapse" href="#collapse_sup">Suppression </a></div>        
                        <div  id="collapse_sup" class='panel-body panel-collapse collapse list-group'>
                            
                            

                        {% if   etablissement.isReel %} 
                                 <i data-invite="Voulez ne pouvez pas supprimer cet établissement  car c'est un établissement réél" class='CantDeleteBoxBefore glyphicon glyphicon-trash iconhead  redText btn  btn-danger active full-width '>Supprimer</i> 
                        {%  else %}
                                    <hr class='separateur'>    
                                {% if   etablissement.getSwitchableRef %}
                                    {% if   etablissement.getNbObjectifsOperationnel> 0 %}
                                        <i  data-invite="Voulez-vous supprimer de manière définitive les ojectifs opérationnels de l'établissement   ?" class='DeleteBoxBefore glyphicon glyphicon-trash iconhead redText btn  btn-danger active full-width'   data-url_delete="{{ path('backoffice_etablissement_delete_oo', { 'id': etablissement.id}) }}" > Supprimer tous les objectifs opérationnels de l'établissement</i>
                                    {%  elseif etablissement.getNbBibliotheques > 0 %}
                                        <i  data-invite="Voulez-vous supprimer de manière définitive les bibliothèques de l'établissement ?" class='DeleteBoxBefore glyphicon glyphicon-trash iconhead redText btn  btn-danger active full-width'   data-url_delete="{{ path('backoffice_etablissement_delete_biblio', { 'id': etablissement.id}) }}" > Supprimer tous les bibliothèques de l'établissement</i>
                                    {%  endif %}
                                {%  else %}
                                    <i  data-invite="Voulez-vous supprimer de manière définitive les données et les saisies de l'établissement   ?" class='DeleteBoxBefore glyphicon glyphicon-trash iconhead redText btn  btn-danger active full-width'   data-url_delete="{{ path('backoffice_etablissement_delete_saisies', { 'id': etablissement.id}) }}" > Supprimer toutes les saisies de l'établissement et ses sauvegardes</i>
                                {%  endif %}



                                            {% if etablissement.CantDelete %}
                                                                    <i data-invite="Voulez ne pouvez pas supprimer cet établissement  car : {{etablissement.MessageCantDelete | raw }}"
                                                                                    class='CantDeleteBoxBefore glyphicon glyphicon-trash iconhead  redText btn  btn-danger active full-width '>Supprimer</i> 
                                             {% else %}
                                                      <i data-invite="Voulez-vous supprimer définitivement l'établissement ? ?  ?"
                                                                 data-url_delete="{{ path('backoffice_etablissement_delete', {'id': etablissement.id}) }}"  
                                                                class='DeleteBoxBefore glyphicon glyphicon-trash iconhead redText btn  btn-danger active full-width'
                                                                >Supprimer l'établissement de manière définitive</i> 
                                                                <p><br>
                                             {%  endif %}



                            {% if   is_granted('ROLE_MEGA_ADMIN') %}
                                <p>&nbsp<i data-invite="Voulez-vous supprimer définitivement l'établissement ? ?  ?"
                                            data-url_delete="{{ path('backoffice_etablissement_delete_force', {'id': etablissement.id}) }}"  
                                           class='DeleteBoxBefore glyphicon glyphicon-trash iconhead redText btn  btn-danger active full-width'
                                           > !!!!!!!! Supprimer l'établissement de manière définitive EN FORCE !!!!!! </i> 
                                           <p>&nbsp&nbsp;
                             {%  endif %}
   {%  endif %}

                                    </div>            
                        </div>            
         
            
            
            
             {% if is_granted('ROLE_MEGA_ADMIN') and etablissement.getSwitchableRef   %}
                       {% include "BackOffice/Etablissement/inc_switch_etablissement.html.twig" %} 
             {%  endif %}
             


            
        
          <a class='btn  btn-warning full-width' href="{{ path('backoffice_etablissement_edit', {'id': etablissement.id})}}">Modifier</a> 
    {% endif %}
                             
         
    <br>
    <br>
           {% include "BackOffice/Etablissement/inc_patch_etablissement.html.twig" %} 


    <br>
    <br>
                               
    <a href="{{ path('pericles3_backoffice_etablissement') }}"  class = "back_to back_to_list btn  btn-link full-width">Retour à la liste</a>
 

    {% include "BackOffice/facture/inc_show_prestas_jquery_modal.html.twig"   %}
	
        
{% endblock %}


{% block javascripts %}
 
    {% include "BackOffice/facture/inc_show_prestas_jquery.html.twig" with {'factures': cur_etablissement.facturesAll} %}
{% endblock %}


