         
    <div class="panel panel-primary">
        <div class="panel-heading"> <h3 class="panel-title">Suivi de l'évaluation</h3> </div>
          <table class='table table-bordered'>
            <tr>
                <th>Eléments d'apréciations</th>
                <td>{{ etablissement.NbQuestionsRepondues | progressBarNotCent(etablissement.NbQuestions)  | raw}}</td>
                <th>Preuves</th>
                <td>{{ etablissement.getNbPreuves }}  </td>
            </tr>
                <th>Critéres notés</th>
                <td>{{ etablissement.getNbCriteresWithNote | progressBarNotCent( etablissement.getNbCriteres)  | raw}}  </td>
                <th>Sauvegardes</th>
                    {% include "Synthese/Sauvegardes/inc_td_sauvegarde.html.twig" %} 
            </tr>
            <tr>
                <th>Objectifs Opérationnels</th>
                <td>{{ etablissement.getNbObjectifsOperationnel}}  </td>
                <th>Objectifs Stratégiques</th>
                <td>{{ etablissement.getNbObjectifsSrategique}}  </td>
            </tr>
            <tr>
                <th>bibliotheque</th>
                <td>{{ etablissement.nbBibliotheques}}  </td>
            </tr>
            <tr>
                <th>Constats</th>
                <td>{{ etablissement.nbConstats}}  </td>
                <th>Synthèse des domaines </th>
                <td>{{ etablissement.NbCommentaires}}  </td>
            </tr>
            <tr>
                <th>Utilisation du disque</th>
                    {% if etablissement.sizeMaxUpload  <   etablissement | sizeTotalFileUpload %}
                        <td title='{{etablissement | sizeTotalFileUpload | formatBytes}} sur  {{etablissement.sizeMaxUpload | formatBytes}} autorisés).' class='alert alert-danger'>    
                    {% else %}
                        <td title='{{etablissement | sizeTotalFileUpload | formatBytes}} sur  {{etablissement.sizeMaxUpload | formatBytes}} autorisés).' class='alert alert-success'>    
                    {% endif %}
                     {% if  is_granted('ROLE_ADMIN_SUPERVISOR') or app.user.creai == etablissement.creai %}
                        <a href="{{ path('backoffice_etablissement_view_disque', { 'id': etablissement.id }) }}"> {{etablissement | sizeTotalFileUpload  | sizeFileUpladBar(etablissement.sizeMaxUpload ) | raw }} </a>
                    {% else %}
                         {{etablissement | sizeTotalFileUpload  | sizeFileUpladBar(etablissement.sizeMaxUpload ) | raw }}                        
                    {% endif %}
                        </td>                   
                <th>Espace disque</th>
                  
                  
                        <td>{{etablissement.getStockageEtablissement}} :  {{etablissement.sizeMaxUpload | formatBytes}} </td>
                     
                    </td>
            </tr>


                
                
        </tbody>
    </table>            
    </div>            
            
            
            