
        
{% extends "BackOffice/Demande/layout.html.twig" %}
{% block body %}{{ parent() }}
    <h2>
                <a   href="{{ path('bo_demande_info_index') }}">Infos {{application_name}}</a>
    </h2>

    {% if targetCreai is not empty  %}
        <h3>{{targetCreai }}</h3>
    {% endif  %}

    
    {% include "BackOffice/Demande/Info/inc_liste.html.twig" %}

        <a  class='btn btn-link full-width' href="{{ path('backoffice_demande_index') }}"> Retour au menu des demandes</a>

{% endblock %}
