                   
                {% if app.user.hasOneEtablissement%}
                    {% set path_backup = path("pericles3_sauvegardes") %}
                {% else %}
                    {% set path_backup = path("pericles3_sauvegardes_etablissement", {'id': etablissement.id}) %}
                {% endif %}
            
        {% if  etablissement.SaisieTerminee  %}
        <div class="panel panel-primary">
            <div class="panel-heading"><h3 class="panel-title"> <a href="{{path_backup}}">Sauvegardes</a></h3></div>
            <div class="panel-body">
          
                     {% if etablissement.NbSauvegardes == 0 %}
                            <div class='alert alert-danger'>
                                    Vous n'avez effectué aucune sauvegarde ! il est conseillé d'effecuter une sauvegarde lorsque la l'évaluation est finie ! 
                                    <a href="{{ path_backup }}" class = "btn btn-danger  full-width">Sauvegardes</a>
                            </div> 
                     {% else %} 
                         {% if  etablissement.LastSauvegardeAgo('%y') >= '1' %}
                            <div class='alert alert-danger'>
                                Vous n'avez pas effectué de sauvegardes depuis au moins un an (la dernière remonte à {{etablissement.LastSauvegardeAgo('%y')}} an(s)
                                {% if etablissement.LastSauvegardeAgo('%M') > '00' %}
                                et   {{etablissement.LastSauvegardeAgo('%m')}} mois )
                               {% endif %} )
                                <br>! Il est conseillée d'en faire au moins une par an ! 
                            </div>
                                <a href="{{path_backup  }}" class = "btn btn-danger full-width">Sauvegardes</a>
                         {% else %} 
                             
                            <div class='alert alert-info glyphicon glyphicon-info-sign full-width'>
                                Votre dernière sauvegarde à moins de {{etablissement.LastSauvegardeAgo('%m') + 1}} mois.
                            </div> 
                            <a href="{{ path('pericles3_backup_synthese', {'id': etablissement.LastSauvegarde.id}) }}" class="glyphicon glyphicon-floppy-disk btn btn-link full-width">  {{etablissement.LastSauvegarde}}</a>
                            <p>
                            <p>
                            <p>
                            <a class="glyphicon glyphicon-floppy-disk btn btn-link full-width" href="{{ path_backup  }}">Toutes les sauvegardes</a>
                       {% endif %} 
                            
                     {% endif %} 
            </div> 
        </div> 
        {% else %}
        <div class="panel panel-warning">
            <div class="panel-heading"><h3 class="panel-title">Sauvegardes</h3></div>
            <div class="panel-body">
                <div class='alert alert-warning'>
                        L'évaluation n'est pas terminée ! Les sauvegardes ne sont pas disponibles.
                </div> 
            </div> 
        </div> 
                     
{% endif   %}
