{% extends "Synthese/layout.html.twig" %}



{% block body %}
    {{ parent() }}
    

    
    <h1><a href='{{ path('pericles3_sauvegardes')}}'}>Sauvegardes</a></h1>
    <h2>{{Sauvegarde}}</h2>
    
    <div>
        <div class="GraphSyntheseContainer">
            <canvas id="chartEvalGeneraleCanvas_{{Sauvegarde.id}}" height="500" width="500"></canvas>
        </div>
        
        <div class="synthese_menu">
            <div>    
                <span class='numero'>  </span> 
                     <span class='lib'> </span>
                     <span class='note'> {{Sauvegarde.dateCreate|date('m/Y ') }}</span>
                     <span class='note'> </span>
                     <span class='note'> {{ "now"|date("m/Y") }}</span>
            </div>
                     {% for domaine in Sauvegarde.domaines %}
                 <a href='{{ path('pericles3_sauvegardes_domaine', {'id': domaine.id}) }}'> 
                     <span class='numero'> {{ domaine.numero  }} </span> 
                     <span class='lib'> {{ domaine}} </span>
                     <span class='note'> {{ domaine.Note | formatNoteSimple}} </span>
                     <span class='note'> {{ domaine.Evolution | get_icon_evol | raw}} </span>
                     <span class='note'> {{ domaine.NoteActuelle | formatNoteSimple}} </span>
                    </a>
            {% endfor %}
        </div>
    </div> 
{# UPDATE  `critere` SET note=FLOOR((RAND() * (10))) #}
<p>
    
    <div class='panel panel-primary'>
        <div class='panel-heading'>Export</div>        
            <table id='loader_{{Sauvegarde.id}}'  class="table table-striped table-bordered">
        <thead>
            <th></th>
            <th>Word</th>
            <th>PDF</th>
        </thead>
        <tbody>
        <tr>
            <th>Annexe annuelle au rapport d'activité</th>
                {% include "Synthese/inc_synthese_genere_sauvegarde.html.twig" 
                           with {'sub_titre': 'Annexe annuelle au rapport d\'activité',
                                'synthese': 'synthese_annexe',
                                 'sauvegarde' : Sauvegarde, 
                                    'colspan' : '6'} %}
        </tr>
        <tr>
        <th>Synthèse sauvegarde </th>
        {% include "Synthese/inc_synthese_genere_sauvegarde.html.twig" 
                   with {'sub_titre': 'Export',
                         'sauvegarde' : Sauvegarde, 
                        'synthese': 'synthese_sauvegarde',
                            'colspan' : '6'} %}
        </tr>                    
    <tbody>
    </table>


    </div> 

                            
                        
    <div class='graphs graphs_calculate'> 
    <div class='graph_min_container'>
                    {% for domaine in etablissement.domaines %}
                    <canvas class="GraphSynthese GraphSynthese_{{Sauvegarde.id}}" id="chartDomaine_{{Sauvegarde.id}}_{{ domaine.id }}" height="500" width="500"></canvas>
                {% endfor %}
        </div>
    </div>  
          
{% endblock %}


{% block javascripts %}
<script type="text/javascript">
      {% include "Synthese/inc_options_charts.js.twig" %}

      {{ domaines | order | graph2(Sauvegarde.domaines,Sauvegarde,'chartEvalGeneraleCanvas_' ~ Sauvegarde.id) |raw }}
     
            {% for domaine in  Sauvegarde.domaines %}
                {{ domaine.DomaineOriginal.dimensions |  graph2(domaine.dimensions,Sauvegarde, 'chartDomaine_' ~ Sauvegarde.id ~ '_'  ~ domaine.DomaineOriginal.id) |raw }}
            {% endfor %}
    
        {% set wgraph =true %}
        {% set prefix = Sauvegarde.id %}


        {% include "Synthese/inc_javascritp_export.js.twig"   %}
      
    </script>
        
{% endblock %}