{% extends "Synthese/layout.html.twig" %}
    
{% set dimension=dimensionBackup.dimensionOriginal %}
    
{% block body %}
    {{ parent() }}
    <h1> <a href='{{ path('pericles3_backup_synthese', {'id': dimensionBackup.Sauvegarde.id}) }}'>{{dimensionBackup.Sauvegarde}}</a></h1>
    <h2>Dimension</h2>
    
     {% include "Nuts/menu_domaine_transversal.html.twig"  with {'domaine': dimensionBackup.domaine} %} 
    {% include "Nuts/menu_dimension_transversal.html.twig"  with {'dimension': dimensionBackup } %} 
    
    <h2 id="TitreSyntheseGeneral">Évaluation générale <small> {{ dimensionBackup.criteres |length }} critères d'évaluation</small></h2>
    <div>
        <div class="GraphSyntheseContainer">
            <canvas id="chartEvalGeneraleCanvas" height="500" width="500"></canvas>
        </div>
    
         
        <div class="synthese_menu">
            <div>
                    <span class='numero'>  </span> 
                     <span class='lib'> </span>
                     <span class='note'> {{dimensionBackup.Sauvegarde.dateCreate|date('m/Y ') }}</span>
                     <span class='note'> </span>
                     <span class='note'> {{ "now"|date("m/Y") }}</span>
            </div>
            
                {% for critere in dimensionBackup.criteres | order  %}
                <a href= '{{ path('pericles3_sauvegardes_critere', {'id': critere.id}) }}'>
                     <span class='numero'> {{ critere.numero  }} </span> 
                     <span class='lib'> {{ critere}} </span>
                     <span class='note'> {{ critere.Note | formatNoteSimple}} </span>
                     <span class='note'> {{ critere.Evolution | get_icon_evol | raw}} </span>
                     <span class='note'> {{ critere.NoteActuelle | formatNoteSimple}} </span>
                    </a>
            {% endfor %}
        </div>
        
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
         {% include "Synthese/inc_options_charts.js.twig" %}
      {{ dimensionBackup.dimensionOriginal.criteres | order | graph2(dimensionBackup.criteres,dimensionBackup.Sauvegarde,'chartEvalGeneraleCanvas') |raw }}
    </script>
{% endblock %}
