    <h4>Objectifs Opérationnels d'Amélioration</h4>
        <table class='osa' width="100%">
                <tr>
                    <th class='large_ooa'>Objectif</th>
                    <th class='large_ooa'>Détail</th>
                    <th class='date'>Complété</th>
                    <th class='date'>Début</th>
                    <th class='date'>Fin</th>
                </tr>
                 {% for objectif in objectifs %}
                <tr> 
                    <td class='objectif'>{{ objectif }}</td>
                    <td class='moyen_description'>
                        {% if objectif.Description %}
                            <div><b>Description : </b>{{ objectif.Description }}</div>
                        {% endif %}
                        {% if objectif.Moyen %}
                            <div><b>Moyens : </b>{{ objectif.Moyen }}</div>
                        {% endif %}
                        {% if objectif.indicateurs %} 
                            <div><b>Indicateurs : </b>{{ objectif.indicateurs }}</div>
                        {% endif %}
                        
                        {% if objectif.NbPreuves and affichePreuve %}
                            <div>
                                <b>Preuves : </b>
                                <ul>
                                    {% for preuve in objectif.Preuves %}
                                        <li>{{preuve}}
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                        
                        
                        

                    </td>
                    <td class='complete'>{{ objectif.complete | completeCss | raw  }}  </td>
                    <td class='date'>{{ objectif.dateDebut is empty ? "" : objectif.dateDebut|date("d-m-Y") }}</td>
                    <td class='date'>{{ objectif.dateFin is empty ? "" : objectif.dateFin|date("d-m-Y") }}</td>
                </tr>
        {% endfor %}
        </table> 
        <br>

   