{% extends "::layout.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block legend %}{{ parent() }}
{% endblock %}

{% block body %}
    <h1>Infos</h1>
  
    <h2>Vous souhaitez être contacté pour une présentation de {{application_name}} par le CREAI de votre région</h2>
        <li> Nom du contact :
        <li> Région :
        <li> SI Direction générale : oui/non
        <li> Préciser la fonction : 
        <li> Structure gestionnaire :
        <li> Nombre d’ESMS intéressés :
        <li> SI direction d’établissement ou service : oui/non
        <li> Nom de l’établissement ou service :
        <li> Secteur d’activité : (à cocher)
        <li> Handicap enfants
        <li> Handicap adultes
        <li> Protection de l’enfance
        <li> EHPAD
        <li> Autre : (préciser)
        <li> Numéro de tel :
        <li> Mail valide :

    <h2>Vous avez bénéficié d’une information sur {{application_name}} et vous souhaitez vous abonner</h2>

    <div class='alert alert-warning'>{{application_name}} est prévu avec un accompagnement technique et méthodologique d’un CREAI. Toute commande en ligne de codes fera l’objet d’une information du CREAI qui définira avec la direction les modalités retenues d’accompagnement de votre structure. Les codes d’accès seront délivrés par l’ANCREAI à réception du règlement complet.</div>

    {#
    <div class='row'>
            <div class='col-md-6'>
                <a class='btn btn-link full-width'  href=''>Vous êtes gestionnaire</a>
            </div>
            <div class='col-md-6'>
                <a class='btn btn-link full-width'   href='{{ path("demande_etablissement_new") }}'>Vous êtes un établissement</a>
            </div>
        </div>
    #}
{% endblock %}