{# empty Twig template #}

{% if etablissement is defined  and etablissement %}

     <div class="screen_only panel panel-danger">
         
         
              <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse_preuve_t">Ajouter une preuve <i class='glyphicon glyphicon-plus'></i></a>
        </h4>
      </div>
         <div id="collapse_preuve_t" class="panel-collapse collapse">
            <div class='screen_only well'>
                              {# include "Nuts/inc_fichiers_autorises.html.twig" #} 
                            <form  class='ajax_form' data-zone_to_reload='#listePreuveContener'  action="{{ path("pericles3_preuve_upload", {}) }}" method="post" enctype="multipart/form-data" >
                            {{ preuve_parent | raw  }}

                            Description
                            <textarea id ="inputCommentairePreuve" name ="inputCommentairePreuve" class="form-control" rows="2"></textarea>

                            
                            
 
                            <br>
                            
                            
                            <div class='well'>
                                        <input class='not_hidethis'  type="radio" value="0" class="type_fichier_preuve" name="type_fichier_preuve" checked="checked" >Commentaire seulement
                                        <br><input type="radio" value="1" class="type_fichier_preuve" name="type_fichier_preuve" > Fichier existant (dans la bibliotheque de preuves)
                                            {% if (etablissement | canUpload)   %}
                                                <br> <input type="radio" value="2" class="type_fichier_preuve" name="type_fichier_preuve" > Nouveau fichier  
                                            {% endif %}
                                        <br><input type="radio" value="3" class="type_fichier_preuve" name="type_fichier_preuve" > Bibliotheque Etablissement
                                        {% if etablissement.gestionnaire is not empty %}
                                            <br><input type="radio" value="4" class="type_fichier_preuve" name="type_fichier_preuve" > Bibliotheque Gestionnaire
                                        {% endif %}
                                        
                                        


                                <div class='hidethis' id='choose_bibli_etablissement'>
                                <h4>Joindre une entrée de la bibilotheque Etablissement</h4>
                               {% if  etablissement.NbBibliotheques==0 %}
                                           <div class='alert alert-warning'> La bibliotheque est vide </div>
                                {% else %}
                                   
                                    <select name='bibliotheque_etablissement'>
                                        {% include 'Bibliotheque/inc_liste_deroulante.html.twig' with {'bibliotheques' : etablissement.bibliotheques}  %}
                                    </select>
                                {% endif %}
                                

                                </div>
                                <div class='hidethis' id='choose_bibli_gestionnaire'>

                                {% if etablissement.gestionnaire is not empty %}
                                    
                                    <h4>Joindre une entrée de la bibilotheque Gestionnaire</h4>

                                        {% if  gestionnaire.NbBibliotheques==0 %}
                                           <div class='alert alert-warning'> La bibliotheque est vide</div>
                                        {% else %}
                                            <select name='bibliotheque_gestionnaire'>
                                                {% include 'Bibliotheque/inc_liste_deroulante.html.twig' with {'bibliotheques' : gestionnaire.bibliotheques}  %}
                                            </select>
                                    {% endif %}                   
                                {% endif %}                   
                                </div>
                                
                                

                                {% if etablissement.PreuvesFichier| length >0 %}
                                        <div class='hidethis' id='choose_existing_file'>
                                            <h4>Un fichier existant </h4>
                                            <select name='existing_file_preuve'>
                                                
                                               {% for preuve_fichier in etablissement.PreuvesFichier | sort %} 
                                                         <option value="{{preuve_fichier}}">{{preuve_fichier}}</option>
                                               {% endfor %}   
                                            </select>
                                        </div>

                                            <div  class='hidethis' id='choose_new_file'>
                                                <h4>Un nouveau fichier </h4>
                                                <input name="FileInput" id="FileInput" type="file" />
                                            </div>

                                {% else %}            
                                            <div id='choose_new_file'>
                                                <h4>Un nouveau fichier </h4>
                                                <input name="FileInput" id="FileInput" type="file" />
                                            </div>
                                {% endif  %}            

                                      </div>


                                <input type="submit" class="btn btn-primary" id="submit-btn" value="Ajouter au portefeuille" />
                                <img src="{{ asset('img/ajax-loader.gif') }}" id="loading-img" style="display:none;" alt="Veuillez Patienter..."/>




                            </form>
                        </div>
        {% if not (etablissement | canUpload) %}
            {% include "Nuts/inc_size_upload_limit.html.twig" %} 
        {% endif %}
        
    <br />
     </div>
     </div>
        
{% endif %}

