{% extends "Bibliotheque/layout.html.twig" %}


{% block title %}{{ parent() }} - Ajout{% endblock %}

{% block body %}{{ parent() }}
    
    <h1><a href='{{ path('pericles3_bibliotheque_gestionnaire')}}'>Bibliothèque Gestionnaire : {{gestionnaire}} </a></h1>
        
        {% if type is not defined %}
            {% set  type = 'lien' %}
        {% endif %}
            <ul class="nav nav-tabs nav-justified">
                <li class="{% if type == 'lien' %}active{% endif %}" ><a role="presentation" href="{{ path('pericles3_backoffice_bibliotheque_create_type', {'type': "lien"})}}#form_biblio"><i class='glyphicon glyphicon-plus'></i> Lien </a></li>
                <li class="{% if type == 'fichier' %}active{% endif %}" ><a role="presentation" href="{{ path('pericles3_backoffice_bibliotheque_create_type', {'type': "fichier"})}}#form_biblio"><i class='glyphicon glyphicon-plus'></i> Fichier </a></li>
                <li class="{% if type == 'texte' %}active{% endif %}" ><a role="presentation" href="{{ path('pericles3_backoffice_bibliotheque_create_type', {'type': "texte"})}}#form_biblio"><i class='glyphicon glyphicon-plus'></i> Texte </a></li>
            </ul>
        
	<div class="well">
		<h3>Ajout</h3><br />
		<form action="{{ path("pericles3_backoffice_bibliotheque_gestionnaire_create" ,  {"id" : gestionnaire.id}) }}" method="POST"   enctype="multipart/form-data">	
			{% include 'Bibliotheque/formulaire.html.twig' %}
		</form>
	</div>
{% endblock %}
