{% extends "Evaluation/layout.html.twig" %}


{% block title %}{{ parent() }} - Domaines évalués{% endblock %}


{% block legend %}
    {# include("Nuts/inc_legend.html.twig") #} 
{% endblock %} 

                
{% block body %}
  {{ parent() }}
  
   <h1>{{etablissement}}</h1>

      {% for domaine in etablissement.domaines %}
   
        <div class="row">
             <div class="col-md-12 ">
                <div class="panel panel-primary">            
                    <div class="panel-heading"> <h3 class="panel-title">
                            <a  href="{{ path('pericles3_domaine', {'id': domaine.id}) }}">{{ domaine.numero}} - {{ domaine.nom}}</a>
                         <span class="badge">{{ include("Nuts/inc_pastilles.html.twig") }} </span> </h3> </div>
                      <div class="panel-body"> 
                          
                <div class='w_radar'>
                    <a  href="{{ path('pericles3_domaine', {'id': domaine.id}) }}">   <canvas id="chartCanvas_{{domaine.id}}" height="220" width="220"></canvas></a>
                </div>

                    <ul class='list_w_radar list_menu' >
                       {% for dimension in domaine.dimensions |order  %}
                           <li class="{{dimension.StatusCss}}">
                                           <a class="dimension_link" href="{{ path('pericles3_dimension', {'id': dimension.id}) }}">
                                               {{ domaine.ordre }}.{{ dimension.ordre }} - {{ dimension}}
                                           </a>
                           </li>
                       {% endfor %}
                   </ul>

                    
                
                   </div>
             </div>
            </div>
        </div>
      
 
        {% endfor %}
 
     
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        {% include "Synthese/inc_options_charts.js.twig" %}
              {% for domaine in etablissement.domaines %}
                    {% set t= 'chartCanvas_'  ~  domaine.id %}
                   {{ domaine.dimensions | order |  graph(t) |raw }}
                       
        {% endfor %}
    </script>          
{% endblock %}