{% extends "Evaluation/layout.html.twig" %}



{% block title %}{{ parent() }} - {{ domaine.referentiel }}{% endblock %}

{% block body %}
    
      
     
      {{ parent() }}
      
       {% if advanced_gesionnaire and app.user.NbEtablissementsByRefPublic(etablissement.referentielPublic) > 1%} 
        <a class="btn btn-success big full-width" href="{{ path('pericles3_domaine_ref', {'id': domaine.referentiel.id}) }}">
            Voir pour les {{app.user.NbEtablissementsByRefPublic(etablissement.referentielPublic)}} établissements.
         
        </a><p>
            
            
      {% endif %}


      {% include "Nuts/menu_domaine_transversal.html.twig" %} 
      
      
    <div id="DomaineGlobalListContainer">
        {{ render(controller('Pericles3Bundle:FrontOffice/Evaluation:listDimension', { 'id': domaine.id })) }}
    </div>
    <div style="margin-right:50px; float:right; width:500px;">
        <canvas id="chartCanvas" height="450" width="450"></canvas>
    </div>
    <div style="clear:both;"></div>

    <br>
    <br>
    
        <div class="row">
             <div class="col-md-12 ">
                <div class="panel panel-primary panel_osa">            
                    <div class="panel-heading"> <h3 class="panel-title">Objectifs Stratégiques</h3> </div>
                      <div class="panel-body"> 
                          
                                {% set ObjectifsStrategiques = domaine.ObjectifsSrategique %}
                          
                                {% if ObjectifsStrategiques|length > 0 %}
                                    {% include "ObjectifsAmelioration/Strategiques/inc_liste.html.twig" %} 
                                {% else %}
                                    <div class='alert alert-warning'>
                                        Vous n'avez pas d'objectifs stratégiques
                                    </div>
                                {% endif %}
                                
                                {% if is_granted('ROLE_RW_PAQ') %}
                                    <a class="btn btn-primary active full-width oa" href="{{ path('paq_osa_new_domaine', {'id': domaine.id}) }}"><i class='icon-plus'></i>Créer un objectif stratégique pour le domaine <strong>{{domaine}}</strong></a>
                                {% endif %}
     
                    </div>
                </div>  
            </div>
        </div>
                        
                        
                        
        <div class="row">
             <div class="col-md-6 ">
                <div id='pdv' class="panel panel-primary">            
                    <div class="panel-heading"> <h3 class="panel-title">Point de vue de l’usager    </h3>                     </div>
                      <div class="panel-body"> 
                                             
                          {{'mobilisez la parole des usagers lors de l’évaluation' | popover_help | raw }}<hr class='separateur'>
                          
                        {% set preuves = domaine.preuves %}
                        <div id="listePreuveContener" data-reload_with='{{ path("pericles3_preuves_domaine_minlist", {"id": domaine.id}) }}'>
                            {% include "Preuve/list_min_preuve.html.twig" %} 
                        </div>

                        
                        {% if is_granted('ROLE_RW_EVAL') %}
                            {% set preuve_parent= '<input type="hidden" name="domaine_id" value="' ~ domaine.id ~ '">' %}
                            {% include "Preuve/inc_add_preuve.html.twig" %} 
                     {% endif %}    
                    </div>
                </div>
            </div>
                        
                        
   
             <div class="col-md-6 ">
                <div class="panel panel-primary">            
                    <div id='synth' class="panel-heading"> <h3 class="panel-title">Synthèse du domaine évalué</h3> </div>
                      <div class="panel-body" id="CommentaireDomaineContainer">        
     
                            {{'L’état synthétique de la qualité globale du domaine évalué' | popover_help | raw }}<hr class='separateur'>

                                  <div id="commentairesDomaine">
                                        {% for commentaire in domaine.commentaires %}
                                            <p class="bubble CommentCore" id="commentaireDomaine_{{ commentaire.id }}">{{ commentaire.commentaire }}</p>
                                            <p class="CommentDetail">{{ commentaire.user.username }}, {{ commentaire.dateCreate|date('d-m-Y H:i:s') }} 
                                                 {% if is_granted('ROLE_RW_EVAL') and  (is_granted('ROLE_ADMIN') or commentaire.user.id==app.user.id) %}
                                                 <a href="javascript:updateCommentaireDomaine({{ commentaire.id }});">Modifier</a>
                                                     {% endif %}
                                            </p>
                                        {% endfor %}
                                    </div>
                                    
                                    
                        {% if is_granted('ROLE_RW_EVAL') %}
                            {% if domaine.status == 3  %}

                                    <input type="hidden" id="hdnDomaineId" value="{{ domaine.id }}">
                                    <textarea id ="CommentaireDomaineInput" class="screen_only form-control" rows="4"></textarea>
                                    <div style="margin-top:20px;" align="center"><button id="SaveCommentDomaine" type="button" class="btn btn-primary">Valider</button></div>
                            {% else %}
                                <div class='alert alert-warning'>
                                    Vous ne pourrez saisir la synthèse que lorsque l'évaluation sera terminée.
                                </div>
                            {% endif %}

                        {% else %}
                            <div class='alert alert-warning'>
                                Vous n'avez pas le droit de modifier l'évaluation.
                            </div>

                        {% endif %}
                    </div>    
                </div>  
            </div>
    </div>

    <div class="modal fade" id="ModalCommentaireDomaine" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modifier un commentaire</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="hdnCommentaireDomaineToModify">
                    <textarea id ="UpdateCommentaireDomaineInput" class="form-control" rows="8"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                    <button type="button" id="ValidUpdateCommentaireDomaine" class="btn btn-primary">Valider</button>
                </div>
            </div>
        </div>
    </div>
                    
                    
                {% include "Evaluation/inc_points_faibles.html.twig" %}
                {% include "Evaluation/inc_points_forts.html.twig" %}

{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        {% include "Synthese/inc_options_charts.js.twig" %}
      {{ domaine.dimensions | order | graph('chartCanvas') |raw }}
       
        //################ ZONE DOMAINE ##########################

        $("#SaveCommentDomaine").click(function(){

            if($('#CommentaireDomaineInput').val()!="")
            {
                $('#CommentaireDomaineContainer').loader('show');
                var data = {commentaire : $('#CommentaireDomaineInput').val(),idDomaine : {{ domaine.id }} };
                $.ajax({
                    type: "POST",
                    url: '{{ path("pericles3_domaine_addCommentaire", {}) }}',
                    data: data,
                    dataType: "json",
                    success: function(response) {
                        $('#CommentaireDomaineContainer').loader('hide');
                        var htmlContent="";
                        for(com in response) {
                            htmlContent+="<p class='bubble CommentCore' id='commentaireDomaine_"+response[com].id+"'>"+response[com].commentaire+"</p><p class='CommentDetail'>" + response[com].username +", "+ response[com].dateCreate + "<a href='javascript:updateCommentaireDomaine("+response[com].id+");'> Modifier</a></p>";
                        }
                        $('#commentairesDomaine').html(htmlContent);
                        $('#CommentaireDomaineInput').val("");
                    },
                    error: function(XMLHttpRequest, textStatus, errorThrown)
                    {
                        $('#CommentaireDomaineContainer').loader('hide');
                        alert('Error: ' +  errorThrown);
                    }
                });
            }
        });

        function updateCommentaireDomaine(id){
            $('#hdnCommentaireDomaineToModify').val(id);
            $('#UpdateCommentaireDomaineInput').val($('#commentaireDomaine_'+id).html());
            $('#ModalCommentaireDomaine').modal('show');
        }


        $("#ValidUpdateCommentaireDomaine").click(function(){
            $('#CommentaireDomaineContainer').loader('show');
            var data = {idCommentaireDomaine : $('#hdnCommentaireDomaineToModify').val(),commentaireDomaine : $('#UpdateCommentaireDomaineInput').val(),idDomaine :  {{ domaine.id }}};
            $.ajax({
                type: "POST",
                url: '{{ path("pericles3_domaine_updateCommentaire", {}) }}',
                data: data,
                dataType: "json",
                success: function(response) {
                    $('#CommentaireDomaineContainer').loader('hide');
                    var htmlContent="";
                    for(com in response) {
                        htmlContent+="<p class='bubble CommentCore' id='commentaireDomaine_"+response[com].id+"'>"+response[com].commentaire+"</p><p class='CommentDetail'>" + response[com].username +", "+ response[com].dateCreate + "<a href='javascript:updateCommentaireDomaine("+response[com].id+");'> Modifier</a></p>";
                    }
                    $('#commentairesDomaine').html(htmlContent);

                    $('#hdnCommentaireDomaineToModify').val("");
                    $('#UpdateCommentaireDomaineInput').val("");
                    $('#ModalCommentaireDomaine').modal('hide');
                },
                error: function(XMLHttpRequest, textStatus, errorThrown)
                {
                    $('#CommentaireDomaineContainer').loader('hide');
                    alert('Error: ' +  errorThrown);
                }
            });
        });

        //################ FIN ZONE DOMAINE ##########################

  
    </script>


  <script src="{{ asset('js/jquery.form.min.js') }}"></script>
  <script src="{{ asset('js/upload.js') }}"></script>


{% endblock %}