{% extends "Evaluation/layout.html.twig" %}

{% block title %}{{ parent() }} - {{ domaine_referentiel}}{% endblock %}

{% block body %}
    
      {{ parent() }}

      <h1><a href="{{ path('pericles3_referentiel_ref', {'id': domaine_referentiel.referentielPublic.id}) }}">{{ domaine_referentiel.referentielPublic.public}}</a></h1>
      <h2><a href="{{ path('pericles3_domaine_ref', {'id': domaine_referentiel.id}) }}">{{ domaine_referentiel.ordre}} - {{ domaine_referentiel}}</a></h1>

    <div id="DomaineGlobalListContainer">
      {% include "Evaluation/Referentiel/list_dimension.html.twig" with {'dimensions' : domaine_referentiel.getChildren | order } %}
    </div>
      
      
    <div style="margin-right:50px; float:right; width:500px;">
        <canvas id="chartCanvasDim" height="450" width="450"></canvas>
    </div>
            <hr class='separateur'>
       
            
        <div class="row">
             <div class="col-md-12 ">
                <div class="panel panel-primary panel_osa">            
                    <div class="panel-heading"> <h3 class="panel-title">Par établissement</h3> </div>
                      <div class="panel-body"> 
                        <canvas id="chartCanvasEtablissements"  height="600" width="800"></canvas>
                </div>
            </div>
        </div>
    </div>
      
            
        <div class="row">
             <div class="col-md-12 ">
                <div class="panel panel-primary panel_osa">            
                    <div class="panel-heading"> <h3 class="panel-title">Objectifs Stratégiques : {{ domaine_referentiel}} </h3> </div>
                      <div class="panel-body"> 
            
    {% if ObjectifsStrategiques|length > 0 %}
        
        {% set domaine ='OK'  %} 
        {% include "ObjectifsAmelioration/Strategiques/inc_liste.html.twig" %} 
    {% else %}
        <div class='alert alert-warning'>
            Vous n'avez pas d'objectifs stratégiques {% if sous_titre is defined %} / {{sous_titre}} {% endif %}
            {% if app.user.isGestionnaire and etablissement is defined %}
                pour l'établissement <b>{{etablissement}}</b>
            {% endif %}
                
        </div>
    {% endif %}
     
            {% if is_granted('ROLE_RW_PAQ') %}
             <div class="panel panel-danger">
      <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapse1"><i class='glyphicon glyphicon-plus-sign'></i> Ajouter un Objectif d'Amélioration Stratégique</a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse">
        <div class="panel-body">
             <div id='show_new_objectif_form'>
                 {#  class='ajax_form' data-zone_to_reload='#liste_objectifs' #}
                        {{ form_start(formOO) }}
                         {{ form_widget(formOO) }}
                         {% include "Etablissement/inc_form_etablissements.html.twig" with {'refPublicCible': domaine_referentiel.referentielPublic }  %}
                         {{ include("Nuts/cancelsave.html.twig") }}
                         {{ form_end(formOO) }}
     
            </div>
        </div>
       
      </div>
    </div>
                
                
            {% endif %}

    
            </div>
        </div>
    </div>
    </div>
    
    
    
      
            
        <div class="row">
             <div class="col-md-12 ">
                <div class="panel panel-primary panel_osa">            
                    <div class="panel-heading"> <h3 class="panel-title">Synthèse du domaine évalué : {{ domaine_referentiel}} </h3> </div>
                    {% if syntheses | length > 0 %}
                         
                                {% include "Evaluation/Domaine/inc_syntheses.html.twig" %}

                      {% else %}
                            <div class='alert alert-warning'>
                                Pas de synthèse
                            </div>
                    {% endif %}
                    
                     {% if is_granted('ROLE_RW_EVAL')  %}
        <div class="panel-body">      
            
            
                <div class="panel panel-danger">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                          <a data-toggle="collapse" href="#collapse_commentaire"><i class='glyphicon glyphicon-plus-sign'></i> Ajouter une synthèse du domaine évalué</a>
                      </h4>
                    </div>
                    <div id="collapse_commentaire" class="panel-collapse collapse">
                      <div class="panel-body">
 
                    
                    
                    
                      {{ form_start(form_commentaire) }}
                         {{ form_widget(form_commentaire) }}
                         {% include "Etablissement/domaine_inc_form_etablissements_eval_finie.html.twig" with {'domaine_referentiel': domaine_referentiel }  %}
                         {{ include("Nuts/cancelsave.html.twig") }}
                         {{ form_end(form_commentaire) }}
                    
                            </div>
                        </div>
                     </div>
                </div>
                  {% endif %}        
                         
        </div>
        </div>
        </div>

                
            
        <div class="row">
             <div class="col-md-12 ">
                <div class="panel panel-primary panel_osa">            
                    <div class="panel-heading"> <h3 class="panel-title">Point de vue de l’usager  : {{ domaine_referentiel}} </h3> </div>
                    {% if preuves | length > 0 %}
  
                            {% set is_critere = false %}
                            {% set is_pdv = false %}
                            {% set is_objectif_operationnel = false %}
                            {% set par_type_preuve = true %}
                            {% include 'Bibliotheque/preuves_list.html.twig' %}
                                                {% else %}
                            <div class='alert alert-warning'>
                                Pas de point de vue de l’usager 
                            </div>
                    {% endif %}

                    
                    {% set referentielPublic = domaine_referentiel.referentielPublic  %}

                    {% if is_granted('ROLE_RW_PAQ') %}
                        
                        {% include 'Preuve/inc_add_preuve_gestionnaire.html.twig' with {'linf_add_preuve': path('pericles3_domaine_ref_add_pvu', {'id': domaine_referentiel.id})  }%}
                    {% endif %}

                    
                </div>
            </div>
        </div>
    
    
       



        
{% endblock %}




{% block javascripts %}
    <script type="text/javascript">
        {% include "Synthese/inc_options_charts.js.twig" %}
         {{ domaines_byref | graphMultiDataSet('chartCanvasDim') |raw }}
         {{ domaines_byref | graph('chartCanvasEtablissements',true) |raw }}
    </script>
{% endblock %}
