 
    <table class='table table-bordered'>
        <tbody>
            
            <tr>
                <th>Demandeur</th>
                <td>{{ demande.demandeurNom }} {{ demande.demandeurPrenom }}</td>
                <th>Email</th>
                <td>{{ demande.email }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td colspan='3'>{{ demande.adresse }} {{ demande.codePostal }} {{ demande.ville }}</td>
            </tr>
            <tr>
               <th>Commentaires CREAI</th>
                <td colspan='3'>{{ demande.commentaireCreai | nl2br}}</td>
            </tr>
            <tr>
                <th>Commentaires ANCREAI</th>
                <td colspan='3'>{{ demande.commentaireAncreai | nl2br}}</td>
            </tr>
            <tr>
                <th>Finess</th>
                <td>{{ demande.finess}}</td>
                <th>Etat</th>
                <td>{{ demande.etat|  afficheDemandeEtat | raw }}</td>
            </tr>
            {%  if demande.gestionnaire %}
                <tr>
                    <th>Gestionnaire</th>
                    <td class='alert-success' colspan='3'>{{ "gestionnaire" | get_icon | raw }}<a href="{{ path('backoffice_gestionnaire_show', { 'id': demande.gestionnaire.id }) }}">{{ demande.gestionnaire}}</a></td>
                </tr>
            {%  endif  %}
            
        </tbody>
    </table>
