
{% set notsearchable = false %}

 
   <div class="row">

    {% if app.user.creai.NbDemandesInfosNonFinies >0 %}
 
        <div class="col-md-8 ">
            <div class="panel panel-primary"> 
                <div class="panel-heading"> <h3 class="panel-title">Demandes d'informations a traiter ! </h3></div>
                    {% include "BackOffice/Demande/Info/inc_liste.html.twig" with {'demandeInfos' : app.user.creai.DemandesInfosNonFinies} %}
                <div class="panel-footer">
                    <a class="btn btn-primary active full-width"  href="{{ path('bo_demande_info_index') }}"><i class='glyphicon glyphicon-list'></i> Voir les demandes d'informations</a>
                </div>
            </div>
        </div>
                
    {% endif %} 
  
</div>

    <div class="row">
   
    <div class="col-md-4 ">
    <a class="btn btn-warning active  btn-block btn-with-big-ico"  href="{{ path('demande_gestionnaire_new_byfiness') }}">
        Demande de création de gestionnaire 
        {{'gestionnaire' | get_icon | raw}}
        <i class='glyphicon glyphicon-plus'></i> 
    </a>
        </div>
        <div class="col-md-4 ">
    <a class="btn btn-warning active btn-block btn-with-big-ico"  href="{{ path('demande_gestionnaire_existant') }}">
        Demande de création d'établissements pour un gestionnaire existant 
        {{'gestionnaire' | get_icon | raw}}
        {{'etablissement' | get_icon | raw}}
    </a>
        </div>
        <div class="col-md-4 ">
    <a class="btn btn-warning active btn-block btn-with-big-ico"  href="{{ path('demande_etablissement_new_byfiness') }}">
        Demande de création d'établissement
        {{'etablissement' | get_icon | raw}}
        <i class='glyphicon glyphicon-plus'></i> 
    </a>
    </div>
    </div>
        <p>
    <div class="row">
   
        <div class="col-md-6 ">
            <a class="btn btn-primary active full-width"  href="{{ path('backoffice_demande_gestionnaire_index') }}"><i class='glyphicon glyphicon-list'></i> Voir les demandes de creation gestionnaire {{app.user.creai}}</a>
            {% include "BackOffice/Demande/Gestionnaire/inc_liste_short.html.twig" with {'targetCreai':app.user.creai, 'demandesGestionnaire':app.user.demandesGestionnaireAVoir} %}
            
                        
            {% include "BackOffice/Demande/Gestionnaire/inc_liste_short_existing.html.twig" with {'targetCreai':app.user.creai, 'gestionnaires':app.user.gestionnaireExistingAVoir} %}

                        
        </div>
        
        <div class="col-md-6 ">
            <a class="btn btn-primary active full-width"  href="{{ path('backoffice_demande_etablissement_index') }}"><i class='glyphicon glyphicon-list'></i> Voir les demandes de creation d'établissement {{app.user.creai}}</a>

            {% include "BackOffice/Demande/Etablissement/inc_liste_short.html.twig" with {'targetCreai':app.user.creai, 'demandeEtablissements':app.user.demandesEtablissementAVoir} %}

        </div>
    </div>

                  