{# empty Twig template #}

{% if not  app.user.isCreai %}
	    <div class="row MenuBackOffice screen_only">
                <a class="col-sm-4" href="{{ path('backoffice_demande_gestionnaire_index', {}) }}">{{'gestionnaire' | get_icon | raw}} Gestionnaire {{ NbDemandesGestionnaireNonFinies | NotifDemandes( NbDemandesGestionnaireATraiter,' de création de gestionnaire') | raw }}
                <a class="col-sm-4" href="{{ path('backoffice_demande_etablissement_index', {}) }}">{{'etablissement' | get_icon | raw}} Etablissements {{ NbDemandesEtablissementNonFinies | NotifDemandes( NbDemandesEtablissementATraiter,' de création d’établissements') | raw }}</a>
                <a class="col-sm-4" href="{{ path('bo_demande_info_ancreai') }}">Demandes d'informations ANCREAI {{ NbDemandeInfosSansCreaiNonFinies | NotifDemandes( NbDemandeInfosSansCreaiATraiter,' d’informations') | raw }}</a>
            </div>
{% endif  %}

