{% extends "BackOffice/layout.html.twig" %}

{% block body %}
    <h1><a href='{{ path('backoffice_pericles_index') }}'>Pericles</a></h1>
 

{% endblock %}

    
       {% block out_container  %}
           
<div class="row">
    <div class="col-md-6">

        <div class="panel panel-primary">
                <div class="panel-heading"> <h3 class="panel-title"><i class='glyphicon glyphicon-king'></i> Pericles </h3> </div>
                        <tbody>           
                            <table class='table table-bordered table-triable'>
                               <thead>
                                   <tr>
                                       <th>Gestionnaire</th>
                                       <th>Etablissement</th>
                                   </tr>
                               </thead>
                                    <tbody>
                                    {% for pericle in pericles %}
                                        <tr>
                                            <td><a href="{{ path('backoffice_pericles_show', { 'id': pericle.id }) }}">{{ pericle.gestionnaireNom }}</a></td>
                                            <td><a href="{{ path('backoffice_pericles_show', { 'id': pericle.id }) }}">{{ pericle.nom }}</a></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>

                  </div>
            </div>
                             
    <div class="col-md-6">

        <div class="panel panel-primary">
                <div class="panel-heading"> <h3 class="panel-title"><i class='glyphicon glyphicon-king'></i> ARSENE </h3> </div>
                        <tbody>           
                            <table class='table table-bordered table-triable'>
                               <thead>
                                   <tr>
                                       <th>Gestionnaire</th>
                                       <th>Etablissement</th>
                                   </tr>
                               </thead>
                                    <tbody>
                                    {% for etab in etabs %}
                                        <tr>
                                            <td>
                                                {% if etab.gestionnaire %}
                                                    <a href="{{ path('backoffice_gestionnaire_show', { 'id': etab.gestionnaire.id }) }}">{{ etab }}</a>
                                                {% endif %}
                                            </td>
                                            <td><a href="{{ path('backoffice_etablissement_view', { 'id': etab.id }) }}">{{ etab}}</a></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>

                  </div>
            </div>
    </div>
 

{#            <a href="{{ path('backoffice_pericles_new') }}">Create a new pericle</a> #}


{% endblock %}
