
     <table class='table table-bordered table-triable'>
        <thead>
            <tr>
                <th>Id</th>
                <th>Pericles Gestionnaire Nom</th>
                <th>Pericles Nom </th>
                <th>Typestructure</th>
                <th>Adresse</th>
                <th>Departement</th>
                <th>Tel</th>
                <th>Email</th>
                <th>Public Cible</th>
                <th>Finess Text</th>
              
            </tr>
        </thead>
        <tbody>
        {% for pericle in pericles %}
            <tr>
                <td><a href="{{ path('backoffice_pericles_show', { 'id': pericle.id }) }}">{{ pericle.id }}</a></td>
                <td>{{ pericle.gestionnaireNom }}  
               
                    {% if pericle.finessGestionnaire is not empty  %}
                         <a title="Finess : {{ pericle.finessGestionnaire.raisonSociale }}" href="{{ path('backoffice_gestionnaire_finess_show', { 'id': pericle.finessGestionnaire.codeFiness  }) }}"> 
                             {{ 'finess' | get_icon | raw }}
                        </a>
                    {% endif  %}
                </td>
      

                <td>{{ pericle.nom }} 
                    {% if pericle.finessEtablissement is not empty  %}
                        <a title="Finess : {{ pericle.finessEtablissement.raisonSociale }} " href="{{ path('backoffice_finess_show', { 'id': pericle.finessEtablissement.codeFiness  }) }}"> 
                            
                          {{ 'finess' | get_icon | raw }} 
                        </a>
                     
                    {% endif  %}
                </td>
                <td>{{ pericle.typeStructure }}</td>
                <td>{{ pericle.adresse }}</td>
                <td>{{ pericle.departement }}</td>
                <td>{{ pericle.tel }}</td>
                <td>{{ pericle.email }}</td>
                <td>
                    {% if pericle.finessEtablissement is not empty  %}
                        {{ pericle.finessEtablissement.ReferentielPublicDefaut }}
                    {% endif  %}
                </td>                
                <td>{{ pericle.finessText }}</td> 
        
                
            </tr>
        {% endfor %}
        </tbody>
    </table>
