{% extends "BackOffice/layout.html.twig" %}

{% block body %}
    <h1>Pericles</h1>

    {%  if creai is not empty %}
        <h2>{{ creai }}</h2>
    {%  else %}
        <h2>France</h2>
    {%  endif %}
    
    {% if  is_granted('ROLE_MEGA_ADMIN')  %}
        <a class='btn btn-warning' href="{{ path('backoffice_pericles_cotisation') }}">MAJ cotisation</a>
    {%  endif %}
    


    {% endblock %}

    
       {% block out_container  %}
     <table class='table table-bordered table-triable'>
        <thead>
            <tr>
                <th>Id</th>
                <th>Pericles Gestionnaire Nom</th>
                <th>Finess Gestionnaire</th>
                <th>Gestionnaire {{application_name}} </th>
                
                <th>Pericles Nom </th>
                <th>Nom Finess</th>
                <th>Nom Etablisement Arsene </th>
                <th>type Cotisation</th>
                
                <th>Typestructure</th>
                <th>Adresse</th>
                <th>Tel</th>
                <th>Email</th>
                <th>Finesstext</th>
                <th>taille</th>
                <th>Etablissement</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pericle in pericles %}
            <tr>
                <td><a href="{{ path('backoffice_pericles_show', { 'id': pericle.id }) }}">{{ pericle.id }}</a></td>
                <td>{{ pericle.gestionnaireNom }}</td>
                <td>
                    {% if pericle.finessGestionnaire is not empty  %}
                         <a href="{{ path('backoffice_gestionnaire_finess_show', { 'id': pericle.finessGestionnaire.codeFiness  }) }}"> 
                             {{ 'finess' | get_icon | raw }}
                            {{ pericle.finessGestionnaire.raisonSociale }}
                        </a>
                    {% endif  %}
                </td>
      
                <td>
                    {%  if pericle.Gestionnaire is not empty    %}
                         <a href="{{ path('backoffice_gestionnaire_show', { 'id': pericle.Gestionnaire.id }) }}"> 
                            {{ 'gestionnaire' | get_icon | raw }}  {{ pericle.gestionnaire }}
                        </a>
                    {% endif  %}
                </td>

                <td>{{ pericle.nom }}</td>
                <td>
                    {% if pericle.finessEtablissement is not empty  %}
                        <a href="{{ path('backoffice_finess_show', { 'id': pericle.finessEtablissement.codeFiness  }) }}"> 
                            
                          {{ 'finess' | get_icon | raw }} {{ pericle.finessEtablissement.raisonSociale }} 
                        </a>
                     
                    {% endif  %}
                </td>
                <td>
                    {%  if pericle.Etablissement is not empty    %}
                         <a href="{{ path('backoffice_etablissement_view', { 'id': pericle.Etablissement.id }) }}"> 
                        {{ 'etablissement' | get_icon | raw }} {{ pericle.Etablissement}}
                        </a>
                           </td>
                         {% include "BackOffice/Etablissement/inc_td_mode_cotisation.html.twig"  with  {'etablissement':pericle.Etablissement} %}
                        
                    {% else %}
                        <td></td>
                        
                    {% endif  %}
                </td>
      
           
            <td>{{ pericle.typeStructure }}</td>
                <td>{{ pericle.adresse }}</td>
                <td>{{ pericle.tel }}</td>
                <td>{{ pericle.email }}</td>
                <td>{{ pericle.finessText }}</td>
                <td>taill_{{ pericle.finessText | length }}</td>
                <td>
                     {% if pericle.finessEtablissement is not empty  %}
                        <a href="{{ path('backoffice_finess_show', { 'id': pericle.finessEtablissement }) }}"> {{ pericle.finessEtablissement }}</a>
                        {% endif  %}
                </td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('backoffice_pericles_show', { 'id': pericle.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('backoffice_pericles_edit', { 'id': pericle.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{#            <a href="{{ path('backoffice_pericles_new') }}">Create a new pericle</a> #}


{% endblock %}
