{% extends "BackOffice/layout.html.twig" %}

{% block body %}
    <h1><a href="{{ path('backoffice_pericles_index') }}">Pericles</a></h1>

  <table class='table'>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ pericle.id }}</td>
            </tr>
            <tr>
                <th>Gestionnairenom</th>
                <td>{{ pericle.gestionnaireNom }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ pericle.nom }}</td>
            </tr>
            <tr>
                <th>Typestructure</th>
                <td>{{ pericle.typeStructure }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ pericle.adresse }}</td>
            </tr>
            <tr>
                <th>Tel</th>
                <td>{{ pericle.tel }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ pericle.email }}</td>
            </tr>
            <tr>
                <th>Finesstext</th>
                <td>{{ pericle.finessText }}</td>
            </tr>
            
            <tr>
            <th>Pericles Gestionnaire Nom</th>
               <td>{{ pericle.gestionnaireNom }}</td>
            </tr>
            <tr>
                <th>Finess Gestionnaire</th>
                

                <td>
                    {% if pericle.finessGestionnaire is not empty  %}
                         <a href="{{ path('backoffice_gestionnaire_finess_show', { 'id': pericle.finessGestionnaire.codeFiness  }) }}"> 
                             {{ 'finess' | get_icon | raw }}
                            {{ pericle.finessGestionnaire.raisonSociale }}
                        </a>
                    {% endif  %}
                </td>
                </tr>
            <tr>
                <th>Gestionnaire {{application_name}} </th>
              
      
                <td>
                    {%  if pericle.Gestionnaire is not empty    %}
                         <a href="{{ path('backoffice_gestionnaire_show', { 'id': pericle.Gestionnaire.id }) }}"> 
                            {{ 'gestionnaire' | get_icon | raw }}  {{ pericle.gestionnaire }}
                        </a>
                    {% endif  %}
                </td>
      </tr>
            <tr>
                <th>Pericles Nom </th>
               
                <td>{{ pericle.nom }}</td>
                </tr><tr> 
                 <th>Nom Finess</th>
              
                <td>
                    {% if pericle.finessEtablissement is not empty  %}
                        <a href="{{ path('backoffice_finess_show', { 'id': pericle.finessEtablissement.codeFiness  }) }}"> 
                            
                          {{ 'finess' | get_icon | raw }} {{ pericle.finessEtablissement.raisonSociale }} 
                        </a>
                     
                    {% endif  %}
                </td>
                </tr><tr> 
                
                  
                 
                
                
               
                    {%  if pericle.Etablissement is not empty    %}
                        <th>Nom Etablisement Arsene </th>
                        <td>
                         <a href="{{ path('backoffice_etablissement_view', { 'id': pericle.Etablissement.id }) }}"> 
                        {{ 'etablissement' | get_icon | raw }} {{ pericle.Etablissement}}
                        </a>
                           </td>
                             </tr><tr> 
                           
                           <th>type Cotisation</th>
                           
                         {% include "BackOffice/Etablissement/inc_td_mode_cotisation.html.twig"  with  {'etablissement':pericle.Etablissement} %}
                           </tr> 
                        
                    {% endif  %}
                </td>
                
                
      
            
            
        </tbody>
    </table>
       
            {% if is_granted('ROLE_ADMIN_SUPERVISOR') %}
                <div class='row'>
                     <div class="col-sm-6">
                        <a class="btn btn-warning active full-width" href="{{ path('backoffice_pericles_edit', { 'id': pericle.id }) }}">Modifier</a>
                     </div>
                </div>
        {% endif %}
 
{% endblock %}
