<html>
    <head>
        <style>
         
.alert
{
  padding: 15px;
  margin-bottom: 20px;
  border:1px solid;
  border-radius: 4px;
  text-align: center;
}


/* Ligne 5 */
.alert-success
{
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;

}
.alert-danger
{
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}


  
        </style>
    </head>
	<body>
		Une nouvelle demande d'information à été effectuée,<br />
                
                <br />
        <li><b>Demandeur </b> {{demandeInfo}}
        <li><b>Etablissement / Service</b> {{demandeInfo.etablissementService}}
        <li><b>Remarques </b> {{demandeInfo.etablissementService}}
            
        {% if demandeInfo.creai is empty %}
            <div class='alert alert-danger'>
                <b>Attention !!! </b> 
                    Aucun CREAI n'est associé a cette demande !! </div>
            </div>
            
        {% else %}
            <li><b>CREAI</b> {{demandeInfo.Creai}}
            {% if demandeInfo.Creai.NbUsers == 0  %}
                <div class='alert alert-danger'>
                    <b>Attention !!! </b> 
                        Le CREAI {{demandeInfo.Creai}} n'a pas d'utilisateurs et ne pourra donc traiter la demande !! </div>
                </div>

            {% endif %}
                
        {% endif %}
            
                <p>
                    <br>&nbsp;
                    <br>&nbsp;
                <p>
                 </p>  
                  <a class='alert'  href="www.arsene-evaluation.fr{{ path('bo_demande_info_show', {'id':demandeInfo.id }) }}">Traiter la demande</a>  
                    <p><p><p>
               
	</body>
</html>