<html>
	<head></head>
	<body>
		Bonjour,<br />
                
                <br />
                <p>
                    Un compte pour l'outil <a href="{{ path("pericles3_homepage") }} ">{{application_name}} </a>a été créé pour vous.
                 </p>   
                <li>Votre login pour {{application_name}}  : {{user.username}}  </li>
		<li>Votre mot de passe : {{user.firstPassword}}
                    <p><p><p>
                <li>Vous pouvez vous connecter ici : <a href="{{ path("login") }}">Page de connection </a>
	</body>
</html>