{% extends "BackOffice/layout.html.twig" %}

{% block body %}
    <h1><a href="{{ path('backoffice_editorial_index') }}">Editorial</a> </h1>

            {% for editorial in editorials %}

                    <div id="edito_{{editorial.id}}" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                  <h4 class="modal-title">{{editorial.titre}}</h4>
                                </div>
                                <div class="modal-body">
                                      {{ editorial.commentaire | raw }}
                                </div>
                                <div class="modal-footer">
                                </div>
                              </div>

                            </div>
                          </div>

           {% endfor %}                                   
                                            
                                            
    <table class='table table-bordered table-triable_desc'>
        <thead>
            <tr>
                <th>Date de publication</th>
                <th>Titre</th>
                <th>Commentaire</th>
                <th>Etat</th>
                <th>Ref Public</th>
                <th>Cible</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for editorial in editorials %}
            <tr>
                <td>
                    {{editorial.datePublication |hiddenDate('d-m-Y') | raw  }}
                </td>

                
                <td><a href="{{ path('backoffice_editorial_show', { 'id': editorial.id }) }}">{{ editorial.titre }}</a></td>
                
                <td>
                    <div class='btn btn-link show_edito' data-id='{{editorial.id}}'>Voir le contenu</div>
                </td>
                {% include 'BackOffice/editorial/inc_td_publication.html.twig' %}
                
                {% include 'BackOffice/editorial/inc_td_ref_publics.html.twig' %}
                
                {% include 'BackOffice/editorial/inc_td_cible.html.twig' %}
                    

                    <td>
                    {% if is_granted('ROLE_EDITORIAL_VALIDATEUR') or  (is_granted('ROLE_EDITORIAL_REDACTEUR') and app.user.id == editorial.createdBy.id and editorial.EtatPublication.id != 5 )   %}
                           <a class="btn btn-warning full-width" href="{{ path('backoffice_editorial_edit', { 'id': editorial.id }) }}"><i alt='modifier' class='glyphicon glyphicon-pencil'></i>Modifier</a>
                        {% endif %}
                    </td>

                    
            </tr>
        {% endfor %}
        </tbody>
    </table>

        {% if is_granted('ROLE_EDITORIAL_REDACTEUR') %}
            <a href="{{ path('backoffice_editorial_new') }}"  class = "btn  btn-link full-width">Nouvelle News</a>
        {% endif  %}

        
        
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(function() 
        {
            $('.show_edito').click(function() 
            {
                $('#edito_'+$(this).data('id')).modal('show');
            });
        });
    </script>
{% endblock %}
