         <input type="hidden" name="typeMessage" value="{{type}}">
            
         
            {#
                        <div class="col-md-6">
                            <div class="form-group">
                            <label class="control-label" for="domaine">Domaine : </label>
                                <select value="" class="form-control" name="domaine" id="domaine">
                                       {% for domaine in app.user.etablissement.domaines %}
                                                <option value="{{ domaine.id }}">{{ domaine }}</option>
                                       {% endfor  %}
                                </select>   
                            </div>
                        </div>
                                #}
            
                       <datalist id="type_biblio">
                                {% for BibliothequeTypeDoc in BibliothequeTypesDoc %}
                                    <option value="{{ BibliothequeTypeDoc }}">{{ BibliothequeTypeDoc }}
                                {% endfor  %}
                            </datalist>
            

                                
                    {% if type == 'texte' %}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                        <label class="control-label" for="thematique">Thématique : </label>
                                    <input list="type_biblio"  type="text" required="required" value="{{bibliotheque.thematique}}" class="form-control" name="thematique" id="thematique">
                                </div>
                            </div>
                         </div>
                        <div class="form-group">
                                <fieldset class="fsStyle">
                                <legend class="legendStyle">Texte</legend>
                                        <div id="message">
                                            <textarea rows="10" required="required" value="" class="form-control" name="titre" id="titre">{{bibliotheque.message}}</textarea>
                                        </div>
                                </fieldset>
                        </div>
                {% endif %}
                        
                    {% if type == 'lien' %}
                        <div class="row">
                            <div class="col-md-7">    
                                <label class="control-label" for="titre">Titre lien : </label>
                                <input type="text" required="required" value="{{bibliotheque.message}}" class="form-control" name="titre" id="lien">
                            </div>	
                            <div class="col-md-5">
                                <div class="form-group">
                                        <label class="control-label" for="thematique">Thématique : </label>
                                    <input list="type_biblio"  type="text" required="required" value="{{bibliotheque.thematique}}" class="form-control" name="thematique" id="thematique">
                                </div>
                            </div>
                         </div>

                        <div class="form-group">
                                <fieldset class="fsStyle">
                                    <div id="lien">
                                        <div class="row">
                                            <div class="col-md-12">    
                                                <label class="control-label" for="href">Lien : </label>
                                                <input type="text" required="required" value="{{bibliotheque.href}}" class="form-control" name="href" id="href"><br />
                                            </div>	
                                        </div>	
                                   </div>	
                                </fieldset>
                        </div>
                {% endif %}
                
                {% if type == 'fichier' %}
                          <div class="row">
                            <div class="col-md-7">    
                                <label class="control-label" for="titre">Titre : </label>
                                <input type="text" required="required" value="{{bibliotheque.message}}" class="form-control" name="titre" id="lien">
                            </div>	
                            <div class="col-md-5">
                                <div class="form-group">
                                        <label class="control-label" for="thematique">Thématique : </label>
                                    <input list="type_biblio"  type="text" required="required" value="{{bibliotheque.thematique}}" class="form-control" name="thematique" id="thematique">
                                </div>
                            </div>
                         </div>
                          
                    <br />
                    
                    {% if etablissement is defined  and etablissement %}
                            {% if (etablissement | canUpload) %}
                                {% if bibliotheque.fichier %}
                                    <div align="center" class='alert alert-success'>
                                        Fichier actuel : {{bibliotheque.fichier}}
                                        <input type="hidden" name="ancien_fichier" value="{{bibliotheque.fichier}}">
                                        <input value='{{bibliotheque.fichier}}' name="fichier" id="fichier" type="file" />
                                   </div>

                                {% else %}
                                    <div align="center" class='alert alert-warning'>
                                            <input name="fichier" id="fichier" type="file" />
                                   </div>
                                {% endif %}
                                        {% include "Nuts/inc_fichiers_autorises.html.twig" %} 
                                {% else %}
                                    {% include "Nuts/inc_size_upload_limit.html.twig" %} 
                                {% endif %}
                        <br />
                   {% elseif app.user.gestionnaire is defined %}
                                              
                            {% if (gestionnaire| canUploadGestionnaire) %}
                                {% if bibliotheque.fichier %}
                                    <div align="center" class='alert alert-success'>
                                        Fichier actuel :  {{bibliotheque.fichier}}
                                        <br>Changer le fichier 
                                            <input type="hiddena" name="ancien_fichier" value="{{bibliotheque.fichier}}">
                                            <input name="fichier" id="fichier" type="file" />
                                   </div>
                                {% else %}
                                    
                                    <div align="center" class='alert alert-warning'>
                                            <input name="fichier" id="fichier" type="file" />
                                   </div>
                                   {% endif %}
                                {% include "Nuts/inc_fichiers_autorises.html.twig" %} 
                            {% else %}
                                {% include "Nuts/inc_size_upload_limit.html.twig" %} 
                           {% endif %}
                   {% endif %}
              {% endif %}

{{ include("Nuts/cancelsave.html.twig") }}

