{% for bibliotheque in bibliotheques |  order_alpha()  %} 
          <option value="{{bibliotheque.id}}">{{bibliotheque}}  ({{bibliotheque.typeMessage}}
                {% if bibliotheque.typeMessage =='lien' %}
                    : {{bibliotheque.href | http_short }}
                    
                    
                {% elseif bibliotheque.typeMessage =='fichier' %}
                    : &quot;{{bibliotheque.fichier}}&quot;
                {% endif %}   
          )
          </option>
{% endfor %}   

