{% if show_action is not defined %}
    {% set show_action = true %}
{% endif  %}
    

<table class="table table-striped table-bordered table-triable" cellspacing="0" width="100%">
        <thead>
	        <tr>
                   {# <th>Domaine</th> #}
	            <th>Titre</th>
	            <th>Lien</th>
	            <th>Thématique</th>
	            <th>Mise à jour</th>
                    <th> Créé par</th>
	            <th>Nb Preuves</th>
                    {% if show_action %}
	            <th>Actions</th>
                    {% endif  %}
	        </tr>
        </thead>

        <tbody>
        	{% for bibliotheque in bibliotheques %}
                        <tr>
                            
		             {# <td>{{ bibliotheque.domaine}}</td>#}
		            <td>{{ bibliotheque.TypeMessage | iconeBibliotheque() | raw  }}
                               <a href="{{ path('pericles3_bibliotheque_show', {'id': bibliotheque.id}) }}"> {{ bibliotheque.message }}</a>
		            </td>
		            <td>
                        	{% if bibliotheque.TypeMessage =='fichier' %}
		            		<a title='Télécharger le fichier' target="_blank" href="{{ asset('upload') }}/{{ bibliotheque.getRelativPath }}">{{ bibliotheque.TypeMessage | iconeBibliotheque() | raw  }}</a>
		            	{% elseif bibliotheque.TypeMessage =='lien' %}
		            		<a title='Allez à la page' target="_blank" href="{{ bibliotheque.href }}">{{ bibliotheque.TypeMessage | iconeBibliotheque() | raw  }}</a>
		            	{% endif %}		           
                            </td>
		            <td>{{ bibliotheque.thematique }}</td>
		            <td>{{ bibliotheque.dateUpdate|hiddenDate("d-m-Y") | raw }}</td>
                            {% if etablissement is not defined  and bibliotheque.etablissement.id is defined  %}
                                <td> <a href='{{ path('pericles3_bibliotheque_etablissement_id', {'id': bibliotheque.etablissement.id}) }}'>{{bibliotheque.etablissement}}</a></td>
                            {% else  %}
                                <td>{{ bibliotheque.user}}</td>
                            {% endif %}
                            <td><a href="{{ path('pericles3_bibliotheque_show', {'id': bibliotheque.id}) }}">{{ bibliotheque.NbPreuves }}</td>
                            
                            {% if show_action %}
        

		             <td>

                                {% if is_granted('ROLE_RW_BIBLIO') or is_granted('ROLE_RW_BIBLIO_GESTIONNAIRE') %}
                                    {% if bibliotheque.user == app.user or app.user.IsAdmin  %}
                                            <a href="{{ path('pericles3_bibliotheque_show', {'id': bibliotheque.id}) }}"><i class='glyphicon glyphicon-eye-open'></i></a>
                                            <a href="{{ path('pericles3_bibliotheque_update', {'id': bibliotheque.id}) }}"><i class='glyphicon glyphicon-pencil'></i></a>

                                        
                                            {% if bibliotheque.NbPreuves == 1 %}
                                                <i data-invite="Voulez ne pouvez pas supprimer cette entrée qui car une preuve lui  est associée. Veuillez supprimer d'abord la preuve !"
                                                   class='CantDeleteBoxBefore glyphicon glyphicon-trash iconhead  orangeText active '></i> 
                                            {% elseif bibliotheque.NbPreuves > 1 %}
                                                <i data-invite="Voulez ne pouvez pas supprimer cette entrée qui car {{bibliotheque.NbPreuves }} preuves lui  sont associéés. Veuillez supprimer d'abord les preuves !"
                                                   class='CantDeleteBoxBefore glyphicon glyphicon-trash iconhead  orangeText active '></i> 
                                            {% else%}
                                                <i data-invite="Supprimer l'entrée de la bibliotheque de manière définitive ? ? "
                                                data-url_delete="{{ path('pericles3_bibliotheque_delete', {'id': bibliotheque.id}) }}"  
                                               class='DeleteBoxBefore glyphicon glyphicon-trash iconhead redText active '></i> 
                                            {% endif %}
                                          
                                          
                                    {% else %}
                                       <i data-invite="Voulez ne pouvez pas supprimer cette entrée qui a été creée par {{bibliotheque.user}} "
                                          class='CantDeleteBoxBefore glyphicon glyphicon-trash iconhead  orangeText active '
                                          ></i> 
                                    {% endif %}
                                {% else %}
                                       <i data-invite="Voulez ne pouvez pas faire des modifications dans la bibliothèque"
                                          class='CantDeleteBoxBefore glyphicon glyphicon-trash iconhead  redText active '
                                          ></i> 
                                {% endif %}
                               
                               
                                 {# 
                                <a target="_blank" href="{{ bibliotheque.href }}">
                                    <i class='glyphicon glyphicon-eye-open'></i>++
                                </a>
                                    
                               {% if (etablissement.id) == (app.user.etablissement.id) %}
                                    <a href="#"><i class='glyphicon glyphicon glyphicon-pencil'></i></a>
                                {% endif %}
                                #}
                                 
		            </td>
                            {% endif  %}
                                                
	       		</tr>
			{% endfor %}
        </tbody>
</table>
{# if (etablissement.id) == (app.user.etablissement.id) %}
    <a class="full-width btn btn-primary" href='{{ path("pericles3_bibliotheque_create", {"idEtablissement": etablissement.id}) }}'>Ajouter un élément</a>
{% endif #}
