{% extends "Bibliotheque/layout.html.twig" %}

{% block title %}{{ parent() }} - Bibliothèque{% endblock %}

{% block body %}
         {{ parent() }} 
             
         {% set par_source =false %}

             
	{% include "MessageFlash/messageFlash.html.twig" %}
        
               

    {% if ancreai_bibliotheques is not empty %}
                <div class="panel panel-primary"> 
                    <div class="panel-heading"> <h3 class="panel-title">Bibliothèque {{application_name}}</h3> </div>
                    <div class="panel-body"> 
                            {% include "Bibliotheque/ancreai_list.html.twig" %} 
                         <a href="{{ path('pericles3_bibliotheque_ancreai') }}"  class = "btn  btn-link full-width">Voir toute la bibliothèque {{application_name}}</a>
                    </div>
                </div>
    {% endif %}
   


{% if gestionnaire is defined %}
    {% if gestionnaire is not null %}
                <div class="panel panel-primary">
                    
                     {% if app.user.isGestionnaire %}
                            {% set show_action = true %}
                        {% else %}
                            {% set show_action = false %}
                        {% endif %}
                      
                    <div class="panel-heading"> <h3 class="panel-title">  <i class='glyphicon glyphicon-king'></i> Bibliothèque gestionnaire :  {{gestionnaire}}</h3> </div>
                    <div class="panel-body"> 
                          
                       
                        {% if gestionnaire.bibliotheques |length %}
                                {% include "Bibliotheque/inc_liste.html.twig"  with {'bibliotheques': gestionnaire.bibliotheques, 'show_action':show_action}   %} 
                                <a href="{{ path('pericles3_bibliotheque_gestionnaire') }}"  class = "btn  btn-link full-width">Voir toute la bibliothèque {{gestionnaire}}</a>
                            {% else %}
                                <div class='alert alert-warning'>
                                    Bibliothèque Vide ! ! 
                                </div>
                                <a href="{{ path('pericles3_bibliotheque_gestionnaire') }}"  class = "btn  btn-link full-width">Ajouter une entrée dans la bibliothèque {{gestionnaire}}</a>
                        {% endif %}

                    </div>
                </div>
 
    {% endif %}
{% endif %}

     
{% if etablissement is defined %}
                <div class="panel panel-success"> 
                    <div class="panel-heading"> <h3 class="panel-title">  <i class='glyphicon glyphicon-queen'></i>  Bibliothèque établissement :  {{etablissement}}</h3> </div>
                    <div class="panel-body"> 
                    {% if bibliotheques |length %}
                            {% include "Bibliotheque/inc_liste.html.twig"   %} 
                            <a href="{{ path('pericles3_bibliotheque_etablissement') }}"  class = "btn  btn-link full-width">Voir toute la bibliothèque {{etablissement}}</a>
                    {% else %}
                        <div class='alert alert-warning'>
                            Bibliothèque Vide ! 
                        </div>
                            {% if is_granted('ROLE_RW_BIBLIO') %}
                            <div  class="screen_only row">
                                <div class="col-md-4">
                                    <a class="btn btn-primary active full-width"href="{{ path('pericles3_bibliotheque_create', {'type': "lien"}) }}"><i class='glyphicon glyphicon-plus'></i> Ajouter un lien </a>
                                </div>
                                <div class="col-md-4">
                                    <a class="btn btn-primary active full-width" href="{{ path('pericles3_bibliotheque_create', {'type': "fichier"}) }}"><i class='glyphicon glyphicon-plus'></i> Ajouter un fichier </a>
                                </div>
                                <div class="col-md-4">
                                    <a class="btn btn-primary active full-width" href="{{ path('pericles3_bibliotheque_create', {'type': "texte"}) }}"><i class='glyphicon glyphicon-plus'></i> Ajouter un texte</a>
                                </div>
                            </div>
                            {% endif %}
                    {% endif %}
                    </div>
                </div>
    {% else %}
          <div class="panel panel-success"> 
                    <div class="panel-heading"> <h3 class="panel-title">  <i class='glyphicon glyphicon-queen'></i>  Bibliothèque établissements</h3> </div>
                    <div class="panel-body"> 
                    {% if bibliotheques_etablissement | length %}
                            {% include "Bibliotheque/inc_liste.html.twig"  with {'bibliotheques': bibliotheques_etablissement}   %} 
                            <a href="{{ path('pericles3_bibliotheque_etablissement') }}"  class = "btn  btn-link full-width">Voir toute les  bibliothèque etablissement</a>
                    {% else %}
                        <div class='alert alert-warning'>
                            Bibliothèque Vide ! 
                        </div>
                    {% endif %}
                    </div>
                </div>
    {% endif %}



        <div class="panel panel-primary"> 
            <div class="panel-heading"> <h3 class="panel-title">Bibliothèque de preuves de qualité</h3> </div>
            <div class="panel-body"> 
            {% if preuves |length %}
                {% set par_type_preuve = false %}
                {% set is_critere =false %}
                {% set is_objectif_operationnel =false %}
                {% set is_pdv = false %}

                     {% include "Bibliotheque/preuves_list.html.twig" %} 
                    <a href="{{ path('pericles3_bibliotheque_preuves') }}"  class = "btn  btn-link full-width">Voir toute la bibliothèque de preuves de qualité</a>
            {% else %}
                <div class='alert alert-warning'>
              Aucune preuves  pour l'instant
                </div>
            {% endif %}
            </div>
        </div>


{% endblock %}
 
 