{% extends "Bibliotheque/layout.html.twig" %}


{% block title %}{{ parent() }} - Bibliothèque Liste {% endblock %}

{% block body %}{{ parent() }} 

        {% if titre is defined %}
            <h2 class='alert alert-success'>{{titre}}</h2>
        {% endif %}
    
    {% if domaine is defined %}
        {% include "Nuts/menu_domaine_transversal.html.twig" %} 
     {% else %}
        {% if sous_titre is defined %}
            <h3 class='alert alert-success'>{{sous_titre}}</h3>
        {% endif %}
    {% endif %}

    
    
    {% if bibliotheques|length > 0 %}
         {% include "Bibliotheque/inc_liste.html.twig" %} 
    {% else %}
        <div class='alert alert-warning'>
              Aucune entrée dans la bibliothèque
              {% if titre is defined %}
                 - {{titre}}
            {% endif %}
              {% if sous_titre is defined %}
                 - {{sous_titre}}
            {% endif %}
        </div>
    {% endif %}
    
    

    {% include "Bibliotheque/inc_lien_create_biblio.html.twig"  with {'type_menu': 'btns'} %} 
        <p><p>
        <div class='row'> 
                <div class="col-sm-12">
                <div class="panel panel-primary">
                    <div class="panel-heading"><h3 class="panel-title"> <a href="{{ path("watchdd_index") }}">Espace disque</a></h3></div>
                     <div class="panel-body">  
                            {% include "Index/inc_watchdd_global.html.twig" %}
                       </div> 
                </div>
            </div> 
        </div> 
    
    
{% endblock %}