{% extends "Bibliotheque/layout.html.twig" %}

{% block title %}{{ parent() }} - Bibliothèque{% endblock %}

{% block body %}
         {{ parent() }} 
         
         <h2><a href="{{ path('pericles3_bibliotheque_preuves') }}"  >Bibliothèque de preuves de qualité</a></h2>
    
     
        <h3 class='alert alert-success'>Migrer les preuves vers la bibliothèque</h3>
        

        {% if fichiers_in_biblio | length > 0 %}
        
        <h2>Lier à une bibliothèque existante</h2>
        
        <table class="table table-striped table-bordered table-triable_desc ">
        <thead>
	        <tr>
                <td class='hidden'></td>
	            <th>fichier </th>
	            <th>Bibliotheque</th>
	            <th>Migration</th>
	        </tr>
        </thead>

        <tbody>
            
        
        
        
        {% for fichier in fichiers_in_biblio %}
            <tr>
                <td class='hidden'>{{fichier.nb}}</td>
                <td>{{fichier.fichier}}</td>
                <td><a href="{{ path('pericles3_bibliotheque_show', {'id': fichier.biblio.id}) }}">{{fichier.biblio}}</a></td>
                <td>
                    {% if fichier.biblio.gestionnaire %}
                        <a class='btn btn-primary' href="{{ path('pericles3_bibliotheque_preuves_linktoexistant', {'id': fichier.biblio.id,'etablissement':etablissement.id,'filename': fichier.fichier}) }}"> Lier à la bibliotheque gestionnaire </a>
                    {% else  %}
                        <a class='btn btn-primary' href="{{ path('pericles3_bibliotheque_preuves_linktoexistant', {'id': fichier.biblio.id,'etablissement':etablissement.id,'filename': fichier.fichier}) }}"> lier à la bibliotheque etablissement</a>
                    {% endif %}
                </td>
                  
                        
                    
            </tr>
        {% endfor %}
        </tbody>
</table> 
        
{% endif %}

            
                       <datalist id="type_biblio">
                                {% for BibliothequeTypeDoc in BibliothequeTypesDoc %}
                                    <option value="{{ BibliothequeTypeDoc }}">{{ BibliothequeTypeDoc }}
                                {% endfor  %}
                            </datalist>
              

        {% if fichiers_notin_biblio | length > 0 %}
        
        <h2>Créer une une bibliothèque a partir du fichier de preuve</h2>
        
        
<table class="table table-striped table-bordered table-triable_desc ">
        <thead>
	        <tr>
                <td class='hidden'></td>
	            <th>fichier </th>
	            <th>Nb </th>
	            <th>Créer une bibliotheque établissement</th>
	        </tr>
        </thead>

        <tbody> 
                       <datalist id="type_biblio">
                                {% for BibliothequeTypeDoc in BibliothequeTypesDoc %}
                                    <option value="{{ BibliothequeTypeDoc }}">{{ BibliothequeTypeDoc }}
                                {% endfor  %}
                            </datalist>
         
        {% for fichier in fichiers_notin_biblio %}
            <tr>
                <td class='hidden'>{{fichier.nb}}</td>
                <td>{{fichier.fichier}}</td>
                <td>{{fichier.nb}}</td>
                
                
                <td>
                    <form method="POST" action='{{ path('pericles3_bibliotheque_preuves_biblio_change', {"id": etablissement.id,"filename": fichier.fichier}) }}'>
                        <input type="text" required="required"  class="form-control" name="titre" placeholder="Titre">
                        <input   list="type_biblio"  type="text" required="required"   class="form-control" name="thematique" id="thematique" placeholder="Thématique">
                         <button type="submit" class="btn btn-default">Créer </button>
                    </form>
                         
            </tr>
        {% endfor %}
        </tbody>
</table>    

{% endif %}
   
    {% if  etablissement.nbPreuves == 0 %}
        <div class='alert alert-warning'>
            Aucune preuves  pour l'instant
        </div>
    {% elseif fichiers_in_biblio | length  + fichiers_in_biblio | length ==0 %}
        <div class='alert alert-warning'>
            Vous n'avez pas de preuves à migrer 
        </div>
{% endif %}



 {% endblock %}

 