{% set titre_synthese= ' ' ~ application_name ~ ' - PAQ '  %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
        "http://www.w3.org/TR/html4/strict.dtd">
<HTML>
<HEAD>
    <meta charset="UTF-8">
    <TITLE>{{titre_synthese}}</TITLE>
    {% include "Synthese/export/inc/export.css.html.twig" %}
</HEAD>
<BODY> 

    
    {% include "Synthese/export/inc/page_de_garde.html.twig" %}
   
     {% include "Synthese/export/inc/inc_etablissement.html.twig" %}
     

<div class='sub_menu_doc'>
    <ul>
     {% for objectifStrategique in etablissement.getObjectifsStrategique %}
         {%  if objectifStrategique.nbObjectifsOperationnel %}
         <li><a href="#os_{{objectifStrategique.id}}">{{objectifStrategique}}</a></li>
         {% endif  %}
     {% endfor  %}
         <li><a href="#autre_objectifs_orphans">Autres objéctifs</a></li>
    </ul>
</div>

    
     <h1>Plan d'Amélioration de la qualité<br>Objectifs opérationnels</h1>

 
     {% for objectifStrategique in etablissement.getObjectifsStrategique %}

         {%  if objectifStrategique.nbObjectifsOperationnel %}

         <h1 id='os_{{objectifStrategique.id}}'>{{objectifStrategique}}</h1>
        {%  if objectifStrategique.nbObjectifsOperationnel %}
            {% include "Synthese/export/inc/objectifs/inc_ooa_simple_2.html.twig" with { "objectifs" : objectifStrategique.objectifsOperationnel} %}
        {% else %}
            <div class='alert-warning'>Aucun objectif opérationnel </div>
            {% endif %}
        {% endif %}
        
        
     
     {% endfor  %}
                          
        <h1 id='autre_objectifs_orphans'>Autres</h1>
     {% include "Synthese/export/inc/objectifs/inc_ooa_simple_2.html.twig" with { "objectifs" : etablissement.getObjectifsOperationnelOrphan} %}

            
             
 </BODY>
</HTML>




