{% set titre_synthese= ' ' ~ application_name ~ ' - PAQ '  %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
        "http://www.w3.org/TR/html4/strict.dtd">
<HTML>
<HEAD>
    <meta charset="UTF-8">
    <TITLE>{{titre_synthese}}</TITLE>
    {% include "Synthese/export/inc/export.css.html.twig" %}
</HEAD>
<BODY> 

    
    {% include "Synthese/export/inc/page_de_garde.html.twig" %}
   
     {% include "Synthese/export/inc/inc_etablissement.html.twig" %}
     
     

<h1>Plan d'Amélioration de la qualité</h1>

{% include "Synthese/export/inc/inc_menu_domaine.html.twig" %}
 
{% for domaine in etablissement.domaines %}
    <h1><a id="domaine_{{domaine.ordre}}" name="domaine_{{domaine.ordre}}">Domaine {{ domaine.ordre}}. {{ domaine}}</a></h1>
 
        {% include "Synthese/export/inc/inc_paq_domaine.html.twig" %}
    
        
        
{% endfor %}
            
            
            
        
        
                    
            
             
 </BODY>
</HTML>




