{% set titre_synthese= 'Référentiel Vierge '  ~ application_name  %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
        "http://www.w3.org/TR/html4/strict.dtd">
<HTML>
<HEAD>
    <meta charset="UTF-8">
    <TITLE>{{titre_synthese}}</TITLE>
    {% include "Synthese/export/inc/export.css.html.twig" %}
</HEAD>
<BODY> 

{#    "/img/header_doc.jpg" | getImageExport(typeExport,"100%") | raw #}

<div class='main_titre'>{{titre_synthese}}<br></div>
<h2 class='center'>{{ReferentielPublic.public}}</h2>

<div class='date_eval'>
export du {{ 'now'|date('d-m-Y  H:i') }}
</div>
 


{% for domaine in ReferentielPublic.ReferentielDomaines  | order %}
    <h1><a id="domaine_{{domaine.ordre}}" name="domaine_{{domaine.ordre}}">Domaine {{ domaine.ordre}}. {{ domaine}}</a></h1>
 
        {% for dimension in domaine.getChildren  | order %}
        <h2 id="dimension_{{dimension.id}}" name="dimension_{{dimension.id}}" >Dimension {{ domaine.ordre }}.{{ dimension.ordre }} <small>{{ dimension.nom }}</small></h2>

        {% for critere in dimension.getChildren | order %}
                <h3>{{ critere.numero }} -  {{ critere.nom }}</h3>
                {% if critere.RBPP %}
                    <li><b>{{critere.RBPP.typeSourceBA}} :</b> {{critere.RBPP}} <i>({{ critere.RBPP.datePublication|date('Y-m') }})</i></li>
                {% endif %}
                    
                    <ul>
                    {% for question in critere.getChildren | order  %}
                            <li>
                                {{question.numero}} - {{question}} 
                            </li>
                        {% endfor %}
                    </ul>
            {% endfor %}

            
        <br>
        {% endfor %}
        
        
        
{% endfor %}



            
            
            
        
        
                    
            
             
 </BODY>
</HTML>




