{% extends "BackOffice/layout.html.twig" %}

{% block body %}
    <h1><a href='{{ path('backoffice_bibliotheque_ancreai_index') }}'>Bibliothèque  {{application_name}}</a></h1>
    
   
  
        
    <h2><a class="" href="{{ path('backoffice_bibliotheque_ancreai_index_public', { 'id': ReferentielPublic.id }) }}">{{ReferentielPublic}}</a></h2>
    
    
    {% if ReferentielPublic.NbBibliothequesAncreai == 0 %}
        <div class='alert alert-danger'>
    {% else  %}
        <div class='alert alert-success'>
    {% endif  %}
                        il y a <a class="" href="{{ path('backoffice_bibliotheque_ancreai_index_public', { 'id': ReferentielPublic.id }) }}">
                            {{ ReferentielPublic.NbBibliothequesAncreai}} éléments
                        </a> dans la bibliothèque {{ ReferentielPublic}}
        </div>  

        <div class='row'>
    
            <div class='col-md-6'>
                <div class='alert alert-warning'>
                C'est entrées de la bibliothèque ANCREAI <strong>ne sont pas </strong> affectées au référentiel <strong>{{ReferentielPublic}}</strong>.
                </div>
            </div>
            <div class='col-md-6'>
                <div class='alert alert-info'>
                    Vous pouvez les ajouter avec le symbole <i class='glyphicon glyphicon-plus'></i>
                </div>
            </div>
        </div>
    
    
    <table class='table table-bordered table-triable_desc'>
        <thead>
            <tr>    
                <th>Nb Ref.</th>
                <th>Refs.</th>
                <th>Titre</th>
                <th>Lien</th>
                <th>Type de source</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for bibliothequeAncreai in BibliothequesAncreaiToAdd %}
            <tr>
                <td>
                     {{bibliothequeAncreai.NbReferentiels }}
                </td>
                <td>
                    {% for RefPub in bibliothequeAncreai.ReferentielPublics %}
                     {{RefPub.short}} - 
                    {% endfor %}
                </td>
                <td>
                     <a href="{{ path('backoffice_bibliotheque_ancreai_show', { 'id': bibliothequeAncreai.id }) }}">{{ bibliothequeAncreai.titre | limitChar(110)}}</a>
                </td>
                <td class='center'>
                    <a target='blank' href='{{bibliothequeAncreai.href}}'><i class='glyphicon glyphicon-globe'></i></a>
                </td>
                <td>{{ bibliothequeAncreai.typeSource }}</td>
                
                <td>
                            <a href="{{ path('backoffice_bibliotheque_ancreai_show', { 'id': bibliothequeAncreai.id }) }}"><i alt='voir' class='glyphicon glyphicon-eye-open'></i></a>
                            
                            {% if is_granted("ROLE_RW_BIBLIO_ARSENE") %}
                                <a href="{{ path('backoffice_bibliotheque_ancreai_edit', { 'id': bibliothequeAncreai.id }) }}"><i alt='modifier' class='glyphicon glyphicon-pencil'></i></a>
                            {% endif  %}
                            
                            
                            {% if app.user.hasReferentielPublic(ReferentielPublic) %}
                                    <a class="btn btn-primary active full-width"  href="{{ path('backoffice_bibliotheque_ancreai_addtorref_commit', {'id':ReferentielPublic.id,'id_biblioancreai':bibliothequeAncreai.id}) }}"><i alt='Ajouter à la bibliotheque' class='glyphicon glyphicon-plus'></i></a>
                            {% endif  %}
        
                            
                            
                            
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
    
        
    <ul>
      {% if is_granted("ROLE_RW_BIBLIO_ARSENE") %}
            <a class="btn btn-primary active full-width"  href="{{ path('backoffice_bibliotheque_ancreai_bypublic_new', {'id':ReferentielPublic.id}) }}"><i alt='ajouter' class='glyphicon glyphicon-plus'></i>Nouvelle entrée le référentiel {{ReferentielPublic}} </a>
      {% endif  %}
    </ul>
{% endblock %}
