{% extends "BackOffice/layout.html.twig" %}

{% block body %}
    <h1>Bibliothèques  ANCREAI</h1>
{% endblock %}
  
            
{% block out_container %}

            
  
        
    <div class='fond_white'> 

      {% if is_granted("ROLE_RW_BIBLIO_ARSENE") %}
        <a class="btn btn-primary active full-width"  href="{{ path('backoffice_bibliotheque_ancreai_new') }}"><i alt='modifier' class='glyphicon glyphicon-plus'></i>Nouvelle entrée dans la bibliothèque {{application_name}}</a>
      {% endif  %}
      
      <p>
{#
         <div class="dropdown">
           <button class="btn btn-default full-width dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
             Publics
             <span class="caret"></span>
           </button>
           <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                {% for ReferentielPublic in ReferentielsPublic | sort  %}
                           <li><a href="{{ path('backoffice_bibliotheque_ancreai_index_public', { 'id': ReferentielPublic.id})  }}">{{ReferentielPublic}})</a></li>
                {% endfor %}
           </ul>
         </div>
  #}  
    
    <table class='table table-bordered table-triable_desc '>
        <thead>
            <tr>
                <th>Date Création</th>
                <th>Code Retour</th>
                <th>Titre</th>
                <th>Lien</th>
                <th>Type de source</th>
                <th>Date de publication</th>
                
                {% for ReferentielPublic in ReferentielsPublic | sort  %}
                    <th  title='{{ReferentielPublic}}'> {{ReferentielPublic.short}} </th>
                {% endfor %}
                
                <th title='Liasons entre les RBPP et les critères'>Nb Critères</th>
                <th title='Nombre de référentiels, en cours de dev ou en prod'>Nb Refs</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for bibliothequeAncreai in bibliothequeAncreais %}
            {% if bibliothequeAncreai.NbReferentiels>0 %}
                <tr>
            {% else %}
                <tr class='alert-danger'>
            {% endif  %}

                
                <td class='small'>{{ bibliothequeAncreai.dateCreate  | hiddenDate | raw }}</td>
                <td>
                     <a href="{{ path('backoffice_bibliotheque_ancreai_show', { 'id': bibliothequeAncreai.id }) }}">{{ bibliothequeAncreai.titre | limitChar(110)}}</a>
                </td>
                <td class='center'>
                    <a target='blank' href='{{bibliothequeAncreai.href}}'><i class='glyphicon glyphicon-globe'></i></a>
                </td>
                
            {% if bibliothequeAncreai.LienOK %}
                    <td class='alert alert-success'>{{ bibliothequeAncreai.CodeRetourLib  }}  
                {% else %}
                    <td class='alert alert-danger'>{{ bibliothequeAncreai.CodeRetourLib }}  
            {% endif %}

                <td>{{ bibliothequeAncreai.typeSource }}</td>
                <td>{% if bibliothequeAncreai.datePublication %}{{ bibliothequeAncreai.datePublication|date('Y-m') }}{% endif %}</td>
                
                                
                {% for ReferentielPublic in ReferentielsPublic | sort %}
                    {%if  bibliothequeAncreai.hasReferentielPublic(ReferentielPublic) %}
                        <td class='greenText center'> <i title="{{ReferentielPublic}}" class='glyphicon glyphicon-ok'></i></td>
                    {% else %}
                        <td> </td>
                    {% endif %}
                {% endfor %}

                <td>
                    {% if  bibliothequeAncreai.typeSource == 'RBPP' %}
                        {{bibliothequeAncreai.Criterereferentiel | length }}
                    {% endif %}
                </td>
                <td>
                        {{bibliothequeAncreai.NbReferentiels}}
                </td>
                
                <td>
                            <a href="{{ path('backoffice_bibliotheque_ancreai_show', { 'id': bibliothequeAncreai.id }) }}"><i alt='voir' class='glyphicon glyphicon-eye-open'></i></a>
                            
                            {% if is_granted("ROLE_RW_BIBLIO_ARSENE") or bibliothequeAncreai.createdBy == app.user %}
                                <a href="{{ path('backoffice_bibliotheque_ancreai_edit', { 'id': bibliothequeAncreai.id }) }}"><i alt='modifier' class='glyphicon glyphicon-pencil'></i></a>
                            {% endif  %}
                </td>
                
                
                
            </tr>
        {% endfor %}
        </tbody>
    </table>


        
      
    </div>
{% endblock %}
