{% extends "BackOffice/layout.html.twig" %}

{% block body %}
    <h1><a href='{{ path('backoffice_bibliotheque_ancreai_index') }}'>Bibliotheque {{application_name}}</a></h1>
     
        
    <h2><a class="" href="{{ path('backoffice_bibliotheque_ancreai_index_public', { 'id': ReferentielPublic.id }) }}">{{ReferentielPublic}}</a></h2>
       
    
    <div class='alert alert-info'>{{ bibliothequeAncreais |  length }} éléments</div>
    
    
    <table class='table table-bordered table-triable_desc'>
        <thead>
            <tr>
                <th>Date Création</th>
                <th>Date de publication</th>
                <th>Titre</th>
                <th>Nb Ref</th> 
                <th>Lien</th> 
            </tr>
        </thead>
        <tbody>
        {% for bibliothequeAncreai in bibliothequeAncreais %}
            <tr>
                <td class='small'>{{ bibliothequeAncreai.dateCreate  | hiddenDate | raw }}</td>
                
                <td>{% if bibliothequeAncreai.datePublication %}{{ bibliothequeAncreai.datePublication|date('Y-m') }}{% endif %}</td>

                <td>
                     <a href="{{ path('backoffice_bibliotheque_ancreai_show', { 'id': bibliothequeAncreai.id }) }}">{{ bibliothequeAncreai.titre | limitChar(110)}}</a>
                </td>
                 
                {% if bibliothequeAncreai.NbRef  > 0 %}
                    <td class='success'>{{bibliothequeAncreai.NbRef   }}</td>
                {% else %}
                    <td class='warning'>{{bibliothequeAncreai.NbRef   }}</td>
                {% endif %}
              
                
              
                
                <td class='center'>
                    <a target='blank' href='{{bibliothequeAncreai.href}}'><i class='glyphicon glyphicon-globe'></i></a>
                </td>
                  
                
                
            </tr>
        {% endfor %}
        </tbody>
    </table>

  
        
    
{% endblock %}
