{% extends "BackOffice/layout.html.twig" %}

{% block body %}
    <h1><a href='{{ path('backoffice_bibliotheque_ancreai_index') }}'>Bibliotheque {{application_name}}</a></h1>
    
   
  
        
    <h2><a class="" href="{{ path('backoffice_bibliotheque_ancreai_index_public', { 'id': ReferentielPublic.id }) }}">{{ReferentielPublic}}</a></h2>
    
        <div class='alert alert-info'>{{ bibliothequeAncreais |  length }} éléments</div>

    
        {% if app.user.hasReferentielPublic(ReferentielPublic) or is_granted("ROLE_MEGA_ADMIN")  %}
            <a class="btn btn-primary active full-width"  href="{{ path('backoffice_bibliotheque_ancreai_addtorref', {'id':ReferentielPublic.id}) }}"><i alt='modifier' class='glyphicon glyphicon-plus'></i>Ajouter une entrée existante à la bibliothèque <strong>{{ReferentielPublic}}</strong> </a>
            <br>
            <br>
            <a class="btn btn-primary active full-width"  href="{{ path('backoffice_bibliotheque_ancreai_bypublic_new', {'id':ReferentielPublic.id}) }}"><i alt='ajouter' class='glyphicon glyphicon-plus'></i>Nouvelle entrée pour le référentiel {{ReferentielPublic}} </a>
            <br>  
            <br>
            <a class="btn btn-warning active full-width"  href="{{ path('backoffice_bibliotheque_ancreai_rbpp_index_public', {'id':ReferentielPublic.id}) }}">Voir les RBPP / Critères </a>
            <br>
        {% endif  %}

        {% if is_granted("ROLE_RW_BIBLIO_ARSENE") or is_granted("ROLE_MEGA_ADMIN")  %}
            <br>
          <a class="btn btn-primary active full-width"  href="{{ path('backoffice_bibliotheque_ancreai_new') }}"><i alt='modifier' class='glyphicon glyphicon-plus'></i>Nouvelle entrée dans la bibliothèque {{application_name}}</a>
        {% endif  %}
        
        
    
    
    <table class='table table-bordered table-triable_desc'>
        <thead>
            <tr>
                <th>Date Création</th>
                <th>Date de publication</th>
                <th>Titre</th>
                <th>Lien</th>
                <th>Type de source</th>
                 
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for bibliothequeAncreai in bibliothequeAncreais %}
            <tr>
                <td class='small'>{{ bibliothequeAncreai.dateCreate  | hiddenDate | raw }}</td>

                <td>{% if bibliothequeAncreai.datePublication %}{{ bibliothequeAncreai.datePublication|date('Y-m') }}{% endif %}</td>
                <td>
                     <a href="{{ path('backoffice_bibliotheque_ancreai_show', { 'id': bibliothequeAncreai.id }) }}">{{ bibliothequeAncreai.titre  }}</a>
                </td>
                <td class='center'>
                    <a target='blank' href='{{bibliothequeAncreai.href}}'><i class='glyphicon glyphicon-globe'></i></a>
                </td>
                <td>{{ bibliothequeAncreai.typeSource }}</td>
                
               
                
                
                <td>
                            <a href="{{ path('backoffice_bibliotheque_ancreai_show', { 'id': bibliothequeAncreai.id }) }}"><i alt='voir' class='glyphicon glyphicon-eye-open'></i></a>


        
                            {% if app.user.hasReferentielPublic(ReferentielPublic) %}
                                
                                <i data-invite="Voulez enlever l'élément <strong>{{bibliothequeAncreai}}</strong> tu référentiel <strong>{{ReferentielPublic}}</strong> ?"
                                data-url_delete="{{ path('backoffice_bibliotheque_ancreai_addtorref_delete', {'id':ReferentielPublic.id,'id_biblioancreai':bibliothequeAncreai.id}) }}" 
                               class='full-width DeleteBoxBefore glyphicon glyphicon-trash iconhead redText active '
                               ></i> 
                            {% if is_granted("ROLE_RW_BIBLIO_ARSENE") or bibliothequeAncreai.createdBy == app.user %}
                                <a href="{{ path('backoffice_bibliotheque_ancreai_edit', { 'id': bibliothequeAncreai.id }) }}"><i alt='modifier' class='glyphicon glyphicon-pencil'></i></a>
                            {% endif  %}
                                         

                            {% endif  %}
            
            
                            
                            {% if is_granted("ROLE_RW_BIBLIO_ARSENE") %}
                                <a href="{{ path('backoffice_bibliotheque_ancreai_edit', { 'id': bibliothequeAncreai.id }) }}"><i alt='modifier' class='glyphicon glyphicon-pencil'></i></a>
                            {% endif  %}
                </td>
                
                
                
            </tr>
        {% endfor %}
        </tbody>
    </table>

 
        
        
    
{% endblock %}
