{% extends "BackOffice/layout.html.twig" %}

{% block body %}
    <h1>Bibliothèque {{application_name}}</h1>
 
    
    <table class='table'>
        <tbody>
            <tr>
                <th>Titre</th>
                <td>{{ bibliothequeAncreai.titre }}</td>
            </tr>
            <tr>
                <th>Href</th>
                <td><a href='{{ bibliothequeAncreai.href }}' target='blank'>{{ bibliothequeAncreai.href }}</a></td>
                </tr>
             <tr>
                {% if bibliothequeAncreai.LienOK %}
                    <th class='alert alert-success'>Lien</th>
                    <td class='alert alert-success'>{{ bibliothequeAncreai.CodeRetourLib  }}  
                {% else %}
                    <th class='alert alert-danger'>Lien</th>
                    <td class='alert alert-danger'>{{ bibliothequeAncreai.CodeRetourLib }}  
                    
                {% endif %}
                {% if bibliothequeAncreai.LastTest %}
                    - Testé le {{bibliothequeAncreai.LastTest| date('Y-m-d H:i:s') }}
                {% else %}
                    - jamais testé
                {% endif %}
                
                
                
                  {% if is_granted("ROLE_RW_BIBLIO_ARSENE") %}
                    <a class="btn btn-link glyphicon glyphicon-pencil full-width" href={{ path('backoffice_bibliotheque_ancreai_checklink', { 'id': bibliothequeAncreai.id }) }}>Re-tester </a>
                 {% endif %}
                      
                </td>
            </tr>
            <tr>
                <td>Cache</td>
                {% if bibliothequeAncreai.cache %}
                    <td class='alert-success'><a href='/cache_biblio/{{bibliothequeAncreai.cache}}'>{{bibliothequeAncreai.cache}} </a></td>
                {% else   %}
                    <td class='alert-danger'></td>
                {% endif  %}
               
            </tr>
            <tr>
                <th>Type de source</th>
                <td>{{ bibliothequeAncreai.typeSource }}</td>
            </tr>
            <tr>
                <th>Date de la publication</th>
                <td>{{ bibliothequeAncreai.datePublication|date('Y-m') }} </td>
            </tr>
            <tr>
                <th>Crée le </th>
                <td>{{ bibliothequeAncreai.dateCreate|date('Y-m-d H:i:s') }} par <i>{{bibliothequeAncreai.createdBy}}</i></td>
            </tr>
            {% if bibliothequeAncreai.dateCreate != bibliothequeAncreai.dateUpdate  %}
                <tr>
                    <th>Mis à jour</th>
                    <td>{{ bibliothequeAncreai.dateUpdate|date('Y-m-d H:i:s') }} par <i>{{bibliothequeAncreai.lastModifiedBy}}</i></td>
                </tr>
            {% endif %}
            <tr>
                <th>Référentiels</th>
                <td>
                    {% for ReferentielPublic in bibliothequeAncreai.ReferentielPublics %}
                        <a href="{{ path('backoffice_bibliotheque_ancreai_index_public', { 'id': ReferentielPublic.id})  }}">{{ReferentielPublic}})</a> / 
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>


    {% if  bibliothequeAncreai.Criterereferentiel | length > 0 %}
    <h3>Liason avec les référentiels : </h3>
    <table class='table'>
        <tbody>
                    {% for Ref in bibliothequeAncreai.Criterereferentiel  %}
            <tr>
                        <th>{{Ref.ReferentielPublic}}</th>
                        <td><a href='{{ path('referentielpublic_show_node', {'id_node': Ref.id, 'id': Ref.ReferentielPublic.id}) }}'>{{Ref.numero}}</td>
                        <td>{{Ref}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
                
                
                
                
                
                   
      <div class="row">
         {% if is_granted("ROLE_RW_BIBLIO_ARSENE") %}
                 
                 <div class='col-md-4'>
                    <a class="btn btn-link back_to_list full-width" href="{{ path('backoffice_bibliotheque_ancreai_index') }}">Retour a la liste </a>
                </div>
                 <div class='col-md-4'>
                    <a class="btn btn-link glyphicon glyphicon-pencil full-width" href={{ path('backoffice_bibliotheque_ancreai_edit', { 'id': bibliothequeAncreai.id }) }}>Modifier </a>
                </div>
                
                    <div class='col-md-4'>
                             <i data-invite="Voulez-vous supprimer définitivement l'entrée de la bibliotheque {{application_name}}?"
                                data-url_delete="{{ path('backoffice_bibliotheque_ancreai_delete', {'id':bibliothequeAncreai.id}) }}" 
                               class='btn btn-danger full-width DeleteBoxBefore glyphicon glyphicon-trash iconhead redText active full-width'
                               >Supprimer l'entrée </i> 
                   </div>
                
                
            {% else  %}
                 <div class='col-md-12'>
                    <a class="btn btn-primary back_to_list full-width" href="{{ path('backoffice_bibliotheque_ancreai_index') }}">Retour a la liste </a>
                </div>
            {% endif %}
        </div>
                     
{% endblock %}
