{% set titre_synthese= 'Evaluation ' ~ application_name %}


{% set gestionnaire = app.user.gestionnaire %}


<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
        "http://www.w3.org/TR/html4/strict.dtd">
<HTML>
<HEAD>
    <meta charset="UTF-8">
    <TITLE>{{titre_synthese}} {{ referentielPublic }}</TITLE>
    {% include "Synthese/export/inc/export.css.html.twig" %}
    
    
    <style>
        
        .nonconcerne .alert-warning,.nonconcerne .alert-danger
        {
            background-color: #ccc;
            color: #333;
        }
        
        .nonconcerne .alert-success
        {
            background-color: #f2dede;
            border-color: #cc0000;
            border-width: 3px;
            color: #a94442;
            font-weight: bold;
        }
        .nonconcerne .alert-success a:before
        {
            content:"⚠";
        }
        
        .nonconcerne .alert-success a
        {
            color: #cc0000;
        }
        
        
        .critere_title
        {
            background-color: #007699;
            color: #ffffff;
            width: 100%;
            font-size: 1.2em;
        }
        .critere_note 
        {
            width: 100px;
            text-align: right;
            font-size: 1.8em;
/*            border: #cc0000 solid 3px;*/
        }
        
        
    </style>
</HEAD>
<BODY> 
 
{{   header | getImageExport(typeExport,"100%") | raw }}

<div class='main_titre'>{{titre_synthese}}<br></div>
<h2 class='center'>{{ referentielPublic }}</h2>
<h2 class='center'>{{ app.user.gestionnaire }}</h2>

<div class='date_eval'>
export du {{ 'now'|date('d-m-Y  H:i') }}
</div>
    

<hr class='break'>
                    <table class="table table-bordered fullwidth">
                        
                         <thead> 
                             <tr> 
                                 <th>Etablissements</th>
                        
                                 <th title="">Questions</th>
                                 <th colspan="2">Evaluation</th>
                             </tr> 
                         </thead>
                         <tbody> 
                             
                        {% set total_note = 0 %}
                        {% set nb_note = 0 %}
                             
                        
                            {%  for etablissement in app.user.getEtablissementsByRefPublic(referentielPublic) %}
                            <tr>
                                 <td>   <a title='Etablissement'  href="{{ path('pericles3_eval_etablissement', {'id': etablissement.id}) }}">   {{etablissement}}</a> </td>
                                <td class='center'>   
                                        {{ etablissement.NbQuestionsRepondues}} / {{ referentielPublic.getNbQuestionsCache }}
                                </td>
                                
                                 
 
                                <td class='center'>    {{etablissement.getMoyenneNotes | formatNoteSimple}} </a></td>
                                <td class='center'>   
                                     {% set img_note = etablissement.getMoyenneNotes   | formatNoteNuage %}
                                     {{ img_note | getImageExport(typeExport,32) | raw }}
                                </td>
                                
                                {% set total_note = total_note + etablissement.getMoyenneNotes %}
                                {% set nb_note = nb_note + 1%}
                            </tr>
                        {% endfor %}
                                {% set note_moyenne = total_note / nb_note%}
                        
                          <tr>
                                <th colspan='2'>Moyenne</td> 
                                <th>  {{ note_moyenne | formatNoteSimple}} </td>
                                <th> 
                                    {% set img_note = note_moyenne  | formatNoteNuage %}
                                     {{ img_note | getImageExport(typeExport,42) | raw }}
                                </th>
                          </tr>
                        <tbody> 
                            
                     </table> 
                          
                 
                                <p><br>         
{% include "Synthese/export/Referentiel/inc/inc_menu_domaine.html.twig" %}

                 
                 
        
        
        
                      
                          

{% for domaine in  referentielPublic.getReferentielDomaines  %}                          
    <h1 id='domaine_{{domaine.numero}}'>{{ domaine.numero }}. {{ domaine }} ({{ domaine.getDomaineGestionnaireUserMoyenneNotes(gestionnaire,app.user) | formatNoteSimple }}) </h1>
    {%  for dimension in domaine.getChildren | order  %}
        <h2>{{ dimension.numero }}. {{ dimension }} ({{ dimension.getDimensionGestionnaireUserMoyenneNotes(gestionnaire,app.user) | formatNoteSimple }}) </h2>
        {%  for critereRef in dimension.getChildren | order  %}
            <table class='critere_title'>
                <tr>
                    <td>{{ critereRef.numero }}. {{ critereRef }} </td>                                                            
                        <td  class='critere_note'>
                          &nbsp;  {{ critereRef.getCritereGestionnaireUserMoyenneNotes(gestionnaire,app.user) | formatNoteSimple}} 
                        </td>
                        <td class='critere_note'>
                            {% set img_note =  critereRef.getCritereGestionnaireUserMoyenneNotes(gestionnaire,app.user)  | formatNoteNuage %}
                            {{ img_note | getImageExport(typeExport) | raw }}
                        </td>
                </tr>
            </table>
            
            
             
            
            
            

            
            {% set criteres = critereRef.getCritereGestionnaireUser(gestionnaire,app.user) %}

                                        

            
            <table class="table table-bordered fullwidth">
                        
                         <thead> 
                             <tr> 
                                 <th>Critère</th>
                                 <th>Questions</th> 
                                 <th>Constats</th> 
                                 <th>Preuves</th> 
                                 <th title="Objectifs Opérationnels d'Amélioration">Objectifs</th>
                                 <th colspan="2">Evaluation</th>
                             </tr> 
                         </thead>
                         <tbody> 
                             
                        {% set total_note = 0 %}
                        {% set nb_note = 0 %}
                             
                        
                        {% for critere in criteres %}

                            {%  if critere.NonConcerne  %}
                                <tr class='nonconcerne'>
                            {%  else %}
                                <tr>
                            {%  endif %}
                                 <td>     {{critere.etablissement}} </td>
                                 
                                <td class='center {% if not critere.NbQuestionsRepondues %}alert-danger{% elseif critere.NbQuestionsRepondues == critere.questions | length  %}alert-success{% endif %}' >   
                                    <a href='{{ path('pericles3_critere', {'id': critere.id}) }}#CritereGlobalListContainer'>
                                        {{ critere.NbQuestionsRepondues}} / {{ critere.questions | length }}
                                        <a/>
                                </td>
                                    <td class='center {% if not critere.NbConstats %}alert-warning{% endif %}'><a href="{{ path('pericles3_critere', {'id': critere.id}) }}#ConstatContainer" >{{critere.NbConstats}}</a></td>
                                    <td class='center {% if not critere.NbPreuves %}alert-warning{% endif %}'><a href="{{ path('pericles3_critere', {'id': critere.id}) }}#preuves">{{critere.NbPreuves}}</a></td>
                                    <td class='center {% if not critere.NbObjectifsOperationnel %}alert-warning{% endif %}'><a href="{{ path('pericles3_critere', {'id': critere.id}) }}#ooa">{{critere.NbObjectifsOperationnel}}</td>

                                {% set currentState = critere.getStatus() %}
                                {% if critere.note %}
                                    <td class='center'>   <a href="{{ path('pericles3_critere', {'id': critere.id}) }}#CritereNote"> {{critere.note | formatNoteSimple}} </a></td>
                                    <td class='center'>  <a href="{{ path('pericles3_critere', {'id': critere.id}) }}#CritereNote">
                                         {%  include 'Synthese/export/inc/inc_nuage_32.html.twig' with {'note': critere.note} %}  
                                        </a> </td>
                                {% else %}
                                    <td class='center alert-danger'>   <a href="{{ path('pericles3_critere', {'id': critere.id}) }}#CritereNote"> &#9746; </a></td>
                                    <td class='center alert-danger'>  <a href="{{ path('pericles3_critere', {'id': critere.id}) }}#CritereNote">  
                                            {%  include 'Synthese/export/inc/inc_nuage_32.html.twig' with {'note': critere.note} %}
                                        </a>
                                    </td>
                                {% endif %}
                                    
                                    
                                {%  if critere.concerne %}
                                    {% set total_note = total_note + critere.note %}
                                    {% set nb_note = nb_note + 1%}
                                {%  endif %}
                            </tr>
                        {% endfor %}
                        
                        {%  if nb_note %}
                                {% set note_moyenne = total_note / nb_note%}
                                <tr>
                                      <th colspan='4'>Moyenne</td> 
                                      <th>  </td>
                                      <th>  {{ note_moyenne | formatNoteSimple}}</td>
                                      <th> 
                                          {%  include 'Synthese/export/inc/inc_nuage_32.html.twig' with {'note': note_moyenne} %}
                                      </td>
                                </tr>
                        {%  endif %}
                        
                        
                        
                        
                        
                        <tbody> 
                            
                     </table> 
                          
                          
        {% endfor %}                          
    {% endfor %}                          
    
    
    
    
    
{% endfor %}                          
                          
                             
 </body>
</html>




