{% extends 'base.html.twig' %}

{% block body %}
    <h1>Patchreferentiels list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Deletedat</th>
                <th>Createdby</th>
                <th>Updatedby</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for patchReferentiel in patchReferentiels %}
            <tr>
                <td><a href="{{ path('patchreferentiel_show', { 'id': patchReferentiel.id }) }}">{{ patchReferentiel.id }}</a></td>
                <td>{% if patchReferentiel.deletedAt %}{{ patchReferentiel.deletedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ patchReferentiel.createdBy }}</td>
                <td>{{ patchReferentiel.updatedBy }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('patchreferentiel_show', { 'id': patchReferentiel.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('patchreferentiel_edit', { 'id': patchReferentiel.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('patchreferentiel_new') }}">Create a new patchReferentiel</a>
        </li>
    </ul>
{% endblock %}
