{% extends "BackOffice/layout.html.twig" %}

{% block body %}
    <h1>Sauvegardes list</h1>

    <table class='table table-bordered table-triable'>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Sauvegarde</th>
                <th>Date Create</th>
                <th>Note</th>
                <th>Deletedat</th>
                <th>Desuet</th>
                  <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sauvegarde in sauvegardes %}
            <tr {% if sauvegarde.ReferentielDesuet %} class='alert-danger' {% else %} class='alert-success'{% endif %}>
                <td><a href="{{ path('backoffice_sauvegarde_show', { 'id': sauvegarde.id }) }}">{{ sauvegarde.id }}</a></td>
                <td>{{ sauvegarde.etablissement }}</td>
                <td><a href="{{ path('backoffice_sauvegarde_show', { 'id': sauvegarde.id }) }}">{{ sauvegarde}}</a></td>
                <td>{% if sauvegarde.dateCreate %}{{ sauvegarde.dateCreate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ sauvegarde.note }}</td>
                  
                <td>{{ sauvegarde.getReferentielDesuet }}</td>
                
                <td>{% if sauvegarde.deletedAt %}{{ sauvegarde.deletedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('backoffice_sauvegarde_show', { 'id': sauvegarde.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
