{% extends "BackOffice/layout.html.twig" %}

{% block body %}
    <h1><a href="{{ path('backoffice_creai_index') }}">Creais</a></h1>

    <table class='table table-bordered table-triable'>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Dernier accès</th>
                <th>Email</th>
                <th>Etablissements</th>
                <th><i class="glyphicon glyphicon-user"> Conseillers</th>
                <th>Departements</th>
            </tr>
        </thead>
        <tbody>
        {% for creai in creais %}
            <tr>
                <td><a href="{{ path('backoffice_creai_show', { 'id': creai.id }) }}">{{ creai.nom  }}</a></td>
 
                {% include "Nuts/inc_td_last_connect.html.twig"  with {'dateLastConnect' : creai.dateLastConnect}  %}
               <td>{{ creai.email}}</td>
                <td>{{ creai.NbEtablissements}}</td>
 
                <td>{{ creai.NbUsers }}</td>    
                <td>
                    {% for departement in creai.departements %}
                            <span title='{{departement}}' >{{departement.id}}</span> - 
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        
        
    {% if is_granted('ROLE_MEGA_ADMIN') %}
        
        
        <p><br>
        <a class='btn  btn-warning full-width'  href="{{ path('backoffice_creai_new') }}">Nouveau CREAI</a>
      
    {% endif %}


{% endblock %}
