{% extends "BackOffice/layout.html.twig" %}

{% block body %}
    <h1><a href="{{ path('backoffice_creai_index') }}">CREAIS</a></h1>

    <h2>Conseillers Techniques</h2>

    <div class='row'>
        <div class='col-md-6'>
            <a class='btn btn-primary full-width' href="{{ path('backoffice_creai_list_ct') }}">Conseillers Techniques</a>
        </div>
        <div class='col-md-6'>
            <a  class='btn btn-primary full-width' href="{{ path('backoffice_creai_list_refer') }}">Redacteurs de référentiels</a>
        </div>
    </div>
    
    
    <table class='table table-bordered table-triable'>
        <thead>
            <tr>
                <th>CREAI</th>
                <th>Nom</th>
                <th>Mail</th>
                <th>NbReferentiels</th>
            </tr>
        </thead>
        <tbody>
            {% set emailsTo='' %}
            
        {% for CT in CTs %}
            {% set emailsTo=emailsTo ~ ';' ~ CT.email %}
            <tr>
                <td>{{ CT.creai}}</td>
                <td>{{ CT}}</td>
                {% if CT.email is empty %}
                    <td class='alert-danger'>{{ CT.email}}</td>
                {% else %}
                    <td>{{ CT.email}}</td>
                {% endif %}
                
                {% if CT.NbReferentielsPublic == 0 %}
                    <td class='alert-warning'>{{ CT.NbReferentielsPublic}}</td>
                {% else %}
                    <td>{{ CT.NbReferentielsPublic}}</td>
                {% endif %}
                
                
            </tr>
        {% endfor %}
        </tbody>
    </table>

        
    <a class='btn btn-primary' href='mailto:{{emailsTo}}?subject=[{{application_name}}]&cc=annesophie.rakotobe@ancreai.org;annie.cadenel@ancreai.org'>Envoyer un mail</a>
                             
        

{% endblock %}
