
{% if app.user.gestionnaire is not empty %}
    {% if app.user.gestionnaire.NewFonctionnaliteGestionnaire %}
        {% set advanced_gesionnaire = true %} 
    {% else  %}
         {% set advanced_gesionnaire = false %} 
    {% endif%}
{% else  %}
     {% set advanced_gesionnaire = false %} 
{% endif%}



{% extends "::layout.html.twig" %}

{% block title %}{{ parent() }} - Evaluation {% endblock %}

  {% block message_flash %}
{% endblock %}

      {#
      {% block legend %}{{ parent() }}
&nbsp;&nbsp;&nbsp; <b>PA : </b>Piste d'amélioration - <b>FA : </b>Fiche Action
{% endblock %}
    #}
          
{% if domaine is defined %}
    {% set domaine_menu = domaine %}
{% elseif dimension is defined  %}
     {% set domaine_menu = dimension.domaine %}
{% elseif critere is defined  %}
     {% set domaine_menu = critere.dimension.domaine %}
{% endif %}



 
    
    
{% block body %}
      
 
    
    <h1><a href='{{ path('pericles3_evaluation') }}'>Evaluation</a>
    
           
        {% if is_granted('ROLE_GESTIONNAIRE') and etablissement is defined %}
             -> <a title='Etablissement'  href="{{ path('pericles3_eval_etablissement', {'id': etablissement.id}) }}">   <i class='glyphicon glyphicon-queen'></i>  {{etablissement}}</a>
        {% endif %}
        
    </h1>

    <!-- navbar-fixed-top -->
    
     <nav class="navbar navbar-default ">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a title='Evaluation' class="navbar-brand" href="{{ path('pericles3_evaluation') }}"><i class='glyphicon glyphicon-thumbs-up'></i> </a>
    </div> 
    
        
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        
        <ul class="nav navbar-nav">
            

    {% if is_granted('ROLE_GESTIONNAIRE')  %}      
        

        {%  if advanced_gesionnaire %}
                <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <i class=' glyphicon glyphicon-knight '></i> Référentiels Public<span class="caret"></span></a>

            <ul class="dropdown-menu">
                <li><a href="{{ path('pericles3_referentiel_ref_index') }}"><i class='glyphicon glyphicon-th-list'></i> Tous</a></li>
                    <li role="separator" class="divider"></li>
                    
                {% for referentielPublic in  app.user.GestionnaireReferentielsPublic %}
                    <li><a href='{{ path('pericles3_referentiel_ref', {'id' :referentielPublic.id })}}'> <i class=' glyphicon glyphicon-knight '></i> {{ referentielPublic }} </a> </li>
                {% endfor %}
          </ul>
        </li>
          
            
        {% endif %}              

        
{#        
        <a href='{{ path('pericles3_referentiel_ref', {'id' :referentielPublic.id })}}'>{{ referentielPublic.public }} </a>
#}
         <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
             <i class='glyphicon glyphicon-queen'></i>  Etablissements<span class="caret"></span></a>

            <ul class="dropdown-menu">
                <li><a href="{{ path('pericles3_evaluation') }}"><i class='glyphicon glyphicon-th-list'></i> Tous</a></li>
                    <li role="separator" class="divider"></li>
                    
                {% for etablissement in app.user.etablissements %}
                    <li><a href="{{ path('pericles3_eval_etablissement', {'id': etablissement.id}) }}">
                                 <i class='glyphicon glyphicon-queen'></i>  {{etablissement}} </a></li>
                {% endfor %}
          </ul>
        </li>
         
    {% endif %}              
            
            
            
    {% if domaines is defined %}  
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              Domaines<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ path('pericles3_evaluation') }}"><i class='glyphicon glyphicon-th-list'></i>Liste</a></li>

                <li role="separator" class="divider"></li>
                {% for domaine in domaines %}
                    <li><a href="{{ path('pericles3_domaine', {'id': domaine.id}) }}">
                                {{domaine.Status | StatePuce | raw }}  {{domaine.nom}} </a></li>
                {% endfor %}
          </ul>
        </li>
        {% endif%}
            
            
               
       
          
          {% if domaines is defined %}
                    
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              Dimensions<span class="caret"></span></a>
          <ul class="dropdown-menu">
                {% for domaine in domaines %}
                            <li class="dropdown-submenu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> {{domaine.Status | StatePuce | raw }} {{domaine.numero}} {{domaine.nom}}</a>
                                
                                
                            <ul class="dropdown-menu">
                                {% for dimension  in domaine.dimensions%}
                                <li><a href="{{ path('pericles3_dimension', {'id': dimension.id}) }}"> {{dimension.Status | StatePuce | raw }} {{dimension.numero}}-{{dimension}}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                    </li>
                {% endfor %}
          </ul>
        </li>
          {% endif%}
        

        
        {% if domaine_menu is defined %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  Critères<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                         {% for dimension in domaine_menu.dimensions %}
                                     <li class="dropdown-submenu">
                                     <a href="#" class="dropdown-toggle" data-toggle="dropdown"> {{dimension.Status | StatePuce | raw }} {{dimension.numero}} {{dimension}}</a>
                                     <ul class="dropdown-menu">
                                         {% for critere  in dimension.criteres%}
                                         <li><a href="{{ path('pericles3_critere', {'id': critere.id}) }}"> {{critere.Status | StatePuce | raw }} {{critere.numero}}-{{critere}}</a></li>
                                         {% endfor %}
                                     </ul>
                                 </li>
                             </li>
                         {% endfor %}
                   </ul>
            </li>
          {% endif %}
         
          
          
        {% if is_granted('ROLE_GESTIONNAIRE') %}
             {% if  etablissement is defined  %}  
                    <form class="navbar-form navbar-left"  action="{{path("pericles3_eval_search_etablissement" , {'id': etablissement.id})}}" method="POST"   >
                    <div class="form-group">
                      <input size="8" type="text" name='occurence' class="form-control" placeholder="{{etablissement}} - Rechercher dans l'évaluation">
                    </div>
                    <button type="submit" class="btn btn-default"><i class='glyphicon glyphicon-search'></i></button>
                  </form>
            {% endif %}
        {% else %}
             <form class="navbar-form navbar-left"  action="{{path("pericles3_eval_search")}}" method="POST"   >
                        <div class="form-group">
                          <input type="text" name='occurence' class="form-control" placeholder="Rechercher dans l'évaluation">
                        </div>
                        <button type="submit" class="btn btn-default"><i class='glyphicon glyphicon-search'></i></button>
            </form>
        {% endif %}
   
        
    
          
          
        </ul> 
 
      <ul class="nav navbar-nav navbar-right">
            <li title='Imprimer cette page' class='print_this_page'><a href="#" OnClick="javascript:window.print()"><i class='glyphicon glyphicon-print' ></i></a></li>
      </ul>
    
          
          
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav> 
 
{% include "MessageFlash/messageFlash.html.twig" %}
 


{% endblock %}

