{% extends "BackOffice/layout.html.twig" %}


{% block body %}
    <h1><a href="{{ path('backoffice_demande_index')}}">Demandes</a></h1>
    
    {% include "BackOffice/Demande/inc_sub_menu_demande.html.twig" %}            

    <h2>Gestionnaire</h2>
    
    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        {{ include("Nuts/cancelsave.html.twig") }}
    {{ form_end(edit_form) }}

{% endblock %}
