{# empty Twig template #}
{% if notsearchable is defined %}
    <table class='table table-bordered table-triable_simple_desc'>
{% else  %}
    <table class='table table-bordered table-triable_desc'>
{% endif %}
        
        <thead>
            <tr>
                <th>Date</th>
                <th>Demandeur</th>
                <th>Etablissement</th>
                <th>Etablissement<br>{{ application_name }}</th>
                <th>Email</th>
                <th>Finess</th>
                
                {% if  targetCreai  is empty %}
                    <th>Creai</th>
                {% endif %}
                    
                <th>Etat</th>
                
            </tr>
        </thead>
        <tbody>

                
                
        {% for demandeEtablissement in demandeEtablissements %}
            
                        
            {% if demandeEtablissement.finess is not empty %}
                {% set etab  = demandeEtablissement.finess.etablissement %}
            {% else %}
                {% set etab  = '' %}
            {% endif  %}

            {% if etab is not empty and demandeEtablissement.etat.id != 3 %}
                <tr title="la demande n'est pas terminée mais l'établissement est créer" class='alert-danger'>
            {% else %}
                <tr>
            {% endif  %}
                <td>
                    {{ demandeEtablissement.dateDemande|hiddenDate("d-m-Y") | raw }}</td>

                <td><a href="{{ path('backoffice_demande_etablissement_show', { 'id': demandeEtablissement.id }) }}">
                        {{ demandeEtablissement.demandeurNom }}  {{ demandeEtablissement.demandeurPrenom }}</a>
                </td>
                <td>
                        <a href="{{ path('backoffice_demande_etablissement_show', { 'id': demandeEtablissement.id }) }}">{{ demandeEtablissement.etablissementNom }} </a>
                </td>
                
                {% if demandeEtablissement.etablissement %}
                    <td title='{{demandeEtablissement.etablissement}}' class='alert alert-success'><a href="{{ path('backoffice_etablissement_view', { 'id': demandeEtablissement.etablissement.id }) }}">{{'etablissement' | get_icon | raw }}</a></td>
                {% else  %}
                    <td  class='alert alert-danger'></td>
                {% endif  %}
                
                
                <td>{{ demandeEtablissement.email }}</td>
                <td>
                    
                    {{ demandeEtablissement.finess}} 

                {% if etab is not empty %}
                    <a href="{{ path('backoffice_etablissement_view', { 'id': etab.id }) }}">
                        <br><small><small><small> {{ etab }}</small></small></small>
                    </a>
                {% else %}
                    <br><small><small><small> {{ etab }}</small></small></small>
                {% endif  %}
                </td>
                


                {% if  targetCreai  is  empty %}
                    <td>{{ demandeEtablissement.creai  }}</td>
                {% endif %}

                <td><a href="{{ path('backoffice_demande_etablissement_show', { 'id': demandeEtablissement.id }) }}">{{ demandeEtablissement.etat|  afficheDemandeEtat | raw }}</a></td>
            
            </tr>
        {% endfor %}
        </tbody>
    </table>