{# empty Twig template #}
<table class='table table-bordered table-triable_simple_desc small'>        
        <thead>
            <tr>
                <th>Date</th>
                <th>Etablissement</th>
                {% if  is_granted('ROLE_SUPER_ADMIN_TRAITEMENT_DEMANDE') %}
                        <th>Creai</th>
                {% endif %}
                <th>Gestionnaire</th>
                <th>Etat</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>

                
                
        {% for demandeEtablissement in demandeEtablissements %}
            {% if demandeEtablissement.finess is not empty %}
                {% set etab  = demandeEtablissement.finess.etablissement %}
            {% else %}
                {% set etab  = '' %}
            {% endif  %}

            {% if etab is not empty and demandeEtablissement.etat.id != 3 %}
                <tr title="la demande n'est pas terminée mais l'établissement est créer" class='alert-danger'>
            {% elseif demandeEtablissement.getDemandeHasOneGestionnaire  %} 
                <tr class='grisee'>
            {%  else %}                 
                <tr>
            {% endif  %}
                <td>{{ demandeEtablissement.dateDemande|hiddenDate("d-m-Y") | raw }}</td>
                <td>
                    {%  if demandeEtablissement.getDemandeHasOneGestionnaire  %} 
                        {{ demandeEtablissement.etablissementNom }}
                    {%  else %} 
                        <a href="{{ path('backoffice_demande_etablissement_show', { 'id': demandeEtablissement.id }) }}">{{ demandeEtablissement.etablissementNom }} </a>
                    {%  endif %} 
                        
                </td>
                  
                    
                {% if  is_granted('ROLE_SUPER_ADMIN_TRAITEMENT_DEMANDE') %}
                    <td>{{ demandeEtablissement.creai  }}</td>
                {% endif %}

                {%  if demandeEtablissement.gestionnaire %}
                    <td>
                        <i class='glyphicon glyphicon-king'></i>{{ demandeEtablissement.gestionnaire }}
                    </td>
                {%  elseif demandeEtablissement.demandeGestionnaire %}
                    <td>
                        <i class='glyphicon glyphicon-plus'></i> {{ demandeEtablissement.demandeGestionnaire.gestionnaireNom }}</td>
                {%  else %}
                    <td></td>
                {%  endif %}
 
                
                
                <td>
                    <a href="{{ path('backoffice_demande_etablissement_show', { 'id': demandeEtablissement.id }) }}">{{ demandeEtablissement.etat|  afficheDemandeEtat | raw }}</a>
                </td>
                <td>
                    <a title='voir la demande' href="{{ path('backoffice_demande_etablissement_show', { 'id': demandeEtablissement.id }) }}">{{ 'demande' | get_icon | raw  }} </a>
                    {%  if demandeEtablissement.etablissement %}
                        <a  title="Voir l'établissement" href="{{ path('backoffice_etablissement_view', { 'id': demandeEtablissement.etablissement .id }) }}">{{ 'etablissement' | get_icon | raw  }} </a>
                    {% endif %}
                    {%  if demandeEtablissement.gestionnaire %}
                        <a title='voir le gestionnaire' href="{{ path('backoffice_gestionnaire_show', { 'id': demandeEtablissement.gestionnaire .id }) }}">{{ 'gestionnaire' | get_icon | raw  }} </a>
                    {% endif %}
                </td>
            
            </tr>
        {% endfor %}
        </tbody>
    </table>