{% extends "BackOffice/layout.html.twig" %}

{% block body %}
    <h1>Demande Etablissement creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ include("Nuts/cancelsave.html.twig") }}

    {{ form_end(form) }}
    
    
    
    {%  if link_sans_finess %}
            <br>
                <p>
                <br>
                <p>
                <br>
                <p>
                    
            <a class="btn btn-warning active  btn-block btn-with-big-ico"  href="{{ path('demande_etablissement_new_simple') }}">
                L'établissement n'est pas dans la base FINESS ?
            
                <i class='glyphicon glyphicon-question-sign'></i>
                
            </a>

                
    {%  endif  %}
    
    
    
{% endblock %}


{% block javascripts %}
    
    
    
    <script> 
        $('#demande_etablissement_finess').autocompleter({
    url_list: '{{ path('pericles3_backoffice_formsearch_finess_etablissement') }}',
    url_get: '{{ path('pericles3_backoffice_formsearch_get_finess_etablissement') }}_'
});
        
        
    </script>
{% endblock %}


