{% extends 'base.html.twig' %}

{% block body %}
    <h1>Demande Infos {{application_name}}
        {% if public is not empty %}
        - {{public }} 
    {% endif  %}
    </h1>
    

    {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ include("Nuts/cancelsave.html.twig") }}

        {{ form_end(form) }}

{% endblock %}
