{% extends 'base.html.twig' %}

{% block body %}
    <h1>Demande Infos {{application_name}}
        {% if demandeInfo.public is not empty %}
           - {{ demandeInfo.public}}
        {% endif %}
        
    </h1>

    <table class='table table-bordered'>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ demandeInfo.id }}</td>
            </tr>
           {% if demandeInfo.public is not empty %}
            <tr>
                <th>Public</th>
                    <td>{{ demandeInfo.public}}</td>
            </tr>
           {% endif %}
            <tr>
                <th>Nom Prenom</th>
                <td>{{ demandeInfo.demandeurNomPrenom }}</td>
            </tr>
            <tr>
                <th>Etablissement / Service </th>
                <td>{{ demandeInfo.etablissementService }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ demandeInfo.email }}</td>
            </tr>
            <tr>
                <th>Tel</th>
                <td>{{ demandeInfo.tel }}</td>
            </tr>
            <tr>
                <th>Date de la Demande</th>
                <td>{% if demandeInfo.dateDemande %}{{ demandeInfo.dateDemande|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Remarques</th>
                    <td>{{ demandeInfo.remarques  |  nl2br}}</td>
            </tr>
        </tbody>
    </table>


                <p>                <a class='btn btn-primary full-width' href="{{ path('pericles3_homepage') }}">Retour à la page d'accueil</a>
{% endblock %}
