{% extends "::layout.html.twig" %}


 



{% block title %}{{ parent() }} - PAQ {% endblock %}

  {% block message_flash %}
{% endblock %}

      {#
      {% block legend %}{{ parent() }}
&nbsp;&nbsp;&nbsp; <b>PA : </b>Piste d'amélioration - <b>FA : </b>Fiche Action
{% endblock %}
    #}
    
{% block body %}
        <h1 class='paq'><a href='{{ path('pericles3_paq') }}'>PAQ</a>
        {% if is_granted('ROLE_GESTIONNAIRE') and etablissement is defined %}
             -> <a title='Etablissement'  href="{{ path('pericles3_paq_organigramme_etablissement', {'id': etablissement.id}) }}"> <i class='glyphicon glyphicon-queen'></i>  {{etablissement}}</a>
        {% endif %}
        </h1>
        
        
     <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a title='PAQ' class="navbar-brand" href="{{ path('pericles3_paq') }}"><i class='glyphicon glyphicon-export'></i></a>
    </div> 
    
     
        
        
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        
        
        
        {% if is_granted('ROLE_GESTIONNAIRE')  %} 
            <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <i class='glyphicon glyphicon-queen'></i> Etablissements<span class="caret"></span></a>
              <ul class="dropdown-menu">

                <li role="separator" class="divider"></li>
                    {% for etablissement in app.user.etablissements %}
                    <li><a href="{{ path('pericles3_paq_organigramme_etablissement', {'id': etablissement.id}) }}"><i class='glyphicon glyphicon-queen'></i> {{etablissement}}</a></li>
                    {% endfor %}
              </ul>
            </li>
            </ul>
                {% endif %}
                
                
            {% if app.user.AfficheGantt  %} 
              <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <i class='glyphicon glyphicon glyphicon-tasks'></i> Gantt<span class="caret"></span></a>
              <ul class="dropdown-menu">

                    <li><a href="{{ path('pericles3_paq_gantt') }}"><i class='glyphicon glyphicon-queen'></i> Tout </a></li>
                    
                                    <li role="separator" class="divider"></li>
                    <li><a href="{{ path('pericles3_paq_gantt_encours') }}"><i class='blueText glyphicon glyphicon-time'></i> En cours</a></li>
                    <li><a href="{{ path('pericles3_paq_gantt_finis') }}"><i class='glyphicon greenText glyphicon-ok'></i> Finis</a></li>

                    {% if is_granted('ROLE_GESTIONNAIRE')  %} 

                    <li role="separator" class="divider"></li>
                    
                     <li class="dropdown-submenu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Etablissement</a>
                            <ul class="dropdown-menu">
                    {% for etablissement in app.user.etablissements %}
                        {% if etablissement.NbObjectifsOperationnel %}
                            <li><a href="{{ path('pericles3_paq_gantt_etablissement', {'id': etablissement.id}) }}"><i class='glyphicon glyphicon-queen'></i> {{etablissement}} ({{etablissement.NbObjectifsOperationnel}})</a></li> 
                        {% endif %}
                    {% endfor %}
                            </ul>
         {% endif %}
              </ul>
                              
            </li>
            </ul> 
         {% endif %}
        
       
        
         
         
         
         
         
         
         
         
         
          
        
        
        <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              Objectifs Stratégiques<span class="caret"></span></a>
          <ul class="dropdown-menu">
              
            {% if (is_granted('ROLE_GESTIONNAIRE') and etablissement is not defined)  or app.user.IsAnEtablissement %} 
                    <li><a href="{{ path('paq_osa_list') }}"><i class='glyphicon glyphicon-th-list'></i>Liste</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="{{ path('paq_osa_list_filtre_statut', {'statut': 'importantes'}) }}"><i class='glyphicon orangeText glyphicon-warning-sign'></i> Importants</a></li>
                    <li><a href="{{ path('paq_osa_list_filtre_statut', {'statut': 'encours'}) }}"><i class='blueText glyphicon glyphicon-time'></i>  En cours</a></li>
                    <li><a href="{{ path('paq_osa_list_filtre_statut', {'statut': 'finies'}) }}"><i class='glyphicon greenText glyphicon-ok'></i> Terminés</a></li>
                    
            {% else %}
                    <li><a href="{{ path('paq_osa_list_etablissement', {'id': etablissement.id}) }}"><i class='glyphicon glyphicon-th-list'></i>Liste</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="{{ path('paq_osa_list_etablissement_filtre_statut', {'id':etablissement.id,'statut': 'importantes'}) }}"><i class='glyphicon orangeText glyphicon-warning-sign'></i> Importants</a></li>
                    <li><a href="{{ path('paq_osa_list_etablissement_filtre_statut', {'id':etablissement.id,'statut': 'encours'}) }}"><i class='blueText glyphicon glyphicon-time'></i>  En cours</a></li>
                    <li><a href="{{ path('paq_osa_list_etablissement_filtre_statut', {'id':etablissement.id,'statut': 'finies'}) }}"><i class='glyphicon greenText glyphicon-ok'></i> Terminés</a></li>
            {% endif %}

                    <li role="separator" class="divider"></li>
                    {% if domaines is defined %}
                            {% for domaine in domaines %}
                                <li><a href="{{ path('paq_osa_list_filtre_domaine', {'id': domaine.id}) }}"><span class="badge">
                                            {{domaine.NbObjectifsSrategique}}</span>{{domaine.nom}} </a></li>
                            {% endfor %}
                            {% if is_granted('ROLE_RW_PAQ') %}
                                    <li role="separator" class="divider"></li>
                                    <li><a href="{{ path('paq_osa_new', {'id': etablissement.id}) }}"><i class='glyphicon glyphicon-plus'></i> Ajouter   </a></li>
                            {% endif %}
                    {% endif %}

                
          </ul>
        </li>
        </ul>
          
        <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              Objectifs Opérationnels<span class="caret"></span></a>
          <ul class="dropdown-menu">
              
        {% if (is_granted('ROLE_GESTIONNAIRE') and etablissement is not defined)  or app.user.IsAnEtablissement %} 
                <li><a href="{{ path('paq_ooa_list') }}"><i class='glyphicon glyphicon-th-list'></i>Liste</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{{ path('paq_ooa_list_filtre_sansdate') }}"><i class='glyphicon glyphicon-th-list'></i>Date Manquantes</a></li>
                <li><a href="{{ path('paq_ooa_list_filtre_enretard') }}"><i class='glyphicon glyphicon-th-list'></i>En retard</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{{ path('paq_ooa_list_filtre_encours') }}"><i class='blueText glyphicon glyphicon-time'></i> En cours</a></li>
                <li><a href="{{ path('paq_ooa_list_filtre_finis') }}"><i class='glyphicon greenText glyphicon-ok'></i> Finis</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{{ path('paq_ooa_list_etablissement_filtre_priorite', {'priorite':1}) }}"><i class='glyphicon greenText glyphicon-warning-sign'></i> Priorite 1 (importante) </a></li>
                <li><a href="{{ path('paq_ooa_list_etablissement_filtre_priorite', {'priorite':2}) }}"><i class='glyphicon greenText glyphicon-ok'></i> Priorite 2 (normale) </a></li>
                <li><a href="{{ path('paq_ooa_list_etablissement_filtre_priorite', {'priorite':3}) }}"><i class='glyphicon glyphicon-ok'></i> Priorite 3 (basse)</a></li>

                
        {% else  %}
                <li><a href="{{ path('paq_ooa_list_etablissement', {'id': etablissement.id}) }}"><i class='glyphicon glyphicon-th-list'></i>Liste</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{{ path('paq_ooa_list_etablissement_filtre_encours', {'id': etablissement.id}) }}"><i class='blueText glyphicon glyphicon-time'></i> En cours</a></li>
                <li><a href="{{ path('paq_ooa_list_etablissement_filtre_finis', {'id': etablissement.id}) }}"><i class='glyphicon greenText glyphicon-ok'></i> Finis</a></li>
                
        {% endif %}
                
                  {% if domaines is defined %}
                      <li role="separator" class="divider"></li>
                
                {% for domaine in domaines %}
                    <li><a href="{{ path('paq_ooa_list_filtre_domaine', {'id': domaine.id}) }}"><span class="badge">{{domaine.NbObjectifsOperationnel}}</span> {{domaine.nom}} </a></li>
                {% endfor %}
                    {% endif %}
    
                  {% if is_granted('ROLE_RW_PAQ') %}
                        <li role="separator" class="divider"></li>

                        {% if is_granted('ROLE_GESTIONNAIRE')  %}        
                            {% if etablissement is defined  %}        
                                <li><a href="{{ path('paq_ooa_new_etablissement',{'id' :etablissement.id }) }}"><i class='glyphicon glyphicon-plus'></i> Ajouter </a></li>
                            {% endif %}
                        {% else %}
                                <li><a href="{{ path('paq_ooa_new') }}"><i class='glyphicon glyphicon-plus'></i> Ajouter </a></li>
                        {% endif %}
                {% endif %}    
            </ul>
        </li>
        </ul> 
 
          
      <ul class="nav navbar-nav navbar-right">
          
         
         
        {% set path = app.request.server.get("REQUEST_URI") %}
        {% if path  starts with '/paq/organigramme' %}
            {% if currentDomaineId > 0  %}
                  <li><a  class='glyphicon glyphicon-th-list' href="{{ path('paq_osa_list_filtre_domaine', {'id':  currentDomaineId}) }}">Stratégiques</a></li>
                  <li><a  class='glyphicon glyphicon-th-list' href="{{ path('paq_ooa_list_filtre_domaine', {'id':  currentDomaineId}) }}">Opérationnels</a></li>
            {% else  %}
                  <li><a  class='glyphicon glyphicon-th-list' href="{{ path('paq_osa_list') }}">Stratégiques</a></li>
                  <li><a  class='glyphicon glyphicon-th-list' href="{{ path('paq_ooa_list')}}">Opérationnels</a></li>
            {% endif %}
        {% else  %}
            {% if currentDomaineId > 0  %}
                {% if path starts with '/paq/osa' %}
                  <li><a  class='glyphicon glyphicon-th-list' href="{{ path('paq_ooa_list_filtre_domaine', {'id':  currentDomaineId}) }}">Opérationnels</a></li>
                    {% elseif path starts with '/paq/ooa' %}
                  <li><a  class='glyphicon glyphicon-th-list' href="{{ path('paq_osa_list_filtre_domaine', {'id':  currentDomaineId}) }}">Stratégiques</a></li>
                {% endif %}
                  <li><a  class='glyphicon glyphicon-tree-deciduous' href="{{ path('pericles3_paq_organigramme_domaine', {'id': currentDomaineId}) }}">Qualigramme</a></li>
            {% else  %}
                  <li><a  class='glyphicon glyphicon-tree-deciduous' href="{{ path('pericles3_paq_organigramme') }}">Qualigramme</a></li>
            {% endif %}
        
              {% if  not is_granted('ROLE_GESTIONNAIRE') %}
                <li title='Rechercher dans le PAQ' class='print_this_page'><a href="{{ path('pericles3_paq_search')}}"><i class='glyphicon glyphicon-search' ></i></a></li>
                {% endif %}
              
                <li title='Imprimer cette page' class='print_this_page'><a href="#" OnClick="javascript:window.print()"><i class='glyphicon glyphicon-print' ></i></a></li>

        {% endif %}

          
      
        
        
      </ul>
        
        
   
        
        
        
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
      
        

{% if etablissement is defined %}
    

    <h2>{{etablissement}}</h2>
    
{% endif  %}
    
        
{% include "MessageFlash/messageFlash.html.twig" %}
 
{% endblock %}

