{# empty Twig template #}
      <div class="arbre_container">
               <span class="leef leef_root">
                   {% if is_granted('ROLE_GESTIONNAIRE')  %}
                       <a href="{{ path('pericles3_paq_organigramme_etablissement', {'id': etablissement.id}) }}"><i class='glyphicon glyphicon-queen'></i>  {{etablissement}}</a>
                   {% else %}
                      <i class='glyphicon glyphicon-queen'></i> {{etablissement}}
                   {% endif %}
                       
                </span>
                  <div class="branch lv1">
                                   {% for domaine in etablissement.domaines  | order %}
                                           <div class="entry">
                                              <span class="leef leef_domaine leef_arbo">
                                                     <a href="{{ path('pericles3_paq_organigramme_domaine', {'id': domaine.id}) }}">
                                                        {{domaine.Numero}} -  {{ domaine   }}
                                                    </a>
                                             </span>  
                                                    
                                            {% if domaine.NbObjectifsSrategique > 0 %}        
                                                <div class="branch lv2">
                                                {% for ObjectifSrategique in domaine.ObjectifsSrategique %}
                                                    <div class="entry {% if domaine.NbObjectifsSrategique == 1 %}sole{% endif %}">
                                                             <span class="leef leef_oa leef_osa {{ObjectifSrategique.CSSClasse}}">
                                                             {{ObjectifSrategique}}
                                                             </span>
                                                    </div>
                                                {% endfor %}
                                                 </div>
                                            {% endif %}
                                                    
                                                    
                                         </div>                                 
                                    {% endfor %}     
                                             

                  </div>
      </div>
