{% extends "Synthese/layout.html.twig" %}



{% block body %}
    {{ parent() }}

     
    <h1>Synthese Alternatives</h1>
    <div class="row">

        {%for etablissement in gestionnaire.etablissements %}

              <div class="col-sm-6">
                  <div class="panel panel-primary">
                      <div class="panel-heading"><h3 class="panel-title"> <a href="{{ path("pericles3_synthese_alternatif_etablissement",{'id' : etablissement.id}) }}">{{etablissement}} ({{etablissement.ReferentielExterne}})</a></h3></div>
                          <div class="panel-body">

                              <div class="GraphSyntheseContainer">    
                                  <a href="{{ path("pericles3_synthese_alternatif_etablissement",{'id' : etablissement.id}) }}">   
                                      <canvas id="chartEvalGeneraleCanvas_{{etablissement.id}}" height="220" width="220"></canvas>
                                  </a>
                              </div>
                      </div>
                  </div>
              </div>
        {% endfor %}            

    </div>         
                          
  
{% endblock %}



{% block javascripts %}
    
    <script type="text/javascript">
      {% include "Synthese/inc_options_charts.js.twig" %}
        {%for etablissement in gestionnaire.etablissements %}
            {{ etablissement.domainesExterne  | graph('chartEvalGeneraleCanvas_' ~ etablissement.id) | raw }}
        {% endfor %}
 
    </script>
        
{% endblock %}