{% extends "Synthese/layout.html.twig" %}


{% block title %}{{ parent() }} - Synthèse {% endblock %}


{% block body %}
    {{ parent() }}
    
    {#    <a class='btn btn-primary full-width' href='{{ path('pericles3_synthese_alternatif_export') }}'>Export test</a> #}
    
    <h1>Synthèse  {{etablissement.ReferentielExterne}}</h1>
    
    
    
    <h2 id="TitreSyntheseGeneral">Évaluation générale <small>moyenne des  niveaux d'évaluation {{etablissement.ReferentielExterne}} </small></h2>
  
        <div class="GraphSyntheseContainer">
            <canvas id="GraphEvalExterne" height="500" width="500"></canvas>
        </div>
 
         
        <div class="synthese_menu">
            {% for domainesExterne in etablissement.domainesExterne  | order  %}
               <a href="{{ path('pericles3_synthese_alternatif_niv1', {'id': domainesExterne.id})}}">
                     <span class='numero'> {{ domainesExterne.ordre  }} </span> 
                     <span class='lib'> {{ domainesExterne}} </span>
                     <span class='note'> {{ domainesExterne.MoyenneNotes | formatNoteSimple}} </span>
                    </a>
            {% endfor %}
        </div>
        
        
        
  
    {% set ReferentielExterne = etablissement.ReferentielExterne %}
    {% set NbCriteres = 0 %}

        {% for domainesExterne in etablissement.domainesExterne %}
            <h4>{{ domainesExterne }} : {{domainesExterne.MoyenneNotes}}</h4>
            <ol>
            {% for critere in domainesExterne.criteres  %}
                {% set NbCriteres = NbCriteres +1 %}
                <li>{{critere}}  : <b>{{critere.Note | formatNoteSimple}}</b></li>
                {{critere.Note | formatNoteBar | raw }}
            {% endfor %}
            </ol>
    {% endfor %}

    {% if app.debug %}
        <div class='info'>
            {{NbCriteres}} critères
        </div>
    {% endif %}
    
    
    
<div id='loader_{{etablissement.id}}'>
        <div class="row" >
        {% include "Synthese/inc_synthese_genere.html.twig" 
                   with {'sub_titre': 'Export',
                        'synthese': 'synthese_alternative',
                            'colspan' : '12'} %}
        </div>
</div> 
    
{% endblock %}

{% block javascripts %}
 
    <script type="text/javascript">
    
      {% include "Synthese/inc_options_charts.js.twig" %}

      {{ etablissement.domainesExterne | order |  graph('GraphEvalExterne') |raw }}


    {% set wgraph = false %}
    {% include "Synthese/inc_javascritp_export.js.twig"   %}



    </script>
{% endblock %}
