<div id="oo_{{objectifOperationnel.id}}" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                  <h4 class="modal-title">{{objectifOperationnel}}</h4>
                                </div>
                                
                                <div class="modal-body">
                                    
                                    {% if app.user.isGestionnaire %}
                                            <p><span class="gras">Etablissement: </span>{{objectifOperationnel.etablissement }}</p>
                                    {% endif %}
                                        
                                    {{ objectifOperationnel.Complete | progressBar | raw }}
                                    
                                    {% include "ObjectifsAmelioration/Operationnels/inc_infos.html.twig" %} 
                                    
                                    {% if objectifOperationnel.nbCriteres %}
                                         <p>
                                             <span class="gras">{{objectifOperationnel.nbCriteres}} critères : </span>
                                             
                                         <ul>
                                             {% for critere in objectifOperationnel.criteres %} 
                                                 {% if critere.obsolete %}
                                                    <li class="alert-danger"><b>{{critere.numero}} : </b> {{critere}}
                                                 {% else  %} 
                                                     <li class=""> <a href="{{ path('pericles3_critere', {'id': critere.id}) }}#ooa"><b>{{critere.numero}} : </b>{{critere}}</a>
                                                 {% endif %} 
                                                 
                                                 
                                             {% endfor %} 
                                         </ul>

                                             
                                         </p>
                                    {% else %}
                                         <div class="alert alert-warning">Pas de critères</div>
                                    {% endif %}
                                    
                                    
                                </div>
                                <div class="modal-footer">
                                        
                                        {% if is_granted('ROLE_RW_PAQ') %}
            
                                        <a  class="btn oa btn-warning active" href="{{ path('paq_ooa_edit', {'id': objectifOperationnel.id}) }}">
                                            <i alt='modifier' class='glyphicon glyphicon-pencil'></i>Modifier l'objectif 
                                        </a> 
                                      {% endif  %}
                                        <a  class="btn oa btn-primary" href="{{ path('paq_ooa_show', {'id': objectifOperationnel.id}) }}">
                                            <i alt='modifier' class='glyphicon glyphicon-eye-open'></i>Voir l'objectif 
                                        </a> 
                                  <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                                </div>
                              </div>

                            </div>
                          </div>