{% extends "ObjectifsAmelioration/Operationnels/layout.html.twig" %}

    
        
     {% set nb_apparait_pas_gantt = 0 %}
     {% set nb_apparait_gantt = 0 %}
     {% for objectifOperationnel in objectifOperationnels %}
            {% if objectifOperationnel.dateDebut is empty  or objectifOperationnel.dateFin is  empty %} 
                     {% set nb_apparait_pas_gantt = nb_apparait_pas_gantt + 1 %}
            {% else  %}
                     {% set nb_apparait_gantt = nb_apparait_gantt + 1 %}
            {% endif  %}
     {% endfor %}

     
     
    {%  set path_liste = path('paq_ooa_list_inc')  %}

    
 
    {% if domaine is defined %}
        {%  set path_liste = path('paq_ooa_list_filtre_domaine_inc',{'id' :domaine.id })  %}
    {% elseif sansdate is defined %}
        {%  set path_liste = path('paq_ooa_list_filtre_sansdate_inc')  %}
    {% elseif enretard is defined %}
        {%  set path_liste = path('paq_ooa_list_filtre_enretard_inc')  %}
    {% elseif priorite is defined %}
        {%  set path_liste = path('paq_ooa_list_filtre_priorite_inc',{'priorite' :priorite  })  %}
     {% else %}
         {% if sous_titre is defined %}
            {% if sous_titre is not empty  %}

            {% if sous_titre == 'Finis' %}
                   {%  set path_liste = path('paq_ooa_list_filtre_finis_inc')  %}
            {% elseif sous_titre == 'En cours' %}
                   {%  set path_liste = path('paq_ooa_list_filtre_encours_inc')  %}
            {% endif %}
                
               
            {% endif %}
        {% endif %}
    {% endif %}
    
    
    
    {% block title %}{{ parent() }} - Liste des Objectifs Opérationnels
        {% if sous_titre is defined %} - {{sous_titre}}
    {% endif %}

{% endblock %}


    
    
    
    
{% block body %}{{ parent() }} 
{% if domaine is defined %}
        {% include "Nuts/menu_domaine_transversal.html.twig" %} 
    {% endif %}
    {% if sous_titre is defined %}
           <h3 class='alert alert-success'>{{sous_titre}}</h3>
{% endif %}
{% endblock %}
 
{% block out_container  %} 
    
    
    {% if objectifOperationnels|length > 0 %}
        
        {% for objectifOperationnel in objectifOperationnels %}
               {% include 'ObjectifsAmelioration/Operationnels/inc_modal_show.html.twig' %}
       {% endfor %}
       
  
            <div id='liste_objectifs'  data-reload_with='{{path_liste}}'>
                 {% include "ObjectifsAmelioration/Operationnels/inc_liste.html.twig" %} 
            </div>
    {% else %}
        <div class='alert alert-warning'>
            Vous n'avez pas d'objectifs opérationnels
              {% if sous_titre is defined %}
                 - {{sous_titre}}
            {% endif %}
        </div>

        
        
    {% endif %}
    

        {% if is_granted('ROLE_RW_PAQ') %}

            {% if is_granted('ROLE_GESTIONNAIRE')  %}        
                   {% if etablissement is defined  %}        
                    <a class="btn btn-primary oa active full-width" href="{{ path('paq_ooa_new_etablissement',{'id' :etablissement.id }) }}"><i class='glyphicon glyphicon-plus'></i>Créer un objectif opérationnel pour l'établissement {{etablissement}}</a>
                    {% endif %}
                {% else %}
            <a class="btn btn-primary oa active full-width" href="{{ path('paq_ooa_new') }}"><i class='glyphicon glyphicon-plus'></i>Créer un objectif opérationnel</a>
        {% endif %}
    {% endif %}
        

 
    {% if sansdate is not defined  and  app.user.AfficheGantt %}
    
    
     {% if nb_apparait_gantt > 0 %}
        <h1 class='paq'>GANTT</h1>
     <div class="gantt_container">
     <div class="gantt"></div>
     {% endif  %}

     
     {% if nb_apparait_pas_gantt > 1 %}
         <div class='alert alert-warning'>{{nb_apparait_pas_gantt}} objectifs opérationnel d'amélioration n'apparaissent pas car ils n'ont pas de date de début ou de date de fin !</div>
     {% elseif  nb_apparait_pas_gantt > 0 %}
         <div class='alert alert-warning'> 1 objectif opérationnel  d'amélioration n'apparait pas car il n'a pas de date de début ou de date de fin !</div>
    {% endif  %}
    
{% endif  %}
    
    
{% endblock %}
 
{% block javascripts %}
    {% if sansdate is not defined and nb_apparait_gantt > 0 %}
        {% include 'ObjectifsAmelioration/inc_gantt.js.twig' %}
    {% endif  %}
{% endblock %}
 

