
         
               {% if objectifOperationnel.NbCriteres == 0 %}
                   <div class="alert alert-danger">Il doit y avoir au moins un critère </div>
            {% endif %}

            
            
            {% set CriteresAssocies = objectifOperationnel.Criteres %}
            
            <div>
                 
               {% for Critere in CriteresAssocies  %}
                {#                    <li> ({{ pisteAmelioration.critere.referentiel.nom }})</li>/ #}

                
                {% if  Critere.obsolete %}
                    <div class="panel panel-danger">
                {% else  %}
                    <div class="panel panel-primary">
                {% endif %}
                    <div class="panel-heading">
                      <h3 class="panel-title">
                                {{ Critere}}
                                {% if is_granted('ROLE_RW_PAQ')   %}
                            <i title="désassocier le critère de l'objectif opérationnel"  data-invite="Voulez vous désassocier le critère de l'objectif opérationnel ?"
                                data-url_delete_ajax="{{ path('pericles3_ooa_unlink_critere', {'id': objectifOperationnel.id,'id_critere': Critere.id}) }}" 
                               data-zone_to_reload='#liste_critere_assoc'
                               class='DeleteBoxBefore glyphicon glyphicon-trash redText iconhead'
                               ></i> 
                               {% endif %}
                      </h3>
                    </div>
                    <div class="panel-body">
                       <ul>  <li>{{Critere.Dimension.Domaine.numero}}- {{Critere.Dimension.Domaine}} 
                                                  <ul><li>{{Critere.Dimension.numero}} - {{Critere.Dimension}} 
                                                          <ul> <li class='niv_critere_main'>{{Critere.numero}}-{{Critere}}
                                                                <a title="Voir l'évaluation du critère" href="{{ path('pericles3_critere', {'id': Critere.id}) }}#ooa"><i class='glyphicon glyphicon-thumbs-up'></i></a>
                                                                <a title="Voir la synthèse du critère" href="{{ path('pericles3_synthese_critere', {'id': Critere.id}) }}#critere_transversal"><i class='glyphicon glyphicon-stats'></i></a>

                                                              
                                                              </li>
                                                    </ul>
                                                </ul>
                                            </ul>
                    </div>
                </div>
                      {#
                    <li><i class='glyphicon glyphicon-arrow-right'></i>
                        {{pisteAmelioration.Critere.Dimension.Domaine}} 
                      
                        <li><i class='glyphicon glyphicon-minus'></i>
                            <i class='glyphicon glyphicon-arrow-right'></i> {{pisteAmelioration.Critere.Dimension}} 
                                    <li><i class='glyphicon glyphicon-minus'></i><i class='glyphicon glyphicon-minus'></i><i class='glyphicon glyphicon-arrow-right'></i>{{pisteAmelioration.Critere}} 

                                         <li><i class='glyphicon glyphicon-minus'></i><i class='glyphicon glyphicon-minus'></i><i class='glyphicon glyphicon-minus'></i><i class='glyphicon glyphicon-arrow-right'></i>
                                             #}
                {% endfor %}

                {% include "MessageFlash/messageFlash.html.twig" %}
                
                
            </div>
 
                  
                 
