{% extends "ObjectifsAmelioration/Operationnels/layout.html.twig" %}


{% block title %}{{ parent() }} - Ajouter Objectif Opérationnel{% endblock %}

{% block body %}{{ parent() }}

        <h2>Ajouter un Objectif d'Amélioration Opérationnel</h2>
        <div class="well">
            
    {{ form_start(form) }}

    {{ form_errors(form) }}
    {{ form_row(form.titre) }}
      

  {# {{ form_rest(form) }}  #}
  

  
   
            {{ include("Nuts/cancelsave.html.twig") }}
    
        
  {# Fermeture de la balise <form> du formulaire HTML #}
  {{ form_end(form) }}
  
                    
            {#           <form action="{{ path("pericles3_fa_create", {}) }}" method="POST" >

                        {% include "MessageFlash/messageFlash.html.twig" %}

                        <div class="form-group">
                            <label class="control-label" for="titre">Titre : </label>
                            <input id="commentaire" name="titre" class="form-control" />
                        </div>
 
                    </form>
            #}
    </div>
        
        
{% endblock %}

 